@import '~@alauda/ui/theme/mixin';
@import '~@alauda/ui/theme/pattern';

@import 'var';

// clearfix
@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
    overflow: hidden;
  }
}
%clearfix {
  @include clearfix;
}

@mixin iconSize($w, $h) {
  ::ng-deep .aui-icon {
    width: $w;
    height: $h;
  }
}

// 详情页的全屏只读yaml
@mixin detail-page-fullheight {
  height: calc(
    100vh - #{$page-top-padding} - #{$page-bottom-padding} - 61px
  ); // 61 是 Tab 组件 header+padding
}

// 通用创建/更新页，撑屏内容高度
@mixin create-page-fullheight__card {
  overflow: auto;
  height: calc(
    100vh - #{$page-top-padding} - #{$card-header-outer-height} - #{$snack-bar-height} -
      60px - 4px
  ); // 60是card的上下padding+下margin, 4是垂直方向border
}

// 创建页，无card-header时撑屏内容高度
@mixin create-page-fullheight__content {
  overflow: auto;
  height: calc(
    100vh - #{$page-top-padding} - #{$card-header-outer-height} - #{$snack-bar-height} -
      28px - 4px
  ); // 28是YAML样例的content+下margin, 4是垂直方向border
}

// 更新页，无card header，无yaml-footer时撑屏内容高度
@mixin update-page-fullheight__content__no-action {
  overflow: auto;
  height: calc(
    100vh - #{$page-top-padding} - #{$card-header-outer-height} - #{$snack-bar-height} -
      4px
  ); // 4是垂直方向border
}
