/* stylelint-disable scss/dollar-variable-default */
@import '~@alauda/ui/theme/var';
// Define rubick variables, functions and mixins here.

// Text
$color-text: #333;
$color-text-secondary: #666;
$color-text-help: #999;
$color-text-disabled: #ccc;

// Border
$border-color: #ededed;
$default-border: $border-width $border-style $border-color;

// text
$text-desc-color: #a1a1a1;
$text-warnings-color: #fc5d68;

$page-top-padding: 112px;
$page-bottom-padding: 20px;
$snack-bar-height: 56px;
$card-header-outer-height: 61px;

//Box shadow
$card-box-shadow: 0 4px 16px 0 rgba(#000, 0.16);

// margin
/// 创建，更新页表单行间距
$form-row-margin-space: 16px;
/// 详情页卡片间距
$card-margin-space: 16px;
/// 详情页行间距
$detail-row-margin-space: 12px;
