@import 'var';

.image-row {
  line-height: 20px;
  color: $color-text-main;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-row + .image-row {
  border-top: dashed 1px #ededed;
}

.total {
  font-size: 12px;
}
