<div
  *ngFor="let image of images.slice(0, 3)"
  class="image-row"
  [auiTooltip]="image"
>
  {{ image }}
</div>
<div *ngIf="images.length > 3" class="image-row total">
  <span>{{ 'total' | translate }}</span>
  <button
    aui-button="text"
    size="small"
    [auiTooltip]="tooltip"
    auiTooltipTrigger="click"
    auiTooltipType="info"
  >
    {{ images.length }}
  </button>
  <span>{{ 'items' | translate }}</span>
</div>

<ng-template #tooltip>
  <div *ngFor="let image of images" class="image-row" [title]="image">
    {{ image }}
  </div>
</ng-template>
