<aui-multi-select (blur)="onBlur()" [filterable]="true" [formControl]="form">
  <aui-option
    *ngFor="
      let credentialName of allCredentialNames$ | async;
      trackBy: trackByFn
    "
    [value]="credentialName"
    [label]="credentialName"
  >
    {{ credentialName }}
  </aui-option>
  <aui-option-placeholder>{{ 'no_data' | translate }}</aui-option-placeholder>
</aui-multi-select>
