<aui-dialog-header>
  {{ (isUpdate ? 'update_resource' : 'add_resource_from_yaml') | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <aui-code-editor
      *ngIf="isUpdate"
      name="yaml"
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yaml"
      [originalValue]="originalYaml"
    ></aui-code-editor>
    <aui-code-editor
      *ngIf="!isUpdate"
      name="yaml"
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yaml"
    ></aui-code-editor>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ (isUpdate ? 'update' : 'add') | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
