@import 'var';

.container-list {
  list-style-type: none;

  li {
    display: flex;
    &.title {
      font-size: $font-size-small;
      color: $color-text-help;
    }

    &.value + .value {
      border-top: dashed 1px #ededed;
    }

    .image {
      width: 60%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .size {
      width: 40%;
      flex-shrink: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.resource-title {
  margin-bottom: 12px;
  font-size: $font-size-regular;
  font-weight: $font-weight-bold;
}

table + .resource-title {
  margin-top: 16px;
}

td {
  vertical-align: middle;
}

.no-data-placement {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: #fafafa;
  color: $color-text-help;
}
