<aui-card>
  <div auiCardHeader>
    <div>{{ 'resource' | translate }}</div>
    <div fxFlex></div>
    <div *ngIf="editable">
      <button aui-button (click)="add.emit('deployment')">
        {{ 'add_deployment' | translate }}
      </button>
      <button aui-button [auiDropdown]="menu">
        {{ 'others' | translate }}
        <aui-icon icon="angle_down" margin="left"></aui-icon>
      </button>
    </div>
  </div>

  <ng-container *ngIf="components">
    <ng-container
      *ngIf="components | pure: filterResource:'workload' as workloads"
    >
      <ng-container *ngIf="workloads.length">
        <div class="resource-title">{{ 'workload' | translate }}</div>
        <table class="rc-array-form-table">
          <thead>
            <tr>
              <td>{{ 'workload_type' | translate }}</td>
              <td>{{ 'name' | translate }}</td>
              <td>{{ 'service_replicas' | translate }}</td>
              <td>{{ 'container' | translate }}</td>
              <td *ngIf="editable" title="action"></td>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let workload of workloads"
              class="rc-array-form-table--row-group-start"
            >
              <td>{{ workload.kind.toLowerCase() | translate }}</td>
              <td>{{ workload | aclName }}</td>
              <td>{{ workload?.spec?.replicas }}</td>
              <td>
                <ul class="container-list">
                  <li class="title">
                    <div class="image">{{ 'image' | translate }}</div>
                    <div class="size">{{ 'resource_size' | translate }}</div>
                  </li>
                  <li
                    *ngFor="
                      let container of workload?.spec?.template?.spec
                        ?.containers || []
                    "
                    class="value"
                  >
                    <div class="image">{{ container.image }}</div>
                    <div
                      *ngIf="container?.resources?.limits as limits"
                      class="size"
                    >
                      <span>
                        CPU: {{ limits.cpu }}; {{ 'memory' | translate }}:
                        {{ limits.memory }}
                      </span>
                    </div>
                  </li>
                </ul>
              </td>
              <td
                *ngIf="editable"
                style="width: 66px;"
                class="rc-array-form-table__action-col"
              >
                <button
                  aui-button="text"
                  size="mini"
                  type="button"
                  [square]="true"
                  [plain]="true"
                  (click)="update.emit(workload)"
                >
                  <aui-icon icon="basic:pencil_edit"></aui-icon>
                </button>
                <button
                  aui-button="text"
                  size="mini"
                  type="button"
                  [square]="true"
                  [plain]="true"
                  (click)="delete.emit(workload)"
                >
                  <aui-icon icon="basic:minus_circle"></aui-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>

    <ng-container
      *ngIf="components | pure: filterResource:'service' as services"
    >
      <ng-container *ngIf="services.length">
        <div class="resource-title">{{ 'k8s_service' | translate }}</div>
        <table class="rc-array-form-table">
          <thead>
            <tr>
              <td>{{ 'name' | translate }}</td>
              <td>{{ 'workload' | translate }}</td>
              <td>{{ 'port' | translate }}</td>
              <td *ngIf="editable" title="action"></td>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let service of services"
              class="rc-array-form-table--row-group-start"
            >
              <td>{{ service | aclName }}</td>
              <td>
                {{
                  service
                    | pure: getTargetWorkloadSelector
                    | pure: getTargetWorkloadType
                    | translate
                }}:
                {{
                  service
                    | pure: getTargetWorkloadSelector
                    | pure: getTargetWorkloadName
                }}
              </td>
              <td>
                <ul class="container-list">
                  <li class="title">
                    <div class="image">{{ 'service_port' | translate }}</div>
                    <div class="size">{{ 'container_port' | translate }}</div>
                  </li>
                  <li
                    *ngFor="let port of service?.spec?.ports || []"
                    class="value"
                  >
                    <div class="image">{{ port.port }}</div>
                    <div class="size">
                      {{ port.targetPort | aclFieldNotAvailable }}
                    </div>
                  </li>
                </ul>
              </td>
              <td
                *ngIf="editable"
                style="width: 66px;"
                class="rc-array-form-table__action-col"
              >
                <button
                  aui-button="text"
                  size="mini"
                  type="button"
                  [square]="true"
                  [plain]="true"
                  (click)="update.emit(service)"
                >
                  <aui-icon icon="basic:pencil_edit"></aui-icon>
                </button>
                <button
                  aui-button="text"
                  size="mini"
                  type="button"
                  [square]="true"
                  [plain]="true"
                  (click)="delete.emit(service)"
                >
                  <aui-icon icon="basic:minus_circle"></aui-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="components | pure: filterResource:'config' as configs">
      <ng-container *ngIf="configs.length">
        <div class="resource-title">{{ 'config' | translate }}</div>
        <table class="rc-array-form-table">
          <thead>
            <tr>
              <td>{{ 'name' | translate }}</td>
              <td>{{ 'type' | translate }}</td>
              <td>{{ 'description' | translate }}</td>
              <td *ngIf="editable" title="action"></td>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let config of configs"
              class="rc-array-form-table--row-group-start"
            >
              <td>{{ config | aclName }}</td>
              <td>
                {{
                  config.type
                    | pure: getSecretDisplayType
                    | aclFieldNotAvailable
                }}
              </td>
              <td>{{ config | aclDescription | aclFieldNotAvailable }}</td>
              <td
                *ngIf="editable"
                style="width: 66px;"
                class="rc-array-form-table__action-col"
              >
                <button
                  aui-button="text"
                  size="mini"
                  type="button"
                  [square]="true"
                  [plain]="true"
                  (click)="update.emit(config)"
                >
                  <aui-icon icon="basic:pencil_edit"></aui-icon>
                </button>
                <button
                  aui-button="text"
                  size="mini"
                  type="button"
                  [square]="true"
                  [plain]="true"
                  (click)="delete.emit(config)"
                >
                  <aui-icon icon="basic:minus_circle"></aui-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>

  <div *ngIf="!components || !components.length" class="no-data-placement">
    {{ 'no_resources' | translate }}
  </div>
</aui-card>

<aui-menu #menu>
  <aui-menu-item (click)="add.emit('service')">
    {{ 'service' | translate }}
  </aui-menu-item>
  <aui-menu-item (click)="add.emit('statefulset')">
    {{ 'statefulset' | translate }}
  </aui-menu-item>
  <aui-menu-item (click)="add.emit('configmap')">
    {{ 'configmap' | translate }}
  </aui-menu-item>
  <aui-menu-item (click)="add.emit('secret')">
    {{ 'secret' | translate }}
  </aui-menu-item>
</aui-menu>
