.indicator-key {
  z-index: 1;
  width: 160px;
  top: 0;
  left: 60%;
}

aui-select {
  z-index: 1;
  top: 0;
  left: 25px;
}
.rule-type {
  width: 138px;
  min-width: 138px;
  flex: 0;
  display: flex;
}

:host {
  .rule-form-container {
    padding: 8px;
    border-right: 1px solid #f0f0f0;
  }
  .rule-form-header {
    display: flex;
    margin-right: 24px;
    .header-input {
      width: 100%;
      margin-left: 8px;
    }
  }
}
