<aui-dialog-header>
  {{ 'federalize_application' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-inline-alert>
    <span
      [innerHTML]="
        'federalize_application_explanation' | translate | pure: safeHTML
      "
    ></span>
  </aui-inline-alert>
  <aui-table [dataSource]="resources">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'resource_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.metadata.name }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'resource_type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kind }}
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="['name', 'type']"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: ['name', 'type']"
    ></aui-table-row>
  </aui-table>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="loading"
    [disabled]="loading"
    (click)="federalize()"
  >
    {{ 'federalize' | translate }}
  </button>
  <button aui-button auiDialogClose [disabled]="loading">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
