:host ::ng-deep {
  .aui-card {
    margin-bottom: 56px;
  }
}

.form-footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
  padding: 0 36px 0 220px;
}
