<aui-card>
  <form #form="ngForm">
    <aui-code-editor
      name="yaml"
      [(ngModel)]="yaml"
      [actionsConfig]="actionsConfig"
      [options]="codeEditorOptions"
      required
    ></aui-code-editor>
  </form>
  <div class="rc-sample-code-editor-toolbar">
    <span class="rc-sample-code-editor-toolbar__label">
      {{ 'show_compose_demo' | translate }}:
    </span>
    <a
      class="rc-sample-code-editor-toolbar__button"
      href="javascript:;"
      (click)="useDemoTemplate()"
    >
      <aui-icon icon="basic:write_file"></aui-icon>
      {{ 'write_in' | translate }}
    </a>
    <a
      class="rc-sample-code-editor-toolbar__button"
      href="javascript:;"
      (click)="showDemoTemplate(yamlDemoTemplate)"
    >
      <aui-icon icon="basic:eye_s"></aui-icon>
      {{ 'view' | translate }}
    </a>
  </div>
</aui-card>

<div class="form-footer">
  <span fxFlex></span>
  <button
    aui-button="primary"
    (click)="create()"
    [disabled]="loading"
    [loading]="loading"
  >
    {{ 'create' | translate }}
  </button>
  <button
    aui-button
    (click)="cancel()"
    [disabled]="loading"
    [loading]="loading"
  >
    {{ 'cancel' | translate }}
  </button>
</div>

<ng-template #yamlDemoTemplate>
  <aui-dialog-header>
    {{ 'show_compose_demo' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      [options]="{ language: 'yaml', readOnly: true }"
      [actionsConfig]="actionsConfig"
      [ngModel]="yamlDemo"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
