<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:;" [routerLink]="['/workspace', baseParams, 'app']">
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <ng-container *ngIf="!isUpdatingApp">
      <aui-breadcrumb-item>
        {{ 'create_app' | translate }}({{ 'preview' | translate }})
      </aui-breadcrumb-item>
    </ng-container>
    <ng-container *ngIf="isUpdatingApp">
      <aui-breadcrumb-item>
        <a
          href="javascript:;"
          [routerLink]="['/workspace', baseParams, 'app', 'detail', appName]"
        >
          {{ appName }}
        </a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        {{ 'update_app' | translate }}({{ 'preview' | translate }})
      </aui-breadcrumb-item>
    </ng-container>
    <aui-breadcrumb-item>
      {{ 'update_workload' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask *ngIf="!formModel" [loading]="!formModel"></rc-loading-mask>

<ng-container *ngIf="formModel">
  <form
    class="resource-form__card"
    #form="ngForm"
    auiForm
    [auiFormEmptyAddon]="true"
  >
    <rc-pod-controller-form
      name="formModel"
      [cluster]="baseParams.cluster"
      [project]="baseParams.project"
      [namespace]="baseParams.namespace"
      [isUpdateApp]="!!isUpdatingApp"
      [(ngModel)]="formModel"
    ></rc-pod-controller-form>
    <!-- <pre>{{form.value | json}}</pre> -->
    <!-- <pre>{{this.appDataService.applicationModel | json}}</pre> -->
  </form>

  <div class="resource-form__footer">
    <span fxFlex></span>
    <button aui-button="primary" (click)="save()">
      {{ 'save' | translate }}
    </button>
    <button aui-button (click)="back()">{{ 'cancel' | translate }}</button>
  </div>
</ng-container>
