<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <aui-card>
    <div auiCardHeader>
      {{ 'basic_info' | translate }}
    </div>
    <input type="hidden" formControlName="resourceVersion" />
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        [hidden]="isUpdate"
        auiFormItemControl
        aui-input
        required
        formControlName="name"
      />
      <span *ngIf="isUpdate">{{ form.get('name').value }}</span>
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get('name').errors"
        [errorsMapper]="{
          pattern: resourceNamePattern.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <input auiFormItemControl aui-input formControlName="displayName" />
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'app_template' | translate }}</label>
      <span>{{ chartName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'template_version' | translate }}</label>
      <aui-select required formControlName="chartVersion" [filterable]="true">
        <aui-option
          *ngFor="let item of versions$ | async; trackBy: trackByVersion"
          [value]="item.version"
        >
          {{ item.version }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'sync_deploy_application' | translate }}
      </label>
      <aui-switch
        [disabled]="isUpdate"
        formControlName="deployApplication"
      ></aui-switch>
      <div auiFormItemAddon>
        <aui-icon
          [auiTooltip]="'sync_deploy_application_tip' | translate"
          icon="basic:question"
          color="#999"
        ></aui-icon>
      </div>
    </aui-form-item>
  </aui-card>

  <rc-helm-request-values-form
    formControlName="values"
    [chartName]="chartName"
    [chartVersion]="form.get('chartVersion').value"
  ></rc-helm-request-values-form>
</form>
