<aui-table [dataSource]="shownPorts$" [ngClass]="{ 'in-table': inTable }">
  <ng-container *ngFor="let column of columns$ | async">
    <ng-container [auiTableColumnDef]="column">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ COLUMN_NAME_MAPPER[column] | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let data">
        {{ data[column] | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
  </ng-container>
  <aui-table-header-row
    *auiTableHeaderRowDef="columns$ | async"
  ></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="let row; columns: columns$ | async"
  ></aui-table-row>
</aui-table>
<ng-container *ngIf="inTable">
  <ng-container *ngIf="service.spec.ports.length as total">
    <ng-container *ngIf="(shownPorts$ | async).length < total">
      {{ 'total' | translate }}
      <a
        href="javascript:;"
        [auiTooltip]="showTotal"
        auiTooltipType="info"
        auiTooltipPosition="bottom start"
      >
        {{ total }}
      </a>
      {{ 'ge' | translate }}
    </ng-container>
    <ng-template #showTotal>
      <rc-service-ports
        [service]="service"
        [inTable]="inTable"
        [limit]="null"
      ></rc-service-ports>
    </ng-template>
  </ng-container>
</ng-container>
