@import '~@alauda/ui/theme/pattern';
$table-flex-common: 1 1 100px;

:host {
  @include with-detail(detail);
  .aui-table {
    &__column-id {
      flex: 0 0 20px;
    }
    &__column-rule {
      flex: 5 1 200px;
    }
    &__column-alarm_type {
      flex: $table-flex-common;
    }
    &__column-level {
      flex: $table-flex-common;
    }
    &__column-status {
      flex: $table-flex-common;
    }
    &__column-detail {
      margin-top: 16px;
    }
  }
  aui-icon {
    cursor: pointer;
  }
  rc-field-set-group,
  rc-alarm-rule-detail-chart {
    margin: 0 0 8px 12px;
    padding: 12px 12px 0 12px;
    background: #fafafa;
  }
  rc-alarm-rule-detail-chart {
    display: block;
  }
}
