<aui-table [dataSource]="rules">
  <ng-container auiTableColumnDef="id">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <aui-icon
        [icon]="this.rowExpanded[item.alert] ? 'angle_down' : 'angle_right'"
        (click)="toggleRow(item.alert)"
      ></aui-icon>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="rule">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'rule' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span
        *ngIf="metricType"
        [auiTooltip]="getPrometheusRule(item, metricType)"
        auiTooltipPosition="top start"
      >
        {{ getPrometheusRule(item, metricType) }}
      </span>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="alarm_type">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'alarm_type' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.labels?.alert_indicator | pure: getAlarmTypeTitle | translate }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="level">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'level' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.labels?.severity | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="status">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'status' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <rc-status-badge [status]="getAlarmStatus(item)"></rc-status-badge>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="detail">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell
      *auiTableCellDef="let item"
      [@expand]="rowExpanded[item.alert] ? 'expanded' : null"
    >
      <rc-field-set-group>
        <rc-field-set-item
          *ngIf="
            item.labels?.alert_indicator !== 'workload.log.keyword.count' &&
            item.labels?.alert_indicator !== 'workload.event.reason.count' &&
            item.labels?.alert_indicator !== 'custom'
          "
        >
          <label>{{ 'data_type' | translate }}</label>
          <span *ngIf="!item.labels?.alert_indicator_aggregate_function">
            {{ 'origin_value' | translate }}
          </span>
          <span *ngIf="item.labels?.alert_indicator_aggregate_function">
            {{ 'metric_value' | translate }}
            （ {{ 'alarm_time' | translate }}：{{
              item.labels?.alert_indicator_aggregate_range / 60
            }}
            {{ 'minutes' | translate }}；{{
              'monitor_aggregator' | translate
            }}：
            {{
              'aggregator_' + item.labels?.alert_indicator_aggregate_function
                | translate
            }}
            ）
          </span>
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'label' | translate }}</label>
          <rc-tags-label [tags]="item.labelsParsed"></rc-tags-label>
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'annotation' | translate }}</label>
          <rc-tags-label [tags]="item.annotationsParsed"></rc-tags-label>
        </rc-field-set-item>
      </rc-field-set-group>
      <rc-alarm-rule-detail-chart
        *ngIf="rowExpanded[item.alert]"
        [rule]="item"
        [metricType]="metricType"
      ></rc-alarm-rule-detail-chart>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
