<ng-container [formGroup]="form">
  <input class="flex-1" aui-input formControlName="prefix" />
  <aui-select
    class="flex-2"
    formControlName="value"
    [placeholder]="'please_select_domain' | translate"
    [clearable]="true"
    [filterable]="true"
  >
    <aui-option *ngFor="let domain of domains" [value]="domain.spec.name">
      {{ domain.spec.name }}
      <ng-container *ngIf="domain | aclDisplayName">
        ({{ domain | aclDisplayName }})
      </ng-container>
    </aui-option>
    <aui-option-placeholder>
      {{ 'no_data' | translate }}
    </aui-option-placeholder>
  </aui-select>
</ng-container>
