<rc-loading-mask *ngIf="!application" [loading]="true"></rc-loading-mask>

<ng-container *ngIf="application">
  <aui-card>
    <div auiCardHeader>
      {{ application.metadata.name }}
      <aui-icon
        *ngIf="isFederated"
        class="icon--federation"
        icon="basic:federation_cluster"
        margin="left"
        [auiTooltip]="'federated_resource' | translate"
      ></aui-icon>
      <div fxFlex></div>
      <rc-app-detail-header
        [cluster]="baseParams.cluster"
        [application]="application"
        [resources]="resources"
        [permissions]="permissions"
        [isFederated]="isFederated"
      ></rc-app-detail-header>
    </div>

    <rc-field-set-group auiCardContent>
      <rc-field-set-item>
        <label>{{ 'status' | translate }}</label>
        <rc-app-status [application]="application"></rc-app-status>
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'display_name' | translate }}</label>
        {{ application | aclDisplayName | aclFieldNotAvailable }}
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'created_time' | translate }}</label>
        {{ application.metadata.creationTimestamp | rcFormatUtcStr }}
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'app_address' | translate }}</label>
        <rc-app-address [urlList]="addresses$ | async"></rc-app-address>
      </rc-field-set-item>
    </rc-field-set-group>
  </aui-card>

  <rc-application-workloads
    *ngFor="
      let item of groupedWorkloads$ | async | keyvalue;
      trackBy: trackByFn
    "
    [kind]="item.key"
    [resources]="item.value"
    [appStatus]="application?.status"
    [permissions]="permissions"
    [detailParams]="{
      project: baseParams.project,
      cluster: baseParams.cluster,
      namespace: baseParams.namespace,
      name: application.metadata.name
    }"
  ></rc-application-workloads>

  <rc-application-resources
    [resources]="commonResources$ | async"
    [baseParams]="baseParams"
  ></rc-application-resources>
</ng-container>
