@import 'var';

::ng-deep {
  rc-fa-resource-list + rc-fa-override-list {
    display: block;
    margin-top: 16px;
  }
}

td {
  vertical-align: middle;
}

.no-data-placement {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: #fafafa;
  color: $color-text-help;
}

.attr-line {
  font-size: 14px;
  padding: 2px;
  display: flex;
  line-height: 20px;
  pre {
    flex: 1;
    margin: 0;
  }
}
