<aui-card [divider]="false">
  <div auiCardHeader>
    <div>{{ 'override' | translate }}</div>
    <div fxFlex></div>
    <div>
      <button *ngIf="editable" aui-button (click)="add.emit()">
        {{ 'add_override' | translate }}
      </button>
    </div>
  </div>

  <table *ngIf="hasOverrides; else placement" class="rc-array-form-table">
    <thead>
      <tr>
        <td>{{ 'resource_type' | translate }}</td>
        <td>{{ 'resource_name' | translate }}</td>
        <td>{{ 'cluster' | translate }}</td>
        <td>{{ 'args' | translate }}</td>
        <td>{{ 'value' | translate }}</td>
        <td *ngIf="editable" title="action"></td>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="resource">
        <tr
          *ngFor="
            let override of resource.spec.overrides || []
              | pure: flatOverrides as overrides;
            first as isFirst
          "
          class="rc-array-form-table--row-group-start"
        >
          <td *ngIf="isFirst" [attr.rowspan]="overrides.length">
            {{ 'application' | translate }}
          </td>
          <td *ngIf="isFirst" [attr.rowspan]="overrides.length">-</td>
          <td>
            {{ override.cluster }}
          </td>
          <td>
            {{ override.path | pure: pathToParam | translate }}
          </td>
          <td>
            {{ override.value[displayNameKey] }}
          </td>
          <td
            *ngIf="editable && isFirst"
            style="width: 66px;"
            class="rc-array-form-table__action-col"
            [attr.rowspan]="overrides.length"
          >
            <button
              aui-button="text"
              size="mini"
              type="button"
              [square]="true"
              [plain]="true"
              (click)="
                update.emit({
                  resource: resource,
                  overrides: resource.spec.overrides
                })
              "
            >
              <aui-icon icon="basic:pencil_edit"></aui-icon>
            </button>
            <button
              aui-button="text"
              size="mini"
              type="button"
              [square]="true"
              [plain]="true"
              (click)="delete.emit({ resource: resource, overrides: [] })"
            >
              <aui-icon icon="basic:minus_circle"></aui-icon>
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-container
        *ngFor="
          let component of resource?.spec?.template?.spec?.componentTemplates
        "
      >
        <tr
          *ngFor="
            let override of component.overrides || []
              | pure: flatOverrides as overrides;
            first as isFirst
          "
          class="rc-array-form-table--row-group-start"
        >
          <td *ngIf="isFirst" [attr.rowspan]="overrides.length">
            {{ component.resource.kind.toLowerCase() | translate }}
          </td>
          <td *ngIf="isFirst" [attr.rowspan]="overrides.length">
            {{ component.resource | aclName }}
          </td>
          <td>
            {{ override.cluster }}
          </td>
          <td>
            {{ override.path | pure: pathToParam | translate }}
          </td>
          <td>
            <span *ngIf="override.value | pure: isPlain; else valueYaml">
              {{ override.value }}
            </span>
            <ng-template #valueYaml>
              <div class="attr-line">
                <pre
                  ngCodeColorize="yaml"
                  [innerHTML]="override.value | pure: getYaml"
                ></pre>
              </div>
            </ng-template>
          </td>
          <td
            *ngIf="editable && isFirst"
            style="width: 66px;"
            class="rc-array-form-table__action-col"
            [attr.rowspan]="overrides.length"
          >
            <button
              aui-button="text"
              size="mini"
              type="button"
              [square]="true"
              [plain]="true"
              (click)="update.emit(component)"
            >
              <aui-icon icon="basic:pencil_edit"></aui-icon>
            </button>
            <button
              aui-button="text"
              size="mini"
              type="button"
              [square]="true"
              [plain]="true"
              (click)="delete.emit(component)"
            >
              <aui-icon icon="basic:minus_circle"></aui-icon>
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</aui-card>

<ng-template #placement>
  <div class="no-data-placement">{{ 'no_overrides' | translate }}</div>
</ng-template>
