<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:;" (click)="jumpToListPage()">
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:;" (click)="backToHistoryListPage()">
        {{ appName }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <ng-container *ngIf="!isCurrentVersion; else currentVersion">
        v.{{ revision }}
      </ng-container>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<div *ngIf="initialized && !history" class="loading-placeholder text-help">
  {{ 'no_data' | translate }}
</div>

<ng-container *ngIf="initialized && history">
  <aui-card>
    <div auiCardHeader>
      <ng-container *ngIf="!isCurrentVersion; else currentVersion">
        v.{{ revision }}
      </ng-container>
      <div fxFlex></div>
      <acl-disabled-container
        *ngIf="!isCurrentVersion"
        [isAllowed]="(permissions$ | async).update"
      >
        <button aui-button="primary" (click)="rollback()">
          {{ 'application_rollback_to_version' | translate }}
        </button>
      </acl-disabled-container>
    </div>

    <aui-code-editor
      [(ngModel)]="yaml"
      [options]="codeEditorOptions"
      [actionsConfig]="codeEditorUpdateActions"
      [originalValue]="latestYaml"
    ></aui-code-editor>
  </aui-card>
</ng-container>

<ng-template #currentVersion>
  {{ 'current' | translate }} (v.{{ revision }})
</ng-template>
