<aui-table [dataSource]="keyValues$">
  <ng-container *ngFor="let column of columns">
    <ng-container [auiTableColumnDef]="column">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ column | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let data">
        {{ data[column] }}
      </aui-table-cell>
    </ng-container>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<div *ngIf="!(keyValues$ | async)?.length" class="empty-placeholder">
  {{ 'no_data' | translate }}
</div>
