/* stylelint-disable */

$font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica Neue',
  'Helvetica', 'Ubuntu', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei',
  'WenQuanYi Micro Hei', sans-serif;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  &,
  &:before,
  &:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  &:focus {
    outline: none;
  }
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100vh;
  font-size: 14px;
  line-height: (4 / 3);
}

body {
  font: {
    family: $font-family;
    weight: 400;
  }

  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1000px;
  min-height: 100%;
  color: #494949;
  background: #f1f1f1 no-repeat fixed top center / cover;
}

a {
  text-decoration: none;

  &[ng-click],
  &[click] {
    cursor: pointer;
  }
}

pre,
code {
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 12px;
  line-height: 18px;
  padding: 8px;
  background: #ededed;
  border-radius: 2px;

  &[ngCodeColorize] {
    padding: 0 8px;
  }
}

pre,
code,
textarea {
  // same as monoco-code-editor
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

input {
  &:-webkit-autofill {
    background: {
      color: #fff;
      image: none;
    }

    box-shadow: 0 0 0 1000px white inset;
  }
}

[hidden] {
  display: none !important;
}

@for $i from 1 through 8 {
  .flex-#{$i} {
    flex: $i !important;
  }
}

.ng-animate .ng-hide-add {
  &,
  &-active {
    display: none;
  }
}

.sk-folding-cube {
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);

  &.index-loading-spinner {
    position: fixed;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }

  .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #006eff;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      transform-origin: 100% 100%;
    }
  }

  .sk-cube2 {
    transform: scale(1.1) rotateZ(90deg);

    &:before {
      animation-delay: 0.3s;
    }
  }

  .sk-cube3 {
    transform: scale(1.1) rotateZ(180deg);

    &:before {
      animation-delay: 0.6s;
    }
  }

  .sk-cube4 {
    transform: scale(1.1) rotateZ(270deg);

    &:before {
      animation-delay: 0.9s;
    }
  }
}

@keyframes sk-foldCubeAngle {
  from,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  to {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
