@import '~@alauda/ui/theme/style';

@import 'mixins';
@import './init';

/* Visual fixes for contradicted ng-show elements */
.ng-animate.ng-hide-add,
.ng-animate.ng-hide-add-active {
  display: none;
}

// for compatibility
.rc-separator {
  border-top: 1px dashed $border-color;
  padding: 0 16px;
  margin-bottom: 20px;
}
.rc-secondary-title {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  margin-bottom: 16px;
  align-items: center;
  &:before {
    content: '';
    display: block;
    margin-right: 8px;
    height: 16px;
    width: 4px;
    background-color: $color-primary;
  }
}

/* placeholder style when table is empty */
.empty-placeholder {
  @include table-placeholder;
}

.loading-placeholder {
  height: 48px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.text-help {
  color: $color-text-help;
}

.required-mark {
  color: $color-error;
  margin-right: 4px;
}

rc-root {
  flex: 1;
  align-self: stretch;
  position: relative;
  max-width: 100%;
}

//used for text align in multiline circumstance，such as translate multi line's sentences
//notice: add /n in '' or use enter in `` to make this useful
.text-align__multiline {
  white-space: pre-line;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
