@import 'var';
@import 'mixins';

.resource-form__card {
  margin-bottom: 56px;
}

.resource-form__footer {
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 0 20px 0 220px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include shadow-2;

  background-color: #fff;
}
