/* stylelint-disable no-descending-specificity */
@import 'mixins';

.aui-table {
  // Reset AUI Table styles until they are applied to the master branch.
  .aui-table__header-row {
    margin-top: -1px;
    padding: 0;
  }

  .aui-table__cell,
  .aui-table__header-cell {
    padding: 0 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1 0 100px;
  }

  .aui-table__cell__display-name {
    @include text-overflow;

    margin-top: 2px;
    font-size: 12px;
    color: $color-text-help;
  }

  .aui-table__column-name {
    flex: 2 0 100px;
    @include text-overflow;
    a {
      display: inline-block;
      color: $color-primary;
      text-decoration: none;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .aui-table__column-created_time {
    flex: 0 0 150px;
    display: flex;
  }

  .aui-table__column-action {
    flex: 0 0 44px;
    display: flex;
    justify-content: center;
  }
}

.rc-array-form-table {
  flex: 1;
  width: 100%;
  border-spacing: 0;
  background: #fafafa;

  thead {
    background: #f0f0f0;
    th {
      height: 32px;
      text-align: left;
      font-weight: 400;
      &[required]:before {
        content: '*';
        color: $color-error;
        margin-right: 4px;
      }
    }
  }

  tbody {
    tr:first-of-type > td {
      padding-top: 8px;
    }
    tr:last-of-type > td {
      padding-bottom: 8px;
    }
  }

  th,
  td {
    word-break: break-all;
    vertical-align: top;
    padding: 4px;
    line-height: 24px;
    &:first-child {
      padding-left: 8px;
    }
    &:last-child {
      padding-right: 8px;
    }
  }

  /* We have a convention here that the last column is the action column */
  td.rc-array-form-table__action-col {
    text-align: right;
    white-space: nowrap;
    width: 36px;
    min-width: 36px;
    vertical-align: middle;
    .aui-button--text.isPlain {
      font-size: 16px;
      aui-icon {
        cursor: inherit;
      }
      &:not([disabled]):not(:hover) {
        color: #999;
      }
    }

    /*
        <div class="action-col__vertical">
          <button
            aui-button="text"
            size="mini"
            type="button"
            [square]="true"
            [plain]="true">
            <aui-icon icon="basic:pencil_edit" (click)="remove(index)"></aui-icon>
          </button>
          <button
            aui-button="text"
            size="mini"
            type="button"
            [square]="true"
            [plain]="true">
            <aui-icon icon="basic:minus_circle" (click)="remove(index)"></aui-icon>
          </button>
        </div>
    */

    /* customized style */
    .action-col__vertical {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  /* customized style */
  td.rc-table-form-error-hint {
    padding-top: 0;
    color: $color-error;
    font-size: 12px;
  }

  &__bottom-control-buttons {
    display: flex;
    width: 100%;
    border-top: none;

    .aui-button {
      flex: 1;
      border-style: dashed;

      &--default:not(:hover) {
        border-color: #333;
      }
    }
  }

  &:not(.rc-array-form-table--no-row-separator)
    > tbody
    > tr.rc-array-form-table--row-group-start:not(:first-of-type)
    td {
    border-top: 1px dashed $table-row-border-color;
  }
}

// 使用flex布局进行列宽控制
.form-table__flex-layout {
  .rc-array-form-table {
    tr {
      display: flex;
    }
    th,
    td {
      flex: 1;
      &.rc-array-form-table__action-col {
        // 单个操作符时的cell容器宽度，其他定制情况应当覆盖此flexBasis
        flex: 0 0 36px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.aui-table.in-table {
  color: $color-text-main;

  .aui-table__header-row {
    background-color: transparent;
    border: none;
    height: unset;
  }

  .aui-table__header-cell {
    color: $color-text-help;
    height: unset;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    padding: 0 4px;
  }

  .aui-table__row {
    background-color: transparent;
    border: 0;
    padding: 0;
  }

  .aui-table__row:last-child {
    .aui-table__cell {
      border: none;
    }
  }

  .aui-table__cell {
    border-bottom: 1px dashed $table-row-border-color;
    font-size: 14px;
    line-height: 20px;
    padding: 4px;
  }
}
