@import 'mixins';

@include zh-form-label-width('html[lang=zh]');
@include en-form-label-width('html[lang=en]');

.rc-sample-code-editor-toolbar {
  margin-top: 8px;

  &__label,
  &__button {
    margin-right: 8px;
  }

  .aui-icon {
    font-size: 16px;
  }
}

// aui-menu里的template可以加入这个class获取超出最大高度滚动效果
.aui-menu__scrollable-wrapper {
  max-height: 240px;
  margin: -8px;
  padding: 8px;
  overflow: auto;
  @include scroll-bar;
}

aui-breadcrumb {
  align-self: center;
}

aui-paginator {
  margin-top: 12px;
  display: flex;
  flex-direction: row-reverse;
}

form.ng-submitted {
  .aui-form-item.hasError {
    .aui-input.ng-invalid {
      &,
      &:hover {
        border-color: $color-error;
      }
    }
  }
}

aui-card {
  display: block;
  + aui-tab-group {
    .aui-tab-group {
      margin-top: 16px;
    }
  }
}

.aui-card__header {
  align-items: center;
}

.aui-form-item__content {
  aui-multi-select,
  aui-select {
    flex: 1;
  }
  > aui-input-group {
    display: inline-block;
    width: 100%;
  }
}

.markdown-body {
  padding: 0 16px;
}

aui-form-item.aui-form__addon--top {
  .aui-form-item__addon-wrapper {
    align-self: flex-start;
  }
}

aui-search + .aui-button {
  margin-left: 8px;
}

rc-errors-mapper {
  color: $color-error;
  font-size: $font-size-small;
  line-height: $line-height-small;
}

.aui-form-item__error-wrapper rc-errors-mapper {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
}
