$background-color: #fafafa;
$padding: 8px;

.input-groups-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: $background-color;
  margin: 0 $padding;
  box-shadow: 0 0 0 $padding $background-color;

  aui-input-group {
    flex: 1;
    &:first-child {
      margin-right: 20px;
    }
  }

  .addon-label {
    white-space: nowrap;
  }
}
