<form [formGroup]="form">
  <aui-form-item formGroupName="rollingUpdate">
    <label auiFormItemLabel>{{ 'update_strategy' | translate }}</label>

    <div class="input-groups-wrapper">
      <aui-input-group>
        <div auiInputAddonBefore class="addon-label">
          {{ 'service_max_surge' | translate }}
        </div>
        <input
          (blur)="onBlur()"
          aui-input
          auiFormItemControl
          placeholder="{{ 'integer_or_percentage' | translate }}"
          formControlName="maxSurge"
        />
      </aui-input-group>

      <aui-input-group>
        <div auiInputAddonBefore class="addon-label">
          {{ 'service_max_unavailable' | translate }}
        </div>
        <input
          (blur)="onBlur()"
          aui-input
          auiFormItemControl
          placeholder="{{ 'integer_or_percentage' | translate }}"
          formControlName="maxUnavailable"
        />
      </aui-input-group>
    </div>
    <aui-icon
      auiFormItemAddon
      icon="basic:question"
      [auiTooltip]="template"
      auiTooltipTrigger="hover"
    ></aui-icon>
    <ng-template #template>
      <p>
        {{ 'service_max_surge' | translate }}:
        {{ 'service_max_surge_desc' | translate }}
      </p>
      <p>
        {{ 'service_max_unavailable' | translate }}:
        {{ 'service_max_unavailable_desc' | translate }}
      </p>
    </ng-template>
  </aui-form-item>
</form>
