:host {
  display: block;
  flex: 1;
  .table-footer {
    margin-top: 8px;
    text-align: right;
  }

  table.rc-array-form-table.white-cell {
    background: #fff;
  }

  pre {
    border: none;
  }

  .mount-block {
    &:not(:last-child) {
      border-bottom: 1px dashed #e8e8e8;
      margin-bottom: 4px;
    }
    .mount-label {
      display: inline-block;
      width: 90px;
      text-align: right;
      margin-right: 8px;
    }
  }
}
