<rc-array-form-table
  resourceName="volumes"
  (add)="addVolume()"
  [rows]="form.controls"
  [formGroup]="form"
>
  <ng-container *rcArrayFormTableHeader>
    <th style="width: 300px;">{{ 'name' | translate }}</th>
    <th style="width: 150px;">{{ 'type' | translate }}</th>
    <th>{{ 'related_attrs' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *rcArrayFormTableRow="let control; let index = index">
    <td>{{ control.value.name }}</td>

    <td>
      <ng-container *ngIf="control.value | pure: isBuiltIn">
        {{
          control.value
            | pure: getVolumeType
            | pure: getVolumeTypeTranslateKey
            | translate
        }}
      </ng-container>

      <ng-container *ngIf="!(control.value | pure: isBuiltIn)">
        {{ control.value | pure: getVolumeType }}
      </ng-container>
    </td>

    <td>
      <rc-volume-attributes [volume]="control.value"></rc-volume-attributes>
    </td>
  </ng-container>

  <!-- Row controls -->
  <ng-container *rcArrayFormTableRowControl="let control; let index = index">
    <button
      *ngIf="control.value | pure: isBuiltIn"
      aui-button="text"
      size="mini"
      type="button"
      [square]="true"
      [plain]="true"
      (click)="editVolume(index)"
    >
      <aui-icon icon="basic:pencil_s"></aui-icon>
    </button>
    <button
      aui-button="text"
      size="mini"
      type="button"
      [square]="true"
      [plain]="true"
      (click)="remove(index)"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>
</rc-array-form-table>
