<form class="resource-form__card">
  <rc-helm-request-form
    [(ngModel)]="resource"
    name="resource"
    [chartName]="chartName$ | async"
    [chartVersion]="chartVersion$ | async"
    [baseParams]="baseParams"
  ></rc-helm-request-form>

  <!-- <pre>{{ resource | json }}</pre> -->
</form>

<div class="resource-form__footer">
  <span fxFlex></span>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ 'deploy' | translate }}
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
