:host {
  aui-tags-input {
    width: 100%;
    overflow: hidden;
  }
  aui-multi-select {
    overflow: hidden;
  }
  ::ng-deep {
    .aui-form-item {
      &__container {
        overflow: hidden;
      }
    }
    .aui-input-group__input-wrapper {
      display: flex;
      aui-select {
        flex: 0 0 100px;
      }
    }
    .threshold-group {
      .threshold-input {
        height: 30px;
        margin-left: -1px;
        position: relative;
      }
      .aui-select__input {
        position: relative;
        &:hover,
        &:focus {
          z-index: 1;
        }
      }
      .aui-select__label-container,
      .aui-input-group__suffix {
        z-index: 1;
      }
    }
  }
}
