<form
  [formGroup]="form"
  auiForm
  auiFormLabelPosition="right"
  [auiFormEmptyAddon]="false"
>
  <!-- 告警类型 -->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'alarm_type' | translate }}</label>
    <aui-radio-group
      size="medium"
      auiFormItemControl
      formControlName="alarm_type"
    >
      <aui-radio-button value="default">
        {{ 'metric_alarm' | translate }}
      </aui-radio-button>
      <aui-radio-button
        value="log"
        *ngIf="kind !== 'cluster' && kind !== 'node'"
        [disabled]="!(isDeployed$ | async)"
        [auiTooltip]="'not_deployed_log_alarm' | translate"
        [auiTooltipDisabled]="isDeployed$ | async"
      >
        {{ 'log_alarm' | translate }}
      </aui-radio-button>
      <aui-radio-button
        value="event"
        *ngIf="kind !== 'cluster' && kind !== 'node'"
        [disabled]="!(isDeployed$ | async)"
        [auiTooltip]="'not_deployed_event_alarm' | translate"
        [auiTooltipDisabled]="isDeployed$ | async"
      >
        {{ 'event_alarm' | translate }}
      </aui-radio-button>
      <aui-radio-button value="custom">
        {{ 'metric_custom' | translate }}
      </aui-radio-button>
    </aui-radio-group>
    <aui-icon
      [auiTooltip]="metric_tip"
      [style.padding-left]="'8px'"
      icon="basic:question"
      color="#999"
    ></aui-icon>
  </aui-form-item>
  <!-- 指标-指标告警 -->
  <aui-form-item [hidden]="form.get('alarm_type').value !== 'default'">
    <label auiFormItemLabel>{{ 'metric' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="metric">
        <aui-option
          *ngFor="let metric of metrics"
          [value]="metric.name"
          [label]="metric.name"
          [auiTooltip]="metric | pure: getAnnotations"
          auiTooltipPosition="top start"
        >
          {{ metric.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('metric').errors"
    ></rc-errors-mapper>
  </aui-form-item>
  <!-- 指标-自定义告警 -->
  <aui-form-item [hidden]="form.get('alarm_type').value !== 'custom'">
    <label auiFormItemLabel>{{ 'metric' | translate }}</label>
    <ng-container auiFormItemControl required>
      <input
        aui-input
        formControlName="expr"
        [auiAutocomplete]="suggestions"
        (input)="onExpressionInput($event)"
        [pattern]="metricReg.pattern"
      />
    </ng-container>
    <span auiFormItemAddon>
      <aui-icon
        [auiTooltip]="'metric_custom_tip' | translate"
        [auiTooltipPosition]="'start center'"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </span>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('expr').errors"
      [errorsMapper]="{ pattern: metricReg.tip | translate }"
    ></rc-errors-mapper>
  </aui-form-item>
  <!-- 单位-自定义告警 -->
  <aui-form-item [hidden]="form.get('alarm_type').value !== 'custom'">
    <label auiFormItemLabel>{{ 'unit' | translate }}</label>
    <aui-select
      auiFormItemControl
      clearable
      filterable
      allowCreate
      formControlName="unit"
    >
      <aui-option *ngFor="let unit of units" [value]="unit">
        {{ unit }}
      </aui-option>
    </aui-select>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 数据类型-指标告警 -->
  <aui-form-item
    [hidden]="form.get('alarm_type').value !== 'default' || !aggregationEnabled"
  >
    <label auiFormItemLabel>{{ 'data_type' | translate }}</label>
    <aui-radio-group
      size="medium"
      auiFormItemControl
      formControlName="data_type"
    >
      <aui-radio-button [value]="false">
        {{ 'origin_value' | translate }}
      </aui-radio-button>
      <aui-radio-button [value]="true">
        {{ 'metric_value' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <!-- 聚合时间-指标告警 -->
  <aui-form-item [hidden]="!form.get('data_type').value">
    <label auiFormItemLabel>{{ 'alarm_time' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="aggregate_range">
        <aui-option
          *ngFor="let timeStampOption of timeStampOptions"
          [value]="timeStampOption.offset"
          [label]="timeStampOption.name"
        >
          {{ timeStampOption.name }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon>
      <aui-icon
        [auiTooltip]="'alarm_time_tip' | translate"
        [auiTooltipPosition]="'start center'"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </span>
  </aui-form-item>
  <!-- 聚合方式-指标告警 -->
  <aui-form-item [hidden]="!form.get('data_type').value">
    <label auiFormItemLabel>{{ 'monitor_aggregator' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="aggregate_function">
        <aui-option
          *ngFor="let aggregator of aggregators"
          [value]="aggregator.key"
          [label]="aggregator.name | translate"
        >
          {{ aggregator.name | translate }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 时间范围-日志告警/事件告警 -->
  <aui-form-item
    [hidden]="
      form.get('alarm_type').value !== 'log' &&
      form.get('alarm_type').value !== 'event'
    "
  >
    <label auiFormItemLabel>{{ 'monitor_period' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="aggregate_range">
        <aui-option
          *ngFor="let timeStampOption of timeStampOptions"
          [value]="timeStampOption.offset"
          [label]="timeStampOption.name"
        >
          {{ timeStampOption.name }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 日志内容-日志告警 -->
  <aui-form-item *ngIf="form.get('alarm_type').value === 'log'">
    <label auiFormItemLabel>
      {{ 'log_content' | translate }}
    </label>
    <ng-container auiFormItemControl required>
      <aui-tags-input
        formControlName="query"
        (valueChange)="setQuery($event)"
        [allowRepeat]="false"
        [allowEmpty]="false"
        [placeholder]="'add_multiple_by_enter' | translate"
      ></aui-tags-input>
    </ng-container>
    <span auiFormItemAddon></span>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('query').errors"
    ></rc-errors-mapper>
  </aui-form-item>
  <!-- 事件原因-事件告警 -->
  <aui-form-item *ngIf="form.get('alarm_type').value === 'event'">
    <label auiFormItemLabel>
      {{ 'event_reason' | translate }}
    </label>
    <ng-container auiFormItemControl required>
      <aui-multi-select
        formControlName="query"
        (valueChange)="setQuery($event)"
        [filterable]="true"
        [allowCreate]="true"
        [placeholder]="'add_multiple_by_enter' | translate"
      >
        <aui-option
          *ngFor="let eventReason of eventReasonList"
          [value]="eventReason"
        >
          {{ eventReason }}
        </aui-option>
      </aui-multi-select>
    </ng-container>
    <span auiFormItemAddon></span>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('query').errors"
    ></rc-errors-mapper>
  </aui-form-item>
  <!-- 告警等级 -->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'alarm_level' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="severity">
        <aui-option
          *ngFor="let level of levels"
          [value]="level"
          [label]="level"
        >
          {{ level }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <!-- 阈值 -->
  <aui-form-item>
    <label auiFormItemLabel>{{ 'alarm_threshold' | translate }}</label>
    <aui-input-group auiFormItemControl required class="threshold-group">
      <span
        *ngIf="form.get('metric').value === 'workload.log.keyword.count'"
        auiInputAddonBefore
      >
        {{ 'log_count' | translate }}
      </span>
      <span
        *ngIf="form.get('metric').value === 'workload.event.reason.count'"
        auiInputAddonBefore
      >
        {{ 'event_count' | translate }}
      </span>
      <aui-select formControlName="compare">
        <aui-option
          *ngFor="let compareOption of compareOptions"
          [value]="compareOption"
        >
          {{ compareOption }}
        </aui-option>
      </aui-select>
      <input
        aui-input
        class="threshold-input"
        formControlName="threshold"
        [placeholder]="thresholdTip | translate"
      />
      <span *ngIf="getUnit()" auiInputAddonAfter>
        {{ getUnit() }}
      </span>
    </aui-input-group>
    <span auiFormItemAddon></span>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('threshold').errors"
      [errorsMapper]="{
        pattern: thresholdTip | translate
      }"
    ></rc-errors-mapper>
  </aui-form-item>
  <!-- 持续时间 -->
  <aui-form-item
    [hidden]="
      form.get('metric').value === 'workload.log.keyword.count' ||
      form.get('metric').value === 'workload.event.reason.count'
    "
  >
    <label auiFormItemLabel>{{ 'alarm_wait_time' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-select formControlName="wait">
        <aui-option
          *ngFor="let timeStampOption of timeStampOptions"
          [value]="timeStampOption.offset"
          [label]="timeStampOption.name"
        >
          {{ timeStampOption.name }}
        </aui-option>
      </aui-select>
    </ng-container>
    <span auiFormItemAddon></span>
  </aui-form-item>
  <rc-foldable-block hint="{{ 'advanced' | translate }}">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'label' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        formControlName="labels"
        [validator]="labelValidator"
        [errorMapper]="labelErrorMapper"
      ></rc-key-value-form-table>
      <span auiFormItemAddon></span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'annotation' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        formControlName="annotations"
        [validator]="labelValidator"
        [errorMapper]="labelErrorMapper"
      ></rc-key-value-form-table>
      <span auiFormItemAddon></span>
    </aui-form-item>
  </rc-foldable-block>
</form>

<aui-autocomplete #suggestions>
  <aui-suggestion-group>
    <div auiSuggestionGroupTitle>{{ 'metric' | translate }}</div>
    <aui-suggestion
      *ngFor="let metricLabel of prometheusMetricLabels"
      [value]="metricLabel"
    >
      {{ metricLabel }}
    </aui-suggestion>
  </aui-suggestion-group>
  <aui-suggestion-group>
    <div auiSuggestionGroupTitle>{{ 'metric' | translate }}</div>
    <aui-suggestion
      *ngFor="let monitorMetric of prometheusMetricsSuggestion"
      [value]="monitorMetric"
    >
      {{ monitorMetric }}
    </aui-suggestion>
  </aui-suggestion-group>
  <aui-suggestion-group>
    <div auiSuggestionGroupTitle>{{ 'function_name' | translate }}</div>
    <aui-suggestion
      *ngFor="let functionName of functionNamesSuggestion"
      [value]="functionName"
    >
      {{ functionName }}
    </aui-suggestion>
  </aui-suggestion-group>
</aui-autocomplete>

<ng-template #metric_tip>
  <div>{{ 'metric_tip_title' | translate }}</div>
  <div>{{ 'metric_tip_default' | translate }}</div>
  <div>{{ 'metric_tip_custom' | translate }}</div>
</ng-template>
