<ng-container [formGroup]="form">
  <aui-form-item *ngIf="canSelect">
    <label auiFormItemLabel>{{ 'method' | translate }}</label>
    <aui-radio-group auiFormItemControl formControlName="type">
      <aui-radio-button value="select">
        {{ 'select' | translate }}
      </aui-radio-button>
      <aui-radio-button value="input">
        {{ 'input' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>

  <rc-image-select
    *ngIf="canSelect && isSelect$ | async; else input"
    formControlName="repoSelect"
    [context]="context"
    (error)="errorHandler()"
  ></rc-image-select>

  <ng-template #input>
    <rc-image-input formControlName="fullPath"></rc-image-input>
  </ng-template>
</ng-container>
