@import 'var';
@import 'mixins';
@import '../layout.common';

@mixin active-status() {
  color: $color-white;
  background-color: rgba(255, 255, 255, 0.16);
}

:host {
  position: relative;
  display: inline-flex;
  align-items: center;

  ::ng-deep {
    //aui-menu's first elem margin to second
    .cluster-badge__search > .aui-search {
      margin-bottom: 8px;
    }
  }
}

.cluster-badge {
  display: flex;
  align-items: stretch;
  height: $badge-height;

  > div {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    cursor: default;
  }

  .left-badge,
  .right-badge {
    color: $color-text-help;
    border-radius: 2px;
    font-weight: 400;
  }

  .left-badge {
    padding: 6px;
    font-size: 16px;
  }
  .right-badge {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 4px 6px;
    cursor: pointer;
    &:hover {
      @include active-status;
    }
    &.isActive {
      @include active-status;
    }
  }

  &.no-clusters {
    .right-badge {
      cursor: not-allowed;
      color: $color-text-secondary;
      &:hover {
        background-color: initial;
        color: $color-text-secondary;
      }
    }
  }

  .display-name {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .no-cluster-hint {
    padding-right: 18px;
  }

  .expand-icon {
    margin-left: 2px;
    font-size: 16px;
  }
}

.rc-cluster-select {
  &__display-name {
    color: #999;
    margin-left: 4px;
  }
}
