<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <aui-card>
    <div auiCardHeader>{{ 'workload' | translate }}</div>
    <div class="rc-secondary-title">
      {{ 'basic_info' | translate }}
    </div>
    <aui-form-item *ngIf="hasPrefix">
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <aui-input-group>
        <span auiInputAddonBefore>{{ appName }}-</span>
        <input
          auiFormItemControl
          aui-input
          required
          placeholder="{{ 'workload_name_suffix_placeholder' | translate }}"
          (blur)="onBlur()"
          formControlName="suffixName"
        />
      </aui-input-group>
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get('suffixName').errors"
        [errorsMapper]="{
          pattern: resourceNamePattern.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>

    <aui-form-item formGroupName="metadata" *ngIf="!hasPrefix">
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        *ngIf="!isUpdateApp"
        auiFormItemControl
        aui-input
        required
        (blur)="onBlur()"
        formControlName="name"
      />
      <span *ngIf="isUpdateApp">{{ form.get('metadata.name')?.value }}</span>
      <rc-errors-mapper
        auiFormItemError
        *ngIf="!isUpdateApp"
        [errors]="form.get(['metadata', 'name']).errors"
        [errorsMapper]="{
          pattern: resourceNamePattern.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'service_create_deploy_model' | translate }}
      </label>

      <aui-radio-group
        [hidden]="isUpdateApp"
        size="medium"
        auiFormItemControl
        formControlName="kind"
      >
        <aui-radio-button *ngFor="let kind of kindOptions" [value]="kind">
          {{ kind }}
        </aui-radio-button>
      </aui-radio-group>

      <span *ngIf="isUpdateApp">{{ form.get('kind')?.value }}</span>
    </aui-form-item>

    <aui-form-item formGroupName="spec" [hidden]="shouldDisableReplicas">
      <label auiFormItemLabel>{{ 'service_replicas' | translate }}</label>
      <aui-number-input
        formControlName="replicas"
        [precision]="1"
        [min]="0"
        (blur)="onBlur()"
      ></aui-number-input>
    </aui-form-item>

    <rc-foldable-block>
      <aui-form-item formGroupName="metadata">
        <label auiFormItemLabel>{{ 'label' | translate }}</label>
        <rc-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="labels"
          [validator]="labelValidator"
          [errorMapper]="labelErrorMapper"
        ></rc-key-value-form-table>
      </aui-form-item>

      <ng-container formGroupName="spec">
        <rc-update-strategy-form
          [hidden]="shouldHideStrategy"
          (blur)="onBlur()"
          [podControllerKind]="form.get('kind').value"
          formControlName="strategy"
        ></rc-update-strategy-form>
      </ng-container>
    </rc-foldable-block>

    <ng-container formGroupName="spec">
      <rc-pod-template-form
        formControlName="template"
        [baseParams]="{
          project: project,
          cluster: cluster,
          namespace: namespace
        }"
        [matchLabels]="matchLabels"
        [workloadOptions]="workloadOptions$ | async"
        (blur)="onBlur()"
      ></rc-pod-template-form>
    </ng-container>
  </aui-card>

  <!-- <pre>pod controller form: {{form.status}}</pre> -->
</form>
