@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:host {
  display: inline-block;
  margin-left: 4px;
  ::ng-deep {
    aui-icon {
      &.pending .aui-icon {
        transform-origin: center;
        animation: spin 4s infinite linear;
      }
    }
  }
}
