<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-data>
    <aui-tab-group
      type="line"
      [selectedIndex]="queryParams.activeTabIndex || 0"
      (selectedIndexChange)="onTabIndexChange($event)"
    >
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <rc-job-detail-info
            [data]="data"
            [baseParams]="baseParams"
            (onDelete)="delete()"
            (onOpenCronJobDetail)="openCronJobDetail($event)"
            (onViewLog)="viewLog($event)"
          ></rc-job-detail-info>
        </ng-container>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'pod' | translate }}
        </ng-container>
        <rc-pod-list
          *auiTabContent
          [baseParams]="baseParams"
          [matchLabels]="data | pure: getMatchLabels"
          (onViewLog)="viewLog($event)"
        ></rc-pod-list>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="data"
        ></rc-resource-yaml-display>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'config' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <rc-workload-detail-env
            [hideUpdate]="true"
            [podTemplate]="data.spec.template"
            [baseParams]="baseParams"
          ></rc-workload-detail-env>
        </ng-container>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'log' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <rc-pods-log
            [baseParams]="baseParams"
            [matchLabels]="data | pure: getMatchLabels"
            [initialState]="logInitialState"
          ></rc-pods-log>
        </ng-container>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'event' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <rc-k8s-event-list
            kind="Job"
            [names]="data.metadata.name"
            [cluster]="baseParams.cluster"
            [namespace]="baseParams.namespace"
            [embedded]="true"
          ></rc-k8s-event-list>
        </ng-container>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
