@import 'var';

.aui-table__column {
  &-created_time {
    flex: 1 0 120px;
  }

  &-name {
    a,
    .plain-name {
      font-size: 16px;
      font-weight: 500;
    }

    flex-grow: 1;
    aui-tag {
      margin: 0 0 0 8px;
      cursor: initial;
    }
  }
}

rc-loading-mask {
  height: 120px;
  background: transparent;
}

.overview-empty {
  height: 120px;
  color: $color-text-placeholder;
}

:host {
  .overview-header {
    .overview-label {
      margin: 8px 4px 0 0;
      line-height: 26px;
      font-size: 14px;
    }
    aui-tag {
      cursor: pointer;
      margin-top: 8px;
    }
    ::ng-deep {
      .aui-tag {
        border-width: 0;
      }

      .aui-tag--info {
        background-color: $disabled-bg-color;
        .aui-tag-content {
          color: $color-text-main;
        }
      }
    }
  }
}
