<aui-page>
  <rc-page-header *auiPageHeader>
    <ng-container *ngIf="globalPermission.userViewAllowed$ | async">
      <a
        class="project-icon disabled"
        [attr.title]="'project_icon_hint' | translate"
      >
        <aui-icon icon="basic:project_s"></aui-icon>
      </a>
      <acl-project-select
        [selected]="projectName$ | async"
        (selectedChange)="selectProject($event)"
      ></acl-project-select>
      <div fxFlex></div>
      <acl-platform-center-nav></acl-platform-center-nav>
    </ng-container>
    <rc-view-switch [isAdminView]="false"></rc-view-switch>
  </rc-page-header>

  <ng-container *ngIf="globalPermission.userViewAllowed$ | async">
    <div *auiPageToolbar class="layout-page-header">
      <aui-breadcrumb>
        <aui-breadcrumb-item>
          {{ 'namespace' | translate }}
        </aui-breadcrumb-item>
      </aui-breadcrumb>
    </div>
  </ng-container>

  <div *auiPageContent class="layout-page-content">
    <acl-page-guard
      [allowed]="globalPermission.userViewAllowed$ | async"
      [reason]="reason.NoPermission"
      [description]="'no_view_permissions' | translate"
    >
      <aui-card *aclPageGuardContent [divider]="false">
        <div
          fxLayout
          fxLayoutAlign="space-between stretch"
          auiCardHeader
          class="overview-header"
        >
          <div *ngIf="clustersLength$ | async" fxLayout="row wrap">
            <span class="overview-label">{{ 'cluster' | translate }}：</span>
            <ng-container
              *ngFor="
                let cluster of clusters$ | async;
                trackBy: trackByClusterName
              "
            >
              <aui-tag
                [type]="
                  currentCluster?.name === cluster.name ? 'primary' : 'info'
                "
                (click)="selectCluster(cluster)"
              >
                {{ cluster.display_name || cluster.name }}
              </aui-tag>
            </ng-container>
          </div>
          <div fxFlex></div>
          <div
            fxFlex="0 0 12em"
            fxLayout="column"
            fxLayoutAlign="end"
            style="margin-left: 20px;"
          >
            <aui-search
              [searchButton]="false"
              placeholder="{{ 'filter_by_name_placeholder' | translate }}"
              (keywordChange)="search$.next($event)"
            ></aui-search>
          </div>
        </div>

        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          class="overview-empty"
          *ngIf="!(projectsLength$ | async)"
        >
          {{ 'projects_empty_hint' | translate }}
        </div>
        <ng-container *ngIf="projectsLength$ | async">
          <aui-table
            [dataSource]="filteredNamespaces$ | async"
            [trackBy]="trackByNamespaceUuid"
          >
            <ng-container auiTableColumnDef="name">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'name' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <a
                    *ngIf="!(item | pure: isTerminating)"
                    href="javascript:"
                    (click)="selectNamespace(item)"
                  >
                    {{ item.name }}
                  </a>
                  <span *ngIf="item | pure: isTerminating" class="plain-name">
                    {{ item.name }}
                  </span>
                  <aui-icon
                    *ngIf="item.isFederated && item.cluster.isMaster"
                    class="icon--federation"
                    icon="basic:federation_cluster"
                    margin="left"
                    [auiTooltip]="'federated_namespace' | translate"
                  ></aui-icon>
                  <aui-tag
                    *ngIf="item | pure: isTerminating"
                    type="error"
                    [solid]="true"
                    size="mini"
                  >
                    {{ 'deleting' | translate }}
                  </aui-tag>
                  <aui-icon
                    *ngIf="
                      validatingNamespaceName === getNamespaceOptionLabel(item)
                    "
                    margin="left"
                    icon="spinner"
                  ></aui-icon>
                </div>
                <div
                  *ngIf="item.display_name"
                  class="aui-table__cell__display-name"
                >
                  {{ item.display_name }}
                </div>
              </aui-table-cell>
            </ng-container>
            <ng-container auiTableColumnDef="created_time">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'created_time' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let rowData">
                <rc-relative-time
                  [time]="rowData.created_time"
                ></rc-relative-time>
              </aui-table-cell>
            </ng-container>
            <aui-table-header-row
              *auiTableHeaderRowDef="columns"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: columns"
            ></aui-table-row>
          </aui-table>
          <div *ngIf="!(namespacesLength$ | async)" class="empty-placeholder">
            {{
              'zero_state_hint'
                | translate: { resourceName: 'namespace' | translate }
            }}
          </div>
        </ng-container>
      </aui-card>
    </acl-page-guard>
  </div>
</aui-page>
