<ng-container *ngIf="policy$ | async as policy">
  <acl-page-guard
    [allowed]="policy.status"
    [reason]="policy.reason"
    [title]="policy.title"
    [description]="policy.description"
  >
    <aui-card *aclPageGuardContent>
      <div auiCardHeader>
        <div>{{ 'pod_security_policy' | translate }}</div>
        <div fxFlex></div>
        <button aui-button [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
      </div>
      <rc-psp-form
        *ngIf="policy.data"
        [readonly]="true"
        [value]="policy.data.spec"
      ></rc-psp-form>
    </aui-card>

    <ng-container *aclPageGuardOperation>
      <acl-disabled-container
        *ngIf="policy.reason !== 'noPermission'"
        [isAllowed]="(permissions$ | async).create"
      >
        <button aui-button="primary" [routerLink]="['./', 'create', cluster]">
          {{ 'config_now' | translate }}
        </button>
      </acl-disabled-container>
    </ng-container>
  </acl-page-guard>
</ng-container>

<aui-menu #menu size="small">
  <acl-disabled-container [isAllowed]="(permissions$ | async).update">
    <aui-menu-item [routerLink]="['./', 'update', cluster]">
      {{ 'update' | translate }}
    </aui-menu-item>
  </acl-disabled-container>
  <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
    <aui-menu-item (click)="delete()">{{ 'delete' | translate }}</aui-menu-item>
  </acl-disabled-container>
</aui-menu>
