<aui-card *ngIf="data">
  <div auiCardHeader>
    {{ data.metadata.name }}
    <aui-tag
      type="success"
      size="mini"
      *ngIf="
        (networkType$ | async) === ClusterNetworkType.KUBE_OVN &&
        data.spec.default
      "
    >
      {{ 'default' | translate }}
    </aui-tag>
    <div fxFlex></div>
    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <aui-menu-group class="subnet__update-group">
        <acl-disabled-container
          *ngIf="
            networkType$
              | async
              | pure
                : isNetworkSupportUpdateField
                : SubnetUpdatePageField.UPDATE_GATEWAY
          "
          [isAllowed]="canUpdate"
        >
          <aui-menu-item (click)="updatePartial(UpdatePartialType.GATEWAY)">
            {{ 'update_gateway' | translate }}
          </aui-menu-item>
        </acl-disabled-container>

        <acl-disabled-container
          [isAllowed]="canUpdate"
          *ngIf="
            networkType$
              | async
              | pure
                : isNetworkSupportUpdateField
                : SubnetUpdatePageField.UPDATE_NETWORK_MODE
          "
        >
          <aui-menu-item
            (click)="updatePartial(UpdatePartialType.NETWORK_MODE)"
          >
            {{ 'update_network_mode' | translate }}
          </aui-menu-item>
        </acl-disabled-container>

        <acl-disabled-container
          [isAllowed]="canUpdate"
          *ngIf="
            networkType$
              | async
              | pure
                : isNetworkSupportUpdateField
                : SubnetUpdatePageField.UPDATE_NAMESPACE
          "
        >
          <aui-menu-item (click)="updatePartial(UpdatePartialType.NAMESPACE)">
            {{ 'update_namespace' | translate }}
          </aui-menu-item>
        </acl-disabled-container>

        <acl-disabled-container
          *ngIf="
            networkType$
              | async
              | pure
                : isNetworkSupportUpdateField
                : SubnetUpdatePageField.UPDATE_WHITELIST
          "
          [isAllowed]="canUpdate"
        >
          <aui-menu-item (click)="updatePartial(UpdatePartialType.WHITELIST)">
            {{ 'update_whitelist' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
      </aui-menu-group>
      <acl-disabled-container
        [isAllowed]="canDelete"
        [isDisabled]="data.spec.default"
        tooltip="{{ 'not_delete_default_subnet' | translate }}"
      >
        <aui-menu-item (click)="onDelete.next()">
          {{ 'delete' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
    </aui-menu>
  </div>
  <ng-container
    *ngIf="
      networkType$
        | async
        | pure
          : isNetworkSupportDetailPageModule
          : SubnetDetailPageModule.BASIC_INFO
    "
  >
    <aui-section>
      <div auiSectionTitle>
        {{ 'basic_info' | translate }}
      </div>
      <rc-field-set-column-group auiCardContent>
        <rc-field-set-column>
          <rc-field-set-item>
            <label>{{ 'cluster_belonged' | translate }}</label>
            {{ cluster }}
          </rc-field-set-item>

          <rc-field-set-item>
            <label>{{ 'network_segment' | translate }}</label>
            {{ data.spec.cidrBlock | aclFieldNotAvailable }}
          </rc-field-set-item>

          <rc-field-set-item>
            <label>{{ 'ip_used_count' | translate }}</label>
            {{ data.status?.usingIPs | aclFieldNotAvailable }}
          </rc-field-set-item>

          <rc-field-set-item>
            <label>{{ 'ip_available' | translate }}</label>
            {{ data.status?.availableIPs | aclFieldNotAvailable }}
          </rc-field-set-item>
        </rc-field-set-column>

        <rc-field-set-column>
          <rc-field-set-item *ngIf="networkType === ClusterNetworkType.MACVLAN">
            <label>{{ 'gateway' | translate }}</label>
            {{ data.spec.gateway | aclFieldNotAvailable }}
          </rc-field-set-item>

          <ng-container
            [ngTemplateOutlet]="natOutgoing"
            *ngIf="networkType === ClusterNetworkType.CALICO"
          ></ng-container>

          <rc-field-set-item *ngIf="networkType === ClusterNetworkType.CALICO">
            <label>{{ 'ipip_mode' | translate }}</label>
            {{
              data.spec.ipipMode | pure: ipipModeFormat | aclFieldNotAvailable
            }}
          </rc-field-set-item>

          <rc-field-set-item>
            <label>{{ 'creator' | translate }}</label>
            {{ data | aclAnnotation: 'creator' | aclFieldNotAvailable }}
          </rc-field-set-item>
          <rc-field-set-item>
            <label>{{ 'created_time' | translate }}</label>
            {{
              data.metadata.creationTimestamp
                | rcFormatUtcStr
                | aclFieldNotAvailable
            }}
          </rc-field-set-item>
        </rc-field-set-column>
      </rc-field-set-column-group>
    </aui-section>
  </ng-container>

  <ng-container
    *ngIf="
      networkType$
        | async
        | pure
          : isNetworkSupportDetailPageModule
          : SubnetDetailPageModule.PRESERVED_IP
    "
  >
    <aui-section>
      <div auiSectionTitle>
        {{ 'reserved_ip' | translate }}
      </div>
      <rc-field-set-item>
        <label>{{ 'reserved_ip' | translate }}</label>
        <ng-container *ngIf="data.spec.excludeIps?.length > 0; else nodata">
          <aui-tag
            *ngFor="let k of data.spec.excludeIps"
            type="info"
            size="mini"
          >
            {{ k }}
          </aui-tag>
        </ng-container>
      </rc-field-set-item>
    </aui-section>
  </ng-container>

  <ng-container
    *ngIf="
      networkType$
        | async
        | pure: isNetworkSupportDetailPageModule:SubnetDetailPageModule.GATEWAY
    "
  >
    <aui-section>
      <div auiSectionTitle>
        {{ 'gateway' | translate }}
      </div>
      <rc-field-set-column-group>
        <rc-field-set-column>
          <rc-field-set-item>
            <label>{{ 'gateway_type' | translate }}</label>
            {{
              data.spec.gatewayType
                | lowercase
                | translate
                | aclFieldNotAvailable
            }}
          </rc-field-set-item>
          <rc-field-set-item
            *ngIf="data.spec.gatewayType === GatewayTypeEnum.CENTRALIZED"
          >
            <label>{{ 'gateway_node' | translate }}</label>
            {{ data.spec.gatewayNode | aclFieldNotAvailable }}
          </rc-field-set-item>
          <ng-container [ngTemplateOutlet]="natOutgoing"></ng-container>
        </rc-field-set-column>
      </rc-field-set-column-group>
    </aui-section>
  </ng-container>

  <ng-container
    *ngIf="
      networkType$
        | async
        | pure
          : isNetworkSupportDetailPageModule
          : SubnetDetailPageModule.WHITELIST
    "
  >
    <aui-section>
      <div auiSectionTitle>
        {{ 'whitelist' | translate }}
      </div>
      <rc-field-set-column-group>
        <rc-field-set-column>
          <rc-field-set-item>
            <label>{{ 'subnet_isolation' | translate }}</label>
            {{ data.spec.private + '' | translate }}
          </rc-field-set-item>
          <rc-field-set-item>
            <label>{{ 'whitelist' | translate }}</label>
            <ng-container
              *ngIf="data.spec.allowSubnets?.length > 0; else nodata"
            >
              <aui-tag
                *ngFor="let allowIp of data.spec.allowSubnets"
                type="info"
                size="mini"
              >
                {{ allowIp }}
              </aui-tag>
            </ng-container>
          </rc-field-set-item>
        </rc-field-set-column>
      </rc-field-set-column-group>
    </aui-section>
  </ng-container>

  <ng-container
    *ngIf="
      networkType$
        | async
        | pure
          : isNetworkSupportDetailPageModule
          : SubnetDetailPageModule.NAMESPACE
    "
  >
    <aui-section>
      <div auiSectionTitle>
        {{ 'namespace' | translate }}
      </div>
      <rc-field-set-item>
        <label>{{ 'namespace' | translate }}</label>
        <ng-container *ngIf="data.spec.namespaces?.length > 0; else nodata">
          <aui-tag
            *ngFor="let k of data.spec.namespaces"
            type="info"
            size="mini"
          >
            {{ k }}
          </aui-tag>
        </ng-container>
      </rc-field-set-item>
    </aui-section>
  </ng-container>
  <ng-template #nodata>-</ng-template>
</aui-card>

<ng-template #natOutgoing>
  <rc-field-set-item>
    <label>{{ 'nat_outgoing' | translate }}</label>
    {{ data.spec.natOutgoing + '' | translate }}
  </rc-field-set-item>
</ng-template>
