:host {
  ::ng-deep {
    .lb-detail-info__container
      .aui-card
      .aui-card__header
      + .aui-card__content {
      margin-top: 8px;
    }
    .plain-container {
      white-space: unset;
    }
  }
}
