<aui-card *ngIf="data" class="lb-detail-info__container">
  <div auiCardHeader class="aui-card__header__center">
    {{ data | aclUnionDisplayName }}
    <div fxFlex></div>
    <button
      *ngIf="!inWorkspace"
      aui-button="default"
      [plain]="true"
      [auiDropdown]="menu"
    >
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <aui-menu-item [disabled]="!canUpdate" (click)="onUpdateProject.emit()">
        {{ 'update_project' | translate }}
      </aui-menu-item>
      <aui-menu-item [disabled]="!canDelete" (click)="onDelete.emit()">
        {{ 'delete_load_balancer' | translate }}
      </aui-menu-item>
    </aui-menu>
  </div>
  <rc-field-set-group auiCardContent>
    <rc-field-set-item>
      <label>{{ 'address' | translate }}</label>
      {{ data.spec.address }}
    </rc-field-set-item>
    <rc-field-set-item *ngIf="!inWorkspace">
      <label>{{ 'cluster_belonged' | translate }}</label>
      {{ cluster }}
    </rc-field-set-item>
    <rc-field-set-item class="domains">
      <label>{{ 'project' | translate }}</label>
      <ng-container
        *ngIf="
          (data | aclLabel: 'name':'project') ||
          ('not_assigned' | translate) as projectName
        "
      >
        {{ projectName === ALL ? ('all_projects' | translate) : projectName }}
      </ng-container>
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'created_time' | translate }}</label>
      {{ data | aclCreationTimestamp | rcFormatUtcStr }}
    </rc-field-set-item>
  </rc-field-set-group>
</aui-card>
