<aui-card>
  <div auiCardHeader>
    {{ (isUpdate ? 'update' : 'create') | translate
    }}{{ 'network_policy' | translate }}
  </div>
  <form #form="ngForm">
    <aui-code-editor
      name="yaml"
      required
      [originalValue]="originalYaml"
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yamlInputValue"
    ></aui-code-editor>
  </form>

  <div class="resource-form__footer">
    <button aui-button="primary" (click)="confirm()" [disabled]="submitting">
      {{ (isUpdate ? 'update' : 'create') | translate }}
    </button>
    <button aui-button="default" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-card>
