@import 'var';

:host {
  ::ng-deep .aui-dialog__content {
    position: relative;
    rc-base-alarm-metric-chart {
      position: absolute;
      width: 100%;
      height: 200px;
      margin: 0 -24px;
      z-index: 1500;
      border-bottom: 1px solid $border-color;
      padding-bottom: 12px;
      background: $color-white;
    }
    .alarm-wrapper-form {
      padding-top: 220px;
      padding-bottom: 12px;
      max-height: 560px;
      overflow: auto;
    }
  }
  .separator {
    border-top: 1px solid $border-color;
  }
}
