@import 'var';
.header-icon {
  margin-right: 8px;
  font-size: 24px;
  color: $color-error;
}
.text-danger {
  color: $color-error;
}
.delete-hint {
  margin-bottom: 16px;
}
.delete-confirm {
  margin-bottom: 4px;
}
