@import 'var';
$switch-margin: 4px;

.switch_label {
  margin-left: $switch-margin;
  vertical-align: middle;
}

.switch_desc {
  margin-top: 4px;
  margin-left: $switch-bar-width + $switch-margin;
  font-size: $font-size-small;
  color: $color-text-help;
}

aui-icon[icon='basic:question'] {
  color: $color-text-help;
}

rc-array-form-table {
  width: 100%;
}

.table-header-required:before {
  content: '*';
  color: $color-error;
}
