<ng-container *ngIf="value$ | async as policy">
  <section>
    <div class="rc-secondary-title">
      {{ 'basic_policies' | translate }}
    </div>
    <aui-form-item>
      <div>
        <div>
          <aui-switch
            [disabled]="readonly"
            [value]="policy.privileged"
            (valueChange)="onPolicyChange('privileged', $event)"
          ></aui-switch>
          <span class="switch_label">{{ 'privileged_label' | translate }}</span>
        </div>
        <div class="switch_desc">{{ 'privileged_desc' | translate }}</div>
      </div>
    </aui-form-item>
    <aui-form-item>
      <div>
        <div>
          <aui-switch
            [disabled]="readonly"
            [value]="policy.allowPrivilegeEscalation"
            (valueChange)="onAllowPrivilegeEscalationChange($event)"
          ></aui-switch>
          <span class="switch_label">
            {{ 'allow_privilege_escalation_label' | translate }}
          </span>
        </div>
        <div class="switch_desc">
          <div>{{ 'allow_privilege_escalation_desc' | translate }}</div>
          <aui-radio-group
            *ngIf="policy.allowPrivilegeEscalation"
            direction="column"
            [value]="policy.defaultAllowPrivilegeEscalation"
            (valueChange)="
              onPolicyChange('defaultAllowPrivilegeEscalation', $event)
            "
          >
            <aui-radio [disabled]="readonly" [value]="true">
              {{
                'default_allow_privilege_escalation_allowed_label' | translate
              }}
            </aui-radio>
            <aui-radio [disabled]="readonly" [value]="false">
              {{
                'default_allow_privilege_escalation_forbidden_label' | translate
              }}
            </aui-radio>
          </aui-radio-group>
        </div>
      </div>
    </aui-form-item>
    <aui-form-item>
      <div>
        <div>
          <aui-switch
            [disabled]="readonly"
            [value]="policy.hostPID"
            (valueChange)="onPolicyChange('hostPID', $event)"
          ></aui-switch>
          <span class="switch_label">{{ 'host_pid_label' | translate }}</span>
        </div>
        <div class="switch_desc">{{ 'host_pid_desc' | translate }}</div>
      </div>
    </aui-form-item>
    <aui-form-item>
      <div>
        <div>
          <aui-switch
            [disabled]="readonly"
            [value]="policy.hostIPC"
            (valueChange)="onPolicyChange('hostIPC', $event)"
          ></aui-switch>
          <span class="switch_label">{{ 'host_ipc_label' | translate }}</span>
        </div>
        <div class="switch_desc">{{ 'host_ipc_desc' | translate }}</div>
      </div>
    </aui-form-item>
    <aui-form-item>
      <div>
        <div>
          <aui-switch
            [disabled]="readonly"
            [value]="policy.hostNetwork"
            (valueChange)="onPolicyChange('hostNetwork', $event)"
          ></aui-switch>
          <span class="switch_label">
            {{ 'host_network_label' | translate }}
          </span>
        </div>
        <div class="switch_desc">{{ 'host_network_desc' | translate }}</div>
      </div>
    </aui-form-item>
    <aui-form-item>
      <div>
        <div>
          <aui-switch
            [disabled]="readonly"
            [value]="policy.readOnlyRootFilesystem"
            (valueChange)="onPolicyChange('readOnlyRootFilesystem', $event)"
          ></aui-switch>
          <span class="switch_label">
            {{ 'read_only_root_filesystem_label' | translate }}
          </span>
        </div>
        <div class="switch_desc">
          {{ 'read_only_root_filesystem_desc' | translate }}
        </div>
      </div>
    </aui-form-item>
  </section>

  <section>
    <div class="rc-secondary-title">
      <span>{{ 'allowed_host_paths_label' | translate }}</span>
      <aui-icon
        icon="basic:question"
        [auiTooltip]="'allowed_host_paths_desc' | translate"
      ></aui-icon>
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'range' | translate }}</label>
      <aui-radio-group
        *ngIf="!readonly"
        auiFormItemControl
        [value]="!!(policy.allowedHostPaths && policy.allowedHostPaths.length)"
        (valueChange)="onAllowedHostPathsChange($event)"
      >
        <aui-radio-button [value]="false">
          {{ 'all_host_paths' | translate }}
        </aui-radio-button>
        <aui-radio-button [value]="true">
          {{ 'specify_host_paths' | translate }}
        </aui-radio-button>
      </aui-radio-group>
      <span *ngIf="readonly">
        {{
          (!!(policy.allowedHostPaths && policy.allowedHostPaths.length)
            ? 'specify_host_paths'
            : 'all_host_paths'
          ) | translate
        }}
      </span>
    </aui-form-item>
    <aui-form-item
      *ngIf="!!(policy.allowedHostPaths && policy.allowedHostPaths.length)"
    >
      <label auiFormItemLabel>{{ 'host_paths_range' | translate }}</label>
      <rc-array-form-table
        auiFormItemControl
        required
        [readonly]="readonly"
        [minRow]="1"
        [rows]="policy.allowedHostPaths"
        (add)="addAllowedHostPath()"
        (remove)="removeAllowedHostPath($event)"
      >
        <ng-container *rcArrayFormTableHeader>
          <th>
            <span class="table-header-required">
              {{ 'path_prefix' | translate }}
            </span>
          </th>
          <th>{{ 'readonly' | translate }}</th>
        </ng-container>
        <ng-container *rcArrayFormTableRow="let item; let i = index">
          <td>
            <input
              *ngIf="!readonly"
              aui-input
              size="small"
              [ngModel]="item.pathPrefix"
              (ngModelChange)="onAllowedHostPathChange('pathPrefix', i, $event)"
              required
              [pattern]="pathPrefixPattern"
            />
            <span *ngIf="readonly">{{ item.pathPrefix }}</span>
          </td>
          <td>
            <aui-switch
              [disabled]="readonly"
              [ngModel]="item.readOnly"
              (ngModelChange)="onAllowedHostPathChange('readOnly', i, $event)"
            ></aui-switch>
          </td>
        </ng-container>

        <!-- Input error row -->
        <ng-container *rcArrayFormTableRow="let item">
          <td class="rc-table-form-error-hint" colspan="3" *ngIf="!readonly">
            <rc-errors-mapper
              [errors]="
                !item.pathPrefix
                  ? { required: true }
                  : !pathPrefixPattern.test(item.pathPrefix)
                  ? { pattern: true }
                  : null
              "
              [errorsMapper]="pathPrefixErrorMapper"
            ></rc-errors-mapper>
          </td>
        </ng-container>
      </rc-array-form-table>
    </aui-form-item>
  </section>

  <section>
    <div class="rc-secondary-title">
      <span>{{ 'host_ports_label' | translate }}</span>
      <aui-icon
        icon="basic:question"
        [auiTooltip]="'host_ports_desc' | translate"
      ></aui-icon>
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'range' | translate }}</label>
      <aui-radio-group
        *ngIf="!readonly"
        auiFormItemControl
        [value]="policy.hostPorts | pure: isAllHostPortsAllowed"
        (valueChange)="onHostPortsChange($event)"
      >
        <aui-radio-button [value]="true">
          {{ 'all_host_ports' | translate }}
        </aui-radio-button>
        <aui-radio-button [value]="false">
          {{ 'specify_host_ports' | translate }}
        </aui-radio-button>
      </aui-radio-group>
      <span *ngIf="readonly">
        {{
          ((policy.hostPorts | pure: isAllHostPortsAllowed)
            ? 'all_host_ports'
            : 'specify_host_ports'
          ) | translate
        }}
      </span>
    </aui-form-item>
    <aui-form-item *ngIf="!(policy.hostPorts | pure: isAllHostPortsAllowed)">
      <label auiFormItemLabel>{{ 'host_ports_range' | translate }}</label>
      <rc-array-form-table
        auiFormItemControl
        required
        [readonly]="readonly"
        [minRow]="1"
        [rows]="policy.hostPorts"
        (add)="addHostPort()"
        (remove)="removeHostPort($event)"
      >
        <ng-container *rcArrayFormTableHeader>
          <th>
            <span class="table-header-required">
              {{ 'minimum' | translate }}
            </span>
          </th>
          <th></th>
          <th>
            <span class="table-header-required">
              {{ 'maximum' | translate }}
            </span>
          </th>
        </ng-container>
        <ng-container *rcArrayFormTableRow="let item; let i = index">
          <td>
            <input
              *ngIf="!readonly"
              aui-input
              size="small"
              type="number"
              [ngModel]="item.min"
              (ngModelChange)="onHostPortChange('min', i, $event)"
              required
              min="0"
              max="65535"
            />
            <span *ngIf="readonly">{{ item.min }}</span>
          </td>
          <td [style.width]="'10px'">~</td>
          <td>
            <input
              *ngIf="!readonly"
              aui-input
              size="small"
              type="number"
              [ngModel]="item.max"
              (ngModelChange)="onHostPortChange('max', i, $event)"
              required
              min="0"
              max="65535"
            />
            <span *ngIf="readonly">{{ item.max }}</span>
          </td>
        </ng-container>

        <!-- Input error row -->
        <ng-container *rcArrayFormTableRow="let item">
          <td class="rc-table-form-error-hint" colspan="3">
            <rc-errors-mapper
              [errors]="
                !item.min
                  ? { required: true }
                  : item.min < 0
                  ? { min: { min: 0 } }
                  : item.min > 65535
                  ? { max: { max: 65535 } }
                  : null
              "
              [controlName]="'minimum' | translate"
            ></rc-errors-mapper>
            <rc-errors-mapper
              [errors]="
                !item.max
                  ? { required: true }
                  : item.max < 0
                  ? { min: { min: 0 } }
                  : item.max > 65535
                  ? { max: { max: 65535 } }
                  : null
              "
              [controlName]="'maximum' | translate"
            ></rc-errors-mapper>
          </td>
        </ng-container>
      </rc-array-form-table>
    </aui-form-item>
  </section>

  <section>
    <div class="rc-secondary-title">
      <span>{{ 'run_as_user_label' | translate }}</span>
      <aui-icon
        icon="basic:question"
        [auiTooltip]="'run_as_user_desc' | translate"
      ></aui-icon>
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'range' | translate }}</label>
      <aui-radio-group
        *ngIf="!readonly"
        auiFormItemControl
        [value]="policy.runAsUser.rule"
        (valueChange)="onRunAsUserChange($event)"
      >
        <aui-radio-button value="RunAsAny">
          {{ 'run_as_any' | translate }}
        </aui-radio-button>
        <aui-radio-button value="MustRunAsNonRoot">
          {{ 'must_run_as_non_root' | translate }}
        </aui-radio-button>
        <aui-radio-button value="MustRunAs">
          {{ 'must_run_as' | translate }}
        </aui-radio-button>
      </aui-radio-group>
      <span *ngIf="readonly" [ngSwitch]="policy.runAsUser.rule">
        <ng-container *ngSwitchCase="'RunAsAny'">
          {{ 'run_as_any' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'MustRunAsNonRoot'">
          {{ 'must_run_as_non_root' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'MustRunAs'">
          {{ 'must_run_as' | translate }}
        </ng-container>
      </span>
    </aui-form-item>
    <aui-form-item *ngIf="policy.runAsUser.rule === 'MustRunAs'">
      <label auiFormItemLabel>{{ 'user_uid_range' | translate }}</label>
      <rc-array-form-table
        auiFormItemControl
        required
        [readonly]="readonly"
        [minRow]="1"
        [rows]="policy.runAsUser.ranges"
        (add)="addUserRange()"
        (remove)="removeUserRange($event)"
      >
        <ng-container *rcArrayFormTableHeader>
          <th>
            <span class="table-header-required">
              {{ 'minimum' | translate }}
            </span>
          </th>
          <th></th>
          <th>
            <span class="table-header-required">
              {{ 'maximum' | translate }}
            </span>
          </th>
        </ng-container>
        <ng-container *rcArrayFormTableRow="let item; let i = index">
          <ng-container *ngIf="!readonly; else readonlyCell">
            <td>
              <input
                aui-input
                size="small"
                type="number"
                [ngModel]="item.min"
                (ngModelChange)="onUserRangeChange('min', i, $event)"
                required
                min="0"
                max="65535"
              />
            </td>
            <td [style.width]="'10px'">~</td>
            <td>
              <input
                aui-input
                size="small"
                type="number"
                [ngModel]="item.max"
                (ngModelChange)="onUserRangeChange('max', i, $event)"
                required
                min="0"
                max="65535"
              />
            </td>
          </ng-container>

          <ng-template #readonlyCell>
            <td>
              <span>{{ item.min }}</span>
            </td>
            <td [style.width]="'10px'">~</td>
            <td>
              <span>{{ item.max }}</span>
            </td>
          </ng-template>
        </ng-container>

        <!-- Input error row -->
        <ng-container *rcArrayFormTableRow="let item; let i = index">
          <td class="rc-table-form-error-hint" colspan="3">
            <rc-errors-mapper
              [errors]="
                !item.min
                  ? { required: true }
                  : item.min < 0
                  ? { min: { min: 0 } }
                  : item.min > 65535
                  ? { max: { max: 65535 } }
                  : null
              "
              [controlName]="'minimum' | translate"
            ></rc-errors-mapper>
            <rc-errors-mapper
              [errors]="
                !item.max
                  ? { required: true }
                  : item.max < 0
                  ? { min: { min: 0 } }
                  : item.max > 65535
                  ? { max: { max: 65535 } }
                  : null
              "
              [controlName]="'maximum' | translate"
            ></rc-errors-mapper>
          </td>
        </ng-container>
      </rc-array-form-table>
    </aui-form-item>
  </section>
</ng-container>
