<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:;" [routerLink]="['/workspace', baseParams, 'app']">
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <ng-container>{{ 'create_app' | translate }}</ng-container>
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-loading-mask *ngIf="!podController" [loading]="true"></rc-loading-mask>

<form
  *ngIf="podController"
  class="resource-form__card"
  #form="ngForm"
  auiForm
  [auiFormEmptyAddon]="true"
>
  <aui-card>
    <div auiCardHeader>{{ 'application' | translate }}</div>
    <rc-application-metadata-form
      name="metadata"
      [namespace]="baseParams.namespace"
      [(ngModel)]="metadata"
    ></rc-application-metadata-form>
  </aui-card>

  <rc-pod-controller-form
    name="controllers"
    [project]="baseParams.project"
    [cluster]="baseParams.cluster"
    [namespace]="baseParams.namespace"
    [appName]="getAppName()"
    [hasPrefix]="true"
    [isUpdateApp]="false"
    [(ngModel)]="podController"
  ></rc-pod-controller-form>

  <rc-services-form
    name="services"
    [cluster]="baseParams.cluster"
    [namespace]="baseParams.namespace"
    [defaultName]="podController.metadata.name"
    [(ngModel)]="services"
  ></rc-services-form>

  <rc-ingresses-form
    name="ingresses"
    [services]="services"
    [defaultName]="podController.metadata.name"
    [baseParams]="baseParams"
    [(ngModel)]="ingresses"
  ></rc-ingresses-form>

  <!-- <pre>{{ podController | json }}</pre> -->
</form>

<div class="resource-form__footer">
  <button aui-button [disabled]="submitting" (click)="preview()">
    <aui-icon icon="basic:eye_s"></aui-icon>
    {{ 'preview' | translate }}
  </button>
  <button aui-button [disabled]="submitting" (click)="addComponent()">
    {{ 'add_workload' | translate }}
  </button>
  <span fxFlex></span>
  <button
    aui-button="primary"
    (click)="confirm()"
    [loading]="submitting"
    [disabled]="submitting"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
</div>
