<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <div class="rc-secondary-title">
    {{ 'basic_info' | translate }}
  </div>
  <ng-container formGroupName="metadata">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <ng-container auiFormItemControl required>
        <!-- cron job name must not over 52 characters, limit from k8s -->
        <input
          *ngIf="!isUpdate"
          aui-input
          type="text"
          maxlength="52"
          formControlName="name"
        />
        <span *ngIf="isUpdate">{{ form.get('metadata.name').value }}</span>
      </ng-container>
      <rc-errors-mapper
        auiFormItemError
        *ngIf="!isUpdate"
        [errors]="form.get(['metadata', 'name']).errors"
        [errorsMapper]="{
          pattern: namePattern.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item formGroupName="annotations">
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <input aui-input type="text" [formControlName]="annotationName" />
    </aui-form-item>
  </ng-container>
  <rc-cron-job-spec-form
    formControlName="spec"
    [project]="project"
    [cluster]="cluster"
    [namespace]="namespace"
  ></rc-cron-job-spec-form>
</form>
