<ng-container *ngIf="application">
  <rc-status-icon
    [status]="application | pure: getApplicationStatus"
    [colorMapper]="ApplicationStatusColorMapper"
    [iconMapper]="ApplicationStatusIconMapper"
  ></rc-status-icon>
  <span>{{ application | pure: getText }}</span>
</ng-container>
