@import 'var';
@import 'mixins';

/// 代码框，图片及注释的容器宽度
$widget-width: 426px;
/// 代码框，图片及注释的容器高度
$widget-height: 225px;
/// 卡片垂直间距
$card-vertical-margin: 12px;
/// 代码框，图片及注释与卡片容器间垂直间距
$widget-vertical-margin: 24px;
/// 卡片高度
$card-container-height: $widget-height + 2 * $widget-vertical-margin;
/// 图片高度
$image-height: 192px;
/// 确认图标尺寸
$card-check-icon-size: 24px;

/// 模板卡片容器
.template-card__container {
  display: flex;
  margin-bottom: $card-vertical-margin;
  &:last-child {
    margin-bottom: 0;
  }
  /// 模板卡片内容包含盒
  .template-card__wrapper {
    display: flex;
    height: $widget-height;
    margin-top: $card-vertical-margin;
    margin-bottom: $card-vertical-margin;
    /// 代码框
    code {
      width: $widget-width;
      height: 100%;
      color: $color-text-main;
      overflow: auto;
    }
    /// 图片及注释内容容器
    .template-card__image-wrapper {
      width: $widget-width;
      overflow: hidden;
      margin-left: 9px;
      margin-right: 12px;
      display: flex;
      flex-direction: column;
      /// 注释容器
      .template-card__annotation {
        @include text-overflow;

        color: $color-text-main;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 12px;
        /// 序号容器
        > span {
          margin-right: 2px;
        }
      }
      > img {
        height: $image-height;
      }
    }
  }
}

/// 使用radio-group实现图片模板选择功能
:host {
  ::ng-deep {
    .radio-group--full-width {
      .aui-radio-group {
        width: 100%;
      }
      .template-card__container {
        .aui-radio-button {
          width: 100%;
          margin: 0;
          border-radius: 2px;
          border-color: $border-color;
          &:hover {
            box-shadow: $card-box-shadow;
          }
          &__label {
            height: $card-container-height;
          }
        }
      }
      .aui-radio-button__pointer {
        font-size: $card-check-icon-size;
      }
    }
  }
}
