<aui-dialog-header>
  {{ 'select_network_policy_template' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <aui-radio-group
    [(ngModel)]="value"
    direction="column"
    class="radio-group--full-width"
  >
    <aui-radio-button
      *ngFor="let policyType of NETWORK_POLICY_TYPES; let ind = index"
      [value]="policyType"
      class="template-card__container"
    >
      <div class="template-card__wrapper">
        <div class="template-card__image-wrapper">
          <div class="template-card__annotation">
            <span>{{ ind + 1 | pure: formatIndex }}.</span>
            {{ policyType + '_hint' | translate }}
          </div>
          <img [src]="getImage(policyType)" />
        </div>
        <code>{{ NetworkTemplateMapper[policyType] }}</code>
      </div>
    </aui-radio-button>
  </aui-radio-group>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [disabled]="!value">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
