<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      *ngIf="!isUpdate"
      auiFormItemControl
      aui-input
      required
      placeholder="{{ 'workload_name_prefix_placeholder' | translate }}"
      formControlName="name"
    />
    <span *ngIf="isUpdate">{{ formModel.name }}</span>
    <rc-errors-mapper
      *ngIf="!isUpdate"
      auiFormItemError
      [errors]="form.get('name').errors"
      [errorsMapper]="{ pattern: resourceNamePattern.tip | translate }"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input
      auiFormItemControl
      aui-input
      name="name"
      formControlName="displayName"
    />
  </aui-form-item>
</form>
