/* stylelint-disable scss/dollar-variable-default */

/* Common vars for rb-layout */
$page-header-height: 50px;
$page-header-background-border-color: #cfcfcf;
$page-background-color: #f1f4f6;
// if removes the default child padding 2px, please change the value back to "16 20 0"
$page-container-padding: 20px 20px 0;
$nav-list-width: 160px;
$nav-background-color-main: #1f1f1f;
$nav-list-divider-color: #314149;
$nav-item-icon-width: 50px;
$nav-animation-duration: 0.3s;
$nav-animation-duration-faster: 0.2s;
$nav-title-color: #fff;
$badge-height: 28px;
$badge-color: rgba(65, 76, 94, 0.7);
$badge-border-radius: 25px;
