<aui-page>
  <rc-page-header *auiPageHeader>
    <rc-cluster-badge
      *ngIf="globalPermission.adminViewAllowed$ | async"
      (clusterChange)="onClusterChange($event)"
      [hidden]="!shouldShowClusterBadge"
      [@scaleInOut]="shouldShowClusterBadge"
    ></rc-cluster-badge>
    <div fxFlex></div>
    <acl-platform-center-nav></acl-platform-center-nav>
    <rc-view-switch [isAdminView]="true"></rc-view-switch>
  </rc-page-header>

  <ng-container *ngIf="globalPermission.adminViewAllowed$ | async">
    <ng-container *auiPageSider>
      <aui-platform-nav
        [items]="navConfig$ | async | pure: filterFg | async"
        [hideMainPanelToggle]="true"
        [activatedKey]="activatedKey$ | async"
        (activatedItemChange)="handleActivatedItemChange($event)"
      ></aui-platform-nav>
    </ng-container>

    <ng-container *auiPageToolbar>
      <ng-container
        *cdkPortalOutlet="pageHeaderContentTemplate$ | async"
      ></ng-container>
      <rc-default-breadcrumb
        *ngIf="!(pageHeaderContentTemplate$ | async)"
      ></rc-default-breadcrumb>
    </ng-container>
  </ng-container>

  <div *auiPageContent class="layout-page-content">
    <acl-page-guard
      [allowed]="globalPermission.adminViewAllowed$ | async"
      [reason]="reason.NoPermission"
      [description]="'no_view_permissions' | translate"
    >
      <router-outlet *aclPageGuardContent></router-outlet>
    </acl-page-guard>
  </div>
</aui-page>
