@import 'var';
:host {
  display: block;
  flex: 1;
  ::ng-deep .rc-password-input {
    .aui-form-item__content {
      position: relative;
      .show-password-icon {
        cursor: pointer;
        position: relative;
        top: 0;
        right: 32px;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
.option__display-name {
  margin-left: 2px;
  color: $color-info;
}
