<form auiForm [auiFormEmptyAddon]="true" [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'name' | translate }}
    </label>
    <input
      aui-input
      auiFormItemControl
      [hidden]="isUpdate"
      formControlName="name"
      required
      [rcReadonlyField]="isUpdate"
    />
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('name').errors"
      [errorsMapper]="{
        pattern: K8S_RESOURCE_NAME_BASE.tip | translate
      }"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'description' | translate }}
    </label>
    <input aui-input auiFormItemControl formControlName="displayName" />
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'type' | translate }}
    </label>
    <aui-radio-group formControlName="type" [hidden]="isUpdate">
      <aui-radio-button
        *ngFor="let type of ['Chart', 'Git', 'SVN']"
        [value]="type"
      >
        {{ type }}
      </aui-radio-button>
    </aui-radio-group>
    <ng-container *ngIf="isUpdate">
      {{ form.get('type').value }}
    </ng-container>
  </aui-form-item>

  <!-- git/svn address -->
  <aui-form-item [hidden]="!isVcs()" required>
    <label auiFormItemLabel>
      {{ 'vcs_address' | translate }}
    </label>
    <ng-container auiFormItemControl required>
      <input
        placeholder="{{ 'http_address_format_limit' | translate }}"
        aui-input
        required
        auiFormItemControl
        [rcReadonlyField]="isUpdate"
        formControlName="vcsAddress"
      />
    </ng-container>
    <rc-errors-mapper
      *ngIf="!isUpdate"
      auiFormItemError
      [errors]="form.get('vcsAddress').errors"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item [hidden]="!isVcs()">
    <label auiFormItemLabel>
      {{ 'directory' | translate }}
    </label>
    <input
      aui-input
      auiFormItemControl
      formControlName="vcsPath"
      [rcReadonlyField]="isUpdate"
      required
    />
    <rc-errors-mapper
      *ngIf="!isUpdate"
      auiFormItemError
      [errors]="form.get('vcsPath').errors"
    ></rc-errors-mapper>
  </aui-form-item>

  <!-- chart repo address -->
  <aui-form-item [hidden]="isVcs()">
    <label auiFormItemLabel>
      {{ 'repo_address' | translate }}
    </label>
    <input
      aui-input
      auiFormItemControl
      formControlName="url"
      [rcReadonlyField]="isUpdate"
      required
    />
    <rc-errors-mapper
      *ngIf="!isUpdate"
      auiFormItemError
      [errors]="form.get('url').errors"
    ></rc-errors-mapper>
  </aui-form-item>

  <!-- project -->
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'allocation_project' | translate }}
    </label>
    <aui-select
      auiFormItemControl
      formControlName="project"
      [filterable]="true"
      [clearable]="true"
    >
      <aui-option [label]="'all_projects' | translate" [value]="ASSIGN_ALL">
        {{ 'all_projects' | translate }}
      </aui-option>
      <aui-option
        *ngFor="let item of projects$ | async"
        [label]="item.metadata.name"
        [value]="item.metadata.name"
      >
        {{ item.metadata.name }}
        <span *ngIf="item | aclDisplayName" class="option__display-name">
          ({{ item | aclDisplayName }})
        </span>
      </aui-option>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'username' | translate }}
    </label>
    <input aui-input auiFormItemControl formControlName="username" />
  </aui-form-item>
  <aui-form-item class="rc-password-input">
    <label auiFormItemLabel>
      {{ 'password' | translate }}
    </label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      aui-input
      auiFormItemControl
      formControlName="password"
    />
    <div
      auiFormItemAddon
      class="show-password-icon"
      (click)="showPassword = !showPassword"
    >
      <aui-icon *ngIf="showPassword" icon="basic:eye_s"></aui-icon>
      <aui-icon *ngIf="!showPassword" icon="basic:eye_slash_s"></aui-icon>
    </div>
  </aui-form-item>
  <input type="hidden" formControlName="secretName" />
</form>
