@import 'var';
@import 'mixins';
.rc-text-item {
  padding: 3px 0;
  line-height: 1.2;
  a {
    color: $color-primary;
  }
  .pre {
    font-family: monospace;
  }
}
.rc-text-list {
  display: inline-block;
  font-size: 12px;
  background-color: #fff;
  color: #777;
  margin: 2px 0 0 0;
  height: 16px;
  line-height: 16px;
  &__trigger {
    display: inline-block;
    min-width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    color: $color-primary;
    &:hover {
      background-color: $color-primary-extra-light;
    }
  }
  &__tooltip {
    width: 360px; // you can overwrite this in component style
    background-color: #fff;
    border: $default-border;
    padding: 12px;
    max-height: 160px;
    overflow-y: auto;
    @include scroll-bar;
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    word-break: break-all;
    line-height: 1.2;
    padding: 3px 0;
    &:before {
      content: '';
      display: block;
      flex-shrink: 0;
      background-color: $color-primary;
      margin-right: 6px;
      border-radius: 50%;
      width: 4px;
      height: 4px;
      align-self: flex-start;
      position: relative;
      top: 6px;
    }
    a {
      color: $color-primary;
    }
    .pre {
      font-family: monospace;
    }
  }
}
