@import 'mixins';
@import 'var';

:host {
  @include with-detail(detail);
  ::ng-deep .aui-table {
    &__column-name {
      flex: 1 0 100px;
      .name-row {
        cursor: pointer;
        .name {
          color: $color-primary;
        }
        .aui-icon {
          font-size: 16px;
          margin-right: 12px;
        }
      }
    }
    &__column-type {
      flex: 2 0 100px;
    }
    &__column-detail {
      .container-row {
        background-color: #fafafa;
        padding: 8px;
        margin-left: 32px;
        margin-bottom: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:last-child {
          margin-bottom: 12px;
        }
      }
    }
  }
}

.placeholder {
  @include table-placeholder;
}
