<aui-table [dataSource]="workloads$">
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <span (click)="toggleRow(item.id)" class="name-row">
        <aui-icon
          [icon]="rowExpanded[item.id] ? 'angle_down' : 'angle_right'"
        ></aui-icon>
        <span class="name">{{ item.name }}</span>
      </span>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="type">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'type' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.kind }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="detail">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell
      *auiTableCellDef="let item"
      [@expand]="rowExpanded[item.id] ? 'expanded' : null"
    >
      <div *ngFor="let container of item.containers" class="container-row">
        {{ 'container' | translate }}: {{ container.name }}
        <acl-disabled-container [isAllowed]="createPermission$ | async">
          <button
            aui-button
            size="mini"
            (click)="reloadConfig(item, container)"
          >
            {{ 'reload_configuration' | translate }}
          </button>
        </acl-disabled-container>
      </div>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>

<div
  *ngIf="(workloads$ | async) && !(workloads$ | async).length"
  class="placeholder"
>
  {{ 'no_data' | translate }}
</div>

<rc-loading-mask [loading]="!(workloads$ | async)"></rc-loading-mask>
