<aui-page>
  <rc-page-header *auiPageHeader>
    <div fxFlex></div>
    <acl-platform-center-nav></acl-platform-center-nav>
  </rc-page-header>

  <div *auiPageContent class="layout-page-content">
    <acl-page-guard
      [allowed]="false"
      [title]="'page_not_accessible' | translate"
      [description]="
        'feature_not_enabled' | translate: { feature: featureName }
      "
    >
      <ng-container *aclPageGuardOperation>
        <button aui-button="primary" [routerLink]="['/']">
          {{ 'back_to_product' | translate }}
        </button>
      </ng-container>
    </acl-page-guard>
  </div>
</aui-page>
