@import 'var';

.label-system {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 1;
}

.table-container {
  .label-system {
    left: -1.2rem;
    top: -20px;
  }
}

.aui-table__column-name {
  display: flex;
  align-items: center;

  > a,
  > span {
    margin-right: 8px;
  }
}
