@import 'mixins';
:host {
  .aui-table__column {
    &-name {
      flex: 1 1 150px;
    }
    &-referenced_pvc {
      flex: 1 0 300px;
      div {
        @include text-overflow;
      }
    }
    &-status {
      flex: 1 1 120px;
    }
    &-size {
      flex: 1 1 120px;
    }
  }
}
