<aui-inline-alert [content]="'pv_tips' | translate"></aui-inline-alert>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" (click)="create()">
        {{ 'create_pv' | translate }}
      </button>
    </acl-disabled-container>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [keyword]="search$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <aui-table [dataSource]="list.items$">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'pv_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item" fxLayoutAlign="start center">
        <a
          [routerLink]="[
            '/admin/pv/detail',
            item.metadata.name,
            { cluster: clusterName }
          ]"
        >
          {{ item.metadata.name }}
        </a>
        <rc-deleting-tag [resource]="item"></rc-deleting-tag>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-status-icon
          [status]="item | pure: getPvStatus"
          [colorMapper]="PvStatusColorMapper"
          [iconMapper]="PvStatusIconMapper"
        ></rc-status-icon>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="referenced_pvc">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'referenced_pvc' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div
          *ngIf="item.spec.claimRef"
          [auiTooltip]="
            item.spec.claimRef.namespace + '/' + item.spec.claimRef.name
          "
          auiTooltipType="info"
        >
          {{ item.spec.claimRef.namespace }}/{{ item.spec.claimRef.name }}
        </div>
        <ng-container *ngIf="!item.spec.claimRef">-</ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="size">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'size' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.spec.capacity.storage }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          size="small"
          [square]="true"
          [plain]="true"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ item: item }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-item="item">
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <aui-menu-item (click)="update(item.metadata.name)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container
      [isAllowed]="(permissions$ | async).delete"
      [isDisabled]="item.status.phase === 'Bound'"
      tooltip="{{ 'not_delete_bound_pv' | translate }}"
    >
      <aui-menu-item (click)="deletePv(item)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
