<aui-card [divider]="false">
  <div auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <aui-dropdown-button
        [plain]="false"
        size="medium"
        (buttonClick)="create()"
        type="primary"
      >
        {{ 'create_app' | translate }}

        <aui-menu size="small">
          <acl-disabled-container [isAllowed]="(permissions$ | async).create">
            <aui-menu-item (click)="createFromYaml()">
              {{ 'create_from_yaml' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-dropdown-button>
    </acl-disabled-container>
    <div fxFlex></div>
    <div fxLayout>
      <aui-search
        [searchButton]="true"
        [keyword]="searchKey$ | async"
        [searching]="list.loading$ | async"
        [disabled]="list.loading$ | async"
        placeholder="{{ 'search_by_name_placeholder' | translate }}"
        (search)="searchByName($event)"
      ></aui-search>
      <button
        aui-button
        [square]="true"
        [loading]="list.loading$ | async"
        [disabled]="list.loading$ | async"
        (click)="list.reload()"
      >
        <aui-icon icon="basic:refresh"></aui-icon>
      </button>
    </div>
  </div>

  <aui-table [dataSource]="list.items$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div fxLayout="row" fxLayoutAlign="start center">
          <a
            [routerLink]="[
              '/workspace',
              baseParams,
              'app',
              'detail',
              item.metadata.name
            ]"
          >
            {{ item.metadata.name }}
          </a>
          <aui-icon
            *ngIf="item | pure: isFederated"
            class="icon--federation"
            icon="basic:federation_cluster"
            margin="left"
            [auiTooltip]="'federated_resource' | translate"
          ></aui-icon>
          <rc-deleting-tag [resource]="item"></rc-deleting-tag>
        </div>
        <div
          class="aui-table__cell__display-name"
          *ngIf="item | aclDisplayName"
        >
          {{ item | aclDisplayName | aclFieldNotAvailable }}
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-app-status [application]="item"></rc-app-status>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ item: item }"
          [disabled]="item | pure: isFederated"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-item="item">
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <aui-menu-item (click)="update(item)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
      <aui-menu-item (click)="deleteApp(item)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
