<aui-card [divider]="false">
  <div auiCardHeader fxLayout>
    <div fxFlexAlign="center">
      {{ 'other_resources' | translate }} ({{
        resources ? resources.length + ('ge' | translate) : ''
      }})
    </div>
    <div fxFlex></div>
    <aui-search
      [searchButton]="false"
      placeholder="{{ 'filter_by_name_placeholder' | translate }}"
      (keywordChange)="onSearchKeyChange($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="filteredResources$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-subresource-link
          [resource]="item"
          [baseParams]="baseParams"
        ></rc-subresource-link>
        <rc-gray-release-tag [resource]="item"></rc-gray-release-tag>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.kind }}
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="['name', 'type']"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: ['name', 'type']"
    ></aui-table-row>
  </aui-table>
  <ng-container *ngIf="!(filteredResources$ | async)?.length">
    <div class="loading-placeholder text-help">{{ 'no_data' | translate }}</div>
  </ng-container>
</aui-card>
