<aui-dialog-header>
  {{ 'add_override' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #ngForm="ngForm" auiForm>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'resource_type' | translate }}
      </label>
      <aui-select
        auiFormItemControl
        name="resourceKind"
        [(ngModel)]="resourceKind"
        (ngModelChange)="resourceKindChanged($event)"
        required
      >
        <aui-option
          *ngFor="let kind of resourceKinds"
          [value]="kind"
          [label]="
            (kind === 'FederatedApplication'
              ? 'application'
              : kind.toLowerCase()
            ) | translate
          "
        >
          {{
            (kind === 'FederatedApplication'
              ? 'application'
              : kind.toLowerCase()
            ) | translate
          }}
        </aui-option>
      </aui-select>
    </aui-form-item>

    <aui-form-item *ngIf="resourceKind !== 'FederatedApplication'">
      <label auiFormItemLabel>{{ 'resource' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="resource"
        [(ngModel)]="component"
        (ngModelChange)="componentChange($event)"
        required
        rcErrorsMapper
        [rcErrorsMapperOutlet]="resourceErr"
      >
        <aui-option
          *ngFor="
            let component of components | pure: filterComponents:resourceKind
          "
          [value]="component"
          [label]="component.resource.metadata.name"
        >
          {{ component.resource.metadata.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_resources' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <div #resourceErr auiFormItemError></div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'override' | translate }}</label>
      <rc-fa-overrides-form
        name="overrides"
        #overridesControl="ngModel"
        [clusters]="clusters$ | async"
        [resourceKind]="resourceKind"
        [disabled]="resourceKind !== 'FederatedApplication' && !component"
        [(ngModel)]="overrides"
        duplicated
      ></rc-fa-overrides-form>
      <div auiFormItemError *ngIf="overridesControl.errors?.duplicated">
        {{ 'cluster_and_param_are_duplicated' | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
</aui-dialog-footer>
