<div class="chart-container">
  <div class="chart-title">{{ chartTitle | translate }}</div>
  <div class="chart">
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
    ></highcharts-chart>
  </div>
</div>
