<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-tab-group type="line" [lazy]="true">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <aui-card>
            <div auiCardHeader>
              {{ resource.metadata.name }}
              <div fxFlex></div>
              <button aui-button="default" [plain]="true" [auiDropdown]="menu">
                {{ 'action' | translate }}
                <aui-icon icon="angle_down" margin="left"></aui-icon>
              </button>
              <aui-menu #menu size="small">
                <acl-disabled-container [isAllowed]="permissions.update">
                  <aui-menu-item (click)="update(resource)">
                    {{ 'update' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
                <acl-disabled-container [isAllowed]="permissions.delete">
                  <aui-menu-item (click)="delete(resource)">
                    {{ 'delete' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
              </aui-menu>
            </div>
            <rc-field-set-group auiCardContent>
              <rc-field-set-item>
                <label>{{ 'created_time' | translate }}</label>
                {{ resource.metadata.creationTimestamp | rcFormatUtcStr }}
              </rc-field-set-item>
              <rc-field-set-item
                *ngIf="resource | pure: getBelongingApp as app"
              >
                <label>{{ 'belonging_app' | translate }}</label>
                <div>
                  <a
                    [routerLink]="[
                      '/workspace',
                      baseParams,
                      'app',
                      'detail',
                      app
                    ]"
                  >
                    {{ app }}
                  </a>
                </div>
              </rc-field-set-item>
            </rc-field-set-group>
          </aui-card>

          <aui-card [divider]="false">
            <div auiCardHeader>{{ 'rule' | translate }}</div>
            <rc-ingress-rules-display
              [baseParams]="baseParams"
              [limit]="null"
              [ingress]="resource"
            ></rc-ingress-rules-display>
          </aui-card>

          <aui-card [divider]="false">
            <div auiCardHeader>
              {{ 'ingress_tls' | translate }}
            </div>
            <rc-ingress-detail-tls
              [data]="resource.spec?.tls"
            ></rc-ingress-detail-tls>
          </aui-card>
        </ng-container>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="resource"
        ></rc-resource-yaml-display>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
