<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <aui-dropdown-button
        type="primary"
        [plain]="false"
        (buttonClick)="create()"
      >
        {{ 'create_cron_job' | translate }}
        <aui-menu>
          <acl-disabled-container [isAllowed]="(permissions$ | async).create">
            <aui-menu-item (click)="createFromYaml()">
              {{ 'create_from_yaml' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-dropdown-button>
    </acl-disabled-container>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [keyword]="searchKey$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      style="margin-left: 8px;"
      aui-button
      square="true"
      (click)="onUpdate()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <div auiCardContent>
    <aui-table [dataSource]="list.items$">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <div fxLayout="row">
            <a
              [routerLink]="[
                '/workspace',
                baseParams,
                'cron_job',
                'detail',
                rowData.metadata.name
              ]"
            >
              {{ rowData.metadata.name }}
            </a>
            <rc-deleting-tag [resource]="rowData"></rc-deleting-tag>
          </div>
          <div
            class="aui-table__cell__display-name"
            *ngIf="rowData | aclDisplayName"
          >
            {{ rowData | pure: getDisplayName }}
          </div>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="execute_type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'execute_type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          {{
            rowData.spec.suspend
              ? ('manual' | translate)
              : ('cron' | translate) + ': ' + rowData.spec.schedule
          }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="next_trig_time">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'next_trig_time' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          {{
            rowData.spec.suspend ? '-' : (rowData.spec.schedule | rcCrontabNext)
          }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="last_schedule_time">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'last_schedule_time' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          {{ rowData.status?.lastScheduleTime | aclRelativeTime }}
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="created_time">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'created_time' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <rc-relative-time
            [time]="rowData.metadata.creationTimestamp"
          ></rc-relative-time>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <button
            aui-button="text"
            size="small"
            [square]="true"
            [plain]="true"
            [auiDropdown]="menu"
            [auiDropdownContext]="{ rowData: rowData }"
          >
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </button>
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
    <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
  </div>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-rowData="rowData">
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <aui-menu-item (click)="update(rowData)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <aui-menu-item (click)="executeNow(rowData)">
        {{ 'execute_now' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
      <aui-menu-item (click)="delete(rowData)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
