@import 'var';
aui-platform-nav {
  flex-grow: 1;
  overflow: hidden;
}

acl-namespace-select ::ng-deep .acl-namespace-select {
  background-color: $nav-menu-bg-color-main;
}

.layout-sidebar {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
:host {
  ::ng-deep {
    .aui-nav-menu {
      height: calc(100% - 44px);
    }
  }
}
