<aui-page>
  <rc-page-header *auiPageHeader>
    <ng-container *ngIf="globalPermission.userViewAllowed$ | async">
      <a
        [routerLink]="['/home']"
        [queryParams]="{
          project: baseParamsSnapshot.project,
          cluster: baseParamsSnapshot.cluster
        }"
        class="project-icon"
        [attr.title]="'project_icon_hint' | translate"
      >
        <aui-icon icon="basic:project_s"></aui-icon>
      </a>
      <acl-project-select
        [selected]="currentProjectName$ | async"
        (selectedChange)="projectSelected($event)"
      ></acl-project-select>
    </ng-container>
    <div fxFlex></div>
    <acl-platform-center-nav></acl-platform-center-nav>
    <rc-view-switch [isAdminView]="false"></rc-view-switch>
  </rc-page-header>

  <ng-container *ngIf="globalPermission.userViewAllowed$ | async">
    <div *auiPageSider class="layout-sidebar">
      <acl-namespace-select
        [selected]="currentNamespace$ | async"
        [projectName]="currentProjectName$ | async"
        (selectedChange)="namespaceSelected($event)"
      ></acl-namespace-select>

      <aui-platform-nav
        [items]="navConfig$ | async | pure: filterFg | async"
        [hideMainPanelToggle]="true"
        [activatedKey]="activatedKey$ | async"
        (activatedItemChange)="handleActivatedItemChange($event)"
      ></aui-platform-nav>
    </div>

    <div *auiPageToolbar class="layout-page-header">
      <ng-container
        *cdkPortalOutlet="pageHeaderContentTemplate$ | async"
      ></ng-container>
      <rc-default-breadcrumb
        *ngIf="!(pageHeaderContentTemplate$ | async)"
      ></rc-default-breadcrumb>
    </div>
  </ng-container>

  <div *auiPageContent class="layout-page-content">
    <acl-page-guard
      [allowed]="globalPermission.userViewAllowed$ | async"
      [reason]="reason.NoPermission"
      [description]="'no_view_permissions' | translate"
    >
      <router-outlet *aclPageGuardContent></router-outlet>
    </acl-page-guard>
  </div>
</aui-page>
