::ng-deep .aui-tooltip.aui-tooltip--alarm_rule_list {
  max-width: 800px !important;
  max-height: 400px;
  overflow: scroll;
}

:host {
  .ratio-container {
    display: flex;
  }
  .alarm-status-bar {
    flex: 1;
  }
}

.alarm-table-rules {
  border-collapse: collapse;
  td {
    &:first-child {
      min-width: 200px;
    }
    &:nth-of-type(2),
    &:nth-of-type(3) {
      min-width: 100px;
    }
    &:last-child {
      min-width: 100px;
    }

    padding: 6px 8px;
  }
  &__body {
    font-size: 14px;
    color: #333;
    tr:not(:last-child) {
      border-bottom: 1px dashed #e8e8e8;
    }
    .alarm-rule {
      word-break: break-word;
    }
  }
}
