<div class="ratio-container">
  <aui-status-bar
    class="alarm-status-bar"
    [status]="alarmStatus"
    [auiTooltip]="ruleDetail"
    auiTooltipType="info"
    [auiTooltipContext]="{ rules: rules }"
    auiTooltipClass="aui-tooltip--alarm_rule_list"
    size="small"
  ></aui-status-bar>
  <ng-template #ruleDetail let-rules="rules">
    <div class="alarm-table">
      <table class="alarm-table-rules">
        <thead class="alarm-table-rules__header">
          <tr>
            <td>{{ 'rule' | translate }}</td>
            <td>{{ 'alarm_type' | translate }}</td>
            <td>{{ 'level' | translate }}</td>
            <td>{{ 'status' | translate }}</td>
          </tr>
        </thead>
        <tbody class="alarm-table-rules__body">
          <tr *ngFor="let rule of rules">
            <td class="alarm-table-rules__body__host">
              <span *ngIf="metricType" class="alarm-rule">
                {{ getPrometheusRule(rule, metricType) }}
              </span>
            </td>
            <td>
              {{
                rule.labels?.alert_indicator
                  | pure: getAlarmTypeTitle
                  | translate
              }}
            </td>
            <td>
              <span>
                {{ rule.labels?.severity | aclFieldNotAvailable }}
              </span>
            </td>
            <td>
              <div>
                <rc-status-badge
                  [status]="getAlarmStatus(rule)"
                ></rc-status-badge>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
