<acl-page-guard
  [allowed]="tracerSupport$ | async"
  [reason]="Reason.NoPermission"
>
  <ng-template aclPageGuardContent>
    <aui-inline-alert [content]="'trace_tips' | translate"></aui-inline-alert>
    <aui-card [divider]="false">
      <div auiCardHeader>
        <button aui-button="primary" (click)="create()">
          {{ 'create_trace_job' | translate }}
        </button>
        <span fxFlex></span>
        <aui-search
          [searchButton]="true"
          [keyword]="search$ | async"
          placeholder="{{ 'filter_by_name_placeholder' | translate }}"
          (search)="onSearch($event)"
        ></aui-search>
        <button
          aui-button
          [square]="true"
          [loading]="list.loading$ | async"
          [disabled]="list.loading$ | async"
          (click)="list.reload()"
        >
          <aui-icon icon="basic:refresh"></aui-icon>
        </button>
      </div>

      <aui-table [dataSource]="list.items$ | async">
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            <a
              [routerLink]="[
                '/admin/trace/detail',
                rowData.metadata.name,
                { cluster: clusterName }
              ]"
            >
              {{ rowData.metadata.name }}
            </a>
            <aui-tag
              type="success"
              *ngIf="rowData | pure: isBuiltIn"
              size="mini"
            >
              {{ 'built_in' | translate }}
            </aui-tag>
            <rc-deleting-tag [resource]="rowData"></rc-deleting-tag>
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="execute_type">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'execute_type' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            {{
              !rowData.spec.schedule
                ? ('manual' | translate)
                : ('cron' | translate) + ': ' + rowData.spec.schedule
            }}
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="next_trig_time">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'next_trig_time' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            <span
              [auiTooltip]="
                rowData.spec.schedule | rcCrontabNext | aclFieldNotAvailable
              "
              [auiTooltipDisabled]="!rowData.spec.schedule"
              auiTooltipType="info"
            >
              {{
                !rowData.spec.schedule
                  ? '-'
                  : (rowData.spec.schedule | rcCrontabNext)
              }}
            </span>
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="last_schedule_time">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'last_schedule_time' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            <rc-relative-time
              [time]="rowData.status?.lastScheduleTime"
            ></rc-relative-time>
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="last_schedule_status">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'last_schedule_status' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            <rc-trace-job-status
              [status]="rowData.status?.lastExecuteResult"
              [reason]="rowData.status?.lastExecuteReason"
            ></rc-trace-job-status>
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="created_time">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'created_time' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            {{ rowData | aclCreationTimestamp | aclStandardDate }}
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="action">
          <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            <button
              aui-button="text"
              size="small"
              [square]="true"
              [plain]="true"
              [auiDropdown]="menu"
              [auiDropdownContext]="{ rowData: rowData }"
            >
              <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
            </button>
          </aui-table-cell>
        </ng-container>

        <aui-table-header-row
          *auiTableHeaderRowDef="TRACER_COLUMNS_DEFINITION"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: TRACER_COLUMNS_DEFINITION"
        ></aui-table-row>
      </aui-table>
      <acl-k8s-resource-list-footer
        [list]="list"
      ></acl-k8s-resource-list-footer>
    </aui-card>

    <aui-menu #menu>
      <ng-template auiMenuContent let-rowData="rowData">
        <aui-menu-item
          (click)="update(rowData)"
          *ngIf="!(rowData | pure: isBuiltIn)"
        >
          {{ 'update' | translate }}
        </aui-menu-item>
        <aui-menu-item
          (click)="executeNow(rowData)"
          [disabled]="!(rowData | pure: canExecute)"
        >
          {{ 'execute_now' | translate }}
        </aui-menu-item>
        <aui-menu-item
          (click)="deleteTraceJob(rowData)"
          *ngIf="!(rowData | pure: isBuiltIn)"
        >
          {{ 'delete' | translate }}
        </aui-menu-item>
      </ng-template>
    </aui-menu>
  </ng-template>
</acl-page-guard>
