@import 'var';
.create-type {
  &__item {
    padding: 16px;
    box-shadow: 0 0 3px 0 rgba($color-text-secondary, 0.3);
  }

  &__title {
    font-size: 16px;
  }
  &__info {
    color: $color-text-help;
    font-size: 14px;
    margin-top: 6px;
    rc-status-icon {
      font-size: 16px;
      margin-left: 8px;
      margin-right: 4px;
    }
    .provisioner {
      width: 180px;
      margin-right: 20px;
    }
    .status {
      line-height: 16px;
    }
  }

  &__img {
    width: 36px;
    margin-right: 16px;
  }
}
aui-dialog-header {
  aui-icon {
    font-size: 16px;
  }
}
