<aui-dialog-header>
  {{ 'select_create_type' | translate }}
  <aui-icon
    [auiTooltip]="'storageclass_create_type_hint' | translate"
    [style.padding-left]="'8px'"
    icon="basic:question"
    color="#999"
  ></aui-icon>
</aui-dialog-header>

<aui-dialog-content>
  <div fxLayout="column" fxLayoutGap="10px">
    <div
      *ngFor="let item of CREATE_TYPE_ITEMS"
      class="create-type__item"
      fxLayout
      fxLayoutAlign="start center"
    >
      <ng-container
        [ngTemplateOutlet]="content"
        [ngTemplateOutletContext]="{
          $implicit: item.type | pure: getProvisionerStatus | async
        }"
      ></ng-container>
      <ng-template #content let-status>
        <img [src]="item.type | pure: getImage" class="create-type__img" />
        <div fxLayout="column">
          <div class="create-type__title">{{ item.title }}</div>
          <div class="create-type__info" *ngIf="item.provisioner" fxLayout>
            <span class="provisioner">
              {{ 'provisioner' | translate }} : {{ item.provisioner }}
            </span>
            <span fxLayout fxLayoutAlign="start center" class="status">
              {{ 'status' | translate }} :
              <rc-status-icon
                [withText]="false"
                [status]="status"
                [iconMapper]="ProvisionerStatusIconMapper"
                [colorMapper]="ProvisionerStatusColorMapper"
              ></rc-status-icon>
              {{ status | translate }}
              <button
                *ngIf="status === ProvisionerStatus.UN_DEPLOYED"
                aui-button="text"
                size="mini"
                [style.margin-left]="'8px'"
                (click)="deploy(item.type)"
              >
                {{ 'deploy' | translate }} >
              </button>
            </span>
          </div>
        </div>
        <button
          aui-button="primary"
          [plain]="true"
          style="margin-left: auto;"
          (click)="selectType(item.type)"
          [disabled]="
            status !== ProvisionerStatus.DEPLOY_SUCCEEDED && item.provisioner
          "
        >
          {{ 'select' | translate }}
        </button>
      </ng-template>
    </div>
  </div>
</aui-dialog-content>
