<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:;" [routerLink]="['/workspace', baseParams, 'app']">
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a
        href="javascript:;"
        [routerLink]="['/workspace', baseParams, 'app', 'detail', appName]"
      >
        {{ appName }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'update_app' | translate }}({{ 'preview' | translate }})
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-app-create-preview-form
  [isUpdate]="true"
  [baseParams]="baseParams"
  (onAddComponent)="onAddComponent($event)"
  (onUpdateComponent)="onUpdateComponent($event)"
  (onSubmit)="onCreate($event)"
  (onCancel)="onCancel()"
></rc-app-create-preview-form>
