<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="back()"
>
  <ng-template
    let-resource="resource"
    let-permissions="permissions"
    let-addresses="addresses"
  >
    <aui-tab-group
      [selectedIndex]="selectedTabIndex$ | async"
      (selectedIndexChange)="onTabIndexChange($event)"
    >
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <rc-app-detail-main
          [resources]="resource | pure: getResources"
          [application]="resource | pure: getApplication"
          [baseParams]="baseParams"
          [permissions]="permissions"
          [isFederated]="resource | pure: getApplication | pure: isFederated"
        ></rc-app-detail-main>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="resource"
        ></rc-resource-yaml-display>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'k8s_pod' | translate }}
        </ng-container>
        <rc-pod-list
          *auiTabContent
          [baseParams]="baseParams"
          [matchLabels]="resource | pure: getPodSelector"
          (onViewLog)="viewLog($event)"
        ></rc-pod-list>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'app_topology' | translate }}
        </ng-container>
        <rc-app-topology
          *auiTabContent
          [cluster]="baseParams.cluster"
          [app]="resource"
        ></rc-app-topology>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'application_history' | translate }}
        </ng-container>
        <rc-application-history
          *auiTabContent
          [cluster]="baseParams.cluster"
          [application]="resource | pure: getApplication"
          [canUpdateApp]="permissions.update"
          [isFederated]="resource | pure: getApplication | pure: isFederated"
        ></rc-application-history>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'logs' | translate }}
        </ng-container>
        <rc-pods-log
          *auiTabContent
          [baseParams]="baseParams"
          [matchLabels]="resource | pure: getPodSelector"
          [initialState]="logInitialState$ | async"
        ></rc-pods-log>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'event' | translate }}
        </ng-container>
        <rc-application-event
          *auiTabContent
          [appData]="resource"
          [cluster]="baseParams.cluster"
          [namespace]="baseParams.namespace"
        ></rc-application-event>
      </aui-tab>

      <aui-tab *ngIf="showMetricTab$ | async">
        <ng-container *auiTabLabel>
          {{ 'monitoring' | translate }}
        </ng-container>
        <rc-application-monitor
          *auiTabContent
          [resources]="resource | pure: getResources"
          [cluster]="baseParams.cluster"
          [namespace]="baseParams.namespace"
        ></rc-application-monitor>
      </aui-tab>

      <aui-tab *ngIf="showMetricTab$ | async">
        <ng-container *auiTabLabel>
          {{ 'alarm' | translate }}
        </ng-container>
        <rc-alarm-list
          *auiTabContent
          [listParam]="{
            workload_kind: 'application',
            workload_name: resource | pure: getApplicationName,
            app_name: resource | pure: getApplicationName
          }"
        ></rc-alarm-list>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
