<ng-container *ngIf="value$ | async | pure: toFormModel as model">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'address' | translate }}
    </label>
    <input
      aui-input
      required
      auiFormItemControl
      name="address"
      #address="ngModel"
      [ngModel]="model['address']"
      (ngModelChange)="emitPropertyValueChange(model, 'address', $event)"
    />
    <rc-errors-mapper
      auiFormItemError
      [errors]="address.errors"
    ></rc-errors-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'username' | translate }}</label>
    <input
      aui-input
      required
      auiFormItemControl
      name="username"
      #userName="ngModel"
      [ngModel]="model['username']"
      (ngModelChange)="emitPropertyValueChange(model, 'username', $event)"
    />
    <rc-errors-mapper
      auiFormItemError
      [errors]="userName.errors"
    ></rc-errors-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'password' | translate }}</label>
    <aui-input-group auiFormItemControl required>
      <input
        aui-input
        required
        name="password"
        #password="ngModel"
        [type]="showPassword ? 'text' : 'password'"
        [ngModel]="model['password']"
        (ngModelChange)="emitPropertyValueChange(model, 'password', $event)"
      />
      <div
        auiInputSuffix
        class="password__suffix"
        (click)="toggleShowPassword()"
      >
        <aui-icon
          [icon]="showPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"
        ></aui-icon>
      </div>
    </aui-input-group>
    <rc-errors-mapper
      auiFormItemError
      [errors]="password.errors"
    ></rc-errors-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'email' | translate }}</label>
    <input
      aui-input
      required
      auiFormItemControl
      name="email"
      [ngModel]="model['email']"
      (ngModelChange)="emitPropertyValueChange(model, 'email', $event)"
      #email="ngModel"
    />
    <rc-errors-mapper
      auiFormItemError
      [errors]="email.errors"
    ></rc-errors-mapper>
  </aui-form-item>
</ng-container>
