<aui-card [divider]="false">
  <div auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" (click)="create()">
        {{ 'create_domain' | translate }}
      </button>
    </acl-disabled-container>
    <span fxFlex></span>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <aui-table [dataSource]="list.items$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'domain' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>{{ rowData.spec.name }}</span>
        <rc-deleting-tag [resource]="rowData"></rc-deleting-tag>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="kind">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>
          {{
            (rowData.spec.kind === 'full' ? 'full_domain' : 'extensive_domain')
              | translate
          }}
        </span>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="cluster">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'allocation_cluster' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span
          *ngIf="
            rowData | aclLabel: 'name':'cluster' as cluster;
            else notAssigned
          "
        >
          {{
            cluster === assignAll
              ? ('all_clusters' | translate)
              : getDisplayName(cluster, clusters)
          }}
        </span>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="project">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'allocation_project' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span
          *ngIf="
            rowData | aclLabel: 'name':'project' as project;
            else notAssigned
          "
          [title]="
            project === assignAll ? ('all_projects' | translate) : project
          "
        >
          {{
            project === assignAll
              ? ('all_projects' | translate)
              : getDisplayName(project, projects)
          }}
        </span>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ rowData: rowData }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="[
        'name',
        'kind',
        'cluster',
        'project',
        'created_time',
        'action'
      ]"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="
        let row;
        columns: [
          'name',
          'kind',
          'cluster',
          'project',
          'created_time',
          'action'
        ]
      "
    ></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu>
  <ng-template auiMenuContent let-rowData="rowData">
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <aui-menu-item (click)="update(rowData)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
      <aui-menu-item (click)="delete(rowData)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>

<ng-template #notAssigned>
  <span>{{ 'not_assigned' | translate }}</span>
</ng-template>
