@import 'var';

.aui-table__column {
  &-name {
    display: flex;
    flex: 2;

    aui-icon {
      margin-left: 8px;
      color: $color-warning;
    }
  }

  &-type {
    flex: 1;
  }

  &-address {
    flex: 1;
  }
}
