<aui-inline-alert
  [closable]="true"
  [content]="'load_balancer_list_description' | translate"
></aui-inline-alert>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <div *ngIf="isAdmin && (permissions$ | async).create">
      <button aui-button="primary" (click)="create()">
        {{ 'create_load_balancer' | translate }}
      </button>
    </div>
    <span fxFlex></span>
    <aui-search
      [searchButton]="true"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      [keyword]="(params$ | async)?.keyword"
      (search)="onSearch($event)"
    ></aui-search>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>
  <aui-table [dataSource]="list.items$" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a
          title="{{ rowData | aclName }}"
          [routerLink]="
            isAdmin
              ? [
                  '../detail',
                  rowData | aclName,
                  {
                    cluster: baseParams.cluster,
                    namespace: rowData.metadata.namespace
                  }
                ]
              : ['../detail', rowData | aclName]
          "
        >
          {{ (rowData | aclDisplayName) || (rowData | aclName) }}
        </a>
        <aui-icon
          *ngIf="rowData.status?.state === 'warning'"
          icon="exclamation_triangle_s"
          [auiTooltip]="'port_conflict' | translate"
        ></aui-icon>
        <rc-deleting-tag [resource]="rowData"></rc-deleting-tag>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="address">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'address' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.spec.address }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="project">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'project' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container
          *ngIf="
            (rowData | aclLabel: 'name':'project') ||
            ('not_assigned' | translate) as projectName
          "
        >
          {{ projectName === ALL ? ('all_projects' | translate) : projectName }}
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <button
          aui-button="text"
          size="small"
          [square]="true"
          [plain]="true"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ rowData: rowData }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-rowData="rowData">
    <aui-menu-item
      *ngIf="(permissions$ | async).update"
      (click)="updateProject(rowData)"
    >
      {{ 'update_project' | translate }}
    </aui-menu-item>
    <aui-menu-item
      *ngIf="(permissions$ | async).delete"
      (click)="deleteLoadBalancer(rowData)"
    >
      {{ 'delete' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
