<aui-inline-alert
  [content]="'userview_pvc_tips' | translate"
></aui-inline-alert>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" (click)="createPvc()">
        {{ 'create_pvc' | translate }}
      </button>
    </acl-disabled-container>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [keyword]="searchKey$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <aui-table [dataSource]="list.items$">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'pvc_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item" fxLayoutAlign="start center">
        <a
          [routerLink]="[
            '/workspace',
            baseParams,
            'pvc',
            'detail',
            item.metadata.name
          ]"
        >
          {{ item.metadata.name }}
        </a>
        <rc-deleting-tag [resource]="item"></rc-deleting-tag>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-status-icon
          [status]="item | pure: getPvcStatus"
          [colorMapper]="PvcStatusColorMapper"
          [iconMapper]="PvcStatusIconMapper"
        ></rc-status-icon>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="connect_pv">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'connect_pv' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span
          [auiTooltip]="item.spec.volumeName"
          [auiTooltipDisabled]="!item.spec.volumeName"
          auiTooltipType="info"
        >
          {{ item.spec.volumeName | aclFieldNotAvailable }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="size">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'size' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.spec.resources.requests.storage }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <button
          aui-button="text"
          size="small"
          [square]="true"
          [plain]="true"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ rowData: rowData }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-rowData="rowData">
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <aui-menu-item (click)="updatePvc(rowData)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
