.pod-name {
  font-size: 14px;
  line-height: 20px;
}

.container-list {
  list-style: none;

  .container-item {
    padding: 12px;
    background-color: #fafafa;

    button {
      margin-left: 8px;
    }

    + .container-item {
      margin-top: 16px;
    }
  }
}

:host ::ng-deep {
  .aui-dialog__header {
    align-items: flex-start;
  }
}
