<aui-dialog-header>
  <div>
    {{ 'blue_green' | translate }}
  </div>
  <div class="pod-name">
    {{ 'pod_name' | translate }}
    {{ pod.metadata.name }}
  </div>
</aui-dialog-header>
<aui-dialog-content>
  <ul class="container-list">
    <li *ngFor="let item of containers" class="container-item">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'container_name' | translate }}</label>
        <span auiFormItemControl>{{ item.name }}</span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'image_address' | translate }}</label>
        <ng-container auiFormItemControl>
          <input aui-input readonly [value]="item.image" />
          <button aui-button (click)="selectImage(item)">
            {{ 'select_image' | translate }}
          </button>
        </ng-container>
      </aui-form-item>
    </li>
  </ul>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="loading"
    [loading]="loading"
    (click)="update()"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button auiDialogClose [disabled]="loading">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
