<aui-card *ngIf="data">
  <div auiCardHeader>
    {{ data.metadata.name }}
    <div fxFlex></div>
    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
        <aui-menu-item (click)="onDelete.next()">
          {{ 'delete' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
    </aui-menu>
  </div>
  <div auiCardContent>
    <rc-field-set-group>
      <rc-field-set-item>
        <label>{{ 'job_status' | translate }}</label>
        <ng-container
          *ngTemplateOutlet="
            job_status;
            context: {
              status: data | pure: getJobStatus
            }
          "
        ></ng-container>
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'created_time' | translate }}</label>
        {{ data.metadata.creationTimestamp | rcFormatUtcStr }}
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'job_assignment' | translate }}</label>
        <span>
          {{ 'executing' | translate }}
          {{ data.status.active | aclFieldNotAvailable }} /
        </span>
        <span>
          {{ 'success' | translate }}
          {{ data.status.succeeded | aclFieldNotAvailable }} /
        </span>
        <span>
          {{ 'failed' | translate }}
          {{ data.status.failed | aclFieldNotAvailable }}
        </span>
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'references_cron_job' | translate }}</label>
        <ng-container
          *ngTemplateOutlet="
            references_cron_job;
            context: {
              data: getOwnerCronJob()
            }
          "
        ></ng-container>
      </rc-field-set-item>
    </rc-field-set-group>
    <rc-job-config [jobSpec]="data.spec" [showJobType]="false"></rc-job-config>
  </div>
</aui-card>
<rc-pod-controller-containers
  [baseParams]="baseParams"
  [podController]="data"
  [actions]="['log']"
  (onOpenLog)="onOpenLogHandler($event)"
></rc-pod-controller-containers>

<ng-template #job_status let-status="status">
  <rc-status-icon
    [status]="status"
    [colorMapper]="JobStatusColorMapper"
    [iconMapper]="JobStatusIconMapper"
  ></rc-status-icon>
</ng-template>

<ng-template #references_cron_job let-data="data">
  <span *ngIf="!data.link">{{ data.name }}</span>
  <a
    *ngIf="data.link"
    href="javascript:;"
    (click)="onOpenCronJobDetail.next(data.name)"
  >
    {{ data.name }}
  </a>
</ng-template>
