<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'workload_type' | translate }}
    </label>
    <aui-select formControlName="kind" auiFormItemControl>
      <aui-option
        *ngFor="let workloadType of workloadTypes"
        [label]="workloadType.toLowerCase() | translate"
        [value]="workloadType"
      >
        {{ workloadType.toLowerCase() | translate }}
      </aui-option>
    </aui-select>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'workload_name' | translate }}
    </label>
    <aui-select
      formControlName="name"
      auiFormItemControl
      required
      [filterable]="true"
      [loading]="workloadsLoading"
    >
      <aui-option
        *ngFor="let workloadName of workloadNames$ | async"
        [value]="workloadName"
      >
        {{ workloadName }}
      </aui-option>
      <aui-option-placeholder>
        <rc-zero-state
          [zeroState]="true"
          [fetching]="workloadsLoading"
          resourceName="workload_name"
        ></rc-zero-state>
      </aui-option-placeholder>
    </aui-select>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('name').errors"
    ></rc-errors-mapper>
  </aui-form-item>
</ng-container>
