<rc-array-form-table
  (add)="add(form.length)"
  (remove)="form.length > 1 && remove($event)"
  [rows]="form.controls"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  [formGroup]="form"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="25%">{{ 'protocol' | translate }}</th>
    <th width="25%">
      <span class="required-mark">*</span>
      {{ 'service_port' | translate }}
    </th>
    <th width="25%">{{ 'container_port' | translate }}</th>
    <th width="25%">{{ 'port_name' | translate }}</th>
  </ng-container>

  <ng-container
    *rcArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td>
      <aui-select formControlName="_protocol">
        <aui-option
          *ngFor="let protocol of servicePortProtocols"
          [value]="protocol"
        >
          {{ protocol }}
        </aui-option>
      </aui-select>
    </td>
    <td>
      <input
        aui-input
        type="number"
        formControlName="port"
        required
        [placeholder]="'service_port' | translate"
      />
    </td>
    <td>
      <input
        aui-input
        formControlName="targetPort"
        [placeholder]="'container_port' | translate"
      />
    </td>
    <td>
      <input aui-input disabled [value]="control.value.name" />
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td
      class="rc-table-form-error-hint"
      colspan="5"
      *ngIf="control.dirty || $any(controlContainer?.formDirective)?.submitted"
    >
      <rc-errors-mapper
        [errors]="control.get('port').errors"
        [controlName]="'service_port' | translate"
      ></rc-errors-mapper>
      <rc-errors-mapper
        [controlName]="'container_port' | translate"
        [errors]="control.get('targetPort').errors"
      ></rc-errors-mapper>
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRowControl="let item; let index = index">
    <button
      aui-button="text"
      size="mini"
      type="button"
      [square]="true"
      [plain]="true"
      (click)="remove(index)"
      [disabled]="form.controls.length === 1"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>
</rc-array-form-table>
