<rc-key-value-form-table #keyValueForm [formControl]="form">
  <ng-container *rcArrayFormTableFooter>
    <button
      aui-button="primary"
      type="button"
      size="mini"
      [plain]="true"
      (click)="importFromWorkloads(importWorkloads)"
    >
      <aui-icon icon="import"></aui-icon>
      {{ 'import_from_workloads' | translate }}
    </button>
    <button
      aui-button
      type="button"
      size="mini"
      [plain]="true"
      (click)="keyValueForm.add()"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add' | translate }}
    </button>
  </ng-container>
</rc-key-value-form-table>

<ng-template #importWorkloads>
  <ng-container *ngIf="workloads$ | async as workloads">
    <aui-dialog-header>
      {{ 'choose_target_workloads' | translate }}
    </aui-dialog-header>
    <aui-dialog-content>
      <form
        auiForm
        #ngForm="ngForm"
        (ngSubmit)="ngForm.valid && onImportWorkload(workloads)"
      >
        <rc-import-workloads-form
          [workloads]="workloads"
          [workloadsLoading]="workloadsLoading$$ | async"
          [(ngModel)]="workloadFormModel"
          name="workloads"
        ></rc-import-workloads-form>
      </form>
    </aui-dialog-content>
    <aui-dialog-footer>
      <button aui-button="primary" (click)="ngForm.onSubmit()">
        {{ 'import' | translate }}
      </button>
      <button aui-button type="button" (click)="dialogRef.close()">
        {{ 'cancel' | translate }}
      </button>
    </aui-dialog-footer>
  </ng-container>
</ng-template>
