<rc-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  class="form-table__flex-layout"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *rcArrayFormTableHeader>
    <th>{{ 'namespace' | translate }}</th>
    <th required>{{ 'k8s_service' | translate }}</th>
    <th required>{{ 'port' | translate }}</th>
    <th required>{{ 'weights' | translate }}</th>
  </ng-container>

  <ng-container *rcArrayFormTableRow="let control" [formGroup]="control">
    <td>
      <input *ngIf="inWorkspace" aui-input formControlName="namespace" />
      <aui-select
        *ngIf="!inWorkspace"
        formControlName="namespace"
        (ngModelChange)="namespaceChange($event, control)"
        [filterable]="true"
      >
        <aui-option *ngFor="let namespace of namespaceList" [value]="namespace">
          {{ namespace }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
    <td>
      <aui-select
        formControlName="name"
        (ngModelChange)="serviceChange($event, control)"
        [filterable]="true"
      >
        <aui-option
          *ngFor="let name of control.get('nameList').value"
          [value]="name"
        >
          {{ name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>

    <td>
      <aui-select formControlName="port">
        <aui-option
          *ngFor="let port of control.get('portList').value"
          [value]="port"
        >
          {{ port }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
    <td>
      <aui-input-group style="flex: 1;">
        <input aui-input type="number" formControlName="weight" />
        <span auiInputAddonAfter>
          {{ getWeightsPercent(control.get('weight').value) }}
        </span>
      </aui-input-group>
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td class="rc-table-form-error-hint" colspan="5">
      <rc-errors-mapper
        *ngIf="
          $any(controlContainer?.formDirective)?.submitted ||
          control.get('namespace').dirty
        "
        [errors]="control.get('namespace').errors"
        [errorsMapper]="{
          required:
            'required_item' | translate: { name: 'namespace' | translate }
        }"
      ></rc-errors-mapper>

      <rc-errors-mapper
        *ngIf="
          $any(controlContainer?.formDirective)?.submitted ||
          control.get('name').dirty
        "
        [errors]="control.get('name').errors"
        [errorsMapper]="{
          required:
            'required_item' | translate: { name: 'k8s_service' | translate }
        }"
      ></rc-errors-mapper>
      <rc-errors-mapper
        *ngIf="
          $any(controlContainer?.formDirective)?.submitted ||
          control.get('port').dirty
        "
        [errors]="control.get('port').errors"
        [errorsMapper]="{
          required: 'required_item' | translate: { name: 'port' | translate }
        }"
      ></rc-errors-mapper>
      <rc-errors-mapper
        *ngIf="
          $any(controlContainer?.formDirective)?.submitted ||
          control.get('weight').dirty
        "
        [errors]="control.get('weight').errors"
        [controlName]="'weight' | translate"
      ></rc-errors-mapper>
    </td>
  </ng-container>
</rc-array-form-table>
