<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-data="resource" let-permissions="permissions">
    <aui-tab-group type="line" [lazy]="true">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <aui-card>
            <div auiCardHeader>
              {{ data.metadata.name }}
              <div fxFlex></div>
              <button aui-button="default" [plain]="true" [auiDropdown]="menu">
                {{ 'action' | translate }}
                <aui-icon icon="angle_down" margin="left"></aui-icon>
              </button>
              <aui-menu #menu size="small">
                <acl-disabled-container [isAllowed]="permissions.update">
                  <aui-menu-item (click)="update(data.metadata.name)">
                    {{ 'update' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
                <acl-disabled-container
                  [isAllowed]="permissions.delete"
                  [isDisabled]="!!referencedResources?.length"
                  tooltip="{{
                    'not_delete_has_referenced_resources' | translate
                  }}"
                >
                  <aui-menu-item (click)="delete(data)">
                    {{ 'delete' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
              </aui-menu>
            </div>
            <rc-field-set-group auiCardContent>
              <rc-field-set-item>
                <label>{{ 'size' | translate }}</label>
                {{ data.spec.resources.requests.storage }}
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'status' | translate }}</label>
                <rc-status-icon
                  [status]="data | pure: getPvcStatus"
                  [colorMapper]="PvcStatusColorMapper"
                  [iconMapper]="PvcStatusIconMapper"
                ></rc-status-icon>
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'access_mode' | translate }}</label>
                {{ accessModes[data.spec.accessModes[0]] | translate }}
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'connect_pv' | translate }}</label>
                {{ data.spec.volumeName | aclFieldNotAvailable }}
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'storageclasses' | translate }}</label>
                {{ data.spec.storageClassName | aclFieldNotAvailable }}
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'created_time' | translate }}</label>
                {{ data.metadata.creationTimestamp | rcFormatUtcStr }}
              </rc-field-set-item>
              <rc-field-set-item *ngIf="data | pure: getBelongingApp as app">
                <label>{{ 'belonging_app' | translate }}</label>
                <div>
                  <a
                    [routerLink]="[
                      '/workspace',
                      baseParams,
                      'app',
                      'detail',
                      app
                    ]"
                  >
                    {{ app }}
                  </a>
                </div>
              </rc-field-set-item>
            </rc-field-set-group>
          </aui-card>

          <aui-card *ngIf="referencedResources" [divider]="false">
            <div auiCardHeader>
              {{ 'referenced_resources' | translate }}
            </div>
            <div auiCardContent>
              <aui-table [dataSource]="referencedResources">
                <aui-table-header-row
                  *auiTableHeaderRowDef="resourceColumns"
                ></aui-table-header-row>
                <aui-table-row
                  *auiTableRowDef="let row; columns: resourceColumns"
                ></aui-table-row>
                <ng-container auiTableColumnDef="name">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'name' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let rowData">
                    <!-- TODO: add routerLink to workload detail -->
                    {{ rowData.metadata.name }}
                  </aui-table-cell>
                </ng-container>
                <ng-container auiTableColumnDef="type">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'type' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let rowData">
                    {{ rowData.kind }}
                  </aui-table-cell>
                </ng-container>
              </aui-table>
              <div
                *ngIf="!referencedResources?.length"
                class="empty-placeholder"
              >
                {{
                  'zero_state_hint'
                    | translate
                      : { resourceName: 'referenced_resources' | translate }
                }}
              </div>
            </div>
          </aui-card>
        </ng-container>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="data"
        ></rc-resource-yaml-display>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'event' | translate }}
        </ng-container>
        <rc-k8s-event-list
          *auiTabContent
          kind="PersistentVolumeClaim"
          [names]="data.metadata.name"
          [cluster]="(params$ | async).cluster"
          [namespace]="(params$ | async).namespace"
          [embedded]="true"
        ></rc-k8s-event-list>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
