<aui-dialog-header>
  {{ title }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <ng-container *ngIf="userEnabled">
      <aui-form-item *ngIf="isAdmin; else isUser">
        <label auiFormItemLabel>
          {{ 'user' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          name="user"
          required
          [(ngModel)]="user"
          #userForm="ngModel"
        />
        <rc-errors-mapper
          auiFormItemError
          [errors]="userForm.errors"
        ></rc-errors-mapper>
      </aui-form-item>
    </ng-container>
    <ng-template #isUser>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'user' | translate }}
        </label>
        <input
          auiFormItemControl
          aui-input
          name="user"
          required
          [pattern]="rootPattern"
          [(ngModel)]="user"
          #userForm="ngModel"
        />
        <rc-errors-mapper
          auiFormItemError
          [errors]="userForm.errors"
          [errorsMapper]="{
            pattern: 'user_does_not_have_root_permission' | translate
          }"
        ></rc-errors-mapper>
      </aui-form-item>
    </ng-template>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'exec_command' | translate }}
      </label>
      <input
        auiFormItemControl
        required
        aui-input
        name="command"
        [(ngModel)]="command"
        #commandForm="ngModel"
      />
      <rc-errors-mapper
        auiFormItemError
        [errors]="commandForm.errors"
      ></rc-errors-mapper>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [loading]="loading">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
