<aui-table [dataSource]="actions" [trackBy]="trackByFn">
  <ng-container auiTableColumnDef="type">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'action_type' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.type | translate }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="resource">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'resource' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <rc-tags-label [tagList]="item.resource"></rc-tags-label>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>
<div *ngIf="actions?.length === 0" class="empty-placeholder">
  {{
    'zero_state_hint' | translate: { resourceName: 'alarm_action' | translate }
  }}
</div>
