<aui-card class="resource-form__card">
  <div auiCardHeader>
    <span>
      {{ (isUpdate ? 'update_tapp' : 'create_tapp') | translate }}
    </span>
    <span fxFlex></span>
    <aui-radio-group
      [isPlain]="false"
      (valueChange)="switchFormView($event)"
      [value]="formView"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>

  <form [hidden]="formView !== 'UI'" #resourceForm="ngForm" [formGroup]="form">
    <rc-tapp-form
      [isUpdate]="isUpdate"
      [project]="baseParams.project"
      [cluster]="baseParams.cluster"
      [namespace]="baseParams.namespace"
      formControlName="resource"
    ></rc-tapp-form>
  </form>
  <form *ngIf="formView === 'YAML'" #resourceForm="ngForm">
    <aui-code-editor
      name="yaml"
      style="width: 100%;"
      required
      [(ngModel)]="yaml"
      [options]="codeEditorOptions"
      [actionsConfig]="actionsConfig"
    ></aui-code-editor>
  </form>
</aui-card>

<div class="resource-form__footer">
  <span fxFlex></span>
  <button
    aui-button="primary"
    (click)="submit()"
    [loading]="submitting"
    [disabled]="submitting"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
</div>
