<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-data="resource" let-permissions="permissions">
    <aui-tab-group type="line" [lazy]="true">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <aui-card>
            <div auiCardHeader>
              {{ data.metadata.name }}
              <div fxFlex></div>
              <button aui-button="default" [plain]="true" [auiDropdown]="menu">
                {{ 'action' | translate }}
                <aui-icon icon="angle_down" margin="left"></aui-icon>
              </button>
              <aui-menu #menu size="small">
                <acl-disabled-container [isAllowed]="permissions.update">
                  <aui-menu-item (click)="update(data.metadata.name)">
                    {{ 'update' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
                <acl-disabled-container
                  [isAllowed]="permissions.delete"
                  [isDisabled]="data.status.phase === 'Bound'"
                  tooltip="{{ 'not_delete_bound_pv' | translate }}"
                >
                  <aui-menu-item (click)="delete(data)">
                    {{ 'delete' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
              </aui-menu>
            </div>
            <rc-field-set-group auiCardContent>
              <rc-field-set-item>
                <label>{{ 'size' | translate }}</label>
                {{ data.spec.capacity.storage }}
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'status' | translate }}</label>
                <rc-status-icon
                  [status]="data | pure: getPvStatus"
                  [colorMapper]="PvStatusColorMapper"
                  [iconMapper]="PvStatusIconMapper"
                ></rc-status-icon>
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'access_mode' | translate }}</label>
                {{ accessModes[data.spec.accessModes[0]] | translate }}
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'referenced_pvc' | translate }}</label>
                <ng-container *ngIf="data.spec.claimRef">
                  {{ data.spec.claimRef.namespace }}/{{
                    data.spec.claimRef.name
                  }}
                </ng-container>
                <ng-container *ngIf="!data.spec.claimRef">-</ng-container>
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'recycle_strategy' | translate }}</label>
                {{
                  recycleModesMap[data.spec.persistentVolumeReclaimPolicy]
                    | translate
                }}
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'storageclass' | translate }}</label>
                <a
                  [routerLink]="[
                    '/admin/storageclass/detail',
                    data.spec.storageClassName,
                    { cluster: clusterName }
                  ]"
                  *ngIf="data.spec.storageClassName; else noVolume"
                >
                  {{ data.spec.storageClassName }}
                </a>
                <ng-template #noVolume>-</ng-template>
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'created_time' | translate }}</label>
                {{ data.metadata.creationTimestamp | rcFormatUtcStr }}
              </rc-field-set-item>
            </rc-field-set-group>
          </aui-card>
        </ng-container>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="data"
        ></rc-resource-yaml-display>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
