<aui-dialog-header>
  {{ 'update_domain_suffix' | translate }}
</aui-dialog-header>
<div class="aui-dialog-content">
  <rc-loading-mask [loading]="!initialized"></rc-loading-mask>
  <form
    class="load-balancer-update-domain-suffix"
    auiForm
    #ngForm="ngForm"
    (ngSubmit)="ngForm.valid && !submitting && onSubmit()"
  >
    <div class="domain-suffix-group">
      <label auiFormItemLabel>{{ 'custom_domain_suffix' | translate }}</label>
      <aui-multi-select
        name="domains"
        class="domain-suffix-group-select"
        [(ngModel)]="loadbalancer.spec.domains"
        filterable
        [placeholder]="'select_domain_suffix_placeholder' | translate"
      >
        <aui-option *ngFor="let domain of domainList$ | async" [value]="domain">
          {{ domain }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-multi-select>
    </div>
  </form>
</div>

<aui-dialog-footer>
  <button
    aui-button="primary"
    type="submit"
    [disabled]="!initialized || submitting"
    (click)="ngForm.onSubmit()"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button type="button" (click)="done()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
