<main *ngIf="content">
  <pre *ngIf="pre" [innerHTML]="content"></pre>
  <div *ngIf="!pre" [innerHTML]="content"></div>
</main>
<footer>
  <button
    *ngIf="primary"
    aui-button="primary"
    type="button"
    size="mini"
    (click)="onPrimary.emit()"
  >
    {{ primary | translate }}
  </button>
  <button
    *ngIf="secondary"
    aui-button="plain"
    type="button"
    size="mini"
    (click)="onSecondary.emit()"
  >
    {{ secondary | translate }}
  </button>
</footer>
