:host {
  display: block;
  flex: 1;
  form {
    display: flex;
    aui-select {
      flex: 0 0 80px;
      ::ng-deep {
        .aui-select__input {
          border-left: unset;
          border-radius: 0 2px 2px 0;
        }
      }
    }
    input {
      flex: 0 0 120px;
      border-radius: 2px 0 0 2px;
    }
  }
}
