<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <input aui-input type="number" formControlName="number" />
  <aui-select formControlName="type">
    <aui-option
      *ngFor="let type of timeType"
      [value]="type"
      [label]="type | translate"
    >
      {{ type | translate }}
    </aui-option>
  </aui-select>
</form>
<rc-errors-mapper
  [errors]="form.get('number').errors"
  [errorsMapper]="{ pattern: pattern.tip | translate }"
></rc-errors-mapper>
