<aui-dialog-header>
  {{ 'update_project' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form auiForm #ngForm="ngForm" (ngSubmit)="ngForm.valid && confirm()">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      {{ data.storageClass | aclName }}
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'allocation_project' | translate }}</label>
      <aui-select
        auiFormItemControl
        required
        [(ngModel)]="project"
        name="project"
      >
        <aui-option [label]="'all_projects' | translate" [value]="ALL">
          {{ 'all_projects' | translate }}
        </aui-option>
        <aui-option
          *ngFor="let project of allProjects$ | async"
          [value]="project | aclName"
        >
          {{ project | aclName }}
          <span
            *ngIf="project | aclDisplayName as displayName"
            class="text-help"
          >
            ({{ displayName }})
          </span>
        </aui-option>
      </aui-select>
      <ng-container auiFormItemError>
        {{ 'allocation_project_required' | translate }}
      </ng-container>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="ngForm.onSubmit()">
    {{ 'update' | translate }}
  </button>
  <button aui-button type="button" (click)="close.emit()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
