<rc-array-form-table
  [noRowSeparator]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (add)="add()"
  (remove)="remove($event)"
  [rows]="form.controls"
  [formGroup]="form"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="33%">{{ 'key' | translate }}</th>
    <th width="66%">{{ 'value' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *rcArrayFormTableRow="let index = index"
    [formGroupName]="index"
  >
    <td>
      <input
        (blur)="onBlur()"
        aui-input
        [readonly]="isLabelReadonly(index)"
        formControlName="0"
      />
    </td>

    <td>
      <input
        (blur)="onBlur()"
        aui-input
        [readonly]="isLabelReadonly(index)"
        formControlName="1"
      />
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td colspan="3" class="rc-table-form-error-hint">
      <ng-container *ngIf="control.errors?.keyIsMissing">
        {{ 'key_is_missing_error_message' | translate }}
      </ng-container>
      <rc-errors-mapper
        [errors]="control.get('0').errors"
        [errorsMapper]="errorMapper?.key"
      ></rc-errors-mapper>
      <rc-errors-mapper
        [errors]="control.get('1').errors"
        [errorsMapper]="errorMapper?.value"
      ></rc-errors-mapper>
      <ng-container *ngIf="control.errors?.duplicateKey">
        {{
          'duplicate_key_error_message'
            | translate: { key: control?.errors?.duplicateKey }
        }}
      </ng-container>
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRowControl="let item; let index = index">
    <button
      [hidden]="isLabelReadonly(index)"
      aui-button="text"
      size="mini"
      type="button"
      [square]="true"
      [plain]="true"
      (click)="remove(index)"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>

  <ng-container *rcArrayFormTableFooter>
    <ng-container *ngIf="footerTemplate">
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </ng-container>

    <button
      *ngIf="!footerTemplate"
      aui-button="primary"
      type="button"
      size="mini"
      [plain]="true"
      (click)="add()"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add' | translate }}
    </button>
  </ng-container>
</rc-array-form-table>
