<aui-dialog-header>
  {{ 'update_default_k8s_service' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <rc-loading-mask [loading]="!(serviceList$ | async)"></rc-loading-mask>
  <form
    #ngForm="ngForm"
    auiForm
    [hidden]="!(serviceList$ | async)"
    (ngSubmit)="ngForm.valid && !confirming && onSubmit()"
  >
    <rc-load-balancer-service-group-with-affinity
      [cluster]="modalData.cluster"
      [namespace]="modalData.namespace"
      [inWorkspace]="modalData.inWorkspace"
      [namespaceList]="namespaceList$ | async"
      [serviceList]="serviceList$ | async"
      [protocol]="modalData.frontend.spec.protocol"
      name="services"
      [(ngModel)]="frontend.spec.serviceGroup"
    ></rc-load-balancer-service-group-with-affinity>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    type="submit"
    [disabled]="ngForm.invalid || confirming"
    [loading]="confirming"
    (click)="ngForm.onSubmit()"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button type="button" (click)="confirmed.next()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
