rc-load-balancer-service-weight-display > ::ng-deep table {
  border-spacing: 0;

  td {
    padding: 0 2px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
