<aui-card>
  <div auiCardHeader>
    {{ data | aclName }}
    <div fxFlex></div>
    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <acl-disabled-container [isAllowed]="canUpdate">
        <aui-menu-item
          *ngIf="data.spec.protocol == 'https'"
          (click)="onUpdateDefaultCertificate.emit()"
        >
          {{ 'update_default_certificate' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
      <acl-disabled-container [isAllowed]="canUpdate">
        <aui-menu-item (click)="onUpdateDefaultService.emit()">
          {{ 'update_default_k8s_service' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
      <acl-disabled-container [isAllowed]="canDelete">
        <aui-menu-item (click)="onDelete.emit()">
          {{ 'delete_port' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
    </aui-menu>
  </div>
  <rc-field-set-group auiCardContent>
    <rc-field-set-item>
      <label>{{ 'protocol' | translate }}</label>
      {{ data.spec.protocol | uppercase }}
    </rc-field-set-item>
    <rc-field-set-item *ngIf="!inWorkspace">
      <label>{{ 'cluster_belonged' | translate }}</label>
      {{ cluster }}
    </rc-field-set-item>
    <rc-field-set-item *ngIf="data.spec.protocol == 'https'">
      <label>{{ 'default_certificate' | translate }}</label>
      {{ data.spec.certificate_name }}
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'default_k8s_service' | translate }}</label>
      <ng-container
        *ngIf="data.spec.serviceGroup?.services?.length; else noService"
      >
        <rc-load-balancer-service-weight-display
          [services]="data.spec.serviceGroup.services"
        ></rc-load-balancer-service-weight-display>
      </ng-container>
      <ng-template #noService>-</ng-template>
    </rc-field-set-item>
  </rc-field-set-group>
</aui-card>
