<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource">
    <aui-tab-group
      [selectedIndex]="tabIndex$ | async"
      (selectedIndexChange)="tabIndexChanged($event)"
    >
      <aui-tab>
        <span *auiTabLabel>
          {{ 'detail_info' | translate }}
        </span>
        <rc-pod-detail-info
          *auiTabContent
          [data]="resource"
          [sourceLink]="sourceLink$ | async"
          [serviceAccountYaml]="serviceAccountYaml$ | async"
          [canDelete]="deletePermission$ | async"
          [canExec]="(execPermissions$ | async).create"
          [baseParams]="baseParams"
          (openTerminal)="openTerminal($event)"
          (deletePod)="deletePod($event)"
          (exec)="exec($event)"
        ></rc-pod-detail-info>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="resource"
        ></rc-resource-yaml-display>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'config' | translate }}
        </ng-container>
        <rc-workload-detail-env
          *auiTabContent
          [podTemplate]="resource"
          [baseParams]="baseParams"
          [hideUpdate]="true"
        ></rc-workload-detail-env>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'logs' | translate }}
        </ng-container>
        <rc-pods-log
          *auiTabContent
          [baseParams]="baseParams"
          [fieldSelector]="
            matchLabelsToString({ 'metadata.name': resource.metadata.name })
          "
          [initialState]="logInitialState$ | async"
        ></rc-pods-log>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'event' | translate }}
        </ng-container>
        <rc-k8s-event-list
          *auiTabContent
          kind="Pod"
          [names]="resource.metadata.name"
          [cluster]="baseParams.cluster"
          [namespace]="baseParams.namespace"
          [embedded]="true"
          [fuzzy]="true"
        ></rc-k8s-event-list>
      </aui-tab>

      <aui-tab *ngIf="showMetricTab$ | async">
        <ng-container *auiTabLabel>
          {{ 'monitoring' | translate }}
        </ng-container>
        <rc-pod-controller-detail-monitor
          *auiTabContent
          [pod]="resource"
        ></rc-pod-controller-detail-monitor>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
