<rc-array-form-table
  [noRowSeparator]="true"
  [addDisabled]="!mainService || form.length >= 3"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  class="form-table__flex-layout flex-1"
>
  <ng-container *rcArrayFormTableHeader>
    <th>{{ 'k8s_service' | translate }}</th>
    <th>{{ 'weights' | translate }}</th>
  </ng-container>
  <ng-container
    *rcArrayFormTableRow="let control; index as index"
    [formGroup]="control"
  >
    <td>
      <aui-select
        formControlName="name"
        required
        [filterable]="true"
        (ngModelChange)="onServiceChange($event)"
      >
        <aui-option
          *ngFor="let service of filterServices(index)"
          [value]="service | aclName"
        >
          {{ service | aclName }}
          <ng-container *ngIf="service | aclDisplayName">
            ({{ service | aclDisplayName }})
          </ng-container>
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
    <td>
      <aui-input-group>
        <input aui-input type="number" required formControlName="weight" />
        <span auiInputAddonAfter>
          {{ getWeightsPercent(control.get('weight').value) }}
        </span>
      </aui-input-group>
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td class="rc-table-form-error-hint" colspan="3">
      <rc-errors-mapper
        [controlName]="'k8s_service' | translate"
        [errors]="control.get('name').errors"
      ></rc-errors-mapper>
      <rc-errors-mapper
        [controlName]="'weights' | translate"
        [errors]="control.get('weight').errors"
      ></rc-errors-mapper>
    </td>
  </ng-container>
</rc-array-form-table>
