<rc-loading-mask [loading]="!serviceList"></rc-loading-mask>
<form auiForm [formGroup]="form" [hidden]="!serviceList">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'k8s_service_group' | translate }}</label>
    <rc-load-balancer-service-group-form
      [cluster]="cluster"
      [namespace]="namespace"
      [inWorkspace]="inWorkspace"
      [namespaceList]="namespaceList"
      [serviceList]="serviceList"
      formControlName="services"
    ></rc-load-balancer-service-group-form>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'session_affinity' | translate }}</label>
    <aui-radio-group formControlName="session_affinity_policy">
      <aui-radio-button
        *ngFor="let type of sessionAffinityTypes"
        [value]="type"
      >
        {{ 'session_affinity_' + (type || 'no') | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item
    [hidden]="form.get('session_affinity_policy').value !== 'cookie'"
  >
    <label auiFormItemLabel>
      {{ 'session_affinity_attribute' | translate }}
    </label>
    <input aui-input formControlName="session_affinity_attribute" />
  </aui-form-item>
</form>
