<aui-card [divider]="false">
  <div auiCardHeader fxLayout>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" (click)="create()">
        {{ 'create_secret' | translate }}
      </button>
    </acl-disabled-container>
    <div fxFlex></div>
    <div fxLayout>
      <aui-search
        [searchButton]="true"
        [keyword]="searchKey$ | async"
        [searching]="list.loading$ | async"
        [disabled]="list.loading$ | async"
        placeholder="{{ 'search_by_name_placeholder' | translate }}"
        (search)="searchByName($event)"
      ></aui-search>
      <button
        aui-button
        [square]="true"
        [loading]="list.loading$ | async"
        [disabled]="list.loading$ | async"
        (click)="list.reload()"
      >
        <aui-icon icon="basic:refresh"></aui-icon>
      </button>
    </div>
  </div>

  <aui-table [dataSource]="list.items$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div fxLayout="row" fxLayoutAlign="start center">
          <a
            [routerLink]="[
              '/workspace',
              baseParams,
              'secret',
              'detail',
              rowData.metadata.name
            ]"
          >
            {{ rowData.metadata.name }}
          </a>
          <aui-icon
            *ngIf="rowData | rcIsFederatedResource"
            class="icon--federation"
            icon="basic:federation_cluster"
            margin="left"
            [auiTooltip]="'federated_resource' | translate"
          ></aui-icon>
          <rc-deleting-tag [resource]="rowData"></rc-deleting-tag>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div [title]="rowData.type">
          {{ getDisplayType(rowData.type) }}
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div
          [title]="rowData.metadata.annotations[descriptionKey]"
          *ngIf="
            rowData.metadata.annotations &&
              rowData.metadata.annotations[descriptionKey];
            else noDescription
          "
        >
          {{ rowData.metadata.annotations[descriptionKey] }}
        </div>
        <ng-template #noDescription>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ data: rowData }"
          [disabled]="rowData | rcIsFederatedResource"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-data="data">
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <aui-menu-item (click)="update(data.metadata.name)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
      <aui-menu-item (click)="delete(data)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
