<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <aui-dropdown-button
        [plain]="false"
        size="medium"
        (buttonClick)="create()"
        type="primary"
      >
        {{ 'create_network_policy' | translate }}
        <aui-menu size="small">
          <acl-disabled-container [isAllowed]="(permissions$ | async).create">
            <aui-menu-item (click)="createFromYaml()">
              {{ 'create_network_policy_from_yaml' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-dropdown-button>
    </acl-disabled-container>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [keyword]="searchKey$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <div auiCardContent>
    <aui-table [dataSource]="list.items$">
      <ng-container auiTableColumnDef="name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <a
            href="javascript:;"
            target="_blank"
            rel="noopener noreferrer"
            (click)="view(rowData, yamlViewDialog)"
          >
            {{ rowData.metadata.name }}
          </a>
          <rc-deleting-tag [resource]="rowData"></rc-deleting-tag>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="created_time">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'created_time' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <rc-relative-time
            [time]="rowData.metadata.creationTimestamp"
          ></rc-relative-time>
        </aui-table-cell>
      </ng-container>
      <ng-container auiTableColumnDef="action">
        <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let rowData">
          <button
            aui-button="text"
            size="small"
            [square]="true"
            [plain]="true"
            [auiDropdown]="menu"
            [auiDropdownContext]="{ rowData: rowData }"
          >
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </button>
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="columns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: columns"
      ></aui-table-row>
    </aui-table>
    <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
  </div>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-rowData="rowData">
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <aui-menu-item (click)="update(rowData)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
      <aui-menu-item (click)="delete(rowData)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>

<ng-template #yamlViewDialog let-data>
  <aui-dialog-header>
    {{ data?.name }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      class="policy-yaml-display"
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yamlInputValue"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
