@import 'var';

:host {
  ::ng-deep [auicardheader].aui-card__header__center {
    align-items: center;
  }
}

.detail-listeners {
  margin-top: 16px;
  display: block;
}

.aui-table__column {
  &-port {
    display: flex;
    flex: 1;

    aui-icon {
      margin-left: 8px;
      color: $color-warning;
    }
  }

  &-protocol {
    display: flex;
    flex: 2;

    > span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &-rule {
    flex: 1;
  }

  &-default_k8s_service {
    flex: 3;
  }
}
