<rc-loading-mask [loading]="loading$ | async"></rc-loading-mask>
<rc-load-balancer-detail-info
  [cluster]="(baseParams$ | async).cluster"
  [data]="loadBalancer"
  [inWorkspace]="workspace"
  [canUpdate]="(albPermissions$ | async).update"
  [canDelete]="(albPermissions$ | async).delete"
  (onUpdateProject)="onUpdateProject()"
  (onDelete)="deleteLB()"
></rc-load-balancer-detail-info>
<aui-card *ngIf="loadBalancer" [divider]="false" class="detail-listeners">
  <div auiCardHeader class="aui-card__header__center">
    {{ 'lb_listeners' | translate }}
    <div fxFlex></div>
    <acl-disabled-container
      *ngIf="workspace"
      [isAllowed]="(frontendPermissions$ | async).update"
    >
      <a routerLink="add-frontend">
        <button aui-button="primary" [plain]="true">
          {{ 'load_balancer_add_ports' | translate }}
        </button>
      </a>
    </acl-disabled-container>
  </div>
  <aui-table [dataSource]="list.items$ | async" [trackBy]="trackByFn">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="port">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'port' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a
          *ngIf="workspace; else plain"
          [routerLink]="['port', rowData.frontend | aclName]"
        >
          {{ rowData.frontend.spec.port }}
        </a>
        <ng-template #plain>
          {{ rowData.frontend.spec.port }}
        </ng-template>
        <ng-container
          *ngIf="rowData.frontend | pure: conflictInstances as conflicts"
        >
          <aui-icon
            *ngIf="conflicts['length']"
            icon="exclamation_triangle_s"
            [auiTooltip]="
              'port_conflicts' | translate: { conflicts: conflicts }
            "
          ></aui-icon>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="protocol">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'protocol' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.frontend.spec.protocol | uppercase }}
        <ng-container
          *ngIf="
            rowData.frontend.spec.protocol === 'https' &&
            rowData.frontend.spec.certificate_name
          "
        >
          (
          {{ 'certificate' | translate }}:
          <span
            [auiTooltip]="
              rowData.frontend.spec.certificate_name
                | pure: normalizeCertificate
            "
            auiTooltipType="info"
          >
            {{
              rowData.frontend.spec.certificate_name
                | pure: normalizeCertificate
            }}
          </span>
          )
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="rule">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'rule' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a [routerLink]="['port', rowData.frontend | aclName]">
          {{ rowData.rules.length }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="default_k8s_service">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'default_k8s_service' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container
          *ngIf="
            rowData.frontend.spec.serviceGroup?.services?.length;
            else noService
          "
        >
          <rc-load-balancer-service-weight-display
            [services]="rowData.frontend.spec.serviceGroup.services"
          ></rc-load-balancer-service-weight-display>
        </ng-container>
        <ng-template #noService>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <button
          *ngIf="workspace"
          aui-button="text"
          size="small"
          [square]="true"
          [plain]="true"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ rowData: rowData }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-rowData="rowData">
    <acl-disabled-container
      [isAllowed]="(frontendPermissions$ | async).update"
      [isDisabled]="loadBalancer.spec.type === 'elb'"
    >
      <aui-menu-item (click)="updateDefaultService(rowData)">
        {{ 'update_default_k8s_service' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(frontendPermissions$ | async).delete">
      <aui-menu-item (click)="deleteFrontend(rowData)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
