@import 'var';

::ng-deep {
  rc-fa-overrides-form {
    width: 100%;
  }

  .aui-form-item.hasError rc-fa-overrides-form.ng-invalid tbody {
    background-color: $color-error-extra-light;
  }
}

td {
  vertical-align: middle;
}

.no-data {
  text-align: center;
}

button.add {
  width: 100%;
  border-style: dashed;
}
