<table class="rc-array-form-table">
  <thead>
    <tr>
      <td>
        {{ 'cluster' | translate }}
      </td>
      <td>
        {{ 'args' | translate }}
      </td>
      <td>
        {{ 'value' | translate }}
      </td>
      <td *ngIf="!disabled" title="action"></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of (value$ | async) || []; let index = index">
      <td>
        <aui-select
          [disabled]="disabled"
          [value]="item.cluster"
          (valueChange)="updateItem({ cluster: $event }, index)"
        >
          <aui-option *ngFor="let cluster of clusters" [value]="cluster">
            {{ cluster }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </td>
      <td>
        <aui-select
          [disabled]="disabled"
          [trackFn]="trackByPath"
          [value]="item"
          (valueChange)="
            updateItem({ op: $event.op, path: $event.path }, index)
          "
        >
          <aui-option
            *ngFor="let param of paramsByKind[resourceKind]"
            [value]="param"
            [label]="param.label | translate"
          >
            {{ param.label | translate }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </td>
      <td>
        <input
          aui-input
          [type]="paramsByPath[item.path]?.valueType || text"
          [disabled]="disabled"
          [value]="item.value | pure: uiValue:item.path"
          (change)="
            updateItem(
              {
                value: formatValue($event.target.value, item.path)
              },
              index
            )
          "
        />
      </td>
      <td *ngIf="!disabled" style="width: 32px;">
        <button
          aui-button="text"
          type="button"
          [square]="true"
          [plain]="true"
          (click)="remove(index)"
        >
          <aui-icon icon="basic:minus_circle"></aui-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td *ngIf="!((value$ | async) || []).length" colspan="4" class="no-data">
        {{ 'no_data' | translate }}
      </td>
    </tr>
    <tr>
      <td *ngIf="!disabled" colspan="4">
        <button
          class="add"
          aui-button="primary"
          type="button"
          size="mini"
          [plain]="true"
          (click)="add()"
        >
          <aui-icon icon="basic:add_circle" margin="right"></aui-icon>
          <span>{{ 'add' | translate }}</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
