<form auiForm [formGroup]="form" [auiFormEmptyAddon]="false">
  <rc-array-form-table fxFlex [rows]="form.controls">
    <ng-container *rcArrayFormTableRow="let control">
      <td class="config-item-cell">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'key' | translate }}</label>
          <input
            aui-input
            auiFormItemControl
            maxlength="253"
            [formControl]="control.get('0')"
          />
          <rc-errors-mapper
            auiFormItemError
            [errors]="control.get('0').errors"
            [errorsMapper]="{
              required: 'field_required' | translate,
              pattern: keyReg.tip | translate,
              duplicateKey:
                'duplicate_key_error_message'
                | translate: { key: control.controls[0].errors?.duplicateKey }
            }"
          ></rc-errors-mapper>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'value' | translate }}</label>
          <textarea
            auiFormItemControl
            aui-input
            [formControl]="control.get('1')"
          ></textarea>
          <rc-errors-mapper
            auiFormItemError
            [errors]="control.get('1').errors"
          ></rc-errors-mapper>
        </aui-form-item>
      </td>
    </ng-container>
    <ng-container *rcArrayFormTableRowControl="let control; let index = index">
      <button
        aui-button="text"
        [square]="true"
        [plain]="true"
        size="mini"
        type="button"
        (click)="remove(index)"
      >
        <aui-icon icon="basic:trash"></aui-icon>
      </button>
    </ng-container>
    <ng-container *rcArrayFormTableFooter>
      <button
        aui-button
        type="button"
        size="mini"
        [plain]="true"
        (click)="add()"
      >
        <aui-icon icon="basic:add_circle"></aui-icon>
        {{ 'add' | translate }}
      </button>
      <button
        class="import-button"
        aui-button="primary"
        type="button"
        size="mini"
        [plain]="true"
      >
        <label for="config_key_value">
          <aui-icon icon="import"></aui-icon>
          {{ 'import' | translate }}
        </label>
      </button>
      <input
        id="config_key_value"
        type="file"
        multiple="multiple"
        (change)="addRowFromFile($event)"
        hidden
      />
    </ng-container>
  </rc-array-form-table>
</form>
