<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <aui-form-item
    *ngIf="
      !form.get('type').value || form.get('type').value === 'RollingUpdate';
      else type
    "
  >
    <label auiFormItemLabel>{{ 'update_strategy' | translate }}</label>
    <div
      auiFormItemControl
      formGroupName="rollingUpdate"
      class="input-group-container"
    >
      <aui-input-group>
        <span auiInputAddonBefore>{{ 'service_max_surge' | translate }}</span>
        <input
          aui-input
          formControlName="maxSurge"
          [placeholder]="'integer_or_percentage' | translate"
          (blur)="onBlur()"
        />
      </aui-input-group>
      <aui-input-group>
        <span auiInputAddonBefore>
          {{ 'service_max_unavailable' | translate }}
        </span>
        <input
          aui-input
          formControlName="maxUnavailable"
          [placeholder]="'integer_or_percentage' | translate"
          (blur)="onBlur()"
        />
      </aui-input-group>
    </div>
    <aui-icon
      auiFormItemAddon
      icon="basic:question"
      [auiTooltip]="'deployment_update_strategy_hint' | translate"
      [auiTooltipPosition]="'start center'"
    ></aui-icon>
  </aui-form-item>

  <ng-template #type>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'update_strategy' | translate }}</label>
      <span>
        {{ form.get('type').value }}
      </span>
    </aui-form-item>
  </ng-template>
</form>
