<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <div class="rc-secondary-title">
    {{ 'basic_info' | translate }}
  </div>

  <ng-container formGroupName="metadata">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <ng-container auiFormItemControl required>
        <aui-input-group *ngIf="!isUpdate">
          <span *ngIf="appName" auiInputAddonBefore>{{ appName }}-</span>
          <input aui-input formControlName="name" (blur)="onBlur()" />
        </aui-input-group>
        <span *ngIf="isUpdate">
          {{ form.get('metadata')?.get('name')?.value }}
        </span>
      </ng-container>
      <rc-errors-mapper
        auiFormItemError
        *ngIf="!isUpdate"
        [errors]="form.get(['metadata', 'name']).errors"
        [errorsMapper]="{
          pattern: resourceNamePattern.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item formGroupName="annotations">
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <ng-container auiFormItemControl>
        <input aui-input [formControlName]="displayNameKey" (blur)="onBlur()" />
      </ng-container>
    </aui-form-item>
  </ng-container>

  <ng-container *ngIf="workloadType !== 'DAEMONSET'">
    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel>{{ 'service_replicas' | translate }}</label>
      <ng-container auiFormItemControl required>
        <aui-number-input
          formControlName="replicas"
          [precision]="1"
          [min]="0"
          (blur)="onBlur()"
        ></aui-number-input>
      </ng-container>
    </aui-form-item>
  </ng-container>

  <rc-foldable-block>
    <ng-container formGroupName="spec">
      <rc-deployment-strategy-form
        *ngIf="workloadType === 'DEPLOYMENT'"
        formControlName="strategy"
        (blur)="onBlur()"
      ></rc-deployment-strategy-form>
      <rc-daemonset-strategy-form
        *ngIf="workloadType === 'DAEMONSET'"
        formControlName="updateStrategy"
        (blur)="onBlur()"
      ></rc-daemonset-strategy-form>
      <rc-statefulset-strategy-form
        *ngIf="workloadType === 'STATEFULSET'"
        formControlName="updateStrategy"
        (blur)="onBlur()"
      ></rc-statefulset-strategy-form>
    </ng-container>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>{{ 'labels' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="labels"
        [validator]="labelValidator"
        [errorMapper]="labelErrorMapper"
      ></rc-key-value-form-table>
    </aui-form-item>
  </rc-foldable-block>

  <ng-container formGroupName="spec">
    <rc-pod-template-form
      formControlName="template"
      [baseParams]="{
        project: project,
        cluster: cluster,
        namespace: namespace
      }"
      [matchLabels]="matchLabels || {}"
      [workloadOptions]="workloadOptions$ | async"
      [configMapOptions]="configMapOptions"
      [secretOptions]="secretOptions"
      (blur)="onBlur()"
    ></rc-pod-template-form>
  </ng-container>
</form>
