<aui-dialog-header>
  {{ (isUpdate ? 'update_ingress' : 'add_ingress') | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <rc-ingress-form
      name="ingressForm"
      [(ngModel)]="ingress"
      [baseParams]="baseParams"
      [services]="services"
      [isUpdate]="isUpdateApp"
    ></rc-ingress-form>
  </form>
  <!-- <pre>{{ ingress | json }}</pre> -->
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ (isUpdate ? 'update' : 'add') | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
