<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-tab-group>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <aui-card>
          <div auiCardHeader>
            {{ resource.hr.metadata.name }}

            <div fxFlex></div>
            <button aui-button="default" [plain]="true" [auiDropdown]="menu">
              {{ 'action' | translate }}
              <aui-icon icon="angle_down" margin="left"></aui-icon>
            </button>
            <aui-menu #menu size="small">
              <aui-menu-item
                *ngIf="permissions.update"
                (click)="update(resource.hr)"
              >
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item
                *ngIf="permissions.delete"
                (click)="delete(resource.hr)"
              >
                {{ 'delete' | translate }}
              </aui-menu-item>
            </aui-menu>
          </div>
          <rc-field-set-group>
            <rc-field-set-item>
              <label>{{ 'display_name' | translate }}</label>
              {{ resource.hr | aclDisplayName | aclFieldNotAvailable }}
            </rc-field-set-item>
            <rc-field-set-item>
              <label>{{ 'app_template' | translate }}</label>
              {{ resource.hr.spec.chart }}
            </rc-field-set-item>
          </rc-field-set-group>
          <rc-field-set-group>
            <rc-field-set-item>
              <label>{{ 'status' | translate }}</label>
              <rc-status-icon
                [status]="resource.hr | pure: getHelmRequestStatus"
                [colorMapper]="HelmRequestStatusColorMapper"
                [iconMapper]="HelmRequestStatusIconMapper"
              ></rc-status-icon>
            </rc-field-set-item>
            <rc-field-set-item>
              <label>{{ 'template_version' | translate }}</label>
              {{ resource.hr.spec.version }}
            </rc-field-set-item>
          </rc-field-set-group>

          <rc-field-set-group>
            <rc-field-set-item *ngIf="resource.hr | pure: shouldShowAppLink">
              <label>{{ 'application' | translate }}</label>
              <a
                [routerLink]="[
                  '/workspace',
                  baseParams,
                  'app',
                  'detail',
                  resource.hr.metadata.name
                ]"
              >
                {{ resource.hr.metadata.name }}
              </a>
            </rc-field-set-item>
            <rc-field-set-item>
              <label>{{ 'created_time' | translate }}</label>
              <rc-relative-time
                [time]="resource.hr.metadata.creationTimestamp"
              ></rc-relative-time>
            </rc-field-set-item>
          </rc-field-set-group>
        </aui-card>
        <aui-card [divider]="false">
          <div auiCardHeader>{{ 'resource_list' | translate }}</div>
          <aui-table [dataSource]="resource.resources">
            <ng-container auiTableColumnDef="name">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'name' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                <rc-subresource-link
                  [resource]="item"
                  [baseParams]="baseParams"
                ></rc-subresource-link>
              </aui-table-cell>
            </ng-container>
            <ng-container auiTableColumnDef="type">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'type' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                {{ item.kind }}
              </aui-table-cell>
            </ng-container>
            <aui-table-header-row
              *auiTableHeaderRowDef="['name', 'type']"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: ['name', 'type']"
            ></aui-table-row>
          </aui-table>
          <ng-container *ngIf="!resource.resources?.length">
            <div class="loading-placeholder text-help">
              {{ 'no_data' | translate }}
            </div>
          </ng-container>
        </aui-card>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'deploy_info' | translate }}
        </ng-container>
        <aui-card>
          <pre>{{ resource.hr | pure: getDeployNotes }}</pre>
        </aui-card>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'args_config' | translate }}
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="resource.hr.spec?.values"
        ></rc-resource-yaml-display>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'event' | translate }}
        </ng-container>
        <rc-k8s-event-list
          *auiTabContent
          kind="HelmRequest"
          [names]="resource.hr.metadata.name"
          [cluster]="baseParams.cluster"
          [namespace]="baseParams.namespace"
          [embedded]="true"
        ></rc-k8s-event-list>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
