<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<aui-card class="resource-form__card">
  <div auiCardHeader>
    {{
      !isUpdate
        ? ('create_trace_job' | translate)
        : ('update_by_name' | translate: { name: resource.metadata.name })
    }}
  </div>
  <form auiForm [auiFormEmptyAddon]="true" #resourceForm="ngForm">
    <rc-trace-job-form
      [(ngModel)]="resource"
      name="resource"
      [isUpdate]="isUpdate"
      [cluster]="cluster"
    ></rc-trace-job-form>
  </form>
</aui-card>
<div class="resource-form__footer" [hidden]="!initialized">
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ (isUpdate ? 'update' : 'create') | translate }}
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
