<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      aui-input
      auiFormItemControl
      formControlName="name"
      maxlength="63"
      [placeholder]="resourceNameReg.tip | translate"
      [pattern]="resourceNameReg.pattern"
      [rcReadonlyField]="isUpdate"
      required
    />
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get(['metadata', 'name']).errors"
      [errorsMapper]="{
        pattern: resourceNameReg.tip | translate
      }"
    ></rc-errors-mapper>
  </aui-form-item>
  <ng-container formGroupName="spec">
    <aui-form-item formGroupName="resources">
      <label auiFormItemLabel>{{ 'size' | translate }}</label>
      <aui-input-group style="flex: 1;" formGroupName="requests">
        <span auiInputAddonAfter>{{ unit }}</span>
        <input
          aui-input
          type="text"
          [pattern]="POSITIVE_INT_PATTERN.pattern"
          formControlName="storage"
          fxFlex
          auiFormItemControl
          required
        />
      </aui-input-group>
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get(['spec', 'resources', 'requests', 'storage']).errors"
        [errorsMapper]="{
          pattern: POSITIVE_INT_PATTERN.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'access_mode' | translate }}</label>
      <aui-radio-group auiFormItemControl formControlName="accessModes">
        <aui-radio-button *ngFor="let mode of accessModes" [value]="mode">
          {{ accessModesMap[mode] | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'storageclass' | translate }}</label>
      <aui-select
        auiFormItemControl
        [filterable]="true"
        formControlName="storageClassName"
      >
        <aui-option
          *ngFor="let item of storageClassNameList"
          [label]="item.key"
          [value]="item.value"
        >
          {{ item.key }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>
  </ng-container>

  <rc-foldable-block hint="{{ 'advanced' | translate }}">
    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>{{ 'label' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="labels"
      ></rc-key-value-form-table>
    </aui-form-item>
    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>{{ 'k8s_annotation' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="annotations"
      ></rc-key-value-form-table>
    </aui-form-item>
    <aui-form-item formGroupName="spec">
      <label auiFormItemLabel>{{ 'selector' | translate }}</label>
      <ng-container formGroupName="selector">
        <rc-key-value-form-table
          auiFormItemControl
          (blur)="onBlur()"
          formControlName="matchLabels"
        ></rc-key-value-form-table>
      </ng-container>
    </aui-form-item>
  </rc-foldable-block>
</form>
