<table
  class="rc-array-form-table"
  [class.rc-array-form-table--no-row-separator]="noRowSeparator"
>
  <thead *ngIf="headerTemplate">
    <tr>
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      <th *ngIf="!readonly" class="rc-array-form-table__action-col"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let row of rows; let index = index">
      <ng-container
        *ngFor="let rowTemplate of rowTemplates; let templateIndex = index"
      >
        <tr
          [style.background-color]="getRowBackgroundColor(row)"
          [attr.rowtemplateindex]="templateIndex"
          [class.rc-array-form-table--row-group-start]="templateIndex === 0"
        >
          <ng-container
            *ngTemplateOutlet="
              rowTemplate;
              context: { $implicit: row, index: index }
            "
          ></ng-container>
          <td
            *ngIf="templateIndex === 0 && !readonly"
            class="rc-array-form-table__action-col"
          >
            <ng-container *ngIf="rows.length > minRow">
              <ng-container *ngIf="rowControlTemplate">
                <ng-container
                  *ngTemplateOutlet="
                    rowControlTemplate;
                    context: { $implicit: row, index: index }
                  "
                ></ng-container>
              </ng-container>

              <button
                *ngIf="!rowControlTemplate"
                aui-button="text"
                size="mini"
                type="button"
                [square]="true"
                [plain]="true"
                (click)="remove.emit(index)"
              >
                <aui-icon icon="basic:minus_circle"></aui-icon>
              </button>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </ng-container>

    <tr *ngIf="!rows || rows.length === 0">
      <td colspan="100">
        <rc-zero-state
          *ngIf="!zeroStateTemplate"
          [zeroState]="true"
          [resourceName]="resourceName"
        ></rc-zero-state>

        <ng-container *ngIf="zeroStateTemplate">
          <ng-container *ngTemplateOutlet="zeroStateTemplate"></ng-container>
        </ng-container>
      </td>
    </tr>

    <tr *ngIf="!readonly">
      <td colspan="100">
        <div class="rc-array-form-table__bottom-control-buttons">
          <ng-container *ngIf="footerTemplate">
            <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
          </ng-container>
          <button
            *ngIf="!footerTemplate"
            aui-button="primary"
            type="button"
            size="mini"
            [plain]="true"
            (click)="add.emit()"
            [disabled]="addDisabled"
          >
            <aui-icon icon="basic:add_circle"></aui-icon>
            {{ 'add' | translate }}
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
