<rc-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  [formGroup]="form"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="33%">{{ 'key' | translate }}</th>
    <th width="66%">{{ 'path' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *rcArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td>
      <aui-select (blur)="onBlur()" [filterable]="true" formControlName="key">
        <aui-option *ngFor="let key of availableKeys" [value]="key">
          {{ key }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>

    <td>
      <input (blur)="onBlur()" aui-input formControlName="path" />
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td class="rc-table-form-error-hint" colspan="3">
      <rc-errors-mapper
        [errors]="control.get('path').errors"
        [errorsMapper]="{ pattern: K8S_VOLUME_MOUNT_SUB_PATH.tip | translate }"
      ></rc-errors-mapper>
    </td>
  </ng-container>
</rc-array-form-table>
