<h3>
  {{ node?.name }}
</h3>
<div class="status-content">
  <div class="status-content__row">
    <label>{{ 'type' | translate }}:</label>
    <span>{{ node?.kind | titlecase }}</span>
  </div>
  <div class="status-content__row">
    <label>{{ 'status' | translate }}:</label>
    <rc-workload-status-icon [workloadStatus]="node"></rc-workload-status-icon>
  </div>
  <ng-container *ngFor="let container of node.containers; last as isLast">
    <div class="status-content__row">
      <label>{{ 'image' | translate }}:</label>
      <span>{{ container?.image | aclFieldNotAvailable }}</span>
    </div>
    <div class="status-content__row">
      <label>{{ 'resource_size' | translate }}:</label>
      <span>
        CPU {{ container?.cpu | aclFieldNotAvailable }}
        {{ 'memory' | translate }}
        {{ container?.memory | aclFieldNotAvailable }}
      </span>
    </div>
    <div *ngIf="!isLast" class="status-content__separator"></div>
  </ng-container>
</div>
