<aui-dialog-header>
  {{ 'add_' + workloadType.toLowerCase() | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form *ngIf="resource" #resourceForm="ngForm">
    <rc-workload-form
      name="resource"
      [project]="project"
      [namespace]="namespace"
      [cluster]="cluster"
      [appName]="appName"
      [workloadType]="workloadType"
      [otherWorkloads]="otherWorkloads"
      [configMapOptions]="configMapOptions"
      [secretOptions]="secretOptions"
      [(ngModel)]="resource"
    ></rc-workload-form>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="!resource"
    [disabled]="!resource"
    (click)="confirm()"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
</aui-dialog-footer>
