<ng-container *ngIf="(isDeployed$ | async) === true">
  <div class="rc-log-section-container log-header">
    <div class="rc-log-dashboard-fields content-container">
      <form auiForm auiFormLabelWidth="130px">
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'monitor_period' | translate }}
          </label>
          <div auiFormItemControl>
            <div class="field-container">
              <aui-select
                name="timestampselect"
                [(ngModel)]="timestampOption"
                (ngModelChange)="onTimestampChanged($event)"
              >
                <aui-option
                  *ngFor="let timestampOption of timestampOptions"
                  [value]="timestampOption.type"
                  [label]="timestampOption.name"
                >
                  {{ timestampOption.name }}
                </aui-option>
              </aui-select>
              <div
                *ngIf="timestampOption === 'custom_time_range'"
                class="custom-time"
              >
                <label>{{ 'from' | translate }}</label>
                <div
                  (valueChange)="onStartTimeSelect($event)"
                  [aclCalendar]="dateTimeOptions"
                  [(value)]="startTime"
                >
                  <input aui-input [value]="startTime" />
                </div>
                <label>{{ 'to' | translate }}</label>
                <div
                  (valueChange)="onEndTimeSelect($event)"
                  [aclCalendar]="dateTimeOptions"
                  [(value)]="endTime"
                >
                  <input aui-input [value]="endTime" />
                </div>
              </div>
            </div>
          </div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>
            {{ 'logs_query_condition' | translate }}
          </label>
          <aui-multi-select
            auiFormItemControl
            [(ngModel)]="tags"
            [ngModelOptions]="{ standalone: true }"
            (valueChange)="fetchLogs()"
            [placeholder]="'logs_dashboard_tags_input_placeholder' | translate"
            [loading]="loadingSuggestions"
            [filterable]="true"
            [allowCreate]="true"
            [trackFn]="trackFn"
            [filterFn]="filterFn"
            [tagClassFn]="tagClassFn"
          >
            <aui-option
              *ngFor="let suggestion of suggestions$ | async"
              [label]="suggestion.type + ': ' + suggestion.name"
              [value]="suggestion"
            >
              {{ suggestion.type }}: {{ suggestion.name }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_results' | translate }}
            </aui-option-placeholder>
          </aui-multi-select>
          <div auiFormItemAddon>
            <aui-icon
              [auiTooltip]="tags_input_search_hint"
              [auiTooltipPosition]="'start center'"
              icon="basic:question"
              color="#999"
            ></aui-icon>
          </div>
        </aui-form-item>
      </form>
    </div>
    <div class="rc-log-dashboard-submit rc-dialog-footer">
      <button [aui-button] (click)="fetchLogs()">
        {{ 'search' | translate }}
      </button>
    </div>
  </div>

  <div class="rc-log-section-container log-detail">
    <div class="rc-log-dashboard-events">
      <div
        *ngIf="aggregations$ | async as aggregations"
        class="charts-container"
      >
        <ng-container
          *ngIf="chartData && !loadingSeries && chartData.length > 0"
        >
          <span class="logCount">{{ aggregations }}</span>
          <div class="chart-wrapper">
            <highcharts-chart
              [Highcharts]="Highcharts"
              [options]="chartOptions"
              style="width: 100%; height: 100px; display: block;"
            ></highcharts-chart>
          </div>
        </ng-container>
      </div>
      <div class="rc-loading-mask-placeholder" *ngIf="loadingSeries">
        {{ 'data_loading' | translate }}
      </div>
      <div
        class="rc-loading-mask-placeholder"
        *ngIf="!loadingSeries && !showChart"
      >
        {{ 'no_data' | translate }}
      </div>
    </div>

    <!--日志查询结果-->
    <div class="rc-log-result-wrap">
      <div class="rc-log-result">
        <ng-container *ngFor="let log of logs$ | async">
          <ng-container *ngIf="logCache[log.time]">
            <div
              class="rc-log-context rc-log-context-before"
              [ngClass]="{ collapse: !logCollapseMap[log.time] }"
            >
              <div
                class="rc-log-item log-context-item"
                *ngFor="
                  let _log of logCache[log.time]['later'];
                  first as isFirst
                "
              >
                <a
                  *ngIf="isFirst"
                  (click)="logInsight(_log, 'later', log.time, _log.time)"
                  title="{{ 'log_context_view_more_after' | translate }}"
                >
                  <aui-icon
                    [icon]="logLoadingMap[_log.time] ? 'spinner' : 'angle_down'"
                    class="angle up"
                  ></aui-icon>
                </a>
                <span *ngIf="!isFirst">
                  |
                </span>
                <span>{{ _log.time * 1000 | rcFormatUtcStr }}</span>
                <span class="log-service">{{ _log.application_name }}</span>
                <span class="log-cluster">{{ _log.region_name }}</span>
                <span class="log-node">{{ _log.node }}</span>
                <span class="log-pod">{{ _log.pod_name }}</span>
                <span class="log-instance">
                  {{ _log.container_id8 }}
                </span>
                <span class="log-path">{{ _log.file_name }}</span>
                <span class="log-kubernetes_namespace">
                  {{ _log.kubernetes_namespace }}
                </span>
                <span class="log-message">{{ _log.log_data }}</span>
              </div>
            </div>
          </ng-container>
          <div class="rc-log-item">
            <a
              (click)="logInsight(log)"
              [auiTooltip]="'log_context_view' | translate"
              [auiTooltipPosition]="'end center'"
            >
              <aui-icon
                [icon]="
                  logLoadingMap[log.time]
                    ? 'spinner'
                    : logCollapseMap[log.time]
                    ? 'basic:minus_circle'
                    : 'basic:add_circle'
                "
                class="circle"
              ></aui-icon>
            </a>
            <span>{{ log.time * 1000 | rcFormatUtcStr }}</span>
            <span
              class="keyword log-service"
              (click)="
                addKeywordByClick('application', log.application_name);
                $event.stopPropagation()
              "
            >
              {{ log.application_name }}
            </span>
            <span
              class="keyword log-cluster"
              (click)="
                addKeywordByClick('cluster', log.region_name);
                $event.stopPropagation()
              "
            >
              {{ log.region_name }}
            </span>
            <span
              class="keyword log-node"
              (click)="
                addKeywordByClick('node', log.node); $event.stopPropagation()
              "
            >
              {{ log.node }}
            </span>
            <span
              class="keyword log-pod"
              (click)="addKeywordByClick('pod', log.pod_name)"
            >
              {{ log.pod_name }}
            </span>
            <span
              class="keyword log-instance"
              (click)="addKeywordByClick('instance', log.container_id8)"
            >
              {{ log.container_id8 }}
            </span>
            <span
              class="keyword log-path"
              (click)="addKeywordByClick('path', log.file_name)"
            >
              {{ log.file_name }}
            </span>
            <span class="log-kubernetes_namespace">
              {{ log.kubernetes_namespace }}
            </span>
            <span
              *ngIf="!baseParams?.project"
              class="keyword log-project"
              (click)="addKeywordByClick('project', log.project_name)"
            >
              {{ log.project_name }}
            </span>
            <span
              class="log-message"
              *ngIf="hasQueryString"
              [innerHtml]="log.log_data"
            ></span>
            <span class="log-message" *ngIf="!hasQueryString">
              {{ log.log_data }}
            </span>
          </div>
          <ng-container *ngIf="logCache[log.time]">
            <div
              class="rc-log-context rc-log-context-after"
              [ngClass]="{ collapse: !logCollapseMap[log.time] }"
            >
              <div
                class="rc-log-item log-context-item"
                *ngFor="
                  let _log of logCache[log.time]['before'];
                  last as isLast
                "
              >
                <a
                  *ngIf="isLast"
                  (click)="logInsight(_log, 'before', log.time, _log.time)"
                  title="{{ 'log_context_view_more_before' | translate }}"
                >
                  <aui-icon
                    [icon]="logLoadingMap[_log.time] ? 'spinner' : 'angle_down'"
                    class="angle"
                  ></aui-icon>
                </a>
                <span *ngIf="!isLast">
                  |
                </span>
                <span>{{ _log.time * 1000 | rcFormatUtcStr }}</span>
                <span class="log-service">{{ _log.application_name }}</span>
                <span class="log-cluster">{{ _log.region_name }}</span>
                <span class="log-node">{{ _log.node }}</span>
                <span class="log-pod">{{ _log.pod_name }}</span>
                <span class="log-instance">
                  {{ _log.container_id8 }}
                </span>
                <span class="log-path">{{ _log.file_name }}</span>
                <span class="log-kubernetes_namespace">
                  {{ _log.kubernetes_namespace }}
                </span>
                <span class="log-message">{{ _log.log_data }}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!(logs$ | async)?.length && !loadingLogs">
          <div class="rc-log-item">
            <span class="log-message">{{ 'no_data' | translate }}</span>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="log-pagination" *ngIf="pagination.count > 0">
      <aui-paginator
        layout="pager,sizes,jumper"
        [disabled]="loadingLogs"
        [(currentPage)]="pagination.current"
        [(pageSize)]="pagination.size"
        [total]="pagination.count"
        (currentPageChange)="currentPageChange($event)"
        (pageSizeChange)="pageSizeChange($event)"
        [pageSizeOptions]="[10, 20, 50, 100]"
      ></aui-paginator>
      <aui-icon
        icon="basic:question"
        class="log-search-hint"
        auiTooltipPosition="start center"
        auiTooltipType="info"
        [auiTooltip]="'logs_search_hint' | translate"
      ></aui-icon>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="(isDeployed$ | async) === false">
  <rc-not-deployed></rc-not-deployed>
</ng-container>

<ng-template #tags_input_search_hint>
  <div>{{ 'logs_dashboard_search_hint_1' | translate }}</div>
  <div>{{ 'logs_dashboard_search_hint_2' | translate }}</div>
</ng-template>
