<aui-card>
  <div auiCardHeader>
    <ng-container *ngIf="isUpdate; else createTpl">
      {{ 'update' | translate }} {{ updatePayload | aclUnionDisplayName }}
    </ng-container>
    <ng-template #createTpl>
      {{ 'resource_create' | translate }}
    </ng-template>
  </div>

  <rc-field-set-item style="margin-bottom: 16px;">
    <label>{{ 'cluster_belonged' | translate }}</label>
    {{ RSRCService.cluster }}
  </rc-field-set-item>

  <form #form="ngForm">
    <aui-code-editor
      name="yaml"
      required
      [originalValue]="originalYaml"
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yamlInputValue"
    ></aui-code-editor>
  </form>

  <div class="resource-form__footer">
    <button aui-button="primary" (click)="confirm()">
      {{ (isUpdate ? 'update' : 'create') | translate }}
    </button>
    <button aui-button="default" (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-card>
