<aui-dialog-header>
  {{ 'create_snapshot' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'comment' | translate }}</label>
      <textarea
        size="medium"
        aui-input
        style="resize:none"
        name="comment"
        maxlength="30"
        [(ngModel)]="model.comment"
        placeholder="{{ 'version_comment_placeholder' | translate }}"
      ></textarea>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    type="submit"
    (click)="confirm()"
    [disabled]="confirming"
  >
    {{ 'create' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
