@import 'var';

:host {
  display: flex;
  min-height: 20px;
  line-height: 20px;
  align-items: center;
  overflow: hidden;
  color: $color-text-main;
  margin-bottom: 12px;
}

.form-inline {
  &__label {
    white-space: nowrap;
    margin: 0 8px;
    &:not(:empty):after {
      content: ':';
      margin-left: 2px;
    }
  }

  &__control {
    min-width: 0;
    flex: 1;
    display: flex;
    ::ng-deep input[readonly] {
      background-color: #fff;
    }
  }
}
