<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template
    let-data="resource"
    let-permissions="permissions"
    let-networkType="networkType"
  >
    <aui-tab-group type="line" [lazy]="true">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <rc-subnet-detail-info
            [cluster]="(params$ | async).cluster"
            [data]="data"
            [networkType]="networkType"
            [canDelete]="permissions.delete"
            [canUpdate]="permissions.update"
            (onDelete)="delete(data)"
          ></rc-subnet-detail-info>
        </ng-container>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'ip_used' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <rc-subnet-ip-used [data]="data"></rc-subnet-ip-used>
        </ng-container>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
