<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'monitor_node' | translate }}</label>
    <aui-tags-input
      formControlName="monitors"
      [allowRepeat]="false"
      auiFormItemControl
      required
      fxFlex
      [allowEmpty]="false"
      [placeholder]="'add_monitor_node' | translate"
      [hidden]="isUpdate"
    ></aui-tags-input>
    <rc-tags-label
      *ngIf="isUpdate"
      [tagList]="form.get('monitors').value"
      [isWrapped]="true"
    ></rc-tags-label>
    <rc-errors-mapper
      *ngIf="!isUpdate"
      auiFormItemError
      [errors]="form.get('monitors').errors"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'root_path' | translate }}</label>
    <input
      aui-input
      auiFormItemControl
      formControlName="claimRoot"
      required
      [rcReadonlyField]="isUpdate"
    />
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('claimRoot').errors"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'is_auth' | translate }}</label>
    <aui-switch
      [(ngModel)]="isAuth"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="authChangeHandler($event)"
      [hidden]="isUpdate"
    ></aui-switch>
    <span *ngIf="isUpdate">{{ (isAuth ? 'on' : 'off') | translate }}</span>
  </aui-form-item>
  <div [hidden]="!isAuth">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        formControlName="adminId"
        maxlength="63"
        required
        [rcReadonlyField]="isUpdate"
      />
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get('adminId').errors"
      ></rc-errors-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret_namespace' | translate }}</label>
      <aui-select
        formControlName="adminSecretNamespace"
        auiFormItemControl
        required
        [rcReadonlyField]="isUpdate"
      >
        <aui-option
          *ngFor="let namespace of secretNamespaces$ | async"
          [value]="namespace"
          [label]="namespace"
        >
          {{ namespace }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <rc-errors-mapper
        *ngIf="!isUpdate"
        auiFormItemError
        [errors]="form.get('adminSecretNamespace').errors"
      ></rc-errors-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret_name' | translate }}</label>
      <aui-select
        formControlName="adminSecretName"
        auiFormItemControl
        required
        [rcReadonlyField]="isUpdate"
      >
        <aui-option
          *ngFor="let secret of secrets$ | async"
          [value]="secret"
          [label]="secret"
        >
          {{ secret }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <rc-errors-mapper
        *ngIf="!isUpdate"
        auiFormItemError
        [errors]="form.get('adminSecretName').errors"
      ></rc-errors-mapper>
    </aui-form-item>
  </div>
</ng-container>
