:host {
  display: block;
  flex: 1;
}

.attr-line {
  font-size: 14px;
  padding: 2px;
  display: flex;
  line-height: 20px;
  pre {
    flex: 1;
    margin: 0;
  }
}

.aui-table {
  flex: 1;
  .aui-table__column-key {
    flex: 1 0 50%;
  }
  .aui-table__column-path {
    flex: 0 1 50%;
  }
}
