<ng-container *ngIf="volume | pure: allowDisplay; else rawAttr">
  <div class="attr-line">
    {{ volume | pure: getNameOrPath | aclFieldNotAvailable }}
  </div>

  <div class="attr-line" *ngIf="volume | pure: hasConfigItems">
    <label>{{ 'config_items' | translate }}：</label>
    <aui-table [dataSource]="volume | pure: getConfigItems" class="in-table">
      <ng-container auiTableColumnDef="key">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'key' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let data">
          {{ data.key }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="path">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'path' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let data">
          {{ data.path }}
        </aui-table-cell>
      </ng-container>

      <aui-table-header-row
        *auiTableHeaderRowDef="['key', 'path']"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: ['key', 'path']"
      ></aui-table-row>
    </aui-table>
  </div>
</ng-container>

<ng-template #rawAttr>
  <div class="attr-line">
    <pre ngCodeColorize="yaml" [innerHTML]="volume | pure: getYaml"></pre>
  </div>
</ng-template>
