<aui-card class="resource-form__card">
  <div auiCardHeader fxFlexLayout>
    <span *ngIf="!data">{{ 'create_ingress' | translate }}</span>
    <span *ngIf="data">{{ 'update_ingress' | translate }}</span>
    <div fxFlex></div>
    <aui-radio-group
      name="mode"
      [isPlain]="false"
      (ngModelChange)="modeChange($event)"
      [(ngModel)]="mode"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <form>
    <rc-ingress-form
      *ngIf="mode === 'UI'"
      auiFormItemControl
      name="ingressForm"
      [(ngModel)]="ingress"
      [baseParams]="baseParams"
      [isUpdate]="!!data"
      [services]="services$ | async"
    ></rc-ingress-form>

    <aui-code-editor
      *ngIf="mode === 'YAML'"
      name="yaml"
      style="width: 100%;"
      [(ngModel)]="ingressYaml"
      [originalValue]="originalYaml"
      [options]="codeEditorOptions"
    ></aui-code-editor>
  </form>
</aui-card>

<div class="resource-form__footer">
  <span fxFlex></span>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    <span *ngIf="data">{{ 'update' | translate }}</span>
    <span *ngIf="!data">{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>

<ng-template #pathsNotification>
  <aui-dialog-header>
    <aui-icon
      icon="exclamation_circle_s"
      size="24px, 24px"
      color="#ffab00"
    ></aui-icon>
    {{
      'ingress_paths_duplicated_title'
        | translate: { name: ingress.metadata.name }
    }}
  </aui-dialog-header>
  <aui-dialog-content>
    <p class="ingress-check__tooltip">
      {{ 'ingress_paths_duplicated_content' | translate }}
    </p>
    <div class="ingress-check__container">
      <div
        class="ingress-check__item"
        *ngFor="let item of duplicatedIngressItem"
      >
        <h3>{{ item.name }}</h3>
        <p *ngFor="let path of item.paths">{{ path }}</p>
      </div>
    </div>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button aui-button="primary" (click)="closeNotificationDialog()">
      {{ 'goto_adjust' | translate }}
    </button>
  </aui-dialog-footer>
</ng-template>
