@import 'mixins';
@import 'var';
.ingress-check {
  &__tooltip {
    margin-bottom: 16px;
  }
  &__container {
    padding: 12px;
    line-height: 20px;
    border-radius: 2px;
    background-color: $page-background;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
    h3 {
      font-weight: 600;
      margin-bottom: 4px;
    }
  }
}

:host ::ng-deep .aui-code-editor {
  @include create-page-fullheight__card;
}
