<aui-dialog-header>
  {{ 'health_check' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <div class="rc-container-fields-healthcheck-edit">
    <form #form="ngForm" auiForm (ngSubmit)="onSubmit()">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'k8s_service_protocol' | translate }}</label>
        <aui-radio-group
          auiFormItemControl
          name="protocol"
          #protocolType
          [(ngModel)]="model.protocol"
          required
        >
          <aui-radio-button
            *ngFor="let option of protocolOptions"
            [value]="option"
          >
            {{ option }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'k8s_service_initial_delay_seconds' | translate }}
        </label>
        <aui-input-group auiFormItemControl required>
          <input
            aui-input
            type="number"
            name="initialDelaySeconds"
            [(ngModel)]="model.initialDelaySeconds"
            required
            rcErrorsMapper
            [rcErrorsMapperOutlet]="initialDelaySecondsErr"
          />
          <span auiInputAddonAfter>s</span>
        </aui-input-group>
        <div auiFormItemError #initialDelaySecondsErr></div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'k8s_service_period_seconds' | translate }}
        </label>
        <aui-input-group auiFormItemControl required>
          <input
            aui-input
            type="number"
            name="periodSeconds"
            [(ngModel)]="model.periodSeconds"
            required
            rcErrorsMapper
            [rcErrorsMapperOutlet]="periodSecondsErr"
          />
          <span auiInputAddonAfter>s</span>
        </aui-input-group>
        <div auiFormItemError #periodSecondsErr></div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'k8s_service_timeout_seconds' | translate }}
        </label>
        <aui-input-group auiFormItemControl required>
          <input
            aui-input
            type="number"
            name="timeoutSeconds"
            [(ngModel)]="model.timeoutSeconds"
            required
            rcErrorsMapper
            [rcErrorsMapperOutlet]="timeoutSecondsErr"
          />
          <span auiInputAddonAfter>s</span>
        </aui-input-group>
        <div auiFormItemError #timeoutSecondsErr></div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'k8s_service_success_threshold' | translate }}
        </label>
        <aui-input-group auiFormItemControl required>
          <input
            aui-input
            type="number"
            name="successThreshold"
            [readonly]="
              dialogData.type === 'livenessProbe' ||
              dialogData.type == 'liveness'
            "
            [(ngModel)]="model.successThreshold"
            required
            rcErrorsMapper
            [rcErrorsMapperOutlet]="successThresholdErr"
          />
          <span auiInputAddonAfter>{{ 'times' | translate }}</span>
        </aui-input-group>
        <div auiFormItemError #successThresholdErr></div>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'k8s_service_failure_threshold' | translate }}
        </label>
        <aui-input-group auiFormItemControl required>
          <input
            aui-input
            type="number"
            name="failureThreshold"
            [(ngModel)]="model.failureThreshold"
            rcErrorsMapper
            [rcErrorsMapperOutlet]="failureThresholdErr"
            required
          />
          <span auiInputAddonAfter>{{ 'times' | translate }}</span>
        </aui-input-group>
        <div auiFormItemError #failureThresholdErr></div>
      </aui-form-item>

      <aui-form-item *ngIf="model.protocol === 'HTTP'">
        <label auiFormItemLabel>{{ 'k8s_service_scheme' | translate }}</label>
        <aui-radio-group
          auiFormItemControl
          required
          name="kind"
          [(ngModel)]="model.scheme"
        >
          <aui-radio-button
            *ngFor="let option of schemeOptions"
            [value]="option"
          >
            {{ option }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item
        *ngIf="model.protocol === 'HTTP' || model.protocol === 'TCP'"
      >
        <label auiFormItemLabel>{{ 'k8s_service_port' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          type="number"
          name="port"
          [(ngModel)]="model.port"
          required
          rcErrorsMapper
          [rcErrorsMapperOutlet]="portErr"
        />
        <div auiFormItemError #portErr></div>
      </aui-form-item>
      <aui-form-item *ngIf="model.protocol === 'HTTP'">
        <label auiFormItemLabel>{{ 'k8s_service_path' | translate }}</label>
        <input
          auiFormItemControl
          aui-input
          type="text"
          name="path"
          [(ngModel)]="model.path"
          required
          rcErrorsMapper
          [rcErrorsMapperOutlet]="pathErr"
        />
        <div auiFormItemError #pathErr></div>
      </aui-form-item>
      <aui-form-item *ngIf="model.protocol === 'HTTP'">
        <label auiFormItemLabel>
          {{ 'healthcheck_request_headers' | translate }}
        </label>
        <rc-key-value-form-table
          auiFormItemControl
          name="headers"
          [(ngModel)]="model.headers"
        ></rc-key-value-form-table>
      </aui-form-item>
      <aui-form-item *ngIf="model.protocol === 'EXEC'">
        <label auiFormItemLabel>{{ 'k8s_service_command' | translate }}</label>
        <rc-string-array-form-table
          auiFormItemControl
          name="commands"
          [(ngModel)]="model.commands"
          resourceName="command"
        ></rc-string-array-form-table>
      </aui-form-item>
    </form>
  </div>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  <button aui-button="primary" type="submit" (click)="confirm()">
    {{ (isUpdate ? 'save' : 'confirm') | translate }}
  </button>
</aui-dialog-footer>
