<ng-container
  *ngFor="let type of probeTypes; let i = index; trackBy: trackByType"
>
  <div class="hc-row">
    <div class="hc-row__item">
      <rc-container-healthcheck-display
        [probe]="probesEntities[type]"
        [kind]="type"
      ></rc-container-healthcheck-display>
      <button
        *ngIf="!probesEntities[type]"
        type="button"
        aui-button="primary"
        [plain]="true"
        size="mini"
        (click)="addItem(type)"
      >
        <ng-container *ngIf="type === 'livenessProbe'">
          {{ 'k8s_service_add_liveness_health_check' | translate }}
        </ng-container>
        <ng-container *ngIf="type === 'readinessProbe'">
          {{ 'k8s_service_add_readiness_health_check' | translate }}
        </ng-container>
      </button>
    </div>
    <div class="hc-row__action">
      <ng-container *ngIf="probesEntities[type]">
        <span>
          <aui-icon
            icon="basic:pencil_edit"
            (click)="updateItem(type)"
          ></aui-icon>
        </span>
        <span>
          <aui-icon
            icon="basic:minus_circle"
            (click)="removeItem(type)"
          ></aui-icon>
        </span>
      </ng-container>
    </div>
  </div>
  <div *ngIf="i === 0" class="hc-item-divider"></div>
</ng-container>
