:host {
  ::ng-deep {
    .condition-message-tip {
      white-space: pre-line;
    }
  }

  display: flex;

  .message-tip-icon {
    margin-left: 6px;
  }

  .status-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
