<ng-container *ngIf="pod | pure: getPodStatus as status; else nodata">
  <div class="status-wrapper">
    <rc-status-icon
      [status]="status | pure: getPodAggregatedStatus"
      [colorMapper]="PodStatusColorMapper"
      [iconMapper]="PodStatusIconMapper"
      [withText]="false"
      [ngStyle]="{ 'margin-right': 0 }"
    ></rc-status-icon>
    {{ status }}
    <ng-container
      [ngTemplateOutlet]="readyContainerTmpl"
      [ngTemplateOutletContext]="{ $implicit: pod | pure: getReadyContainer }"
    ></ng-container>
    <ng-template #readyContainerTmpl let-data>
      ({{ data.ready }}/{{ data.all }})
    </ng-template>
  </div>
  <aui-icon
    icon="basic:overview"
    *ngIf="pod | pure: getConditionMessage as messages"
    class="message-tip-icon"
    [auiTooltip]="messages"
    size="14"
    auiTooltipType="info"
    auiTooltipClass="condition-message-tip"
  ></aui-icon>
</ng-container>
<ng-template #nodata>-</ng-template>
