@import 'var';
:host {
  display: flex;
  flex: 1;
  .form-tooltips {
    &__row {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      height: 48px;
      width: 32px;
      padding: 8px 0 8px 8px;
      color: $color-text-help;
      font-size: 14px;
    }
  }
  .form-group {
    flex: 1;
    padding: 0 8px;
    background-color: #fafafa;
    &__row {
      display: flex;
      padding: 8px 0;
      &:not(:first-child) {
        border-top: 1px dashed $border-color;
        ::ng-deep .aui-input-group__addon--before {
          width: 300px;
        }
      }
    }
    aui-input-group {
      flex: 1;
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    aui-select {
      flex: 0 0 60px;
      ::ng-deep .aui-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
      }
    }
    .addon-label {
      white-space: nowrap;
    }
    .input-groups-wrapper {
      display: flex;
      flex: 1;
      align-items: center;
      &:first-child {
        margin-right: 8px;
      }
    }
  }
}
