<form [formGroup]="form" class="form-group">
  <div [style.padding-bottom]="'8px'">
    <div
      class="form-group__row"
      [style.padding-bottom]="0"
      formGroupName="limits"
    >
      <div class="input-groups-wrapper" [formGroupName]="'cpu'">
        <aui-input-group>
          <div auiInputAddonBefore class="addon-label">
            {{ 'cpu' | translate }}
          </div>
          <input aui-input auiFormItemControl formControlName="value" />
        </aui-input-group>
        <aui-select
          auiFormItemControl
          [allowCreate]="true"
          [filterable]="true"
          formControlName="unit"
        >
          <aui-option
            *ngFor="let unit of resourceUnits['cpu']"
            [value]="unit.value"
            [label]="unit.label"
          >
            {{ unit.label }}
          </aui-option>
        </aui-select>
      </div>

      <div class="input-groups-wrapper" [formGroupName]="'memory'">
        <aui-input-group>
          <div auiInputAddonBefore class="addon-label">
            {{ 'memory' | translate }}
          </div>
          <input
            aui-input
            auiFormItemControl
            required
            formControlName="value"
          />
        </aui-input-group>
        <aui-select
          auiFormItemControl
          [allowCreate]="true"
          [filterable]="true"
          formControlName="unit"
        >
          <aui-option
            *ngFor="let unit of resourceUnits['memory']"
            [value]="unit"
          >
            {{ unit }}
          </aui-option>
        </aui-select>
      </div>
    </div>
    <rc-errors-mapper
      [errors]="form.get(['limits', 'cpu', 'value']).errors"
      [controlName]="'cpu' | translate"
      [errorsMapper]="{
        pattern: ('cpu' | translate) + (POSITIVE_INT_PATTERN.tip | translate)
      }"
    ></rc-errors-mapper>

    <rc-errors-mapper
      [errors]="form.get(['limits', 'memory', 'value']).errors"
      [controlName]="'memory' | translate"
      [errorsMapper]="{
        pattern: ('memory' | translate) + (POSITIVE_INT_PATTERN.tip | translate)
      }"
    ></rc-errors-mapper>

    <rc-errors-mapper
      [errors]="form.get(['limits', 'cpu']).errors"
      [errorsMapper]="errorMapper"
    ></rc-errors-mapper>

    <rc-errors-mapper
      [errors]="form.get(['limits', 'memory']).errors"
      [errorsMapper]="errorMapper"
    ></rc-errors-mapper>
  </div>
  <ng-container formGroupName="customResource">
    <ng-container *ngFor="let item of customResourceConfigs">
      <div class="form-group__row">
        <aui-input-group>
          <div auiInputAddonBefore class="addon-label">
            {{ item.key }}
          </div>
          <input aui-input auiFormItemControl [formControlName]="item.key" />
        </aui-input-group>
      </div>
      <rc-errors-mapper
        [errors]="form.get(['customResource', item.key]).errors"
        [errorsMapper]="{
          pattern: POSITIVE_INT_PATTERN.tip | translate
        }"
      ></rc-errors-mapper>
    </ng-container>
  </ng-container>
</form>

<div class="form-tooltips">
  <div class="form-tooltips__row">
    <aui-icon
      icon="basic:question"
      [auiTooltip]="'resource_requirements_hint' | translate"
      auiTooltipPosition="start center"
    ></aui-icon>
  </div>
  <div class="form-tooltips__row" *ngFor="let item of customResourceConfigs">
    <aui-icon
      [auiTooltip]="lang$ | async | pure: getCustomResourceTooltip:item"
      [auiTooltipPosition]="'end center'"
      icon="basic:question"
      [size]="'16px, 16px'"
    ></aui-icon>
  </div>
</div>
