@mixin service-group-class {
  .rule-service-group {
    .rule-service {
      padding-right: 8px;
    }

    .rule-service-group__more {
      margin-left: 8px;
    }
  }
}

:host {
  @include service-group-class;

  .aui-table__column-k8s_service_group,
  .aui-table__column-default_k8s_service {
    .rule-service {
      &-table {
        tr {
          &:not(:last-child) {
            td {
              border-bottom: thin dashed #ededed;
              padding-bottom: 3px;
            }
          }
        }
      }
    }
  }
}

.rule-service-group-menu .aui-menu {
  // stylelint-disable-next-line plugin/no-unsupported-browser-features
  max-width: fit-content;
  padding: 20px;

  .rule-service—group__menu-wrapper {
    max-height: 400px;
    overflow: auto;
    @include service-group-class;

    .rule-service {
      &-table {
        tr {
          td {
            // stylelint-disable-next-line plugin/no-unsupported-browser-features
            border-bottom: thin dashed #ededed;
            padding-bottom: 3px;
          }
        }
      }
    }
  }
}
