<table class="rule-service-table">
  <ng-container *ngFor="let service of services; let ind = index">
    <tr class="rule-service-group" *ngIf="ind < 2">
      <td class="rule-service">{{ service.namespace }}</td>
      <td class="rule-service">{{ service.name }}: {{ service.port }}</td>
      <td>
        {{ 'weights' | translate }} : {{ service.weight }} ({{
          getWeightsPercent(services, service.weight)
        }})
      </td>
    </tr>
  </ng-container>
  <div class="rule-service-group__more" *ngIf="services?.length > 2">
    <span>{{ 'total' | translate }}</span>
    <button
      size="mini"
      type="button"
      [auiDropdown]="menu"
      auiDropdownPosition="bottom start"
      auiDropdownClass="rule-service-group-menu"
      aui-button="text"
      [square]="true"
    >
      {{ services.length }}
    </button>
    <span>{{ 'ge' | translate }}</span>
  </div>
</table>

<aui-menu #menu>
  <div class="rule-service—group__menu-wrapper">
    <table class="rule-service-table">
      <tr class="rule-service-group" *ngFor="let service of services">
        <td class="rule-service">{{ service.namespace }}</td>
        <td class="rule-service">{{ service.name }}: {{ service.port }}</td>
        <td>
          {{ 'weights' | translate }} : {{ service.weight }} ({{
            getWeightsPercent(services, service.weight)
          }})
        </td>
      </tr>
    </table>
  </div>
</aui-menu>
