@import 'mixins';

:host {
  ::ng-deep {
    .aui-code-editor {
      @include detail-page-fullheight;
    }
    .aui-card__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
