<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="back()"
>
  <ng-template let-secret>
    <aui-tab-group [lazy]="true">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <aui-card>
            <div auiCardHeader>
              <div>
                {{ secret.metadata.name }}
                <aui-icon
                  *ngIf="secret | rcIsFederatedResource"
                  class="icon--federation"
                  icon="basic:federation_cluster"
                  margin="left"
                  [auiTooltip]="'federated_resource' | translate"
                ></aui-icon>
              </div>

              <button
                aui-button="default"
                [plain]="true"
                [auiDropdown]="menu"
                [disabled]="secret | rcIsFederatedResource"
              >
                {{ 'action' | translate }}
                <aui-icon icon="angle_down" margin="left"></aui-icon>
              </button>
              <aui-menu #menu size="small">
                <acl-disabled-container
                  [isAllowed]="(permissions$ | async).update"
                >
                  <aui-menu-item (click)="updateSecret()">
                    {{ 'update' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
                <acl-disabled-container
                  [isAllowed]="(permissions$ | async).delete"
                >
                  <aui-menu-item (click)="deleteSecret()">
                    {{ 'delete' | translate }}
                  </aui-menu-item>
                </acl-disabled-container>
              </aui-menu>
            </div>
            <rc-field-set-group auiCardContent>
              <rc-field-set-item>
                <label>{{ 'created_time' | translate }}</label>
                {{ secret.metadata.creationTimestamp | rcFormatUtcStr }}
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'type' | translate }}</label>
                <div *ngIf="secret.type" [title]="secret.type">
                  {{ secret.type | pure: getDisplayType }}
                </div>
              </rc-field-set-item>
              <rc-field-set-item *ngIf="secret | pure: getBelongingApp as app">
                <label>{{ 'belonging_app' | translate }}</label>
                <div>
                  <a
                    [routerLink]="[
                      '/workspace',
                      baseParams,
                      'app',
                      'detail',
                      app
                    ]"
                  >
                    {{ app }}
                  </a>
                </div>
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'description' | translate }}</label>
                <div [title]="getDescription(secret)">
                  {{ getDescription(secret) | aclFieldNotAvailable }}
                </div>
              </rc-field-set-item>
            </rc-field-set-group>
          </aui-card>

          <aui-card class="data">
            <div auiCardHeader>
              <span>
                {{ 'config_items' | translate }}
              </span>
              <acl-disabled-container
                [isAllowed]="(permissions$ | async).update"
              >
                <button aui-button (click)="addSecret()">
                  {{ 'add_configuration_item' | translate }}
                </button>
              </acl-disabled-container>
            </div>
            <rc-secret-data-viewer
              [secret]="secret"
              [clusterName]="baseParams.cluster"
              [canUpdate]="(permissions$ | async).update"
              (updated)="dataUpdated($event)"
            ></rc-secret-data-viewer>
          </aui-card>
        </ng-container>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <aui-code-editor
          *auiTabContent
          name="yaml"
          [actionsConfig]="editorActions"
          [options]="editorOptions"
          [ngModel]="secret | pure: resourceToYaml"
        ></aui-code-editor>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>{{ 'workload' | translate }}</ng-container>
        <ng-container *auiTabContent>
          <aui-card>
            <aui-table [dataSource]="refs$ | async">
              <ng-container auiTableColumnDef="name">
                <aui-table-header-cell *auiTableHeaderCellDef>
                  {{ 'name' | translate }}
                </aui-table-header-cell>
                <aui-table-cell *auiTableCellDef="let item">
                  {{ item | aclName }}
                </aui-table-cell>
              </ng-container>
              <ng-container auiTableColumnDef="kind">
                <aui-table-header-cell *auiTableHeaderCellDef>
                  {{ 'type' | translate }}
                </aui-table-header-cell>
                <aui-table-cell *auiTableCellDef="let item">
                  {{ item.kind }}
                </aui-table-cell>
              </ng-container>

              <aui-table-header-row
                *auiTableHeaderRowDef="['name', 'kind']"
              ></aui-table-header-row>
              <aui-table-row
                *auiTableRowDef="let row; columns: ['name', 'kind']"
              ></aui-table-row>
            </aui-table>

            <div
              *ngIf="(refs$ | async) && !(refs$ | async).length"
              class="empty-placeholder"
            >
              {{ 'no_data' | translate }}
            </div>

            <rc-loading-mask [loading]="!(refs$ | async)"></rc-loading-mask>
          </aui-card>
        </ng-container>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
