<aui-card *ngIf="data">
  <div auiCardHeader>
    {{ 'rule' | translate }}
  </div>
  <aui-table [dataSource]="transformData">
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>

    <ng-container auiTableColumnDef="host">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'address' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a target="view_window" [href]="'http://' + rowData.host | rcTrustUrl">
          {{ rowData.host }}
        </a>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="service">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'k8s_service' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.service | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="port">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'port' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.port | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <div *ngIf="!(data?.length > 0)" class="empty-placeholder">
    {{ 'zero_state_hint' | translate: { resourceName: 'rule' | translate } }}
  </div>
</aui-card>
