@import 'var';
@import 'mixins';

$label-width: 142px;
$keys-container-width: 150px;

:host {
  display: flex;
  position: relative;
  max-height: calc(100vh - 232px);
}

.secret-data-keys {
  height: 100%;
  margin-top: 12px;
  overflow: auto;
  @include scroll-bar;

  &-container {
    width: 228px;
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #666;
    cursor: pointer;

    &-dot {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 4px;
      margin-right: 4px;
      background-color: currentColor;
      flex-shrink: 0;
    }

    &-key {
      @include text-overflow;
    }

    &:hover {
      color: $color-primary;
    }

    &.isActive {
      font-weight: bold;
      color: $color-primary;
    }
  }
}

.secret-data-values {
  @include scroll-bar;

  overflow: auto;
  position: relative;
  margin-left: 16px;
  padding-left: 16px;
  border-left: solid 1px #ededed;
  flex: 1;
}

.secret-data-section {
  &:not(:last-child) {
    border-bottom: $default-border;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;

    .head {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .eye {
      color: $color-primary;
      font-size: 20px;
      margin-right: 4px;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
