<ng-container *ngIf="secretItems && secretItems.length > 0">
  <div class="secret-data-keys-container">
    <aui-search
      [searchButton]="false"
      [placeholder]="'filter_by_name_placeholder' | translate"
      [(keyword)]="keyword"
    ></aui-search>
    <div
      *ngIf="secretItems | pure: filterSecrets:keyword as items"
      class="secret-data-keys"
    >
      <div
        *ngFor="let item of items"
        class="secret-data-keys__label"
        [auiTocLink]="item.key.replace('.', '')"
        [for]="toc"
        (click)="this.visibleMap[item.key] = true"
      >
        <div class="secret-data-keys__label-dot"></div>
        <div class="secret-data-keys__label-key">{{ item.key }}</div>
      </div>
      <rc-zero-state
        [zeroState]="!items.length"
        resourceName="result"
      ></rc-zero-state>
    </div>
  </div>

  <div class="secret-data-values" auiTocContainer #toc="auiTocContainer">
    <div
      class="secret-data-section"
      [auiTocContent]="item.key.replace('.', '')"
      *ngFor="let item of secretItems"
    >
      <div class="secret-data-section__header">
        <div class="head" (click)="toggleCollapse(item.key)">
          <aui-icon
            class="eye"
            [icon]="visibleMap[item.key] ? 'basic:eye_s' : 'basic:eye_slash_s'"
          ></aui-icon>
          <span>
            {{ item.key }}
          </span>
          <span *ngIf="!visibleMap[item.key]">
            : {{ decode(item.value).length }} {{ 'bytes' | translate }}
          </span>
        </div>
        <div>
          <acl-disabled-container
            [isAllowed]="canUpdate"
            [isDisabled]="secret | rcIsFederatedResource"
          >
            <button
              [plain]="true"
              aui-button="text"
              (click)="updateItem(item, updateTemplate)"
            >
              <aui-icon icon="basic:pencil_s"></aui-icon>
            </button>
          </acl-disabled-container>
          <acl-disabled-container
            [isAllowed]="canUpdate"
            [isDisabled]="secret | rcIsFederatedResource"
          >
            <button [plain]="true" aui-button="text" (click)="deleteItem(item)">
              <aui-icon icon="basic:trash"></aui-icon>
            </button>
          </acl-disabled-container>
        </div>
      </div>
      <pre *ngIf="visibleMap[item.key]">{{ decode(item.value) }}</pre>
    </div>
  </div>
</ng-container>

<rc-zero-state
  [zeroState]="secretItems.length === 0"
  resourceName="config_items"
></rc-zero-state>

<ng-template #updateTemplate let-data>
  <aui-dialog-header>
    {{ 'configmap_update_config' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <form #form="ngForm" auiForm auiFormLabelWidth="70px">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'key' | translate }}</label>
        <span auiFormItemControl>{{ data.key }}</span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'value' | translate }}</label>
        <textarea
          auiFormItemControl
          aui-input
          size="medium"
          name="value"
          [autosize]="{ minRows: 12, maxRows: 12 }"
          [(ngModel)]="data.value"
        ></textarea>
      </aui-form-item>
    </form>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button
      aui-button="primary"
      (click)="confirmUpdate(data.key, data.value)"
      [loading]="submitting"
    >
      {{ 'confirm' | translate }}
    </button>
    <button aui-button auiDialogClose>
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</ng-template>
