<form [formGroup]="form" auiForm>
  <ng-container formGroupName="metadata">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <ng-container auiFormItemControl required>
        <input
          *ngIf="!isUpdate"
          aui-input
          formControlName="name"
          (blur)="onBlur()"
        />
        <span *ngIf="isUpdate">
          {{ form.get('metadata')?.get('name')?.value }}
        </span>
      </ng-container>
      <rc-errors-mapper
        auiFormItemError
        *ngIf="!isUpdate"
        [errors]="form.get(['metadata', 'name']).errors"
        [errorsMapper]="{
          pattern: resourceNamePattern.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item formGroupName="annotations">
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <ng-container auiFormItemControl>
        <input aui-input [formControlName]="displayNameKey" (blur)="onBlur()" />
      </ng-container>
    </aui-form-item>
  </ng-container>
</form>
