<aui-dialog-header>
  {{ 'update_image_tag' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="150px">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'container_name' | translate }}
      </label>
      <span>{{ data.containerName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'image_address' | translate }}
      </label>
      <span>{{ imageName }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'image_tag' | translate }}
      </label>
      <aui-select
        auiFormItemControl
        *ngIf="!initialized || imageTagOptions?.length"
        name="tag"
        required
        [(ngModel)]="selectedImageTag"
        [filterable]="true"
        [allowCreate]="true"
        [loading]="!initialized"
        [placeholder]="'please_select_image_tag' | translate"
      >
        <aui-option *ngFor="let tagName of imageTagOptions" [value]="tagName">
          {{ tagName }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <input
        auiFormItemControl
        aui-input
        *ngIf="initialized && !imageTagOptions?.length"
        name="tag"
        required
        [placeholder]="'please_select_image_tag' | translate"
        [(ngModel)]="selectedImageTag"
      />
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [loading]="submitting">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
