<aui-dialog-header>
  {{ (dialogData.resource ? 'update_chartrepo' : 'add_chartrepo') | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" *ngIf="initialized" auiForm>
    <rc-chartrepo-create-spec-form
      [isUpdate]="!!dialogData.resource"
      name="chartRepo"
      [(ngModel)]="formModel"
    ></rc-chartrepo-create-spec-form>
  </form>
  <div class="loading-placeholder" *ngIf="!initialized">
    <aui-icon icon="spinner" size="24px, 24px"></aui-icon>
  </div>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [loading]="submitting">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
