@import 'var';
:host {
  ::ng-deep {
    .aui-radio-group.aui-radio-group--column {
      width: 100%;
    }
  }
}
.hpa-update-row-wrapper {
  margin-bottom: 12px;
  flex: 1;
  .hpa-update-row-content {
    margin-left: $radio-margin;
    display: flex;
    form {
      flex: 1;
    }
    aui-icon {
      font-size: 16px;
      margin-left: 8px;
      align-self: flex-start;
    }
  }
  .indicator-adjust-container {
    flex: 1;
    padding: 8px;
    background-color: #fafafa;
  }

  .text-help {
    font-size: 12px;
  }
}
