<aui-dialog-header>
  {{ 'update_hpa' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <aui-radio-group [(ngModel)]="updateType" direction="column">
    <div class="hpa-update-row-wrapper">
      <aui-radio [value]="HpaTypeEnum.None">
        {{ 'not_set' | translate }}
      </aui-radio>
      <div class="text-help hpa-update-row-content">
        {{ 'close_hpa' | translate }}
      </div>
    </div>

    <div class="hpa-update-row-wrapper">
      <aui-radio [value]="HpaTypeEnum.HPA">
        {{ 'auto_adjustment' | translate }}
      </aui-radio>
      <div class="hpa-update-row-content">
        <form
          #indicatorForm="ngForm"
          auiForm
          class="indicator-adjust-container"
        >
          <rc-hpa-indicator-form
            name="hpa-indicator"
            [podController]="podController"
            [workloadType]="workloadType"
            [isHpaV2]="isHpaV2"
            [hpaV2Config]="hpaV2Config"
            [cluster]="cluster"
            [(ngModel)]="hpaFormModel"
            [disabled]="updateType !== HpaTypeEnum.HPA"
          ></rc-hpa-indicator-form>
        </form>
        <aui-icon
          [auiTooltip]="indicator_tip"
          icon="basic:question"
          color="#999"
        ></aui-icon>
        <ng-template #indicator_tip>
          <div>{{ 'min_replicas_tip' | translate }}</div>
          <div>{{ 'max_replicas_tip' | translate }}</div>
        </ng-template>
      </div>
    </div>

    <div class="hpa-update-row-wrapper" *ngIf="isCronSupport">
      <aui-radio [value]="HpaTypeEnum.CronHpa">
        {{ 'timing_adjustment' | translate }}
      </aui-radio>
      <div class="hpa-update-row-content">
        <form #cronForm="ngForm" auiForm>
          <rc-hpa-cron-rules-form
            name="hpa-timing"
            [podController]="podController"
            [(ngModel)]="cronHpaRulesFormModel"
            [disabled]="updateType !== HpaTypeEnum.CronHpa"
          ></rc-hpa-cron-rules-form>
          <span></span>
        </form>
        <aui-icon
          [auiTooltip]="cron_tip"
          icon="basic:question"
          color="#999"
        ></aui-icon>
        <ng-template #cron_tip>
          <div>{{ 'cron_hpa_time_tip' | translate }}</div>
          <div>{{ 'cron_hpa_custom_tip' | translate }}</div>
        </ng-template>
      </div>
    </div>
  </aui-radio-group>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ 'update' | translate }}
  </button>
  <button aui-button (click)="finish.emit()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
