<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <ng-container *ngIf="!hostNetwork">
    <aui-form-item *ngIf="networkType$ | async | pure: subnetChosenEnable">
      <label auiFormItemLabel>{{ 'subnet' | translate }}</label>
      <aui-select formControlName="subnet">
        <aui-option
          *ngFor="let subnet of subnetsList$ | async"
          [value]="subnet.metadata.name"
          [label]="subnet.metadata.name"
        >
          {{ subnet.metadata.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </aui-form-item>
    <aui-form-item
      *ngIf="networkType$ | async | pure: fixIpEnable:workloadType"
    >
      <label auiFormItemLabel>{{ 'fix_ip' | translate }}</label>
      <aui-tags-input
        auiFormItemControl
        style="display: inline-block; width: 100%;"
        formControlName="fixIp"
        [allowRepeat]="false"
        [allowEmpty]="false"
        placeholder="{{ 'fix_ip_format_placeholder' | translate }}"
      ></aui-tags-input>
      <ng-container auiFormItemHint>
        <span *ngIf="subnetCidr">
          {{ 'fix_ip_should_belong_tip' | translate: { cidr: subnetCidr } }}
        </span>
      </ng-container>

      <aui-icon
        auiFormItemAddon
        icon="basic:question"
        [auiTooltip]="'fix_ip_hint' | translate"
        auiTooltipPosition="start center"
      ></aui-icon>
    </aui-form-item>
    <ng-container
      *ngIf="networkType$ | async | pure: floatingIpEnable:workloadType"
    >
      <aui-form-item>
        <label auiFormItemLabel>{{ 'floating_ip' | translate }}</label>
        <aui-switch
          auiFormItemControl
          formControlName="floatingIp"
        ></aui-switch>
      </aui-form-item>
      <aui-form-item *ngIf="form.get('floatingIp').value">
        <label auiFormItemLabel>{{ 'ip_recycle_strategy' | translate }}</label>
        <aui-select formControlName="ipRecycleStrategy">
          <aui-option
            *ngFor="let strategy of IpRecycleStrategyEnum | keyvalue"
            [value]="strategy.value"
            label="{{ strategy.value | translate }}"
          >
            {{ strategy.value | translate }}
          </aui-option>
        </aui-select>
        <span auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'ip_recycle_strategy_hint' | translate"
            icon="basic:question"
            color="#999"
          ></aui-icon>
        </span>
      </aui-form-item>
    </ng-container>
  </ng-container>
</form>
