@import 'var';

:host {
  margin-bottom: 50px;

  ::ng-deep {
    .aui-dialog__content {
      padding: 0 !important;
      background-color: $color-info-extra-light;
    }
  }
}

.rule-container {
  padding: 8px;
  background: $color-info-extra-light;
  flex: 1;
}

.rule {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  &.rule-item-container ::ng-deep .aui-card {
    border: none;
    padding-right: 38.5px;
  }
}

.rule + .rule {
  margin-top: 10px;
}

.add_description-container {
  padding-bottom: 8px;
  color: #999;
}
