<ng-container *ngIf="loadBalancer$ | async">
  <ng-container
    *ngTemplateOutlet="content; context: { $implicit: confirming$$ | async }"
  ></ng-container>
  <ng-template #content let-confirming>
    <aui-card>
      <div auiCardHeader>
        {{
          params.rule ? ('update_rule' | translate) : ('add_rule' | translate)
        }}
      </div>
      <rc-loading-mask
        style="height: 330px;"
        [loading]="!frontend"
      ></rc-loading-mask>
      <form
        auiForm
        #ngForm="ngForm"
        (ngSubmit)="!confirming && onSubmit(ngForm)"
      >
        <ng-container *ngIf="frontend">
          <aui-form-item>
            <label auiFormItemLabel>{{ 'load_balancer' | translate }}</label>
            {{ params.name }}
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'port' | translate }}</label>
            {{ frontend.spec.port }}
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'protocol' | translate }}</label>
            {{ frontend.spec.protocol }}
          </aui-form-item>
          <aui-form-item
            class="aui-form-item__rule"
            *ngIf="frontend.spec.protocol != 'tcp'"
          >
            <label auiFormItemLabel>{{ 'rule' | translate }}</label>
            <div class="rule-container">
              <div class="add_description-container">
                {{ 'load_balancer_port_add_description' | translate }}
              </div>
              <div
                class="rule rule-item-container"
                *ngFor="let rule of ruleList; index as i; last as isLast"
              >
                <aui-card>
                  <rc-load-balancer-rule-form
                    [name]="'rule_' + i"
                    [cluster]="params.cluster"
                    [namespace]="params.namespace"
                    [inWorkspace]="!!workspace"
                    [namespaceList]="namespaceList"
                    [serviceList]="serviceList"
                    [secretList]="secretList"
                    [domainList]="domainList"
                    [loadBalancer]="loadBalancer"
                    [frontendName]="frontend.metadata.name"
                    [showCertificate]="frontend.spec.protocol === 'https'"
                    [(ngModel)]="rule.value"
                  ></rc-load-balancer-rule-form>
                </aui-card>
              </div>
            </div>
          </aui-form-item>
        </ng-container>
      </form>
    </aui-card>
    <div class="resource-form__footer">
      <div style="flex: 1;"></div>
      <button
        aui-button="primary"
        [loading]="!frontend || confirming"
        [disabled]="!frontend || confirming"
        (click)="ngForm.onSubmit()"
      >
        <span>
          {{ (params.rule ? 'update' : 'add') | translate }}
        </span>
      </button>
      <button
        type="button"
        aui-button
        [disabled]="confirming"
        (click)="cancel()"
      >
        {{ 'cancel' | translate }}
      </button>
    </div>
  </ng-template>
</ng-container>
