<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-data="resource" let-permissions="permissions">
    <aui-tab-group type="line" [lazy]="true">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <rc-cron-job-detail-info
          *auiTabContent
          [data]="data"
          [baseParams]="baseParams"
          [canUpdate]="permissions.update"
          [canDelete]="permissions.delete"
          (onUpdateSuccess)="dataManager.reload()"
          (onUpdate)="update(data)"
          (onDelete)="delete(data)"
          (onExecuteNow)="executeNow(data)"
        ></rc-cron-job-detail-info>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'job_record' | translate }}
        </ng-container>
        <rc-job-record-list
          *auiTabContent
          [hasReferencesJobRecord]="false"
          [labelSelector]="labelSelector"
        ></rc-job-record-list>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="data"
        ></rc-resource-yaml-display>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'config' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <rc-workload-detail-env
            [podTemplate]="data?.spec.jobTemplate.spec.template"
            [baseParams]="baseParams"
            [isFederatedResource]="data | rcIsFederatedResource"
            [canUpdate]="permissions.update"
            (onUpdateEnv)="updateEnv($event, data)"
          ></rc-workload-detail-env>
        </ng-container>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'event' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <rc-k8s-event-list
            kind="CronJob"
            [names]="data.metadata.name"
            [cluster]="baseParams.cluster"
            [namespace]="baseParams.namespace"
            [embedded]="true"
          ></rc-k8s-event-list>
        </ng-container>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
