@import 'var';

aui-tag {
  cursor: pointer;
}

aui-card ::ng-deep .aui-card__content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-bottom: -16px;
}

.chart-wrapper {
  width: 50%;
  padding-left: 16px;
  margin-bottom: 16px;
}

.chart {
  background-color: #fafafa;
}

.chart-title {
  padding: 8px;
  padding-bottom: 0;
  color: $color-text-main;
}

.chart-num {
  font-size: 20px;
}

.chart-type {
  font-size: 12px;
  color: $color-text-secondary;
}

highcharts-chart {
  display: block;
  width: 100%;
  height: 80px;
}
