<aui-card [divider]="false">
  <div auiCardHeader>
    {{ 'physical_resource_usage' | translate }}
    <div class="float-right">
      <aui-tag
        *ngFor="let range of TIME_RANGES"
        size="mini"
        [round]="false"
        [solid]="(physicalTimeRange$$ | async) === range.type"
        [type]="
          (physicalTimeRange$$ | async) === range.type ? 'primary' : 'info'
        "
        (click)="physicalTimeRange$$.next(range.type)"
      >
        {{ range.type | translate }}
      </aui-tag>
    </div>
  </div>
  <div class="chart-wrapper" *ngFor="let chart of physicalData$ | async">
    <div class="chart">
      <div class="chart-title">
        <span class="chart-num">{{ chart | pure: average }}</span>
        <ng-container *ngIf="chart.metric.__query_id__ as type">
          {{ 'unit_' + UNITS[type] | translate }}
          <span class="chart-type">{{ type | translate }}</span>
        </ng-container>
      </div>
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chart | pure: getChartOptions"
      ></highcharts-chart>
    </div>
  </div>
</aui-card>
<aui-card [divider]="false">
  <div auiCardHeader>
    {{ 'app_resource_usage' | translate }}
    <div class="float-right">
      <aui-tag
        *ngFor="let range of TIME_RANGES"
        size="mini"
        [round]="false"
        [solid]="(appTimeRange$$ | async) === range.type"
        [type]="(appTimeRange$$ | async) === range.type ? 'primary' : 'info'"
        (click)="appTimeRange$$.next(range.type)"
      >
        {{ range.type | translate }}
      </aui-tag>
    </div>
  </div>
  <div class="chart-wrapper" *ngFor="let chart of appData$ | async">
    <div class="chart">
      <div class="chart-title">
        <a
          class="chart-num"
          [routerLink]="['../..', chart.metric.__query_id__]"
        >
          {{ chart | pure: average:true }}
        </a>
        {{ 'unit_ge' | translate }}
        <span class="chart-type">
          {{ chart.metric.__query_id__ | translate }}
        </span>
      </div>
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="chart | pure: getChartOptions"
      ></highcharts-chart>
    </div>
  </div>
</aui-card>
