<aui-dialog-header>
  {{
    'update_subnet_partial'
      | translate: { partialName: partialType | translate }
  }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'subnet_name' | translate }}</label>
      {{ resource.metadata.name | aclFieldNotAvailable }}
    </aui-form-item>
    <ng-container [ngSwitch]="partialType">
      <ng-container *ngSwitchCase="UpdatePartialType.NAMESPACE">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'namespace' | translate }}</label>
          <aui-multi-select
            name="namespaces"
            [(ngModel)]="model.namespaces"
            [allowCreate]="false"
            [filterable]="true"
          >
            <aui-option
              *ngFor="let namespace of namespaces$ | async"
              [label]="namespace.metadata.name"
              [value]="namespace.metadata.name"
            >
              {{ namespace.metadata.name }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-multi-select>
        </aui-form-item>
      </ng-container>

      <ng-container *ngSwitchCase="UpdatePartialType.GATEWAY">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'network_segment' | translate }}</label>
          {{ resource.spec.cidrBlock | aclFieldNotAvailable }}
        </aui-form-item>
        <ng-container
          *ngIf="!(networkType | pure: isMacvlan); else macvlanGateway"
        >
          <aui-form-item>
            <label auiFormItemLabel>{{ 'gateway_type' | translate }}</label>
            <aui-radio-group name="gatewayType" [(ngModel)]="model.gatewayType">
              <aui-radio-button value="distributed">
                {{ 'distributed' | translate }}
              </aui-radio-button>
              <aui-radio-button value="centralized">
                {{ 'centralized' | translate }}
              </aui-radio-button>
            </aui-radio-group>
          </aui-form-item>

          <aui-form-item *ngIf="model.gatewayType == 'centralized'">
            <label auiFormItemLabel>{{ 'gateway_node' | translate }}</label>
            <aui-select
              [(ngModel)]="model.gatewayNode"
              name="gatewayNode"
              #gatewayNode="ngModel"
              required
              auiFormItemControl
            >
              <aui-option
                *ngFor="let metric of nodeList$ | async"
                [value]="metric.metadata.name"
                [label]="metric.metadata.name"
              >
                {{ metric.metadata.name }}
              </aui-option>
              <aui-option-placeholder>
                {{ 'no_data' | translate }}
              </aui-option-placeholder>
            </aui-select>
            <rc-errors-mapper
              auiFormItemError
              [errors]="gatewayNode.errors"
            ></rc-errors-mapper>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'nat_outgoing' | translate }}</label>
            <aui-switch
              auiFormItemControl
              [(ngModel)]="model.natOutgoing"
              name="natOutGoing"
            ></aui-switch>
          </aui-form-item>
        </ng-container>
        <ng-template #macvlanGateway>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'gateway' | translate }}</label>
            <input
              aui-input
              auiFormItemControl
              name="gateway"
              type="text"
              [pattern]="CIDR_IP_PATTERN.pattern"
              [(ngModel)]="model.gateway"
              [placeholder]="'input_ip' | translate"
              #gateway="ngModel"
              required
            />
            <rc-errors-mapper
              auiFormItemError
              [errors]="gateway.errors"
            ></rc-errors-mapper>
          </aui-form-item>
          <aui-form-item>
            <label auiFormItemLabel>{{ 'reserved_ip' | translate }}</label>
            <aui-tags-input
              name="preserveIp"
              auiFormItemControl
              rcPreserveIPPattern
              [(ngModel)]="model.preserveIp"
              [clearable]="true"
              fxFlex
              [allowRepeat]="false"
              [allowEmpty]="false"
              placeholder="{{ 'reserved_ip_placeholder' | translate }}"
            ></aui-tags-input>
          </aui-form-item>
        </ng-template>
      </ng-container>

      <ng-container *ngSwitchCase="UpdatePartialType.WHITELIST">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'subnet_isolation' | translate }}</label>
          <aui-switch
            auiFormItemControl
            [(ngModel)]="model.private"
            name="private"
          ></aui-switch>
        </aui-form-item>
        <aui-form-item *ngIf="model.private">
          <label auiFormItemLabel>{{ 'whitelist' | translate }}</label>
          <aui-tags-input
            name="whitelist"
            rcCidrPattern
            [clearable]="true"
            [(ngModel)]="model.whitelist"
            fxFlex
            [allowRepeat]="false"
            [allowEmpty]="false"
            placeholder="{{ 'cidr_format_tip' | translate }}"
          ></aui-tags-input>
        </aui-form-item>
      </ng-container>

      <ng-container *ngSwitchCase="UpdatePartialType.NETWORK_MODE">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'network_segment' | translate }}</label>
          {{ resource.spec.cidrBlock | aclFieldNotAvailable }}
        </aui-form-item>

        <aui-form-item>
          <label auiFormItemLabel>{{ 'ipip_mode' | translate }}</label>
          <aui-radio-group name="ipipMode" [(ngModel)]="model.ipipMode">
            <aui-radio-button
              *ngFor="let option of IPIP_MODE_OPTIONS"
              [value]="option.value"
            >
              {{ option.label }}
            </aui-radio-button>
          </aui-radio-group>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'nat_outgoing' | translate }}</label>
          <aui-switch
            auiFormItemControl
            [(ngModel)]="model.natOutgoing"
            name="natOutGoing"
          ></aui-switch>
        </aui-form-item>
      </ng-container>
    </ng-container>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="confirming"
    [disabled]="!form.valid || confirming"
    (click)="submitForm()"
  >
    {{ 'confirm' | translate }}
  </button>
  <button
    aui-button
    type="button"
    [disabled]="confirming"
    (click)="confirmed.next()"
  >
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
