<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <ng-container formGroupName="metadata">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <ng-container auiFormItemControl required>
        <input
          *ngIf="!isUpdate"
          aui-input
          name="name"
          formControlName="name"
          (blur)="onBlur()"
        />
        <span *ngIf="isUpdate">
          {{ form.get('metadata')?.get('name')?.value }}
        </span>
      </ng-container>
      <rc-errors-mapper
        auiFormItemError
        *ngIf="!isUpdate"
        [errors]="form.get(['metadata', 'name']).errors"
        [errorsMapper]="{
          pattern: resourceNamePattern.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item formGroupName="annotations">
      <label auiFormItemLabel>{{ 'description' | translate }}</label>
      <textarea
        auiFormItemControl
        aui-input
        name="description"
        [formControlName]="descriptionKey"
        (blur)="onBlur()"
      ></textarea>
    </aui-form-item>
  </ng-container>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'type' | translate }}</label>
    <aui-radio-group
      *ngIf="!isUpdate"
      auiFormItemControl
      name="type"
      formControlName="type"
      (valueChange)="typeChanged($event)"
    >
      <aui-radio-button value="Opaque" [disabled]="isUpdate">
        Opaque
      </aui-radio-button>
      <aui-radio-button value="kubernetes.io/tls" [disabled]="isUpdate">
        TLS
      </aui-radio-button>
      <aui-radio-button value="kubernetes.io/ssh-auth" [disabled]="isUpdate">
        {{ 'secret_ssh_auth' | translate }}
      </aui-radio-button>
      <aui-radio-button value="kubernetes.io/basic-auth" [disabled]="isUpdate">
        {{ 'secret_basic_auth' | translate }}
      </aui-radio-button>
      <aui-radio-button
        value="kubernetes.io/dockerconfigjson"
        [disabled]="isUpdate"
      >
        {{ 'secret_dockerconfigjson' | translate }}
      </aui-radio-button>
    </aui-radio-group>
    <span *ngIf="isUpdate">
      {{ form.get('type')?.value | pure: getDisplayType }}
    </span>
  </aui-form-item>

  <rc-secret-data-form
    formControlName="data"
    [type]="form.get('type').value"
  ></rc-secret-data-form>
</form>
