<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <aui-form-item [emptyAddon]="false">
    <label auiFormItemLabel>
      {{ 'min_replicas_value' | translate }}
    </label>
    <input
      aui-input
      (blur)="onBlur()"
      type="number"
      auiFormItemControl
      [min]="1"
      required
      [placeholder]="'support_positive_integer' | translate"
      formControlName="minReplicas"
    />
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('minReplicas').errors"
      [errorsMapper]="{
        pattern: POSITIVE_INT_PATTERN.tip | translate
      }"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item [emptyAddon]="false">
    <label auiFormItemLabel>
      {{ 'max_replicas_value' | translate }}
    </label>
    <input
      aui-input
      (blur)="onBlur()"
      type="number"
      auiFormItemControl
      [min]="1"
      required
      [placeholder]="'support_positive_integer' | translate"
      formControlName="maxReplicas"
    />
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('maxReplicas').errors"
      [errorsMapper]="{
        pattern: POSITIVE_INT_PATTERN.tip | translate
      }"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item [emptyAddon]="false" *ngIf="!isHpaV2; else triggerStrategy">
    <label auiFormItemLabel>
      {{ 'cpu_utilization' | translate }}
    </label>
    <aui-input-group>
      <span auiInputAddonAfter>%</span>
      <input
        (blur)="onBlur()"
        type="number"
        auiFormItemControl
        aui-input
        required
        [placeholder]="'support_positive_integer' | translate"
        formControlName="targetCPUUtilizationPercentage"
      />
    </aui-input-group>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('targetCPUUtilizationPercentage').errors"
      [errorsMapper]="{
        pattern: POSITIVE_INT_PATTERN.tip | translate
      }"
    ></rc-errors-mapper>
  </aui-form-item>
  <ng-template #triggerStrategy>
    <aui-form-item [emptyAddon]="false">
      <label auiFormItemLabel>
        {{ 'trigger_strategy' | translate }}
      </label>
      <rc-indicator-metrics-form
        fxFlex
        auiFormItemControl
        required
        formControlName="metrics"
        [metricConfig]="hpaV2Config"
      ></rc-indicator-metrics-form>
    </aui-form-item>
  </ng-template>
</form>
