@import 'var';

.detail-port-list {
  display: block;
  margin-top: 16px;
}

.default_k8s_service {
  display: flex;
  flex-direction: column;
  .service {
    display: flex;
  }
}

.load-balancer-rules-table {
  margin-top: 20px;
  border-bottom: 1px solid #ddd;

  td {
    width: 20%;
    vertical-align: middle;

    &:nth-child(3) {
      width: 40%;
    }
  }

  .indicator-item {
    display: flex;
    word-break: break-all;

    > :first-child {
      margin-right: 5px;
      white-space: nowrap;

      &:after {
        content: ':';
      }
    }
  }
}

.aui-table__column {
  &-description {
    flex: 1;
  }

  &-rule {
    flex: 2;
  }

  &-k8s_service_group {
    flex: 3;
  }
}

@mixin rule-group-class {
  .rule-group .rule-type {
    margin-right: 8px;
  }
}

// stylelint-disable-next-line no-descending-specificity
::ng-deep {
  .rule-group-menu .aui-menu {
    padding: 10px;

    .rule-group__menu-wrapper {
      max-height: 400px;
      overflow: auto;

      @include rule-group-class;

      .rule-table {
        tr {
          vertical-align: top;
        }

        td:first-child {
          padding-right: 20px;
        }

        tbody {
          // stylelint-disable-next-line no-descending-specificity
          td {
            padding: 3px 0;
          }

          tr:not(:last-child) td {
            border-bottom: thin dashed #ededed;
          }
        }
      }
    }
  }
}
