<ng-container
  *ngIf="frontend && (frontend | pure: conflictInstances) as conflicts"
>
  <aui-inline-alert *ngIf="conflicts['length']" type="warning">
    {{ 'port_conflicts_detail' | translate: { conflicts: conflicts } }}
  </aui-inline-alert>
</ng-container>

<rc-load-balancer-detail-port-info
  [inWorkspace]="!!workspace"
  [cluster]="params.cluster"
  [data]="frontend"
  [canDelete]="(permissions$ | async)?.delete"
  [canUpdate]="(permissions$ | async)?.update"
  (onUpdateDefaultService)="updateDefaultService(frontend)"
  (onUpdateDefaultCertificate)="updateDefaultCertificate(frontend)"
  (onDelete)="deleteFrontend(frontend)"
></rc-load-balancer-detail-port-info>

<aui-card *ngIf="frontend?.spec.protocol !== 'tcp'" class="detail-port-list">
  <div auiCardHeader>
    {{ 'rule' | translate }}
    <div fxFlex></div>
    <acl-disabled-container
      *ngIf="frontend?.spec.protocol != 'tcp'"
      [isAllowed]="(permissions$ | async)?.create"
    >
      <a routerLink="add-rule">
        <button aui-button="primary" [plain]="true">
          {{ 'add_rule' | translate }}
        </button>
      </a>
    </acl-disabled-container>
  </div>
  <aui-table
    [dataSource]="list.items$"
    [trackBy]="trackByFn"
    class="load-balancer-rules-table"
  >
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.spec.description | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="rule">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'rule' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container *ngIf="rowData.spec.dsl || rowData.spec.dslx; else noDsl">
          <div
            class="indicator-item"
            *ngFor="let indicator of getPartialIndicators(rowData).indicators"
          >
            <div>
              {{ 'rule_' + indicator.type | lowercase | translate }}
            </div>
            <div>
              <ng-container *ngFor="let value of indicator.values">
                <div>
                  {{ indicator.key && indicator.key + ':'
                  }}{{ value.slice(1).join('-') }}
                </div>
              </ng-container>
              <ng-template #noDsl>
                <div *ngIf="rowData.spec.domain" class="indicator-item">
                  <div>{{ 'rule_host' | translate }}</div>
                  <div>
                    <div>{{ rowData.spec.domain }}</div>
                  </div>
                </div>
                <div *ngIf="rowData.spec.url" class="indicator-item">
                  <div>{{ 'rule_url' | translate }}</div>
                  <div>
                    <div>{{ rowData.spec.url }}</div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <button
            *ngIf="getPartialIndicators(rowData).more"
            aui-button="primary"
            size="mini"
            type="button"
            [round]="true"
            [plain]="true"
            [auiDropdown]="indicatorDetail"
            auiDropdownClass="rule-group-menu"
            [auiDropdownContext]="{ rowData: rowData, frontend: frontend }"
            auiDropdownPosition="bottom start"
          >
            <aui-icon icon="ellipsis_h_s"></aui-icon>
          </button>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="k8s_service_group">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'k8s_service_group' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container
          *ngIf="rowData.spec.serviceGroup?.services?.length; else noService"
        >
          <rc-load-balancer-service-weight-display
            [services]="rowData.spec.serviceGroup.services"
          ></rc-load-balancer-service-weight-display>
        </ng-container>
        <ng-template #noService>-</ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <acl-disabled-container [isAllowed]="(permissions$ | async)?.update">
          <button
            aui-button="text"
            size="small"
            [square]="true"
            [plain]="true"
            [auiDropdown]="menu"
            [auiDropdownContext]="{ rowData: rowData, frontend: frontend }"
          >
            <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
          </button>
        </acl-disabled-container>
      </aui-table-cell>
    </ng-container>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #indicatorDetail>
  <ng-template auiMenuContent let-rowData="rowData" let-indicator="indicator">
    <div class="rule-group__menu-wrapper">
      <table class="rule-table">
        <thead>
          <tr class="text-help">
            <td>{{ 'type' | translate }}</td>
            <td>{{ 'args' | translate }}</td>
          </tr>
        </thead>
        <tbody>
          <tr class="rule-group" *ngFor="let indicator of parseDSL(rowData)">
            <td class="rule-type">
              {{ 'rule_' + indicator.type | lowercase | translate }}
            </td>
            <td>
              <div *ngFor="let value of indicator.values">
                {{ indicator.key && indicator.key + ':'
                }}{{ value.slice(1).join('-') }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</aui-menu>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-rowData="rowData" let-frontend="frontend">
    <a [routerLink]="['rule', rowData | aclName, 'update']">
      <aui-menu-item>
        {{ 'update_rule' | translate }}
      </aui-menu-item>
    </a>
    <aui-menu-item
      [disabled]="rowData.spec.serviceGroup?.services?.length > 1"
      (click)="deleteRule(rowData)"
    >
      {{ 'delete_rule' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
