<aui-card>
  <div auiCardHeader fxLayoutAlign=" center">
    {{ service.metadata.name }}
    <rc-gray-release-tag [resource]="service"></rc-gray-release-tag>
    <aui-icon
      *ngIf="service | rcIsFederatedResource"
      class="icon--federation"
      icon="basic:federation_cluster"
      margin="left"
      [auiTooltip]="'federated_resource' | translate"
    ></aui-icon>
    <div fxFlex></div>
    <button
      aui-button
      [auiDropdown]="menu"
      [disabled]="
        (service | rcIsFederatedResource) || (service | rcIsGrayRelease)
      "
    >
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu>
      <acl-disabled-container [isAllowed]="permissions.update">
        <aui-menu-item [routerLink]="['../../update', service.metadata.name]">
          {{ 'update' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
      <acl-disabled-container [isAllowed]="permissions.delete">
        <aui-menu-item (click)="onDelete()">
          {{ 'delete' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
    </aui-menu>
  </div>

  <aui-section>
    <rc-field-set-group>
      <rc-field-set-item>
        <label>{{ 'labels' | translate }}</label>
        <rc-tags-label [tags]="service?.metadata.labels">
          <acl-disabled-container
            [isAllowed]="permissions.update"
            [isDisabled]="
              (service | rcIsFederatedResource) || (service | rcIsGrayRelease)
            "
          >
            <button
              aui-button="text"
              size="mini"
              type="button"
              [square]="true"
              (click)="onUpdate('labels')"
            >
              <aui-icon icon="basic:pencil_s"></aui-icon>
            </button>
          </acl-disabled-container>
        </rc-tags-label>
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'annotations' | translate }}</label>
        <rc-tags-label [tags]="service?.metadata.annotations">
          <acl-disabled-container
            [isAllowed]="permissions.update"
            [isDisabled]="
              (service | rcIsFederatedResource) || (service | rcIsGrayRelease)
            "
          >
            <button
              aui-button="text"
              size="mini"
              type="button"
              [square]="true"
              (click)="onUpdate('annotations')"
            >
              <aui-icon icon="basic:pencil_s"></aui-icon>
            </button>
          </acl-disabled-container>
        </rc-tags-label>
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'created_time' | translate }}</label>
        {{ service?.metadata.creationTimestamp | rcFormatUtcStr }}
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'creator' | translate }}</label>
        {{ service | aclCreator | aclFieldNotAvailable }}
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'source' | translate }}</label>
        <ng-container *ngIf="service?.metadata.ownerReferences; else noSource">
          <ng-container *ngFor="let ref of service?.metadata.ownerReferences">
            <a
              *ngIf="RESOURCE_ROUTE_MAPPER[ref.kind]; else plainText"
              [routerLink]="[
                '../../..',
                RESOURCE_ROUTE_MAPPER[ref.kind],
                'detail',
                ref.name
              ]"
            >
              {{ ref.name }}
              {{
                'parentheses_content'
                  | translate: { content: ref.kind | lowercase | translate }
              }}
            </a>
            <ng-template #plainText>
              {{ ref.name }}
              {{
                'parentheses_content'
                  | translate: { content: ref.kind | lowercase | translate }
              }}
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-template #noSource>-</ng-template>
      </rc-field-set-item>
    </rc-field-set-group>
  </aui-section>

  <aui-section>
    <div auiSectionTitle>{{ 'config_info' | translate }}</div>
    <rc-field-set-group>
      <rc-field-set-item>
        <label>{{ 'virtual_ip' | translate }}</label>
        {{ service?.spec.clusterIP }}
      </rc-field-set-item>
      <rc-field-set-item>
        <label>{{ 'session_affinity' | translate }}</label>
        {{
          (service?.spec.sessionAffinity === 'ClientIP' ? 'yes' : 'no')
            | translate
        }}
      </rc-field-set-item>
    </rc-field-set-group>
    <rc-field-set-group>
      <rc-field-set-item>
        <label>{{ 'internet_access' | translate }}</label>
        {{ (service?.spec.type === 'NodePort' ? 'yes' : 'no') | translate }}
      </rc-field-set-item>
    </rc-field-set-group>
  </aui-section>
</aui-card>

<aui-card [divider]="false">
  <div auiCardHeader>{{ 'port' | translate }}</div>
  <rc-service-ports *ngIf="service" [service]="service"></rc-service-ports>
</aui-card>

<aui-card [divider]="false">
  <div auiCardHeader>{{ 'selector' | translate }}</div>
  <rc-key-value-display
    [source]="service?.spec.selector"
  ></rc-key-value-display>
</aui-card>
