<aui-card [divider]="false">
  <aui-table [dataSource]="list.items$">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a
          [routerLink]="[
            '/admin/trace/job_record',
            rowData.metadata.name,
            { cluster: clusterName }
          ]"
        >
          {{ rowData | aclName }}
        </a>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="schedule_status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'schedule_status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-trace-job-status
          [status]="rowData.status?.phase"
          [reason]="rowData.status?.reason"
        ></rc-trace-job-status>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="schedule_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'schedule_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.status?.startTime | rcFormatUtcStr | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="complete_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'complete_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.status?.finishTime | rcFormatUtcStr | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
