<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a [routerLink]="['/workspace', baseParams, 'app']">
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <ng-container *ngIf="!isUpdatingApp">
      <aui-breadcrumb-item>
        {{ 'create_app' | translate }}({{ 'preview' | translate }})
      </aui-breadcrumb-item>
    </ng-container>
    <ng-container *ngIf="!!isUpdatingApp">
      <aui-breadcrumb-item>
        <a [routerLink]="['/workspace', baseParams, 'app', 'detail', appName]">
          {{ appName }}
        </a>
      </aui-breadcrumb-item>
      <aui-breadcrumb-item>
        {{ 'update_app' | translate }}({{ 'preview' | translate }})
      </aui-breadcrumb-item>
    </ng-container>
    <aui-breadcrumb-item>
      {{ 'add_workload' | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<form
  class="resource-form__card"
  #form="ngForm"
  *ngIf="formModel"
  auiForm
  [auiFormEmptyAddon]="true"
>
  <rc-pod-controller-form
    name="formModel"
    [cluster]="baseParams.cluster"
    [project]="baseParams.project"
    [namespace]="baseParams.namespace"
    [appName]="appName"
    [hasPrefix]="true"
    [(ngModel)]="formModel"
  ></rc-pod-controller-form>

  <rc-services-form
    name="services"
    [cluster]="baseParams.cluster"
    [namespace]="baseParams.namespace"
    [defaultName]="formModel.metadata.name"
    [existedNames]="existedServiceNames"
    [(ngModel)]="services"
  ></rc-services-form>

  <rc-ingresses-form
    name="ingresses"
    [services]="services"
    [baseParams]="baseParams"
    [defaultName]="formModel.metadata.name"
    [existedNames]="existedIngressNames"
    [(ngModel)]="ingresses"
  ></rc-ingresses-form>

  <!-- <pre>{{form.value | json}}</pre> -->
  <!-- <pre>{{appDataService.applicationModel | json}}</pre> -->
</form>

<div class="resource-form__footer">
  <span fxFlex></span>
  <button aui-button="primary" (click)="save()">
    {{ 'save' | translate }}
  </button>
  <button aui-button (click)="back()">{{ 'cancel' | translate }}</button>
</div>
