@import 'mixins';
rc-zero-state {
  height: 80px;
}
.rc-repo {
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    .aui-button--text {
      height: 28px;
      line-height: 26px;
      font-size: 14px;
    }
  }
  &__item {
    margin: 0 8px 8px 0;
  }
}

.rc-charts {
  &__header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -16px;
  }
  rc-helm-chart-card {
    cursor: pointer;
    &:hover {
      @include shadow-8;
    }
  }
}

.aui-button--text + .aui-button--text {
  margin-left: 8px;
}

:host ::ng-deep {
  .aui-button--text .aui-button__content {
    padding: 0 11px;
  }
}
