<aui-inline-alert [content]="'app_catalog_help' | translate"></aui-inline-alert>
<rc-zero-state
  [fetching]="!(initialized$ | async)"
  [zeroState]="!(repoLength$ | async)"
  resourceName="chartrepo"
></rc-zero-state>
<aui-card *ngIf="repoLength$ | async">
  <div auiCardHeader>
    <div class="rc-repo__content">
      <button
        *ngFor="let item of repos$ | async; trackBy: trackByRepoUid"
        [aui-button]="getButtonType(item)"
        size="small"
        [round]="true"
        (click)="repoSelect(item)"
      >
        {{ item.metadata.name }}
      </button>
    </div>
  </div>
  <div class="rc-charts">
    <div class="rc-charts__header">
      <aui-search
        [searchButton]="false"
        placeholder="{{ 'filter_by_name_placeholder' | translate }}"
        (keywordChange)="filterKeyChange($event)"
      ></aui-search>
    </div>
    <rc-zero-state
      [fetching]="chartsLoading$ | async"
      [zeroState]="!(chartsLength$ | async)"
      resourceName="app_template"
    ></rc-zero-state>
    <div
      *ngIf="!(chartsLoading$ | async) && (chartsLength$ | async)"
      class="rc-charts__content"
    >
      <rc-helm-chart-card
        *ngFor="let item of charts$ | async; trackBy: trackByChartUid"
        [chart]="item"
        [showAction]="true"
        [allowCreate]="allowCreate$ | async"
        (onCreate)="createApp($event)"
        (onOpenHrDetail)="onOpenHrDetail($event)"
        (click)="showDetail(item)"
      ></rc-helm-chart-card>
      <rc-helm-chart-card [isPlaceholder]="true"></rc-helm-chart-card>
      <rc-helm-chart-card [isPlaceholder]="true"></rc-helm-chart-card>
      <rc-helm-chart-card [isPlaceholder]="true"></rc-helm-chart-card>
      <rc-helm-chart-card [isPlaceholder]="true"></rc-helm-chart-card>
    </div>
  </div>
</aui-card>
