:host {
  display: flex;
  flex-wrap: wrap;

  ::ng-deep {
    rc-field-set-item {
      margin-bottom: 12px;
    }
    // width: 50%,右侧的 margin 20px 依赖排列折行场景,应当仅在group下生效
    > rc-field-set-item {
      width: 50%;
      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
  }

  &:last-child {
    margin-bottom: -12px;
  }
}
