<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'csp_cluster' | translate }}</label>
    <aui-select formControlName="cluster" required auiFormItemControl>
      <aui-option
        *ngFor="let cluster of cspClusters$ | async"
        [value]="cluster.metadata.name"
        [label]="cluster.metadata.name"
      >
        {{ cluster.metadata.name }}
      </aui-option>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('cluster').errors"
    ></rc-errors-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'csp_pool' | translate }}</label>
    <input aui-input auiFormItemControl formControlName="pool" required />
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('pool').errors"
    ></rc-errors-mapper>
  </aui-form-item>
</ng-container>
