<ng-container *ngIf="!hasDaemonSet">
  <acl-disabled-container
    [isAllowed]="allowUpdate"
    [isDisabled]="isFederated || !canStart"
  >
    <button aui-button="primary" (click)="start()">
      <aui-icon icon="basic:play_medium_s"></aui-icon>
      {{ 'start' | translate }}
    </button>
  </acl-disabled-container>
  <acl-disabled-container
    [isAllowed]="allowUpdate"
    [isDisabled]="isFederated || !canStop"
  >
    <button aui-button="default" [plain]="true" (click)="stop()">
      <aui-icon icon="basic:stop_medium_s"></aui-icon>
      {{ 'stop' | translate }}
    </button>
  </acl-disabled-container>
</ng-container>

<button
  aui-button="default"
  [plain]="true"
  [auiDropdown]="menu"
  [disabled]="isFederated"
>
  {{ 'action' | translate }}
  <aui-icon icon="angle_down" margin="left"></aui-icon>
</button>
<aui-menu #menu size="small">
  <acl-disabled-container [isAllowed]="allowUpdate">
    <aui-menu-item (click)="update()">
      {{ 'update' | translate }}
    </aui-menu-item>
  </acl-disabled-container>
  <acl-disabled-container [isAllowed]="allowUpdate">
    <aui-menu-item (click)="manageResources()">
      {{ 'manage_resources' | translate }}
    </aui-menu-item>
  </acl-disabled-container>
  <acl-disabled-container
    *aclFeatureGate="'kubefed'; cluster: cluster"
    [isAllowed]="allowUpdate"
    [isDisabled]="!(couldFederalize$ | async)"
  >
    <aui-menu-item (click)="federalize()">
      {{ 'federalize_application' | translate }}
    </aui-menu-item>
  </acl-disabled-container>
  <acl-disabled-container [isAllowed]="allowDelete">
    <aui-menu-item (click)="delete()">
      {{ 'delete' | translate }}
    </aui-menu-item>
  </acl-disabled-container>
</aui-menu>
