<aui-card>
  <div auiCardHeader>
    <span>{{ 'k8s_service' | translate }}</span>
    <span fxFlex></span>
    <button aui-button (click)="add()">
      {{ 'add_service' | translate }}
    </button>
  </div>

  <rc-array-form-table
    [noRowSeparator]="true"
    resourceName="k8s_service"
    (remove)="remove($event)"
    (add)="add()"
    [rows]="services"
  >
    <ng-container *rcArrayFormTableRow="let item">
      <td>
        <rc-service-preview-card [service]="item"></rc-service-preview-card>
      </td>
    </ng-container>
    <ng-container *rcArrayFormTableRowControl="let item; let index = index">
      <div class="action-col__vertical">
        <button
          aui-button="text"
          size="mini"
          type="button"
          [square]="true"
          [plain]="true"
          (click)="update(index)"
        >
          <aui-icon icon="basic:pencil_edit"></aui-icon>
        </button>
        <button
          aui-button="text"
          size="mini"
          type="button"
          [square]="true"
          [plain]="true"
          (click)="remove(index)"
        >
          <aui-icon icon="basic:minus_circle"></aui-icon>
        </button>
      </div>
    </ng-container>
    <ng-container *rcArrayFormTableFooter></ng-container>
  </rc-array-form-table>
</aui-card>
