<aui-dialog-header>
  {{ 'add_configuration_item' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelWidth="70px">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'key' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="key"
        required
        maxlength="253"
        [pattern]="keyReg.pattern"
        [(ngModel)]="formModel.key"
        #keyControl="ngModel"
      />
      <rc-errors-mapper
        auiFormItemError
        [errors]="keyControl.errors"
        [errorsMapper]="{
          pattern: keyReg.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'value' | translate }}</label>
      <textarea
        auiFormItemControl
        aui-input
        size="medium"
        name="value"
        [(ngModel)]="formModel.value"
      ></textarea>
    </aui-form-item>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [loading]="submitting">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
