<aui-dialog-header>
  {{ (data.type === 'env' ? 'envs_update' : 'update_env_from') | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <div class="rc-secondary-title">
    {{ data.containerName }}
  </div>
  <form #form="ngForm" auiForm>
    <!-- env -->
    <ng-container *ngIf="data.type === 'env'">
      <rc-env-form
        name="envs"
        [baseParams]="data.baseParams"
        [(ngModel)]="filteredEnvs"
        [configMaps]="configMaps$ | async"
        [secrets]="secrets$ | async"
      ></rc-env-form>
    </ng-container>
    <!-- envFrom -->
    <ng-container *ngIf="data.type === 'envFrom'">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'env_from' | translate }}</label>
        <rc-env-from-form
          name="env-from"
          [baseParams]="data.baseParams"
          [(ngModel)]="envFrom"
          [configMaps]="configMaps$ | async"
          [secrets]="secrets$ | async"
        ></rc-env-from-form>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [loading]="submitting">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
