@import 'mixins';
:host {
  display: block;
  flex: 1;
  min-width: 218px;
  max-width: 300px;
  border-radius: 2px;
  margin: 0 16px 16px 0;
  padding: 20px;
  @include shadow-2;
  &.invisible {
    visibility: hidden;
  }
  img,
  aui-icon {
    display: inline-block;
    max-height: 60px;
    max-width: 160px;
  }
  .chart-card__img {
    text-align: center;
    display: block;
    height: 60px;
    margin: 0 auto;
  }
  .chart-card__name {
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    margin: 8px auto;
    text-align: center;
    @include text-overflow;
  }
  .chart-card__desc {
    color: $color-text-help;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
  }
  .chart-card__footer {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #eee;
    display: flex;
    justify-content: center;
  }
}
