<ng-container *ngIf="chart">
  <div class="chart-card__img">
    <ng-container
      *ngIf="chart | pure: getChartIconUrl as iconUrl; else defaultIcon"
    >
      <img [attr.src]="iconUrl" alt="" />
    </ng-container>
  </div>
  <div class="chart-card__name">{{ chart | pure: getChartName }}</div>
  <div
    class="chart-card__desc"
    *ngIf="chart | pure: getChartDesc as desc"
    [attr.title]="desc"
  >
    {{ desc }}
  </div>
  <div *ngIf="showAction && !chart.spec.appName" class="chart-card__footer">
    <acl-disabled-container [isAllowed]="allowCreate">
      <button
        aui-button="primary"
        size="small"
        (click)="onCreate.next(chart); $event.stopPropagation()"
      >
        {{ 'deploy' | translate }}
      </button>
    </acl-disabled-container>
  </div>
</ng-container>
<ng-template #defaultIcon>
  <aui-icon icon="basic:image_s" size="60px, 60px"></aui-icon>
</ng-template>
