<aui-table [dataSource]="shownRules$" [ngClass]="{ 'in-table': inTable }">
  <ng-container auiTableColumnDef="address">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'address' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      <a
        *ngIf="!inForm && rowData.host; else addressText"
        [href]="rowData | pure: normalizeLink | rcTrustUrl"
        target="_blank"
        [auiTooltip]="rowData.address"
        auiTooltipPosition="top start"
      >
        {{ rowData.address }}
      </a>
      <ng-template #addressText>
        <span [auiTooltip]="rowData.address" auiTooltipPosition="top start">
          {{ rowData.address | aclFieldNotAvailable }}
        </span>
      </ng-template>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="service">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'k8s_service' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      <a
        *ngIf="!inForm; else serviceText"
        [routerLink]="[
          '/workspace',
          baseParams,
          'service',
          'detail',
          rowData.service
        ]"
        [auiTooltip]="rowData.service"
        auiTooltipPosition="top start"
      >
        {{ rowData.service }}
      </a>
      <ng-template #serviceText>
        <span [auiTooltip]="rowData.service" auiTooltipPosition="top start">
          {{ rowData.service }}
        </span>
      </ng-template>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="port">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'port' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      {{ rowData.port }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="secret">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'HTTPS' }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      {{ rowData.secret | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row
    *auiTableHeaderRowDef="columns$ | async"
  ></aui-table-header-row>
  <aui-table-row
    *auiTableRowDef="let row; columns: columns$ | async"
  ></aui-table-row>
</aui-table>

<ng-container *ngIf="inTable">
  <ng-container *ngIf="total$ | async as total">
    <ng-container *ngIf="(shownRules$ | async).length < total">
      {{ 'total' | translate }}
      <a
        href="javascript:;"
        [auiTooltip]="showTotal"
        auiTooltipType="info"
        auiTooltipPosition="bottom start"
      >
        {{ total }}
      </a>
      {{ 'ge' | translate }}
    </ng-container>
    <ng-template #showTotal>
      <rc-ingress-rules-display
        [ingress]="ingress"
        [inTable]="inTable"
        [limit]="null"
      ></rc-ingress-rules-display>
    </ng-template>
  </ng-container>
</ng-container>
