@import 'var';

$status-color-map: (
  'SUCCESS': $color-success,
  'ERROR': $color-error,
  'PENDING': $color-warning,
  'IN_PROGRESS': $color-primary,
  'INACTIVE': $color-info,
);

@mixin status-decorator($status, $color) {
  &[status='#{$status}'] {
    color: $color;
    .rc-status-indicator {
      border: 2px solid $color;
      background-color: $color;
      box-shadow: 0 0 10px $color;
    }
  }
}

@mixin rect-status-decorator($status, $color) {
  &[status='#{$status}'] {
    background-color: $color;
  }
}

:host {
  display: inline-block;
  vertical-align: top;
  flex-shrink: 0;
  margin-left: 4px;
  .rc-status-badge {
    display: flex;
    align-items: center;
    @each $status, $color in $status-color-map {
      @include status-decorator($status, $color);
    }
    .rc-status-indicator {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      margin-right: 4px;
    }
    .rc-status-text {
      margin-left: 4px;
    }
  }

  .rc-status-badge--rect {
    padding: 0 12px;
    border-radius: 14px;
    line-height: 28px;
    font-size: 14px;
    @each $status, $color in $status-color-map {
      @include rect-status-decorator($status, $color);
    }

    .rc-status-text {
      color: white;
    }
  }
}
