<aui-card class="resource-form__card">
  <div auiCardHeader>
    {{
      ((name$ | async) ? 'update' : 'create') + '_openshift_route' | translate
    }}
    <div fxFlex></div>
    <aui-radio-group
      [(ngModel)]="formOrYaml"
      [ngModelOptions]="STANDALONE_NG_MODEL"
      (ngModelChange)="onFormOrYamlChange()"
      [isPlain]="false"
    >
      <aui-radio-button [value]="true">
        {{ 'form' | translate }}
      </aui-radio-button>
      <aui-radio-button [value]="false">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <form
    #ngForm="ngForm"
    auiForm
    [formGroup]="form"
    (ngSubmit)="(ngForm.valid || !formOrYaml) && onSubmit()"
  >
    <aui-code-editor
      *ngIf="!formOrYaml"
      style="width: 100%;"
      required
      [(ngModel)]="yaml"
      [ngModelOptions]="STANDALONE_NG_MODEL"
      [originalValue]="originalYaml$ | async"
      [actionsConfig]="actionsConfig"
      [options]="codeEditorOptions"
    ></aui-code-editor>
    <div [hidden]="!formOrYaml">
      <aui-form-item formGroupName="metadata">
        <label auiFormItemLabel>{{ 'name' | translate }}</label>
        <span [hidden]="!(name$ | async)">
          {{ (route$ | async | aclName) || (name$ | async) }}
        </span>
        <input
          *ngIf="!(name$ | async)"
          aui-input
          auiFormItemControl
          formControlName="name"
          [pattern]="K8S_RESOURCE_NAME_BASE.pattern"
          [placeholder]="K8S_RESOURCE_NAME_BASE.tip | translate"
          required
        />
        <rc-errors-mapper
          auiFormItemError
          [errors]="form.get('metadata.name').errors"
          [errorsMapper]="{
            pattern: K8S_RESOURCE_NAME_BASE.tip | translate
          }"
        ></rc-errors-mapper>
      </aui-form-item>
      <aui-form-item formGroupName="spec">
        <label auiFormItemLabel>{{ 'domain' | translate }}</label>
        <alk-route-host-form
          [domains]="domains$ | async"
          auiFormItemControl
          formControlName="host"
        ></alk-route-host-form>
        <alk-route-path-form
          flex="2"
          auiFormItemControl
          formControlName="path"
        ></alk-route-path-form>
      </aui-form-item>
      <ng-container formGroupName="spec">
        <aui-form-item formGroupName="to">
          <label auiFormItemLabel>
            {{ (abEnabled ? 'main_traffic' : 'k8s_service') | translate }}
          </label>
          <aui-select auiFormItemControl formControlName="name" required>
            <aui-option
              *ngFor="let service of services$ | async"
              [value]="service | aclName"
            >
              {{ service | aclName }}
              <ng-container *ngIf="service | aclDisplayName">
                ({{ service | aclDisplayName }})
              </ng-container>
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
          <rc-errors-mapper
            auiFormItemError
            [errors]="form.get(['spec', 'to', 'name']).errors"
          ></rc-errors-mapper>
        </aui-form-item>
        <aui-form-item *ngIf="abEnabled">
          <label auiFormItemLabel>{{ 'alternate_traffic' | translate }}</label>
          <alk-route-service-form
            auiFormItemControl
            formControlName="alternateBackends"
            [mainService]="form.get(['spec', 'to', 'name']).value"
            [services]="services$ | async"
            (portsChange)="ports = $event"
          ></alk-route-service-form>
        </aui-form-item>
      </ng-container>
      <aui-form-item formGroupName="spec">
        <label auiFormItemLabel>{{ 'port' | translate }}</label>
        <ng-container formGroupName="port">
          <aui-select auiFormItemControl formControlName="targetPort" required>
            <aui-option
              *ngFor="
                let port of (
                  form.get(['spec', 'to', 'name']).value
                  | pure: getSelectedService
                )?.spec.ports | pure: mapPorts
              "
              [value]="port"
            >
              {{ port }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
          <span
            *ngIf="abEnabled"
            class="icon-question"
            auiFormItemAddon
            [auiTooltip]="'route_port_tips' | translate"
          >
            <aui-icon icon="basic:question"></aui-icon>
          </span>
        </ng-container>
        <rc-errors-mapper
          auiFormItemError
          [errors]="form.get('spec.port.targetPort').errors"
        ></rc-errors-mapper>
      </aui-form-item>
    </div>
  </form>
</aui-card>

<div class="resource-form__footer">
  <span fxFlex></span>
  <button aui-button="primary" (click)="ngForm.onSubmit()">
    {{ ((name$ | async) ? 'update' : 'create') | translate }}
  </button>
  <button type="button" aui-button (click)="location.back()">
    {{ 'cancel' | translate }}
  </button>
</div>
