@import 'var';

:host {
  display: block;
  margin-bottom: 16px;
  .resource {
    &__header {
      &__front {
        flex: 1;
        font-size: 16px;
      }
      &__last {
        padding-left: 20px;
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
    }
    &__content {
      background: #fafafa;
      border: $default-border;
      margin-top: 12px;
      padding: 8px;
      &__header {
        margin-bottom: 8px;
        button {
          margin-right: 8px;
        }
        aui-icon {
          margin-right: 4px;
        }
      }
    }
  }
  .container__action {
    margin-left: 4px;
  }
}
