<aui-card>
  <div auiCardHeader fxLayout>
    <div fxFlexAlign="center">
      {{ kind }} ({{ resources ? resources.length + ('ge' | translate) : '' }})
    </div>
    <div fxFlex></div>
    <aui-search
      [searchButton]="false"
      placeholder="{{ 'filter_by_name_placeholder' | translate }}"
      (keywordChange)="onSearchKeyChange($event)"
    ></aui-search>
  </div>

  <ng-template #header let-resource="resource">
    <div class="resource__header" fxLayout fxLayoutAlign="start end">
      <div class="resource__header__front">
        <a [routerLink]="resource | pure: getPodControllerUrl:detailParams">
          {{ resource.metadata.name }}
        </a>
        <rc-gray-release-tag
          [resource]="resource"
          [isLink]="true"
          [baseParams]="detailParams"
        ></rc-gray-release-tag>
      </div>
      <div class="resource__header__last">
        <rc-field-set-item>
          <label>{{ 'status' | translate }}</label>
          <rc-workload-status-icon
            [workloadStatus]="resource | pure: parseToWorkloadStatus"
          ></rc-workload-status-icon>
        </rc-field-set-item>
        <rc-workload-status
          [workloadStatus]="resource | pure: parseToWorkloadStatus"
          (change)="updateReplicas($event, resource)"
          [isUpdateAllowed]="isUpdateAllowed"
          [isDaemonSet]="kind === 'DaemonSet'"
          [resource]="resource"
        ></rc-workload-status>
      </div>
    </div>
  </ng-template>

  <aui-menu #exec size="small">
    <ng-template
      auiMenuContent
      let-container="container"
      let-resource="resource"
    >
      <aui-menu-group>
        <acl-disabled-container
          [isAllowed]="(execPermissions$ | async).create"
          [isDisabled]="canNotEXECAll(pods, container)"
        >
          <aui-menu-item (click)="openTerminal(pods, container, resource)">
            {{ 'all_k8s_pod' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
      </aui-menu-group>
      <aui-menu-group>
        <span auiMenuGroupTitle>{{ 'k8s_pod' | translate }}</span>
        <rc-loading-mask
          [loading]="podsLoading"
          [iconSize]="'16px, 16px'"
          [ngStyle]="{ width: '120px', height: '30px' }"
        ></rc-loading-mask>
        <ng-container *ngIf="podsLoaded">
          <acl-disabled-container
            *ngFor="let p of pods"
            [isAllowed]="(execPermissions$ | async).create"
            [isDisabled]="!canEXEC(p, container)"
          >
            <aui-menu-item (click)="openTerminal(pods, container, resource, p)">
              {{ p.metadata.name | pure: getPodShortName }}
            </aui-menu-item>
          </acl-disabled-container>
          <div *ngIf="!pods?.length">
            {{ 'no_data' | translate }}
          </div>
        </ng-container>
      </aui-menu-group>
    </ng-template>
  </aui-menu>

  <aui-menu #log size="small">
    <ng-template
      auiMenuContent
      let-container="container"
      let-resource="resource"
    >
      <aui-menu-group>
        <span auiMenuGroupTitle>{{ 'k8s_pod' | translate }}</span>
        <rc-loading-mask
          [ngStyle]="{ width: '120px', height: '30px' }"
          [iconSize]="'16px, 16px'"
          [loading]="podsLoading"
        ></rc-loading-mask>
        <ng-container *ngIf="podsLoaded">
          <aui-menu-item *ngFor="let p of pods" (click)="openLog(p, container)">
            {{ p.metadata.name | pure: getPodShortName }}
          </aui-menu-item>
          <div *ngIf="!pods?.length">
            {{ 'no_data' | translate }}
          </div>
        </ng-container>
      </aui-menu-group>
    </ng-template>
  </aui-menu>

  <div class="resource">
    <ng-container
      *ngFor="let resource of filteredResources$ | async; trackBy: trackByFn"
    >
      <ng-container
        [ngTemplateOutlet]="header"
        [ngTemplateOutletContext]="{
          resource: resource
        }"
      ></ng-container>

      <div
        class="resource__content"
        *ngFor="
          let container of resource | pure: getWorkloadContainers;
          trackBy: trackByContainerFn
        "
      >
        <div
          class="resource__content__header"
          fxLayout="row"
          fxLayoutAlign="end center"
        >
          <button
            *ngIf="!(resource | rcIsGrayRelease)"
            aui-button="text"
            size="small"
            [auiDropdown]="exec"
            [auiDropdownContext]="{
              container: container,
              resource: resource
            }"
            (auiDropdownShow)="onMenuShow(resource)"
            (auiDropdownHide)="onMenuHide()"
          >
            <aui-icon icon="basic:window"></aui-icon>
            <span>EXEC</span>
          </button>

          <button
            aui-button="text"
            size="small"
            [auiDropdown]="log"
            [auiDropdownContext]="{
              container: container,
              resource: resource
            }"
            (auiDropdownShow)="onMenuShow(resource)"
            (auiDropdownHide)="onMenuHide()"
          >
            <aui-icon icon="basic:log"></aui-icon>
            <span>{{ 'log' | translate }}</span>
          </button>
        </div>

        <rc-field-set-group>
          <rc-field-set-item>
            <label>{{ 'container' | translate }}</label>
            <span>{{ container.name }}</span>
          </rc-field-set-item>

          <rc-field-set-item>
            <label>{{ 'resource_requirements' | translate }}</label>
            <ng-container
              [ngTemplateOutlet]="containerResource"
              [ngTemplateOutletContext]="{
                $implicit: container | pure: getContainerResourceLimit
              }"
            ></ng-container>
            <ng-template #containerResource let-info>
              <div fxLayout="row" fxLayoutGap="16px">
                <rc-resource-label
                  [rawValue]="info.cpu"
                  type="cpu"
                ></rc-resource-label>
                <rc-resource-label
                  [rawValue]="info.memory"
                  type="memory"
                ></rc-resource-label>
              </div>
            </ng-template>
            <acl-disabled-container
              *ngIf="
                !(resource | rcIsFederatedResource) &&
                !(resource | rcIsGrayRelease)
              "
              [isAllowed]="isUpdateAllowed"
            >
              <button
                aui-button="text"
                class="container__action"
                size="small"
                type="button"
                (click)="updateResourceSize(container.name, resource)"
              >
                <aui-icon icon="basic:pencil_s"></aui-icon>
              </button>
            </acl-disabled-container>
          </rc-field-set-item>
        </rc-field-set-group>
        <rc-field-set-group>
          <rc-field-set-item>
            <label>{{ 'image' | translate }}</label>
            <div
              [auiTooltip]="container.image"
              [auiTooltipPosition]="'top start'"
              style="display: block;"
            >
              {{ container.image }}
            </div>
            <acl-disabled-container
              *ngIf="
                !(resource | rcIsFederatedResource) &&
                !(resource | rcIsGrayRelease)
              "
              [isAllowed]="isUpdateAllowed"
            >
              <button
                aui-button="text"
                class="container__action"
                size="small"
                type="button"
                (click)="updateImageTag(container.name, resource)"
              >
                <aui-icon icon="basic:pencil_s"></aui-icon>
              </button>
            </acl-disabled-container>
          </rc-field-set-item>
        </rc-field-set-group>
      </div>
    </ng-container>

    <div
      *ngIf="!(filteredResources$ | async)?.length"
      class="loading-placeholder text-help"
    >
      {{ 'no_data' | translate }}
    </div>
  </div>
</aui-card>
