<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template
    let-resource="resource"
    let-autoScaler="autoScaler"
    let-permissions="permissions"
  >
    <aui-tab-group
      [selectedIndex]="tabIndex$ | async"
      (selectedIndexChange)="tabIndexChanged($event)"
    >
      <aui-tab>
        <span *auiTabLabel>
          {{ 'detail_info' | translate }}
        </span>
        <rc-detail-info
          *auiTabContent
          [resource]="resource"
          [autoScaler]="autoScaler"
          [permissions]="permissions"
          (stateChange)="stateChanged($event)"
        ></rc-detail-info>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="resource"
        ></rc-resource-yaml-display>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'k8s_pod' | translate }}
        </ng-container>
        <rc-pod-list
          *auiTabContent
          [tappFeatures]="true"
          [allowUpdateTapp]="permissions.update"
          [baseParams]="baseParams"
          [matchLabels]="resource.spec.selector.matchLabels"
          (onViewLog)="viewLog($event)"
          (killPod)="killPod($event)"
          (updateBlueGreen)="updateBlueGreen($event)"
        ></rc-pod-list>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'config' | translate }}
        </ng-container>
        <rc-workload-detail-env
          *auiTabContent
          [podTemplate]="resource.spec.template"
          [baseParams]="baseParams"
          [isFederatedResource]="resource | rcIsFederatedResource"
          [canUpdate]="permissions.update"
          (onUpdateEnv)="updateEnv($event)"
        ></rc-workload-detail-env>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'logs' | translate }}
        </ng-container>
        <rc-pods-log
          *auiTabContent
          [baseParams]="baseParams"
          [matchLabels]="resource.spec.selector.matchLabels"
          [initialState]="logInitialState$ | async"
        ></rc-pods-log>
      </aui-tab>

      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'event' | translate }}
        </ng-container>
        <rc-k8s-event-list
          *auiTabContent
          [kind]="resource.kind + ',Pod'"
          [names]="resource.metadata.name"
          [cluster]="baseParams.cluster"
          [namespace]="baseParams.namespace"
          [embedded]="true"
          [fuzzy]="true"
        ></rc-k8s-event-list>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
