<ng-container>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'image_address' | translate }}
    </label>
    <input
      auiFormItemControl
      aui-input
      required
      [formControl]="form"
      [pattern]="IMAGE_REPO_PATTERN.pattern"
    />
    <div *ngIf="!form.valid" auiFormItemError>
      <span *ngIf="form.errors?.pattern" class="text-align__multiline">
        {{ IMAGE_REPO_PATTERN.tip | translate }}
      </span>
      <span *ngIf="form.errors?.required">
        {{ 'form_item_null_hint' | translate }}
      </span>
    </div>

    <div auiFormItemHint>
      {{ 'input_registry_address_tips' | translate }}:
      {{ demoRepositoryAddress }}
      <button aui-button="text" (click)="setDemoAddress($event)">
        <aui-icon icon="basic:write_file"></aui-icon>
      </button>
      <div>
        {{ 'default_registry_tips' | translate }}
      </div>
    </div>
  </aui-form-item>
</ng-container>
