<aui-card>
  <div auiCardHeader fxLayout fxLayoutAlign="end center">
    {{ 'horizontal_pod_autoscaler' | translate }}
    <div fxFlex></div>
    <acl-disabled-container [isAllowed]="canUpdate">
      <button aui-button (click)="updateHpa()">
        {{
          ((autoScaler | pure: hasHpaResource) ? 'update' : 'add_hpa')
            | translate
        }}
      </button>
    </acl-disabled-container>
  </div>
  <ng-container *ngIf="autoScaler | pure: hasHpaResource; else noHpaResource">
    <div *ngIf="autoScaler.hpa as hpa; else cronHpa" class="rc-table-vertical">
      <div
        class="rc-table-vertical__row"
        [class.half-width]="!(isHpaV2$ | async)"
      >
        <div>{{ 'min_replicas_value' | translate }}</div>
        <div>{{ hpa.spec.minReplicas | aclFieldNotAvailable }}</div>
      </div>
      <div
        class="rc-table-vertical__row half-width"
        *ngIf="!(isHpaV2$ | async)"
      >
        <div>{{ 'cpu_utilization' | translate }}</div>
        <div>{{ hpa.spec.targetCPUUtilizationPercentage }}%</div>
      </div>
      <div class="rc-table-vertical__row">
        <div>{{ 'max_replicas_value' | translate }}</div>
        <div>{{ hpa.spec.maxReplicas | aclFieldNotAvailable }}</div>
      </div>
      <div class="rc-table-vertical__row" *ngIf="isHpaV2$ | async">
        <div>{{ 'trigger_strategy' | translate }}</div>
        <div *ngIf="hpaV2Config$ | async as config">
          <rc-array-form-table
            resourceName="trigger_strategy"
            [readonly]="true"
            [rows]="hpa.spec.metrics"
          >
            <ng-container *rcArrayFormTableHeader>
              <th width="50%">{{ 'metric' | translate }}</th>
              <th width="50%">{{ 'target_threshold' | translate }}</th>
            </ng-container>

            <!-- Input row -->
            <ng-container *rcArrayFormTableRow="let metric; let index = index">
              <td>
                {{
                  metric
                    | pure: getMetricName
                    | pure: getMetricDescription:[config, translate]
                }}
              </td>

              <td>
                {{
                  (metric | pure: getMetricValue) +
                    (metric
                      | pure: getMetricName
                      | pure: getMetricDisplayUnit:config)
                }}
              </td>
            </ng-container>

            <!-- 无数据模板 -->
            <ng-container *rcArrayFormTableZeroState>
              <rc-zero-state resourceName="trigger_strategy"></rc-zero-state>
            </ng-container>
          </rc-array-form-table>
        </div>
      </div>
    </div>

    <ng-template #cronHpa>
      <rc-array-form-table
        [readonly]="true"
        [rows]="autoScaler.cronHpa.spec.crons"
      >
        <ng-container *rcArrayFormTableHeader>
          <th width="50%">{{ 'trigger_rule' | translate }}</th>
          <th width="50%">{{ 'target_replicas' | translate }}</th>
        </ng-container>
        <ng-container *rcArrayFormTableRow="let cronRule">
          <td>
            {{ cronRule.schedule | pure: formatSchedule:translate.locale }}
          </td>
          <td>{{ cronRule.targetReplicas | aclFieldNotAvailable }}</td>
        </ng-container>
      </rc-array-form-table>
    </ng-template>
  </ng-container>
  <ng-template #noHpaResource>
    <rc-zero-state resourceName="horizontal_pod_autoscaler"></rc-zero-state>
  </ng-template>
</aui-card>
