@import 'var';
:host {
  display: block;
  flex: 1;
}
.charts__header {
  margin-bottom: 16px;
}
.charts__hint {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  span {
    color: $color-text-help;
  }
}
.charts__container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
}
