<div fxLayout class="charts__header">
  <span fxFlex></span>
  <aui-search
    [searchButton]="false"
    placeholder="{{ 'filter_by_name_placeholder' | translate }}"
    (keywordChange)="filterKeyChange($event)"
  ></aui-search>
</div>

<div *ngIf="chartsLoading$ | async" class="charts__hint">
  <aui-icon icon="spinner" size="24px, 24px"></aui-icon>
</div>

<div
  *ngIf="!(chartsLength$ | async) && !(chartsLoading$ | async)"
  class="charts__hint"
>
  <span>{{ 'no_app_template' | translate }}</span>
</div>

<div
  *ngIf="!(chartsLoading$ | async) && (chartsLength$ | async)"
  class="charts__container"
>
  <rc-helm-chart-card
    *ngFor="let item of charts$ | async; trackBy: trackByUid"
    [chart]="item"
  ></rc-helm-chart-card>
  <rc-helm-chart-card [isPlaceholder]="true"></rc-helm-chart-card>
  <rc-helm-chart-card [isPlaceholder]="true"></rc-helm-chart-card>
  <rc-helm-chart-card [isPlaceholder]="true"></rc-helm-chart-card>
  <rc-helm-chart-card [isPlaceholder]="true"></rc-helm-chart-card>
</div>
