<aui-inline-alert
  [content]="'template_app_help' | translate"
></aui-inline-alert>
<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <div fxFlex></div>

    <aui-search
      [keyword]="searchKey$ | async"
      [searchButton]="true"
      [searching]="list.loading$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <aui-table [dataSource]="list.items$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div fxLayout="row" fxLayoutAlign="start center">
          <a
            [routerLink]="[
              '/workspace',
              baseParams$ | async,
              'hr',
              'detail',
              rowData.metadata.name
            ]"
          >
            {{ rowData.metadata.name }}
          </a>
          <rc-deleting-tag [resource]="rowData"></rc-deleting-tag>
        </div>
        <div
          class="aui-table__cell__display-name"
          *ngIf="rowData | aclDisplayName"
        >
          {{ rowData | aclDisplayName }}
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-status-icon
          [status]="rowData | pure: getHelmRequestStatus"
          [colorMapper]="HelmRequestStatusColorMapper"
          [iconMapper]="HelmRequestStatusIconMapper"
        ></rc-status-icon>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="app_template">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'app_template' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>{{ rowData.spec.chart }}</span>
        <span *ngIf="rowData.spec.version">
          （{{ 'version' | translate }}：{{ rowData.spec.version }}）
        </span>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <button
          aui-button="text"
          size="small"
          [square]="true"
          [plain]="true"
          [disabled]="
            !(permissions$ | async).update && !(permissions$ | async).delete
          "
          [auiDropdown]="menu"
          [auiDropdownContext]="{ rowData: rowData }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-rowData="rowData">
    <aui-menu-item
      *ngIf="(permissions$ | async).update"
      (click)="update(rowData)"
    >
      {{ 'update' | translate }}
    </aui-menu-item>
    <aui-menu-item
      *ngIf="(permissions$ | async).delete"
      (click)="delete(rowData)"
    >
      {{ 'delete' | translate }}
    </aui-menu-item>
  </ng-template>
</aui-menu>
