:host {
  display: block;
  flex: 1;
  .import-button {
    ::ng-deep {
      .aui-button__content {
        display: flex;
        flex: 1;
        label {
          flex: 1;
          cursor: pointer;
        }
      }
    }
  }

  .config-item-cell {
    padding-top: 12px;
  }
}
