:host {
  ::ng-deep {
    .aui-dialog__content {
      aui-form-item {
        &:last-of-type {
          > .aui-form-item {
            margin-bottom: 0;
          }
        }

        &:last-child {
          .aui-form-item {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
