<aui-dialog-header>
  {{ 'update_default_certificate' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <rc-loading-mask [loading]="!(secretList$ | async)"></rc-loading-mask>
  <form
    #ngForm="ngForm"
    auiForm
    (ngSubmit)="ngForm.valid && !confirming && onSubmit()"
  >
    <ng-container *ngIf="secretList$ | async">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'default_certificate' | translate }}</label>
        <rc-load-balancer-certificate-form
          auiFormItemControl
          required
          name="certificateName"
          [(ngModel)]="frontend.spec.certificate_name"
          [secretList]="secretList$ | async"
          [namespace]="modalData.namespace"
        ></rc-load-balancer-certificate-form>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    type="submit"
    [loading]="confirming"
    (click)="ngForm.onSubmit()"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button type="button" (click)="confirmed.next()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
