@import 'var';
:host {
  .load-balancer-port-add-service {
    width: 100%;
    display: flex;
    flex-direction: column;

    .rule-select-table {
      width: 100%;
      border: 1px solid $color-info-extra-light;
      margin-bottom: 20px;
      .rule-select-title {
        height: 34px;
        text-align: center;
        background-color: $color-info-extra-light;
      }
      .rule-select-table-row {
        text-align: center;
        height: 35px;
        border-bottom: 1px solid $color-info-extra-light;
      }
    }

    .table_have_no_data {
      display: flex;
      align-items: center;
      flex-flow: column;
      margin: -20px 0 20px 0;
      color: #999;
      padding-top: 20px;
    }
  }
  ::ng-deep {
    .aui-form-item__rule {
      .aui-form-item__container {
        .aui-form-item__content {
          flex-direction: column;
        }
      }
    }
  }
  .more-detail {
    background-color: $color-primary-lighter;
    color: #fff;
    width: 16px;
    height: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $color-primary-light;
    }
  }
}
