<aui-table [dataSource]="sortedConditions">
  <ng-container auiTableColumnDef="type">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'type' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let condition">
      {{ condition.type | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="status">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'status' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let condition">
      {{ condition.status | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="reason">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'reason' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let condition">
      {{ condition.reason | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="message">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'message' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let condition">
      <span [title]="condition.message">
        {{ condition.message | aclFieldNotAvailable }}
      </span>
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="lastUpdateTime">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'lastUpdateTime' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let condition">
      <rc-relative-time
        [time]="condition.lastTransitionTime"
      ></rc-relative-time>
    </aui-table-cell>
  </ng-container>

  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
</aui-table>

<div *ngIf="!conditions?.length" class="empty-placeholder">
  {{ 'no_data' | translate }}
</div>
