<rc-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
  resourceName="alarm_action"
>
  <ng-container *rcArrayFormTableHeader>
    <th style="width: 120px;">{{ 'action_type' | translate }}</th>
    <th>{{ 'resource' | translate }}</th>
  </ng-container>
  <ng-container *rcArrayFormTableRow="let control" [formGroup]="control">
    <td>
      <aui-select formControlName="type">
        <aui-option value="notification" [label]="'notification' | translate">
          {{ 'notification' | translate }}
        </aui-option>
      </aui-select>
    </td>
    <td>
      <aui-multi-select
        formControlName="actions"
        [filterable]="true"
        [trackFn]="trackFn"
        [filterFn]="filterFn"
      >
        <aui-option
          *ngFor="let notification of notifications"
          [value]="notification"
          [label]="notification.name"
        >
          {{ notification.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_results' | translate }}
        </aui-option-placeholder>
      </aui-multi-select>
    </td>
  </ng-container>
</rc-array-form-table>
