:host {
  display: flex;

  > svg,
  > ul {
    flex: 1;
  }
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 20px;
  font-size: 12px;

  li {
    margin: 2px 0;
  }

  i {
    display: inline-flex;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
