<svg>
  <g style="transform: translate(50%, 50%);">
    <path
      *ngFor="let segment of pie$ | async"
      [attr.d]="segment | pure: arc"
      [attr.fill]="segment.data | pure: color"
    ></path>
  </g>
</svg>

<ul class="labels">
  <li *ngFor="let item of data$ | async">
    <i [ngStyle]="{ backgroundColor: item | pure: color }"></i>
    {{ item.name | translate }}: {{ item.value || 0 }}
  </li>
</ul>
