<!-- Storage class 的表单结构：公共 form 项在此定义，各存储类型差异主要集中在 parameters 子form，由子表单单独定义 -->
<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      aui-input
      auiFormItemControl
      formControlName="name"
      maxlength="63"
      [placeholder]="resourceNameReg.tip | translate"
      [pattern]="resourceNameReg.pattern"
      required
      [rcErrorsMapper]="{
        pattern: resourceNameReg.tip | translate
      }"
      [rcErrorsMapperOutlet]="nameError"
    />
    <div auiFormItemError #nameError></div>
  </aui-form-item>

  <rc-cephfs-param-form
    formControlName="parameters"
    [cluster]="cluster"
    *ngIf="form.get('provisioner').value === StorageProvisionerType.CEPH_FS"
  ></rc-cephfs-param-form>

  <rc-csp-param-form
    formControlName="parameters"
    [cluster]="cluster"
    *ngIf="form.get('provisioner').value === StorageProvisionerType.CSP"
  ></rc-csp-param-form>

  <ng-container formGroupName="metadata">
    <aui-form-item
      *ngIf="
        SUPPORT_STORAGE_RESOURCE_QUOTA.includes(form.get('provisioner').value)
      "
      formGroupName="annotations"
    >
      <label auiFormItemLabel>{{ 'storage_quota' | translate }}</label>
      <aui-input-group required auiFormItemControl>
        <span auiInputAddonAfter>{{ unit }}</span>
        <input
          aui-input
          fxLayout
          [formControlName]="STORAGE_QUOTA_ANNOTATION_KEY"
          type="number"
          [placeholder]="POSITIVE_INT_PATTERN.tip | translate"
          required
          [rcErrorsMapper]="{
            pattern: POSITIVE_INT_PATTERN.tip | translate
          }"
          [rcErrorsMapperOutlet]="quotaError"
        />
      </aui-input-group>
      <div auiFormItemError #quotaError></div>
    </aui-form-item>

    <aui-form-item formGroupName="labels">
      <label auiFormItemLabel>{{ 'allocation_project' | translate }}</label>
      <aui-select auiFormItemControl [formControlName]="PROJECT_LABEL_KEY">
        <aui-option [label]="'all_projects' | translate" [value]="ALL">
          {{ 'all_projects' | translate }}
        </aui-option>
        <aui-option
          *ngFor="let project of allProjects$ | async"
          [value]="project | aclName"
        >
          {{ project | aclName }}
          <span
            *ngIf="project | aclDisplayName as displayName"
            [style.font-size]="'12px'"
          >
            ({{ displayName }})
          </span>
        </aui-option>
      </aui-select>
      <ng-container auiFormItemError>
        {{ 'allocation_project_required' | translate }}
      </ng-container>
    </aui-form-item>
  </ng-container>
</form>
