<ng-container *ngIf="(params$ | async) && !url">
  <div class="title">
    {{ params.app | pure: suffixText }}
    {{ params.ctl | pure: suffixText }}
    {{ params.container }}
  </div>
  <aui-tab-group
    type="card"
    [selectedIndex]="activeIndex"
    (selectedIndexChange)="onTabIndexChange($event)"
  >
    <ng-container *auiTabHeaderAddon>
      <button
        aui-button="text"
        size="small"
        [square]="true"
        [plain]="true"
        [auiDropdown]="menu"
      >
        <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
      </button>
      <aui-menu #menu size="small">
        <aui-menu-item
          *ngFor="let pod of podsBackup"
          [actived]="isActiveMenuItem(pod)"
          (click)="selectIndex(pod)"
        >
          {{ pod | pure: getPodShortName }}
        </aui-menu-item>
      </aui-menu>
    </ng-container>
    <aui-tab
      *ngFor="let pod of pods; trackBy: trackByFn; let i = index"
      [closeable]="pods.length > 1"
      (close)="close(i)"
    >
      <ng-container *auiTabLabel>
        {{ pod | pure: getPodShortName }}
      </ng-container>
    </aui-tab>
  </aui-tab-group>
  <!-- todo : move to aui-tab-body -->
  <ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container>
  <ng-container *ngFor="let pod of pods; trackBy: trackByFn; let i = index">
    <div class="tab-body" [class.active]="activeIndex === i">
      <rc-shell
        [podName]="pod"
        [namespace]="params.namespace"
        [container]="params.container"
        [cluster]="params.cluster"
        [user]="params.user"
        [command]="params.command"
        [theme]="theme"
      ></rc-shell>
    </div>
  </ng-container>
</ng-container>

<ng-template #toolbarTemplate>
  <div
    class="terminal-toolbar"
    [class.terminal-toolbar--dark-theme]="isDarkTheme"
  >
    <div class="terminal-toolbar__spacer"></div>

    <div class="terminal-toolbar__control-button" (click)="toggleTheme()">
      <ng-container *ngIf="!isDarkTheme">
        <div class="terminal-toolbar__control-button-icon">
          <aui-icon icon="sun"></aui-icon>
        </div>
        {{ 'light_theme' | translate }}
      </ng-container>

      <ng-container *ngIf="isDarkTheme">
        <div class="terminal-toolbar__control-button-icon">
          <aui-icon icon="moon"></aui-icon>
        </div>
        {{ 'dark_theme' | translate }}
      </ng-container>
    </div>

    <div class="terminal-toolbar__control-button" (click)="toggleFindPanel()">
      <div class="terminal-toolbar__control-button-icon">
        <aui-icon icon="search_s"></aui-icon>
      </div>
      {{ 'find' | translate }}
    </div>

    <div
      @zoomInOut
      (@zoomInOut.done)="focusSearchInput()"
      class="terminal-search-bar"
      *ngIf="isFindBarActive"
    >
      <aui-input-group size="medium">
        <input
          #searchInput
          [(ngModel)]="searchQuery"
          (keydown.escape)="isFindBarActive = false"
          (keydown.enter)="findNext(searchQuery)"
          aui-input
          size="medium"
          type="text"
        />
        <div auiInputAddonAfter>
          <button
            aui-button
            size="mini"
            type="button"
            (click)="findPrevious(searchQuery)"
          >
            <aui-icon icon="angle_left"></aui-icon>
          </button>
          <button
            aui-button
            size="mini"
            type="button"
            (click)="findNext(searchQuery)"
          >
            <aui-icon icon="angle_right"></aui-icon>
          </button>
        </div>
      </aui-input-group>
    </div>
  </div>
</ng-template>
