<rc-array-form-table resourceName="port" [rows]="ports">
  <ng-container *rcArrayFormTableHeader>
    <th width="45%">{{ 'protocol' | translate }}</th>
    <th>{{ 'container_port' | translate }}</th>
    <th width="80px">{{ 'host_port' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *rcArrayFormTableRow="let port; let index = index">
    <td>
      {{ port.protocol }}
    </td>

    <td>
      {{ port.containerPort }}
    </td>

    <td>
      {{ port.hostPort }}
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRowControl></ng-container>
  <ng-container *rcArrayFormTableFooter></ng-container>

  <!-- 无数据模板 -->
  <ng-container *rcArrayFormTableZeroState>
    <rc-zero-state resourceName="port"></rc-zero-state>
  </ng-container>
</rc-array-form-table>
