<rc-array-form-table
  [noRowSeparator]="true"
  [formGroup]="form"
  [rows]="form.controls"
  [readonly]="form.disabled"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  resourceName="trigger_strategy"
>
  <ng-container *rcArrayFormTableHeader>
    <th style="width: 30%;">{{ 'type' | translate }}</th>
    <th>{{ 'target_threshold' | translate }}</th>
  </ng-container>
  <ng-container *rcArrayFormTableRow="let control" [formGroup]="control">
    <td>
      <aui-select formControlName="name">
        <aui-option
          *ngFor="let config of metricConfig"
          [value]="config.name"
          [label]="
            config.name | pure: getMetricDescription:[metricConfig, translate]
          "
          [disabled]="config.name | pure: existMetricOption:formModel"
        >
          {{
            config.name | pure: getMetricDescription:[metricConfig, translate]
          }}
        </aui-option>

        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
    <td>
      <aui-input-group auiFormItemControl>
        <input
          aui-input
          formControlName="value"
          [placeholder]="
            control.get('name').value
              | pure: getMetricPlaceholder:metricConfig
              | translate
          "
          [pattern]="
            control.get('name').value | pure: getConfigPattern:metricConfig
          "
        />
        <span
          auiInputAddonAfter
          *ngIf="
            control.get('unit').value +
            (control.get('name').value
              | pure: getMetricDisplayUnit:metricConfig) as unit
          "
        >
          {{ unit }}
        </span>
      </aui-input-group>
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td colspan="3" class="rc-table-form-error-hint">
      <rc-errors-mapper
        [errors]="control.get('value').errors"
      ></rc-errors-mapper>
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableFooter>
    <button
      aui-button="primary"
      type="button"
      size="mini"
      [plain]="true"
      (click)="add()"
      *ngIf="formModel | pure: getUnusedMetricConfig:metricConfig"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add' | translate }}
    </button>
  </ng-container>
  <ng-container *rcArrayFormTableRowControl="let item; let index = index">
    <button
      aui-button="text"
      size="mini"
      type="button"
      [disabled]="form.length === 1"
      (click)="remove(index)"
      [square]="true"
      [plain]="true"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>
</rc-array-form-table>
