<div class="config-map-container" *ngIf="keyValueList.length">
  <div class="config-map-keys">
    <aui-search
      [searchButton]="false"
      [placeholder]="'filter_by_name_placeholder' | translate"
      [(keyword)]="keyword"
    ></aui-search>

    <div
      *ngIf="keyValueList | pure: filterItems:keyword as list"
      class="config-map-keys__container"
    >
      <div
        *ngFor="let config of list"
        [auiTocLink]="config['key'].replace('.', '')"
        [for]="toc"
        class="config-map-keys__label"
      >
        <div class="config-map-keys__label-key">{{ config['key'] }}</div>
      </div>
      <rc-zero-state
        [zeroState]="!list.length"
        resourceName="result"
      ></rc-zero-state>
    </div>
  </div>
  <div class="config-map-values" auiTocContainer #toc="auiTocContainer">
    <div
      *ngFor="let config of keyValueList; trackBy: trackByFn"
      [auiTocContent]="config['key'].replace('.', '')"
      class="config-map-section"
    >
      <div class="config-map-section__header">
        {{ config['key'] }}
        <div fxFlex></div>
        <acl-disabled-container
          [isAllowed]="canUpdate"
          [isDisabled]="configMap | rcIsFederatedResource"
        >
          <button
            [plain]="true"
            aui-button="text"
            (click)="updateConfig(config, updateConfigDialog)"
          >
            <aui-icon icon="basic:pencil_s"></aui-icon>
          </button>
        </acl-disabled-container>
        <acl-disabled-container
          [isAllowed]="canUpdate"
          [isDisabled]="configMap | rcIsFederatedResource"
        >
          <button
            [plain]="true"
            aui-button="text"
            (click)="deleteConfigMapKey(config)"
          >
            <aui-icon icon="basic:trash"></aui-icon>
          </button>
        </acl-disabled-container>
      </div>
      <pre class="config-map-section__content">{{ config['value'] }}</pre>
    </div>
  </div>
</div>
<rc-zero-state
  [zeroState]="keyValueList.length === 0"
  resourceName="config_items"
></rc-zero-state>

<ng-template #updateConfigDialog let-data>
  <aui-dialog-header>
    {{ 'configmap_update_config' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <form #form="ngForm" auiForm auiFormLabelWidth="70px">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'key' | translate }}</label>
        <span auiFormItemControl>{{ data.key }}</span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'value' | translate }}</label>
        <textarea
          auiFormItemControl
          aui-input
          size="medium"
          name="value"
          [autosize]="{ minRows: 12, maxRows: 12 }"
          [(ngModel)]="data.value"
        ></textarea>
      </aui-form-item>
    </form>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button
      aui-button="primary"
      (click)="confirm(data.key, data.value)"
      [loading]="submitting"
    >
      {{ 'confirm' | translate }}
    </button>
    <button aui-button (click)="cancel()">
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</ng-template>
