@import 'var';
@import 'mixins';

$left-panel-width: 228px;

.config-map-container {
  display: flex;
  position: relative;
  max-height: calc(100vh - 232px);

  ::ng-deep {
    aui-search {
      width: $left-panel-width;
    }
  }

  .config-map-keys {
    position: relative;
    display: flex;
    flex-flow: column;
    width: $left-panel-width;

    &__container {
      @include scroll-bar;

      width: 100%;
      height: 100%;
      margin-top: 12px;
      overflow: auto;
    }

    &__label {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      color: #666;
      cursor: pointer;

      &:last-child {
        margin-bottom: unset;
      }

      &:hover {
        color: $color-primary;
      }

      &-key {
        @include text-overflow;

        position: relative;
        width: $left-panel-width;
        line-height: 20px;
        padding-left: 10px;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          top: calc(50% - 2px);
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: currentColor;
        }
      }

      &.isActive {
        font-weight: 600;
        color: $color-primary;
      }
    }
  }

  .config-map-values {
    @include scroll-bar;

    flex: 1;
    position: relative;
    margin-left: 16px;
    padding-left: 16px;
    border-left: solid 1px #ededed;
    overflow: auto;
  }

  .config-map-section {
    &:not(:last-child) {
      border-bottom: $default-border;
      padding-bottom: 20px;
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    &__header {
      font-weight: 600;
      font-size: 14px;
      line-height: 32px;
      color: #666;
    }
  }
}
