<rc-array-form-table
  [noRowSeparator]="true"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  resourceName="custom_probe"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *rcArrayFormTableHeader>
    <th style="width: 200px;" required>{{ 'type' | translate }}</th>
    <th required>{{ 'destination' | translate }}</th>
  </ng-container>
  <ng-container
    *rcArrayFormTableRow="let control; let index = index"
    [formGroup]="control"
  >
    <td>
      <aui-select formControlName="protocol" required>
        <aui-option
          *ngFor="let protocol of protocols"
          [value]="protocol"
          [label]="protocol"
        >
          {{ protocol }}
        </aui-option>
      </aui-select>
    </td>
    <td>
      <input
        aui-input
        formControlName="address"
        required
        (blur)="onBlur()"
        [placeholder]="
          control.get('protocol').value
            | pure: getAddressPlaceholder
            | translate
        "
        [pattern]="control.get('protocol').value | pure: getAddressPattern"
      />
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td colspan="3" class="rc-table-form-error-hint">
      <rc-errors-mapper
        *ngIf="
          (control.dirty || $any(controlContainer?.formDirective)?.submitted) &&
          control.errors
        "
        [errors]="control.errors"
        [errorsMapper]="{
          addressRequired: 'destination_required_message' | translate,
          addressDuplicate: 'duplicate_tracejob_message' | translate,
          addressPattern: 'destination_pattern_message' | translate
        }"
      ></rc-errors-mapper>
    </td>
  </ng-container>
</rc-array-form-table>
