@import 'var';

:host {
  > aui-card {
    margin-bottom: 56px;
  }

  ::ng-deep {
    .aui-form-item__rule {
      .aui-form-item__container {
        .aui-dialog__content {
          padding: 0 !important;
          background-color: $color-info-extra-light;
        }
      }
    }
  }
}

.aui-card-container {
  display: flex;
  flex-direction: column;
}

.description-container {
  color: $color-text-help;
  padding-bottom: 8px;
}

.rule-container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  background: $color-info-extra-light;
}

.rule {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  + .rule {
    margin-top: 10px;
  }

  &.rule-item-container ::ng-deep .aui-card {
    padding-bottom: 0;
    border: none;
    padding-right: 38.5px;
  }
}

.priority {
  position: absolute;
  padding: 2px 2px 2px 15px;
  width: 90px;
  text-align: center;
  left: -25px;
  top: 25px;
  font-size: 12px;
  color: $color-primary;
  transform: translate3d(0, -50%, 0) rotate(-45deg);
  background-color: #e5f5fc;

  span {
    display: inline-block;
    transform: scale((9/12));
  }
}

.add-rule {
  padding: 12px 50px 4px 50px;
  text-align: right;

  &--none {
    background: $color-info-extra-light;
    color: #999;
    margin-top: 10px;
    border: dashed 1px #ccc;
    padding: 12px;
    text-align: center;
  }
}
