<aui-card>
  <div auiCardHeader>
    {{ 'load_balancer_add_ports' | translate }}
  </div>
  <rc-loading-mask
    style="height: 330px"
    [loading]="!frontend"
  ></rc-loading-mask>
  <form
    auiForm
    #ngForm="ngForm"
    (ngSubmit)="ngForm.valid && !confirming && onSubmit()"
  >
    <rc-load-balancer-front-end-form
      *ngIf="frontend"
      name="frontend"
      [cluster]="baseParams.cluster"
      [namespace]="baseParams.namespace"
      [inWorkspace]="!!workspace"
      [namespaceList]="namespaceList"
      [serviceList]="serviceList"
      [secretList]="secretList"
      [loadBalancerName]="loadBalancer.metadata.name"
      [(ngModel)]="frontend"
    ></rc-load-balancer-front-end-form>
  </form>
</aui-card>
<div class="resource-form__footer">
  <div style="flex: 1;"></div>
  <button
    aui-button="primary"
    [loading]="!frontend || confirming"
    [disabled]="!frontend || confirming"
    (click)="ngForm.onSubmit()"
  >
    <span>{{ 'add' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="confirming" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
