.quota-item {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  &__value {
    flex: 1;
    margin: 0 20px;
  }
}

.type {
  flex-basis: 60px;
}

.label {
  flex-basis: 100px;
}

.total {
  height: 8px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.used {
  height: 100%;
  border-radius: 4px;
}
