<ul *ngIf="(resourceQuotaItems$ | async)?.length; else noResourceQuota">
  <li class="quota-item" *ngFor="let item of resourceQuotaItems$ | async">
    <span class="type">{{ item.name | translate }}</span>
    <div class="quota-item__value">
      <div class="total">
        <div
          class="used"
          [ngStyle]="{
            backgroundColor: item.color,
            width: item.ratio * 100 + '%'
          }"
        ></div>
      </div>
    </div>
    <span class="label">
      {{ item.used }}/{{ item.total || ('unlimited' | translate) }}
      {{ 'unit_' + item.unit | translate }}
    </span>
  </li>
</ul>
<ng-template #noResourceQuota>
  <rc-zero-state resourceName="resource_quota"></rc-zero-state>
</ng-template>
