:host {
  display: flex;
  flex: 1;
  align-items: center;
  height: 48px;

  .logo-separator {
    height: 32px;
    width: 1px;
    background-color: #000;
    margin: 0 16px;
  }

  .brand-logo {
    height: 32px;
  }

  .project-title {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    color: #fff;
  }

  acl-product-select {
    margin-left: 4px;
    margin-right: 40px;
  }
}
