<a [href]="env.LOGO_URL" *ngIf="!!env.LOGO_URL; else plainPictureRef">
  <img class="brand-logo" [src]="uiState.logoMainSrc" alt="logo" />
</a>
<ng-template #plainPictureRef>
  <img class="brand-logo" [src]="uiState.logoMainSrc" alt="logo" />
</ng-template>
<div class="logo-separator"></div>
<div class="project-title">
  Container Platform
</div>
<acl-product-select current="console-acp"></acl-product-select>
<ng-content></ng-content>
<acl-help-menu docLink="/acp-docs/"></acl-help-menu>
<acl-account-menu></acl-account-menu>
