<aui-dialog-header>
  {{ 'create_alarm_from_template' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelPosition="right">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'alarm_name' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        required
        name="name"
        maxlength="63"
        [(ngModel)]="name"
        #nameForm="ngModel"
        [pattern]="resourceNameReg.pattern"
        [placeholder]="resourceNameReg.tip | translate"
      />
      <rc-errors-mapper
        auiFormItemError
        [errors]="nameForm.errors"
        [errorsMapper]="{ pattern: resourceNameReg.tip | translate }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'cluster_template_name' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="template"
        required
        clearable
        filterable
        [loading]="loading"
        [(ngModel)]="template"
        #templateForm="ngModel"
      >
        <aui-option-group>
          <div auiOptionGroupTitle>{{ 'workload' | translate }}</div>
          <aui-option
            *ngFor="let temp of templates"
            [label]="temp.metadata.name"
            [value]="temp"
            class="alarm-template-option"
          >
            {{ temp.metadata.name }}
            <span *ngIf="temp | aclDescription" class="description">
              ({{ temp | aclDescription }})
            </span>
          </aui-option>
        </aui-option-group>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <rc-errors-mapper
        auiFormItemError
        [errors]="templateForm.errors"
      ></rc-errors-mapper>
    </aui-form-item>
    <ng-container *ngIf="template">
      <aui-form-item>
        <label auiFormItemLabel>{{ 'resource_name' | translate }}</label>
        <label>{{ modalData.componentName }}</label>
      </aui-form-item>
      <aui-form-item *ngIf="modalData.metricType">
        <label auiFormItemLabel>{{ 'alarm_rule' | translate }}</label>
        <table class="alarm-table-rules" cellspacing="0">
          <thead class="alarm-table-rules__header">
            <tr>
              <td>{{ 'alarm_rule' | translate }}</td>
              <td>{{ 'alarm_type' | translate }}</td>
              <td>{{ 'level' | translate }}</td>
            </tr>
          </thead>
          <tbody class="alarm-table-rules__body">
            <tr
              *ngFor="
                let rule of parseAlertList(
                  template.spec.templates,
                  '',
                  modalData.metricType,
                  modalData.clusterName
                )
              "
            >
              <td>
                <div>{{ getRule(rule, modalData.metricType) }}</div>
              </td>
              <td>
                {{ rule.metric_name | pure: getAlarmTypeTitle | translate }}
              </td>
              <td>
                <div>{{ rule.labels?.severity | aclFieldNotAvailable }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'alarm_action' | translate }}</label>
        <table class="alarm-table-rules" cellspacing="0">
          <thead class="alarm-table-rules__header">
            <tr>
              <td>{{ 'action_type' | translate }}</td>
              <td>{{ 'resource' | translate }}</td>
            </tr>
          </thead>
          <tbody class="alarm-table-rules__body">
            <tr>
              <td>
                <div>{{ 'notification' | translate }}</div>
              </td>
              <td>
                <rc-tags-label
                  [tagList]="
                    template
                      | aclAnnotation: 'notifications':'alert'
                      | pure: parseNotifications
                  "
                ></rc-tags-label>
              </td>
            </tr>
          </tbody>
        </table>
      </aui-form-item>
    </ng-container>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" [loading]="submitting" (click)="confirm()">
    {{ 'create' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
