<aui-tag
  *ngIf="resource | rcIsGrayRelease"
  style="margin-left: 4px;"
  [type]="isLink ? 'primary' : 'info'"
  size="mini"
>
  <ng-container *ngIf="!isLink">{{ 'gray_release' | translate }}</ng-container>
  <a
    *ngIf="isLink"
    [attr.href]="
      '/console-asm/workspace/' +
      baseParams.project +
      '/clusters/' +
      baseParams.cluster +
      '/namespaces/' +
      resource.metadata.namespace +
      '/servicemesh/gray-release/' +
      getCanaryReferer(resource)
    "
  >
    {{ 'gray_release' | translate }}
  </a>
</aui-tag>
