<rc-array-form-table
  resourceName="volume_mount"
  [noRowSeparator]="true"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *rcArrayFormTableHeader>
    <th required>{{ 'volume_name' | translate }}</th>
    <th width="30%">{{ 'sub_path' | translate }}</th>
    <th width="30%" required>{{ 'mount_path' | translate }}</th>
    <th width="100px">{{ 'readonly' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *rcArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td>
      <aui-select
        (blur)="onBlur()"
        (valueChange)="volumeNameValueChange(control)"
        formControlName="name"
      >
        <aui-option-group
          *ngFor="let group of volumes | pure: getGroupedVolumes | keyvalue"
        >
          <div auiOptionGroupTitle>
            {{ group.key | pure: getVolumeTypeTranslateKey | translate }}
          </div>
          <aui-option
            *ngFor="let item of group.value; trackBy: volumeTrackByFn"
            [label]="item.name"
            [value]="item.name"
          >
            {{ item.name }}
          </aui-option>
        </aui-option-group>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>

    <td>
      <aui-select
        *ngIf="control.get('name').value | pure: shouldShowSubPathOption"
        (blur)="onBlur()"
        [clearable]="true"
        formControlName="subPath"
      >
        <aui-option
          *ngFor="
            let key of control.get('name').value
              | pure: getSubPathOptions$
              | async
          "
          [value]="key"
        >
          {{ key }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <input
        *ngIf="!(control.get('name').value | pure: shouldShowSubPathOption)"
        (blur)="onBlur()"
        aui-input
        formControlName="subPath"
      />
    </td>

    <td>
      <input (blur)="onBlur()" aui-input formControlName="mountPath" />
    </td>

    <td class="readonly-switch__column">
      <aui-switch (blur)="onBlur()" formControlName="readOnly"></aui-switch>
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td colspan="5" class="rc-table-form-error-hint">
      <rc-errors-mapper
        [errors]="control.get('mountPath').errors"
        [errorsMapper]="{
          required:
            'required_item' | translate: { name: 'mount_path' | translate }
        }"
      ></rc-errors-mapper>
      <rc-errors-mapper
        [errors]="control.get('subPath').errors"
        [errorsMapper]="{
          pattern:
            ('sub_path' | translate) +
            (K8S_VOLUME_MOUNT_SUB_PATH.tip | translate)
        }"
      ></rc-errors-mapper>
      <rc-errors-mapper
        [errors]="control.errors"
        [errorsMapper]="{
          duplicateMountPath:
            'duplicate_mount_path_error_message'
            | translate: { mount_path: control?.errors?.duplicateMountPath }
        }"
      ></rc-errors-mapper>
    </td>
  </ng-container>

  <!-- Footer controls -->
  <ng-container *rcArrayFormTableFooter>
    <button
      type="button"
      aui-button="primary"
      size="mini"
      [disabled]="noVolumes"
      [plain]="true"
      (click)="add(form.length)"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add' | translate }}
    </button>
    <button
      type="button"
      aui-button="default"
      size="mini"
      [plain]="true"
      (click)="addVolumeAndMount(form.length)"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add_volume_and_mount' | translate }}
    </button>
  </ng-container>

  <!-- 无数据模板 -->
  <ng-container *rcArrayFormTableZeroState>
    <div
      class="loading-placeholder text-help"
      *ngIf="noVolumes; else elseTemplate"
    >
      {{ 'mount_path_no_volumes_hint' | translate }}
    </div>
    <ng-template #elseTemplate>
      <rc-zero-state resourceName="volume_mount"></rc-zero-state>
    </ng-template>
  </ng-container>
</rc-array-form-table>
