.service {
  position: relative;
  padding: 6px 0;

  + .service {
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      content: '';
      border-top: 1px dashed #ededed;
    }

    &__name:before {
      right: -8px;
    }

    &__weight:before {
      left: -8px;
    }
  }
}
