<aui-inline-alert
  [content]="'openshift_route_tips' | translate"
></aui-inline-alert>
<aui-card>
  <div auiCardHeader fxFlexLayout>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <a routerLink="../create">
        <button aui-button="primary">
          {{ 'create_openshift_route' | translate }}
        </button>
      </a>
    </acl-disabled-container>
    <span fxFlex></span>
    <aui-search
      [clearable]="true"
      [searchButton]="true"
      [placeholder]="'search_by_name_placeholder' | translate"
      [keyword]="(params$ | async)?.keyword"
      (search)="onSearch($event)"
    >
      <aui-icon auiInputSuffix icon="search_s"></aui-icon>
    </aui-search>
  </div>
  <aui-table [dataSource]="list.items$">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a [routerLink]="['../detail', item | aclName]">
          {{ item | aclName }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="domain">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'domain' | translate }}
      </aui-table-header-cell>
      <aui-table-cell
        *auiTableCellDef="let item"
        [auiTooltip]="item.spec.host + (item.spec.path || '')"
      >
        {{ item.spec.host + (item.spec.path || '') }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="k8s_service">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'k8s_service' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div class="service service__name">{{ item.spec.to.name }}</div>
        <ng-container *ngFor="let backend of item.spec.alternateBackends">
          <div class="service service__name">{{ backend.name }}</div>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="weight">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'weight' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <ng-container
          *ngIf="item.spec.alternateBackends?.length; else singleTraffic"
        >
          <div class="service service__weight">
            {{ item.spec.to.weight }} ({{
              item.spec.to.weight | pure: getWeightPercent:item
            }})
          </div>
          <ng-container *ngFor="let backend of item.spec.alternateBackends">
            <div class="service service__weight">
              {{ backend.weight }} ({{
                backend.weight | pure: getWeightPercent:item
              }})
            </div>
          </ng-container>
        </ng-container>
        <ng-template #singleTraffic>
          100%
        </ng-template>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="port">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'port' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.spec.port.targetPort }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ $implicit: item }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu>
  <ng-template auiMenuContent let-item>
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <a [routerLink]="['../update', item | aclName]">
        <aui-menu-item>
          {{ 'update' | translate }}
        </aui-menu-item>
      </a>
    </acl-disabled-container>
    <acl-disabled-container
      [isAllowed]="(permissions$ | async).delete"
      (click)="deleteRoute(item)"
    >
      <aui-menu-item>
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
