@import 'var';

$code-editor-toolbar-padding: 0 20px;
$code-editor-toolbar-height: 40px;
$code-editor-toolbar-icon-size: 16px;
$code-editor-toolbar-font-size: 14px;
$code-editor-toolbar-control-margin: 4px;
$code-editor-toolbar-background: #f7f7f7;
$code-editor-toolbar-background-dark: #333;
$code-editor-toolbar-color-dark: #fff;
$code-editor-toolbar-inactive-opacity: 0.6;

:host {
  display: flex;
  flex-direction: column;

  .log-source__toolbar {
    margin-bottom: 12px;
    label:not(:first-of-type) {
      margin-left: 20px;
    }
    aui-select {
      width: 300px;
      margin-left: 8px;
    }
  }

  .log-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: $default-border;
    ng-monaco-editor {
      flex: 1;
    }
    &__toolbar {
      height: $code-editor-toolbar-height;
      background-color: $code-editor-toolbar-background;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
      padding: $code-editor-toolbar-padding;
      ::ng-deep .aui-checkbox {
        margin-right: 0;
      }
    }
  }

  .log-container--dark .log-container__toolbar {
    background-color: $code-editor-toolbar-background-dark;
    color: $code-editor-toolbar-color-dark;

    ::ng-deep {
      .aui-checkbox__content,
      .aui-button__content {
        color: $code-editor-toolbar-color-dark;
      }
      .aui-button--text:hover {
        background-color: transparent;
        .aui-button__content {
          color: $color-primary;
        }
      }
    }
  }
}
