<ng-container *ngIf="logs$ | async"></ng-container>
<div class="log-source__toolbar" fxLayout="row" fxLayoutAlign="start center">
  <ng-container *ngIf="!(fieldSelector$ | async)">
    <label auiFormItemLabel>{{ 'pod' | translate }}:</label>
    <aui-select
      auiFormItemControl
      [ngModel]="selectedPod?.metadata.name"
      [loading]="!pods"
      [disabled]="!pods?.length"
      (ngModelChange)="onPodNameSelect($event)"
    >
      <aui-option *ngFor="let pod of pods" [value]="pod.metadata.name">
        {{ pod.metadata.name }}
      </aui-option>
    </aui-select>
  </ng-container>
  <label auiFormItemLabel>{{ 'container' | translate }}:</label>
  <aui-select
    auiFormItemControl
    [ngModel]="selectedContainer?.name"
    [loading]="!containers"
    [disabled]="!containers?.length"
    (ngModelChange)="onContainerNameSelect($event)"
  >
    <aui-option-group
      *ngIf="containers | pure: filterContainerOption:true as options"
    >
      <div auiOptionGroupTitle>{{ 'init_container' | translate }}</div>
      <aui-option *ngFor="let container of options" [value]="container.name">
        {{ container.name }}
      </aui-option>
    </aui-option-group>
    <aui-option-group
      *ngIf="containers | pure: filterContainerOption:false as options"
    >
      <div auiOptionGroupTitle>{{ 'container' | translate }}</div>
      <aui-option *ngFor="let container of options" [value]="container.name">
        {{ container.name }}
      </aui-option>
    </aui-option-group>
  </aui-select>
</div>

<div
  class="log-container"
  [class.log-container--dark]="monacoProvider.isDarkTheme"
>
  <div
    class="log-container__toolbar"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <ng-container *ngIf="logsReady$ | async">
      <!-- pagination -->
      <aui-button-group>
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          (click)="loadOldest()"
        >
          <aui-icon icon="angle_double_left"></aui-icon>
        </button>
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          (click)="loadOlder()"
        >
          <aui-icon icon="angle_left"></aui-icon>
        </button>
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          (click)="loadNewer()"
        >
          <aui-icon icon="angle_right"></aui-icon>
        </button>
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          (click)="loadNewest()"
        >
          <aui-icon icon="angle_double_right"></aui-icon>
        </button>
      </aui-button-group>

      <div class="log-container-toolbar__time-span">
        {{ (logInfo$ | async)?.fromDate | rcFormatUtcStr }} ~
        {{ (logInfo$ | async)?.toDate | rcFormatUtcStr }}
      </div>
    </ng-container>

    <div fxFlex></div>

    <!-- polling mode -->
    <aui-checkbox [(ngModel)]="pollNewest">
      {{ 'poll_logs' | translate }}
    </aui-checkbox>

    <!-- find -->
    <button
      aui-button="text"
      [plain]="true"
      size="small"
      (click)="onFindClicked()"
    >
      <aui-icon icon="search_s" margin="right"></aui-icon>
      {{ codeEditorIntl.findLabel }}
    </button>
    <!-- theme -->
    <button
      aui-button="text"
      [plain]="true"
      size="small"
      (click)="monacoProvider.toggleTheme()"
    >
      <ng-container *ngIf="!monacoProvider.isDarkTheme">
        <aui-icon icon="sun" margin="right"></aui-icon>
        {{ codeEditorIntl.lightThemeLabel }}
      </ng-container>
      <ng-container *ngIf="monacoProvider.isDarkTheme">
        <aui-icon icon="moon" margin="right"></aui-icon>
        {{ codeEditorIntl.darkThemeLabel }}
      </ng-container>
    </button>
  </div>
  <ng-monaco-editor
    (monacoEditorChanged)="onMonacoEditorChanged($event)"
    [ngModel]="logs$ | async"
    [options]="monacoOptions"
  ></ng-monaco-editor>
</div>
