<acl-page-guard
  [allowed]="isNetworkSupport$ | async"
  [title]="'subnet_not_support_title' | translate"
  [description]="'subnet_not_support_content' | translate"
>
  <ng-template aclPageGuardContent>
    <aui-card [divider]="false">
      <div auiCardHeader fxLayout fxLayoutAlign="start center">
        <acl-disabled-container [isAllowed]="(permissions$ | async).create">
          <button aui-button="primary" (click)="create()">
            {{ 'create_subnet' | translate }}
          </button>
        </acl-disabled-container>
        <div fxFlex></div>
        <aui-search
          [searchButton]="true"
          [keyword]="search$ | async"
          placeholder="{{ 'filter_by_name_placeholder' | translate }}"
          (search)="onSearch($event)"
        ></aui-search>
        <button
          aui-button
          [square]="true"
          [loading]="list.loading$ | async"
          [disabled]="list.loading$ | async"
          (click)="list.reload()"
        >
          <aui-icon icon="basic:refresh"></aui-icon>
        </button>
      </div>

      <aui-table [dataSource]="list.items$">
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell
            *auiTableCellDef="let rowData"
            fxLayoutAlign="start center"
          >
            <a
              title="{{ rowData.metadata.name }}"
              [routerLink]="[
                '/admin/subnet/detail',
                rowData.metadata.name,
                { cluster: (cluster$ | async).metadata.name }
              ]"
            >
              {{ rowData.metadata.name }}
            </a>
            <aui-tag
              type="success"
              size="mini"
              [style.margin-left]="'8px'"
              *ngIf="(networkType | pure: isKubeOvn) && rowData.spec.default"
            >
              {{ 'default' | translate }}
            </aui-tag>
            <rc-deleting-tag [resource]="rowData"></rc-deleting-tag>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="network_segment">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'network_segment' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            {{ rowData.spec.cidrBlock }}
          </aui-table-cell>
        </ng-container>
        <ng-container
          auiTableColumnDef="default_subnet"
          *ngIf="networkType | pure: isKubeOvn"
        >
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'default_subnet' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            {{ rowData.spec.default + '' | translate }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="created_time">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'created_time' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            <rc-relative-time
              [time]="rowData.metadata.creationTimestamp"
            ></rc-relative-time>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="action">
          <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let rowData">
            <button
              aui-button="text"
              size="small"
              [square]="true"
              [plain]="true"
              [auiDropdown]="menu"
              [auiDropdownContext]="{ rowData: rowData }"
            >
              <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
            </button>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="columns"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: columns"
        ></aui-table-row>
      </aui-table>
      <acl-k8s-resource-list-footer
        [list]="list"
      ></acl-k8s-resource-list-footer>
    </aui-card>
  </ng-template>
</acl-page-guard>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-rowData="rowData">
    <acl-disabled-container
      [isAllowed]="(permissions$ | async).delete"
      [isDisabled]="rowData.spec.default"
      tooltip="{{ 'not_delete_default_subnet' | translate }}"
    >
      <aui-menu-item (click)="deleteSubnet(rowData)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
