<div
  #tooltip
  (click)="$event.stopPropagation()"
  class="rc-tooltip rc-tooltip--mode-{{ mode }}"
>
  <div #arrow [hidden]="noArrow || empty" class="rc-tooltip__arrow"></div>
  <div [class.rc-tooltip__content]="!empty">
    <div *ngIf="title" [innerHTML]="title"></div>
    <ng-container *ngIf="context">
      <ng-container
        [ngTemplateOutlet]="template"
        [ngTemplateOutletContext]="{ $implicit: context }"
      ></ng-container>
    </ng-container>
    <ng-container *ngIf="!context">
      <ng-container [ngTemplateOutlet]="template"></ng-container>
    </ng-container>
  </div>
</div>
