<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" (click)="addRepo()">
        {{ 'add_chartrepo' | translate }}
      </button>
    </acl-disabled-container>

    <div fxFlex></div>

    <aui-search
      [keyword]="searchKey$ | async"
      [searchButton]="true"
      [searching]="list.loading$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <aui-table [dataSource]="list.items$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a
          [routerLink]="[
            '/admin',
            'chartrepo',
            'detail',
            rowData.metadata.name
          ]"
        >
          {{ rowData.metadata.name }}
        </a>
        <rc-chartrepo-status
          *ngIf="rowData | pure: shouldShowStatus"
          [status]="rowData.status.phase"
        ></rc-chartrepo-status>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.spec.type || 'Chart' }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="project">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'assigned_project' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span
          *ngIf="rowData | aclLabel: 'project' as project; else notAssigned"
        >
          {{ project === ASSIGN_ALL ? ('all_projects' | translate) : project }}
        </span>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <button
          aui-button="text"
          size="small"
          [square]="true"
          [plain]="true"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ rowData: rowData }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>

  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-rowData="rowData">
    <acl-disabled-container
      [isAllowed]="(permissions$ | async).update"
      [isDisabled]="rowData | pure: isChartRepoPending"
    >
      <aui-menu-item (click)="update(rowData)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
      <aui-menu-item (click)="delete(rowData)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>

<ng-template #notAssigned>
  <span>{{ 'not_assigned' | translate }}</span>
</ng-template>
