@import 'var';
@import 'mixins';

:host {
  .detail-yaml {
    ::ng-deep .aui-code-editor {
      @include detail-page-fullheight;
    }
  }
  rc-pods-log {
    @include detail-page-fullheight;
  }
}

rc-loading-mask {
  height: 120px;
  background: transparent;
}
