@import 'var';

:host {
  display: block;
  .job-config-form {
    &__title {
      font-weight: 500;
      color: $color-text;
      margin-bottom: $form-row-margin-space;
    }
  }
  .form_item {
    &--question {
      padding-left: 8px;
      color: $color-text-help;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
