<div class="job-config-form__title">{{ 'job_config' | translate }}</div>
<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'job_type' | translate }}</label>
    <aui-radio-group formControlName="jobType">
      <aui-radio-button *ngFor="let type of jobTypes" [value]="type">
        {{ type | translate }}
      </aui-radio-button>
    </aui-radio-group>
    <aui-icon
      [auiTooltip]="job_type_tip"
      icon="basic:question"
      class="form_item--question"
    ></aui-icon>
  </aui-form-item>
  <aui-form-item
    [hidden]="
      ['single_job', 'parallel_job'].includes(form.get('jobType').value)
    "
  >
    <label auiFormItemLabel>{{ 'planned_successful_jobs' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-number-input
        [min]="1"
        [controls]="true"
        formControlName="completions"
      ></aui-number-input>
    </ng-container>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('completions').errors"
    ></rc-errors-mapper>
  </aui-form-item>
  <aui-form-item [hidden]="form.get('jobType').value === 'single_job'">
    <label auiFormItemLabel>{{ 'max_number_parallel_jobs' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-number-input
        [min]="1"
        [controls]="true"
        formControlName="parallelism"
      ></aui-number-input>
    </ng-container>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('parallelism').errors"
    ></rc-errors-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'job_failure_retries' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-number-input
        [min]="0"
        [controls]="true"
        formControlName="backoffLimit"
      ></aui-number-input>
    </ng-container>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('backoffLimit').errors"
    ></rc-errors-mapper>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'job_exec_timeout' | translate }}</label>
    <rc-cron-job-config-time-form
      formControlName="activeDeadlineSeconds"
    ></rc-cron-job-config-time-form>
  </aui-form-item>

  <rc-pod-template-form
    formControlName="template"
    [baseParams]="{ project: project, cluster: cluster, namespace: namespace }"
  ></rc-pod-template-form>
</form>
<ng-template #job_type_tip>
  <div>{{ 'single_job' | translate }}: {{ 'single_job_tip' | translate }}</div>
  <div>
    {{ 'parallel_job' | translate }}: {{ 'parallel_job_tip' | translate }}
  </div>
  <div>
    {{ 'fixed_number_job' | translate }}:
    {{ 'fixed_number_job_tip' | translate }}
  </div>
</ng-template>
