<form auiForm auiFormLabelWidth="150px" #ngform="ngForm">
  <aui-dialog-header>
    {{ 'select_image' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <rc-image-form
      [(ngModel)]="formModel"
      name="form"
      [context]="data.context"
    ></rc-image-form>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button aui-button="primary" (click)="submit()">
      {{ 'confirm' | translate }}
    </button>
    <button type="button" aui-button auiDialogClose>
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
</form>
