@import 'var';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-with-pause {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

:host {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  border-radius: 50%;
  background: transparent;

  ::ng-deep {
    aui-icon {
      margin-right: 4px;
      &.pending .aui-icon {
        color: $color-primary;
        transform-origin: center;
        animation: spin 4s infinite linear;
      }
    }
  }
}
