<ng-container *ngIf="status">
  <aui-icon
    [ngClass]="{ pending: status | pure: isPending:colorMapper }"
    [color]="status | pure: getStatusColor:colorMapper"
    [icon]="status | pure: getStatusIcon:iconMapper"
    [size]="'16px, 16px,'"
  ></aui-icon>
  <span *ngIf="withText" [title]="status.toLowerCase() | translate">
    {{ status.toLowerCase() | translate | titlecase }}
  </span>
</ng-container>
