@import 'var';

:host {
  $dash-border-color: #e5e1e1;
  $tip-color: #bdc8cf;
  $tip-bg-color: #f5f6f6;
}

.rule-type {
  width: 138px;
  min-width: 138px;
  flex: 0;

  &.aui-input {
    margin-right: 8px;
  }
}

.rule-indicator {
  position: relative;
  flex: 1;
  border-radius: 3px;

  li {
    align-items: center;
  }

  > ul > li {
    margin-top: 8px;
    list-style: none;

    &:not(.add-indicator) {
      display: flex;

      > :first-child {
        flex: 1;
      }

      > span:last-child {
        display: flex;
        padding-left: 10px;
        align-items: center;
      }
    }
  }
}

.remove-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  color: #999;

  .disabled {
    cursor: not-allowed;
    color: #ccc !important;
  }

  &:hover {
    color: $color-primary;
  }

  aui-icon {
    cursor: pointer;
    font-size: 16px;
    color: inherit;
    opacity: inherit;
  }
}

.key-indicator {
  display: flex;
}

.match-value {
  display: flex;
  flex: 1;

  .match-value-container__range {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    .input-range {
      flex: 1;

      // stylelint-disable-next-line no-descending-specificity
      + span {
        margin: 0 2px;
      }
    }
  }

  &:not(:first-child) {
    padding-left: 8px;
  }

  > input {
    flex: 1;
  }

  // stylelint-disable-next-line no-descending-specificity
  > span {
    padding: 0 8px;
    align-self: center;
  }
}

.add-indicator {
  font-size: 12px;
  color: $color-primary;
  cursor: pointer;
  background-color: #fff;
  border-radius: 2px;
  text-align: center;
  border: 1px dashed $color-primary;
  button {
    border: none;
    width: 100%;
    height: 100%;
  }
}
