<ng-container [formGroup]="form">
  <div class="rule-indicator">
    <ul class="list-unstyled">
      <ng-container
        *ngFor="
          let control of form?.controls;
          let i = index;
          trackBy: trackByFn
        "
      >
        <li [formGroupName]="i">
          <div class="key-indicator">
            <ng-container *ngIf="ruleIndicatorType === 'HOST'; else nonHost">
              <input
                class="rule-type"
                type="text"
                aui-input
                formControlName="hostPrefix"
              />
              <aui-select formControlName="hostSuffix">
                <aui-option
                  *ngFor="let domain of domains"
                  [value]="domain.spec.name"
                >
                  {{ domain.spec.name }}
                </aui-option>
              </aui-select>
            </ng-container>
            <ng-template #nonHost>
              <aui-select formControlName="type" class="rule-type">
                <aui-option
                  *ngFor="
                    let type of ruleIndicatorType &&
                      matchTypesMap.get(ruleIndicatorType).matchTypes
                  "
                  [label]="MATCH_TYPES[type]"
                  [value]="type"
                >
                  {{ MATCH_TYPES[type] }}
                </aui-option>
                <aui-option-placeholder>
                  {{ 'no_data' | translate }}
                </aui-option-placeholder>
              </aui-select>
              <div class="match-value">
                <div
                  [hidden]="control.get('type').value !== 'RANGE'"
                  class="match-value-container__range"
                >
                  <input
                    type="text"
                    aui-input
                    class="input-range"
                    formControlName="startValue"
                  />
                  <span>～</span>
                  <input
                    type="text"
                    class="input-range"
                    aui-input
                    formControlName="endValue"
                  />
                </div>

                <div
                  style="width: 100%;"
                  [hidden]="control.get('type').value === 'RANGE'"
                >
                  <input type="text" aui-input formControlName="value" />
                </div>
              </div>
            </ng-template>
          </div>
          <span class="remove-indicator">
            <ng-container
              *ngIf="i !== 0 || form?.controls?.length > 1; else disableIcon"
            >
              <aui-icon
                icon="basic:minus_circle"
                (click)="remove(i)"
              ></aui-icon>
            </ng-container>
            <ng-template #disableIcon>
              <aui-icon icon="basic:minus_circle" class="disabled"></aui-icon>
            </ng-template>
          </span>
        </li>
        <rc-errors-mapper
          [errors]="control.get('type').errors"
          *ngIf="
            control.get('type').dirty ||
            $any(controlContainer?.formDirective)?.submitted
          "
          [controlName]="'type' | translate"
        ></rc-errors-mapper>
        <rc-errors-mapper
          *ngIf="
            control.get('type').value &&
            (control.get('startValue').dirty ||
              $any(controlContainer?.formDirective)?.submitted)
          "
          [errors]="control.get('startValue').errors"
          [controlName]="'start_value' | translate"
        ></rc-errors-mapper>
        <rc-errors-mapper
          *ngIf="
            control.get('type').value &&
            (control.get('endValue').dirty ||
              $any(controlContainer?.formDirective)?.submitted)
          "
          [errors]="control.get('endValue').errors"
          [controlName]="'end_value' | translate"
        ></rc-errors-mapper>
        <rc-errors-mapper
          *ngIf="
            control.get('type').value &&
            (control.get('value').dirty ||
              $any(controlContainer?.formDirective)?.submitted)
          "
          [errors]="control.get('value').errors"
          [controlName]="'value' | translate"
        ></rc-errors-mapper>
      </ng-container>

      <li *ngIf="lbType && ruleIndicatorType" class="add-indicator">
        <button
          aui-button="primary"
          type="button"
          size="mini"
          [plain]="true"
          (click)="add()"
        >
          <aui-icon icon="basic:add_circle"></aui-icon>
          {{ 'add' | translate }}
        </button>
      </li>
    </ul>
  </div>
</ng-container>
