<aui-dialog-header>
  {{
    (data.mode === 'update' ? 'update_pod_affinity' : 'add_pod_affinity')
      | translate
  }}
</aui-dialog-header>

<aui-dialog-content>
  <form
    [hidden]="isUpdate"
    auiForm
    class="type-form"
    [auiFormEmptyAddon]="true"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'affinity_setting' | translate }}</label>
      <aui-radio-group
        auiFormItemControl
        name="type"
        size="medium"
        [(ngModel)]="type"
      >
        <aui-radio-button value="affinity">
          {{ 'pod_affinity' | translate }}
        </aui-radio-button>
        <aui-radio-button value="antiAffinity">
          {{ 'pod_anti_affinity' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
  </form>

  <rc-pod-affinity-form
    [type]="type"
    [mode]="data.mode"
    [namespace]="data.namespace"
    [cluster]="data.cluster"
    [(ngModel)]="affinity"
    [workloadOptions]="data.workloadOptions"
  ></rc-pod-affinity-form>
</aui-dialog-content>
<!-- <pre>{{ affinity | json }}</pre> -->
<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ 'add' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
