<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<aui-card class="resource-form__card" [hidden]="!initialized">
  <div auiCardHeader fxFlexLayout>
    {{ (isUpdate ? 'update_pv' : 'create_pv') | translate }}
    <span fxFlex></span>
    <aui-radio-group
      name="formView"
      [isPlain]="false"
      (ngModelChange)="switchFormView($event)"
      [(ngModel)]="formView"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <form
    [hidden]="formView !== 'UI'"
    auiForm
    #resourceForm="ngForm"
    [formGroup]="form"
  >
    <rc-pv-form [isUpdate]="isUpdate" formControlName="resource"></rc-pv-form>
  </form>
  <form *ngIf="formView === 'YAML'" #resourceForm="ngForm">
    <aui-code-editor
      name="yaml"
      style="width: 100%;"
      required
      [(ngModel)]="yaml"
      [originalValue]="originalYaml"
      [options]="codeEditorOptions"
    ></aui-code-editor>
  </form>
</aui-card>

<div class="resource-form__footer" [hidden]="!initialized">
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="submit()"
  >
    {{ (isUpdate ? 'update' : 'create') | translate }}
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
