<aui-dialog-header>
  {{ (isUpdate ? 'update_k8s_service' : 'add_k8s_service') | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <rc-k8s-service-form
      name="service"
      [workloads]="workloads"
      [(ngModel)]="service"
      [isUpdate]="isUpdateApp"
      [disableWorkloadSelect]="!!dialogData.disableWorkloadSelect"
      [disableHeadless]="!!dialogData.disableHeadless"
    ></rc-k8s-service-form>
  </form>
  <!-- <pre>{{ service | json }}</pre> -->
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ (isUpdate ? 'update' : 'add') | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
