<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel>
      {{ 'name' | translate }}
    </label>
    <input
      [rcReadonlyField]="isUpdate"
      (blur)="onBlur()"
      auiFormItemControl
      aui-input
      required
      formControlName="name"
    />
    <rc-errors-mapper
      auiFormItemError
      *ngIf="!isUpdate"
      [errors]="form.get(['metadata', 'name']).errors"
      [errorsMapper]="{
        pattern: resourceNamePattern.tip | translate
      }"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'virtual_ip' | translate }}</label>
    <aui-switch
      [disabled]="isUpdate || disableHeadless"
      formControlName="virtualIp"
    ></aui-switch>
    <div auiFormItemAddon>
      <aui-icon
        [auiTooltip]="'virtual_ip_hint' | translate"
        [auiTooltipPosition]="'top center'"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </div>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'internet_access' | translate }}</label>
    <aui-switch
      [disabled]="this.form.get('virtualIp').value === false"
      formControlName="internetAccess"
    ></aui-switch>
    <div auiFormItemAddon>
      <aui-icon
        [auiTooltip]="'internet_access_hint' | translate"
        [auiTooltipPosition]="'top center'"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </div>
  </aui-form-item>

  <aui-form-item [hidden]="disableWorkloadSelect">
    <label auiFormItemLabel>
      {{ 'workload' | translate }}
    </label>
    <aui-select
      auiFormItemControl
      [allowCreate]="false"
      [filterable]="true"
      formControlName="workloadName"
      required
    >
      <aui-option-group *ngFor="let group of workloadOptions | keyvalue">
        <div auiOptionGroupTitle>{{ group.key | translate }}</div>
        <aui-option
          *ngFor="let item of group.value; trackBy: workloadTrackByFn"
          [label]="item.name"
          [value]="item.value"
        >
          {{ item.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-option-group>
    </aui-select>

    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('workloadName').errors"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item formGroupName="spec">
    <label auiFormItemLabel>
      {{ 'ports' | translate }}
    </label>
    <rc-service-ports-fieldset
      required
      auiFormItemControl
      formControlName="ports"
    ></rc-service-ports-fieldset>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'session_affinity' | translate }}</label>
    <aui-switch formControlName="sessionPersistence"></aui-switch>
  </aui-form-item>
</form>
