<rc-loading-mask
  *ngIf="!initialized"
  [loading]="!initialized"
></rc-loading-mask>

<ng-container *ngIf="initialized">
  <form
    class="resource-form__card"
    #form="ngForm"
    auiForm
    [auiFormEmptyAddon]="true"
  >
    <aui-card>
      <div auiCardHeader>{{ 'application' | translate }}</div>
      <rc-application-metadata-form
        name="metadata"
        [isUpdate]="isUpdate"
        [namespace]="baseParams.namespace"
        [(ngModel)]="metadata"
      ></rc-application-metadata-form>
    </aui-card>

    <aui-card>
      <div auiCardHeader>
        <aui-dropdown-button
          [hidden]="mode === 'yaml'"
          [plain]="true"
          size="small"
          (buttonClick)="addComponent()"
          type="primary"
        >
          <aui-icon icon="basic:plus" style="margin-right: 4px;"></aui-icon>
          {{ 'add_workload' | translate }}
          <aui-menu size="small">
            <aui-menu-item (click)="addService()">
              {{ 'add_k8s_service' | translate }}
            </aui-menu-item>
            <aui-menu-item (click)="addIngress()">
              {{ 'add_ingress' | translate }}
            </aui-menu-item>
            <aui-menu-item (click)="addResourceFromYaml()">
              {{ 'add_resource_from_yaml' | translate }}
            </aui-menu-item>
          </aui-menu>
        </aui-dropdown-button>
        <span fxFlex></span>
        <aui-radio-group
          [isPlain]="false"
          name="mode"
          (ngModelChange)="modeChange($event)"
          [(ngModel)]="mode"
        >
          <aui-radio-button value="list">
            {{ 'resource_list' | translate }}
          </aui-radio-button>
          <aui-radio-button value="yaml">YAML</aui-radio-button>
        </aui-radio-group>
      </div>

      <rc-array-form-table
        *ngIf="mode === 'list'"
        [noRowSeparator]="true"
        [rows]="resources"
      >
        <ng-container *rcArrayFormTableRow="let item">
          <td>
            <ng-container [ngSwitch]="getResourceKindGroup(item.kind)">
              <rc-pod-controller-preview-card
                *ngSwitchCase="'Workload'"
                [data]="item"
              ></rc-pod-controller-preview-card>

              <rc-service-preview-card
                *ngSwitchCase="'Service'"
                [service]="item"
                [showKind]="true"
              ></rc-service-preview-card>

              <rc-ingress-preview-card
                *ngSwitchCase="'Ingress'"
                [ingress]="item"
                [showKind]="true"
              ></rc-ingress-preview-card>

              <div *ngSwitchDefault class="rc-table-vertical">
                <div class="rc-table-vertical__row">
                  <div>{{ 'resource_type' | translate }}</div>
                  <div>
                    {{ item.kind }}
                  </div>
                </div>
                <div class="rc-table-vertical__row">
                  <div>{{ 'name' | translate }}</div>
                  <div>{{ item.metadata.name }}</div>
                </div>
              </div>
            </ng-container>
          </td>
        </ng-container>
        <ng-container *rcArrayFormTableRowControl="let item; let index = index">
          <div class="action-col__vertical">
            <acl-disabled-container
              [isAllowed]="true"
              [isDisabled]="item | rcIsGrayRelease"
              [tooltip]="'gray_release_disable_tip' | translate"
            >
              <button
                aui-button="text"
                size="mini"
                type="button"
                [square]="true"
                [plain]="true"
                (click)="updateResource(item)"
              >
                <aui-icon icon="basic:pencil_edit"></aui-icon>
              </button>
            </acl-disabled-container>
            <acl-disabled-container
              [isAllowed]="true"
              [isDisabled]="item | rcIsGrayRelease"
              [tooltip]="'gray_release_disable_tip' | translate"
            >
              <button
                aui-button="text"
                size="mini"
                type="button"
                [square]="true"
                [plain]="true"
                (click)="removeResource(item)"
              >
                <aui-icon icon="basic:minus_circle"></aui-icon>
              </button>
            </acl-disabled-container>
          </div>
        </ng-container>
        <ng-container *rcArrayFormTableFooter></ng-container>
      </rc-array-form-table>

      <aui-code-editor
        *ngIf="mode === 'yaml'"
        name="yaml"
        [actionsConfig]="editorActions"
        [options]="editorOptions"
        [(ngModel)]="yaml"
        [originalValue]="latestYaml"
      ></aui-code-editor>
    </aui-card>
  </form>

  <div class="resource-form__footer">
    <span fxFlex></span>
    <ng-container *ngIf="isUpdate">
      <input
        aui-input
        placeholder="{{ 'version_comment' | translate }}"
        class="comment__input"
        maxlength="30"
        [(ngModel)]="versionComment"
      />
      <aui-checkbox class="force-update" [(ngModel)]="forceUpdate">
        {{ 'force_update' | translate }}
      </aui-checkbox>
      <aui-icon
        [auiTooltip]="'app_force_update_tooltip' | translate"
        icon="basic:question"
        [style.margin-right]="'16px'"
        color="#999"
      ></aui-icon>
    </ng-container>
    <button aui-button="primary" (click)="submit()">
      <span *ngIf="!isUpdate">{{ 'create' | translate }}</span>
      <span *ngIf="isUpdate">{{ 'update' | translate }}</span>
    </button>
    <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
  </div>
</ng-container>
