:host ::ng-deep {
  .aui-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  rc-array-form-table .tags-container {
    white-space: normal;
  }
}

.info-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.info-list {
  margin: 0 28px -12px 0;
  width: 100%;
  flex-shrink: 1;
  list-style: none;
  max-width: calc(100% - 272px);

  > li {
    display: flex;
    margin-bottom: 12px;

    > div {
      &:first-of-type {
        margin-right: 8px;
        flex-shrink: 0;
        &:after {
          content: ':';
        }
      }
      &:last-of-type {
        display: inline-flex;
        align-items: center;
        max-width: 400px;
      }
    }
  }
}

rc-pod-controller-containers,
rc-hpa {
  display: block;
  margin-top: 16px;
}
