<aui-card>
  <div auiCardHeader>
    <span>{{ resource.metadata.name }}</span>
    <div>
      <acl-disabled-container
        [isAllowed]="permissions.update"
        [isDisabled]="resource.spec.replicas !== 0"
      >
        <button aui-button="primary" (click)="start()">
          <aui-icon icon="basic:play_medium_s"></aui-icon>
          {{ 'start' | translate }}
        </button>
      </acl-disabled-container>
      <acl-disabled-container
        [isAllowed]="permissions.update"
        [isDisabled]="resource.spec.replicas === 0"
      >
        <button aui-button [plain]="true" (click)="stop()">
          <aui-icon icon="basic:stop_medium_s"></aui-icon>
          {{ 'stop' | translate }}
        </button>
      </acl-disabled-container>
      <button aui-button [plain]="true" [auiDropdown]="menu">
        {{ 'action' | translate }}
        <aui-icon icon="angle_down" margin="left"></aui-icon>
      </button>
      <aui-menu #menu>
        <acl-disabled-container [isAllowed]="permissions.update">
          <aui-menu-item (click)="update()">
            {{ 'update' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
        <acl-disabled-container [isAllowed]="permissions.delete">
          <aui-menu-item (click)="delete()">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
      </aui-menu>
    </div>
  </div>

  <div class="info-container">
    <ul class="info-list">
      <li *ngIf="resource | aclDisplayName">
        <div>{{ 'display_name' | translate }}</div>
        <div>{{ resource | aclDisplayName }}</div>
      </li>
      <li>
        <div>{{ 'status' | translate }}</div>
        <div>
          <rc-workload-status-icon
            [workloadStatus]="resource | pure: parseToWorkloadStatus"
          ></rc-workload-status-icon>
        </div>
      </li>
      <li>
        <div>{{ 'labels' | translate }}</div>
        <rc-tags-label [tags]="resource.metadata.labels"></rc-tags-label>
        <acl-disabled-container [isAllowed]="permissions.update">
          <button aui-button="text" (click)="updateLabels()">
            <aui-icon icon="basic:pencil_s"></aui-icon>
          </button>
        </acl-disabled-container>
      </li>
      <li>
        <div>{{ 'node_selector' | translate }}</div>
        <rc-tags-label [tags]="getNodeSelector(resource)"></rc-tags-label>
      </li>
      <li>
        <div>{{ 'update_strategy' | translate }}</div>
        <div>
          <span>
            {{ 'service_max_unavailable' | translate }}:
            {{ path(['spec', 'updateStrategy', 'maxUnavailable'], resource) }}
          </span>
        </div>
      </li>
      <li>
        <div>{{ 'node_anomaly_strategy' | translate }}</div>
        <div>
          <span>
            {{
              (resource.spec.forceDeletePod ? 'migrate' : 'donot_migrate')
                | translate
            }}
          </span>
        </div>
      </li>
      <!-- 组件字段较多，经产品决定，新增功能如子网，镜像凭据，在无数据时隐藏 -->
      <ng-container
        [ngTemplateOutlet]="fixIpRef"
        [ngTemplateOutletContext]="{ $implicit: resource | pure: getIpPool }"
      ></ng-container>

      <ng-container
        [ngTemplateOutlet]="credentialRef"
        [ngTemplateOutletContext]="{ $implicit: getImagePullSecrets(resource) }"
      ></ng-container>

      <ng-template #fixIpRef let-ipPool>
        <li *ngIf="ipPool.length">
          <div>{{ 'fix_ip' | translate }}</div>
          <rc-tags-label [tagList]="ipPool"></rc-tags-label>
        </li>
      </ng-template>

      <ng-template #credentialRef let-secrets>
        <li *ngIf="secrets.length">
          <div>{{ 'credential' | translate }}</div>
          <rc-tags-label [tagList]="secrets"></rc-tags-label>
        </li>
      </ng-template>
    </ul>
    <div class="pod-status">
      <rc-workload-status
        [workloadStatus]="resource | pure: parseToWorkloadStatus"
        (change)="updateReplicas($event)"
        [isUpdateAllowed]="permissions.update"
      ></rc-workload-status>
    </div>
  </div>

  <rc-foldable-block
    *ngIf="resource | pure: getVolumes as volumes"
    context="card"
    [hint]="'volumes' | translate"
  >
    <rc-volumes-preview [volumes]="volumes"></rc-volumes-preview>
  </rc-foldable-block>

  <rc-foldable-block
    *ngIf="getAffinityInfo(resource) as rows"
    context="card"
    [hint]="'pod_affinity' | translate"
  >
    <rc-array-form-table [rows]="rows" [readonly]="true">
      <ng-container *rcArrayFormTableHeader>
        <th>{{ 'type' | translate }}</th>
        <th>{{ 'affinity_setting_classification' | translate }}</th>
        <th>{{ 'affinity_setting_weight' | translate }}</th>
        <th>{{ 'topology_key' | translate }}</th>
        <th>{{ 'match_labels' | translate }}</th>
      </ng-container>

      <ng-container *rcArrayFormTableRow="let item">
        <td>
          {{ (item.isAnti ? 'pod_anti_affinity' : 'pod_affinity') | translate }}
        </td>
        <td>{{ item.classification }}</td>
        <td>{{ item.weight | aclFieldNotAvailable }}</td>
        <td>{{ item.topologyKey | aclFieldNotAvailable }}</td>
        <td>
          <rc-tags-label
            [tags]="item.matchLabels"
            [showMore]="false"
          ></rc-tags-label>
        </td>
      </ng-container>
    </rc-array-form-table>
  </rc-foldable-block>
</aui-card>

<rc-pod-controller-containers
  [podController]="resource"
  [baseParams]="baseParams"
  [isUpdateAllowed]="permissions.update"
  (onUpdateImageTag)="updateImageTag($event)"
  (onUpdateResourceSize)="updateResourceSize($event)"
  (onOpenTerminal)="openTerminal($event)"
  (onOpenLog)="openLog($event)"
></rc-pod-controller-containers>

<rc-hpa
  [autoScaler]="autoScaler"
  [canUpdate]="permissions.update"
  [baseParams]="baseParams"
  [podController]="resource"
  workloadType="TAPP"
  (update)="updateHpa($event)"
></rc-hpa>
