@import 'var';

:host {
  ::ng-deep .crt {
    .aui-form-item__content {
      position: relative;

      button {
        position: absolute;
        top: 0;
        right: 32px;
      }
    }
  }

  .password__suffix {
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }
}
