<ng-container
  *ngIf="(value$ | async) || {} | pure: decodeValue as data"
  [ngSwitch]="type"
>
  <!-- 默认key/value形式 -->
  <ng-container *ngSwitchDefault>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'data' | translate }}</label>
      <rc-secret-items-fieldset
        name="secretItems"
        [(ngModel)]="fieldSet"
        (ngModelChange)="fieldSetChange($event)"
      ></rc-secret-items-fieldset>
    </aui-form-item>
  </ng-container>
  <!-- tls -->
  <ng-container *ngSwitchCase="'kubernetes.io/tls'">
    <aui-form-item class="crt">
      <label auiFormItemLabel>{{ 'certificate' | translate }}</label>
      <textarea
        aui-input
        auiFormItemControl
        required
        size="small"
        [autosize]="{ minRows: 5, maxRows: 10 }"
        name="tls.crt"
        [ngModel]="data['tls.crt']"
        (ngModelChange)="emitPropertyValueChange('tls.crt', $event)"
        #tlsCrt="ngModel"
      ></textarea>
      <button
        aui-button
        class="import"
        size="mini"
        type="button"
        [plain]="true"
        (click)="fileUploadInput.click()"
      >
        <aui-icon icon="import"></aui-icon>
        <span>
          {{ 'import' | translate }}
        </span>
      </button>
      <rc-errors-mapper
        auiFormItemError
        [errors]="tlsCrt.errors"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'private_key' | translate }}</label>
      <textarea
        aui-input
        auiFormItemControl
        required
        size="small"
        [autosize]="{ minRows: 3 }"
        name="tls.key"
        [ngModel]="data['tls.key']"
        (ngModelChange)="emitPropertyValueChange('tls.key', $event)"
        #tlsKey="ngModel"
      ></textarea>
      <rc-errors-mapper
        auiFormItemError
        [errors]="tlsKey.errors"
      ></rc-errors-mapper>
    </aui-form-item>
  </ng-container>
  <!-- ssh -->
  <ng-container *ngSwitchCase="'kubernetes.io/ssh-auth'">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'ssh_private_key' | translate }}</label>
      <textarea
        aui-input
        auiFormItemControl
        required
        size="small"
        [autosize]="{ minRows: 3 }"
        name="ssh-privatekey"
        [ngModel]="data['ssh-privatekey']"
        (ngModelChange)="emitPropertyValueChange('ssh-privatekey', $event)"
        #sshPrivatekey="ngModel"
      ></textarea>
      <rc-errors-mapper
        auiFormItemError
        [errors]="sshPrivatekey.errors"
      ></rc-errors-mapper>
    </aui-form-item>
  </ng-container>
  <!-- basic-auth -->
  <ng-container *ngSwitchCase="'kubernetes.io/basic-auth'">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        aui-input
        required
        auiFormItemControl
        name="username"
        autocomplete="off"
        [ngModel]="data['username']"
        (ngModelChange)="emitPropertyValueChange('username', $event)"
        #userName="ngModel"
      />
      <rc-errors-mapper
        auiFormItemError
        [errors]="userName.errors"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <aui-input-group auiFormItemControl required>
        <input
          auiFormItemControl
          aui-input
          required
          name="password"
          autocomplete="off"
          [type]="showPassword ? 'text' : 'password'"
          [ngModel]="data['password']"
          (ngModelChange)="emitPropertyValueChange('password', $event)"
          #password="ngModel"
        />
        <div
          auiInputSuffix
          class="password__suffix"
          (click)="toggleShowPassword()"
        >
          <aui-icon
            [icon]="showPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"
          ></aui-icon>
        </div>
      </aui-input-group>
      <rc-errors-mapper
        auiFormItemError
        [errors]="password.errors"
      ></rc-errors-mapper>
    </aui-form-item>
  </ng-container>
  <!-- dockerconfigjson -->
  <ng-container *ngSwitchCase="'kubernetes.io/dockerconfigjson'">
    <rc-docker-config-data-form
      name="docker"
      [ngModel]="data['.dockerconfigjson']"
      (ngModelChange)="emitPropertyValueChange('.dockerconfigjson', $event)"
    ></rc-docker-config-data-form>
  </ng-container>
</ng-container>

<input
  #fileUploadInput
  hidden
  name="files"
  type="file"
  (change)="onImport($event)"
/>
