<rc-array-form-table
  [noRowSeparator]="true"
  [resourceName]="resourceName"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
>
  <!-- Input row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td>
      <input (blur)="onBlur()" aui-input [formControl]="control" />
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td
      class="rc-table-form-error-hint"
      colspan="2"
      *ngIf="control.dirty || $any(controlContainer?.formDirective)?.submitted"
    >
      <rc-errors-mapper
        [errors]="control.errors"
        [errorsMapper]="errorMapper"
      ></rc-errors-mapper>
    </td>
  </ng-container>
</rc-array-form-table>
