<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="100px"
  [auiFormEmptyAddon]="true"
>
  <ng-container formGroupName="spec">
    <aui-form-item [emptyAddon]="false">
      <label auiFormItemLabel>{{ 'rule_description' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        type="text"
        [placeholder]="'please_input_description' | translate"
        formControlName="description"
      />
    </aui-form-item>
    <aui-form-item *ngIf="showCertificate" [emptyAddon]="false">
      <label auiFormItemLabel>{{ 'certificate' | translate }}</label>
      <aui-switch
        [(ngModel)]="certificateEnabled"
        (ngModelChange)="certificateEnabledChange($event)"
        [ngModelOptions]="{ standalone: true }"
        name="certificateEnabled"
      ></aui-switch>
      <rc-load-balancer-certificate-form
        auiFormItemHint
        [hidden]="!certificateEnabled"
        formControlName="certificate_name"
        [secretList]="secretList"
        [namespace]="namespace"
        [required]="certificateEnabled"
      ></rc-load-balancer-certificate-form>
    </aui-form-item>
    <aui-form-item formGroupName="serviceGroup" [emptyAddon]="false">
      <label auiFormItemLabel>{{ 'k8s_service_group' | translate }}</label>
      <rc-load-balancer-service-group-form
        [cluster]="cluster"
        [namespace]="namespace"
        [inWorkspace]="inWorkspace"
        [namespaceList]="namespaceList"
        [serviceList]="serviceList"
        formControlName="services"
      ></rc-load-balancer-service-group-form>
    </aui-form-item>
    <aui-form-item
      *ngIf="loadBalancer.spec.type !== 'elb'"
      [emptyAddon]="false"
    >
      <label auiFormItemLabel>{{ 'rule' | translate }}</label>
      <div style="width: 100%;">
        <ul class="rule-indicators list-unstyled">
          <li
            class="rule-part-form"
            *ngFor="
              let control of ruleIndicatorsForm.controls;
              let index = index
            "
          >
            <div class="rule-part-form__body">
              <rc-load-balancer-rule-part-form
                style="width: 100%;"
                [chosenControls]="ruleIndicatorsForm.controls"
                [lbType]="loadBalancer.spec.type"
                [domains]="domainList"
                [formControl]="control"
              ></rc-load-balancer-rule-part-form>
              <div class="remove-indicator">
                <aui-icon
                  icon="basic:trash"
                  (click)="removeRuleIndicator(index)"
                ></aui-icon>
              </div>
            </div>
            <div
              class="rule-part-form__errors"
              *ngIf="control.errors?.duplicateType"
            >
              {{ 'rule_type_duplicate' | translate }}:
              {{ getRuleTypeDisplay(control.errors?.duplicateType) }}
            </div>
          </li>
        </ul>
        <div
          class="add-rule-indicator"
          *ngIf="ruleIndicatorsForm.controls.length < ruleTypes.length"
        >
          <span (click)="addRuleIndicator()">
            <aui-icon icon="basic:add_circle"></aui-icon>
            {{ 'add_rule_indicator' | translate }}
          </span>
        </div>
      </div>
    </aui-form-item>
    <aui-form-item formGroupName="serviceGroup" [emptyAddon]="false">
      <label auiFormItemLabel>{{ 'session_affinity' | translate }}</label>
      <aui-radio-group formControlName="session_affinity_policy">
        <aui-radio-button
          *ngFor="let type of sessionAffinityTypes"
          [value]="type"
        >
          {{ 'session_affinity_' + (type || 'no') | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item
      [emptyAddon]="false"
      formGroupName="serviceGroup"
      [hidden]="
        form.get('spec.serviceGroup.session_affinity_policy').value !== 'cookie'
      "
    >
      <label auiFormItemLabel>
        {{ 'session_affinity_attribute' | translate }}
      </label>
      <input aui-input formControlName="session_affinity_attribute" />
    </aui-form-item>
  </ng-container>
  <aui-form-item [emptyAddon]="false">
    <label auiFormItemLabel>{{ 'url_rewrite' | translate }}</label>
    <aui-switch
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="urlRewrite"
      (ngModelChange)="urlRewriteChange($event)"
    ></aui-switch>
  </aui-form-item>

  <ng-container formGroupName="spec">
    <aui-form-item [hidden]="!urlRewrite" [emptyAddon]="false">
      <label auiFormItemLabel>{{ 'rewrite_target' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        formControlName="rewrite_target"
        [placeholder]="'please_input_rewrite_target' | translate"
      />
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get(['spec', 'rewrite_target']).errors"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item [emptyAddon]="false">
      <label auiFormItemLabel>{{ 'backend_protocol' | translate }}</label>
      <aui-radio-group formControlName="backendProtocol" auiFormItemControl>
        <aui-radio-button value="HTTP">HTTP</aui-radio-button>
        <aui-radio-button value="HTTPS">HTTPS</aui-radio-button>
      </aui-radio-group>
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get(['spec', 'backendProtocol']).errors"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item [emptyAddon]="false">
      <label auiFormItemLabel>{{ 'redirect' | translate }}</label>
      <aui-switch
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="redirect"
        (ngModelChange)="redirectChange($event)"
      ></aui-switch>
    </aui-form-item>
    <aui-form-item [hidden]="!redirect" [emptyAddon]="false">
      <label auiFormItemLabel>{{ 'http_status_code' | translate }}</label>
      <aui-radio-group formControlName="redirectCode">
        <aui-radio-button
          *ngFor="let statusCode of HTTP_REDIRECT_STATUS_CODES"
          [value]="statusCode"
        >
          {{ statusCode }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item [hidden]="!redirect" [emptyAddon]="false">
      <label auiFormItemLabel>{{ 'redirect_url' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        formControlName="redirectURL"
        [placeholder]="'please_input_redirect_url' | translate"
      />
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get(['spec', 'redirectURL']).errors"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item [emptyAddon]="false">
      <label auiFormItemLabel>{{ 'cors' | translate }}</label>
      <aui-switch formControlName="enableCORS"></aui-switch>
    </aui-form-item>
  </ng-container>
</form>
