<aui-card *ngIf="data">
  <div auiCardHeader>
    {{ data.metadata.name }}
    <div fxFlex></div>
    <button aui-button="default" [plain]="true" [auiDropdown]="menu">
      {{ 'action' | translate }}
      <aui-icon icon="angle_down" margin="left"></aui-icon>
    </button>
    <aui-menu #menu size="small">
      <acl-disabled-container [isAllowed]="canUpdate">
        <aui-menu-item (click)="update()">
          {{ 'update' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
      <acl-disabled-container [isAllowed]="canUpdate">
        <aui-menu-item (click)="executeNow()">
          {{ 'execute_now' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
      <acl-disabled-container [isAllowed]="canUpdate">
        <aui-menu-item (click)="delete()">
          {{ 'delete' | translate }}
        </aui-menu-item>
      </acl-disabled-container>
    </aui-menu>
  </div>
  <rc-field-set-group auiCardContent>
    <rc-field-set-item>
      <label>{{ 'display_name' | translate }}</label>
      {{ data | aclDisplayName | aclFieldNotAvailable }}
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'created_time' | translate }}</label>
      {{ data.metadata.creationTimestamp | rcFormatUtcStr }}
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'execute_type' | translate }}</label>
      {{ data.spec.suspend ? ('manual' | translate) : ('cron' | translate) }}
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'next_trig_time' | translate }}</label>
      {{ data.spec.schedule | rcCrontabNext }}
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'trigger_rule' | translate }}</label>
      {{ data.spec.suspend ? '-' : data.spec.schedule }}
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'last_schedule_time' | translate }}</label>
      {{ data.status?.lastScheduleTime | rcFormatUtcStr }}
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'number_of_history_jobs_keep_up' | translate }}</label>
      {{ 'success' | translate }} {{ data.spec.successfulJobsHistoryLimit }}
      <span style="margin-left: 8px;">
        {{ 'failed' | translate }} {{ data.spec.failedJobsHistoryLimit }}
      </span>
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'cron_concurrency_policy' | translate }}</label>
      <ng-container [ngSwitch]="data.spec.concurrencyPolicy">
        <ng-container *ngSwitchCase="'Allow'">
          {{ 'cron_concurrency_policy_allow' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'Forbid'">
          {{ 'cron_concurrency_policy_forbid' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="'Replace'">
          {{ 'cron_concurrency_policy_replace' | translate }}
        </ng-container>
      </ng-container>
    </rc-field-set-item>
  </rc-field-set-group>

  <rc-job-config [jobSpec]="jobSpec"></rc-job-config>

  <rc-foldable-block
    *ngIf="data | pure: getVolumes as volumes"
    context="card"
    [hint]="'volumes' | translate"
  >
    <rc-volumes-preview [volumes]="volumes"></rc-volumes-preview>
  </rc-foldable-block>
</aui-card>
<rc-pod-controller-containers
  [podController]="data.spec.jobTemplate"
  [actions]="['image', 'resource']"
  [baseParams]="baseParams"
  [isUpdateAllowed]="canUpdate"
  (onUpdateImageTag)="updateImageTag($event)"
  (onUpdateResourceSize)="updateResourceSize($event)"
></rc-pod-controller-containers>
