<rc-loading-mask [loading]="!initialized"></rc-loading-mask>

<ng-container *ngIf="initialized && !empty">
  <rc-k8s-event-list
    kind="Deployment,Application,Pod,EndPoint,Service,HorizontalPodAutoscaler,ReplicaSet,DaemonSet,StatefulSet,CronHPA"
    [names]="names"
    [namespace]="namespace"
    [cluster]="cluster"
    [embedded]="true"
    [fuzzy]="true"
  ></rc-k8s-event-list>
</ng-container>

<ng-container *ngIf="initialized && empty">
  <div class="loading-placeholder text-help">
    {{ 'no_data' | translate }}
  </div>
</ng-container>
