<aui-card class="resource-form__card">
  <div auiCardHeader fxFlexLayout>
    <span>
      {{ (isUpdate ? 'update_k8s_service' : 'create_k8s_service') | translate }}
    </span>
    <span fxFlex></span>
    <aui-radio-group
      [isPlain]="false"
      (ngModelChange)="modeChange($event)"
      [(ngModel)]="mode"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <form *ngIf="mode == 'UI'" auiForm #resourceForm="ngForm">
    <rc-service-form
      [baseParams]="baseParams"
      name="resource"
      [isUpdate]="isUpdate"
      [(ngModel)]="resource"
    ></rc-service-form>
  </form>

  <form *ngIf="mode == 'YAML'" auiForm #resourceForm="ngForm">
    <aui-code-editor
      name="yaml"
      style="width: 100%;"
      required
      [(ngModel)]="yaml"
      [options]="codeEditorOptions"
    ></aui-code-editor>
  </form>
</aui-card>

<div class="resource-form__footer">
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ (isUpdate ? 'update' : 'create') | translate }}
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
