<form auiForm [formGroup]="form">
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      aui-input
      auiFormItemControl
      required
      name="name"
      formControlName="name"
      [placeholder]="resourceNameReg.tip | translate"
      [rcReadonlyField]="isUpdate"
    />
    <rc-errors-mapper
      auiFormItemError
      *ngIf="!isUpdate"
      [errors]="form.get(['metadata', 'name']).errors"
      [errorsMapper]="{
        pattern: resourceNameReg.tip | translate
      }"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'virtual_ip' | translate }}</label>
    <aui-switch [disabled]="isUpdate" formControlName="virtualIp"></aui-switch>
    <div auiFormItemAddon>
      <aui-icon
        [auiTooltip]="'virtual_ip_hint' | translate"
        [auiTooltipPosition]="'top center'"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </div>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'internet_access' | translate }}</label>
    <aui-switch
      [disabled]="this.form.get('virtualIp').value === false"
      formControlName="internetAccess"
    ></aui-switch>
    <div auiFormItemAddon>
      <aui-icon
        [auiTooltip]="'internet_access_hint' | translate"
        [auiTooltipPosition]="'top center'"
        icon="basic:question"
        color="#999"
      ></aui-icon>
    </div>
  </aui-form-item>

  <aui-form-item formGroupName="spec">
    <label auiFormItemLabel>{{ 'port' | translate }}</label>
    <rc-service-ports-fieldset
      auiFormItemControl
      required
      name="ports"
      formControlName="ports"
    ></rc-service-ports-fieldset>
  </aui-form-item>

  <aui-form-item formGroupName="spec">
    <label auiFormItemLabel>{{ 'selector' | translate }}</label>
    <rc-service-selector-fieldset
      auiFormItemControl
      name="selector"
      formControlName="selector"
      [isUpdate]="isUpdate"
      [baseParams]="baseParams"
      (importWorkload)="onImportWorkload($event)"
    ></rc-service-selector-fieldset>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'session_affinity' | translate }}</label>
    <aui-switch formControlName="sessionPersistence"></aui-switch>
  </aui-form-item>
</form>
