<rc-array-form-table
  [rows]="podAffinities$ | async"
  resourceName="pod_affinity"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="120px">{{ 'type' | translate }}</th>
    <th width="120px">{{ 'affinity_setting_classification' | translate }}</th>
    <th width="80px">{{ 'weight' | translate }}</th>
    <th width="200px">{{ 'topology_key' | translate }}</th>
    <th>{{ 'match_labels' | translate }}</th>
  </ng-container>
  <ng-container *rcArrayFormTableRow="let rowData">
    <td>
      {{ (rowData.isAnti ? 'pod_anti_affinity' : 'pod_affinity') | translate }}
    </td>
    <td>{{ rowData.val.weight ? 'Preferred' : 'Required' }}</td>
    <td>{{ rowData.val.weight | aclFieldNotAvailable }}</td>
    <td>
      {{
        rowData.val.weight
          ? rowData.val.podAffinityTerm.topologyKey
          : rowData.val.topologyKey
      }}
    </td>
    <td>
      <aui-tag
        *ngFor="let tag of getLabels(rowData); trackBy: trackByIndex"
        size="small"
        type="info"
        class="tooltip-label"
        [title]="tag[0] + ': ' + tag[1]"
      >
        {{ tag[0] + ': ' + tag[1] }}
      </aui-tag>

      <aui-tag
        *ngIf="!affinityCanUpdate(rowData)"
        class="more-button"
        title="matchExpressions"
        size="small"
        type="info"
        auiTooltipType="info"
        auiTooltipPosition="top"
        auiTooltipTrigger="click"
        auiTooltipClass="tooltip--exp-viewer"
        [auiTooltip]="expLabels"
      >
        <aui-icon icon="basic:kubectl"></aui-icon>
      </aui-tag>
      <ng-template #expLabels>
        <pre>{{ getExpLabels(rowData) }}</pre>
      </ng-template>
      <span *ngIf="!getLabels(rowData).length && affinityCanUpdate(rowData)">
        -
      </span>
    </td>
  </ng-container>
  <ng-container *rcArrayFormTableRowControl="let rowData; let index = index">
    <button
      *ngIf="affinityCanUpdate(rowData)"
      aui-button="text"
      size="mini"
      type="button"
      [square]="true"
      [plain]="true"
      (click)="podAffinity('update', rowData)"
    >
      <aui-icon icon="basic:pencil_edit"></aui-icon>
    </button>
    <button
      aui-button="text"
      size="mini"
      type="button"
      [square]="true"
      [plain]="true"
      (click)="removeAffinity(rowData)"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>

  <ng-container *rcArrayFormTableFooter>
    <button
      aui-button="primary"
      [plain]="true"
      size="mini"
      type="button"
      (click)="podAffinity()"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add_pod_affinity' | translate }}
    </button>
  </ng-container>
</rc-array-form-table>
