@import 'var';
:host {
  display: block;
  .cron-job-spec-form {
    &__title {
      font-weight: 500;
      color: $color-text;
      margin-bottom: $form-row-margin-space;
    }
  }
  .cron-parser {
    color: #1bb393;
  }
}
