<div class="cron-job-spec-form__title">{{ 'cron_config' | translate }}</div>
<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'execute_type' | translate }}</label>
    <aui-radio-group formControlName="suspend">
      <aui-radio-button [value]="false">
        {{ 'cron_trig' | translate }}
      </aui-radio-button>
      <aui-radio-button [value]="true">
        {{ 'manual_trig' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <div [hidden]="form.get('suspend').value">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'trigger_rule' | translate }}</label>
      <ng-container auiFormItemControl required>
        <input
          aui-input
          type="text"
          placeholder="0 18 * * *"
          formControlName="schedule"
        />
      </ng-container>
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get('schedule').errors"
        [errorsMapper]="{
          cronFormatError: 'cron_format_error' | translate
        }"
      ></rc-errors-mapper>
      <div auiFormItemHint>
        <span [hidden]="!form.get('schedule').value" class="cron-parser">
          {{ 'next_trig_time' | translate }}
          <span>{{ form.get('schedule').value | rcCrontabNext }}</span>
        </span>
        <span [hidden]="form.get('schedule').value">
          {{ 'schedule_example' | translate }}
        </span>
        <span>
          {{ 'go_to_input_rule_detail' | translate }}
          <a
            target="_blank"
            rel="noreferer noopener"
            href="/acp-docs/100faq/25/"
          >
            {{ 'reference_document' | translate }}
          </a>
        </span>
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'cron_concurrency_policy' | translate }}
      </label>
      <aui-radio-group formControlName="concurrencyPolicy" direction="column">
        <aui-radio value="Allow">
          {{ 'cron_concurrency_policy_allow' | translate }}
        </aui-radio>
        <aui-radio value="Forbid">
          {{ 'cron_concurrency_policy_forbid' | translate }}
        </aui-radio>
        <aui-radio value="Replace">
          {{ 'cron_concurrency_policy_replace' | translate }}
        </aui-radio>
      </aui-radio-group>
    </aui-form-item>
  </div>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'number_of_history_jobs_keep_up' | translate }}
    </label>
    <ng-container auiFormItemControl required>
      <aui-input-group>
        <span auiInputAddonBefore>
          {{ 'successful_history_job' | translate }}
        </span>
        <input
          aui-input
          type="number"
          formControlName="successfulJobsHistoryLimit"
        />
      </aui-input-group>
      <aui-input-group style="margin-left: 8px;">
        <span auiInputAddonBefore>{{ 'failed_history_jobs' | translate }}</span>
        <input
          aui-input
          type="number"
          formControlName="failedJobsHistoryLimit"
        />
      </aui-input-group>
    </ng-container>
    <div auiFormItemError>
      <rc-errors-mapper
        [errors]="form.get('successfulJobsHistoryLimit').errors"
        [errorsMapper]="{
          required:
            'required_item'
            | translate: { name: 'successful_history_job' | translate },
          pattern:
            ('successful_history_job' | translate) + (pattern.tip | translate)
        }"
      ></rc-errors-mapper>
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get('failedJobsHistoryLimit').errors"
        [errorsMapper]="{
          required:
            'required_item'
            | translate: { name: 'failed_history_jobs' | translate },
          pattern:
            ('failed_history_jobs' | translate) + (pattern.tip | translate)
        }"
      ></rc-errors-mapper>
    </div>
  </aui-form-item>
  <ng-container formGroupName="jobTemplate">
    <rc-job-spec-form
      [project]="project"
      [cluster]="cluster"
      [namespace]="namespace"
      formControlName="spec"
    ></rc-job-spec-form>
  </ng-container>
</form>
