@import 'var';
.aui-tooltip .timepickr-tooltip {
  border: none;
}
.timepickr {
  &-container {
    max-height: 150px;
    display: flex;
    background-color: white;
    color: #333;
    .timepickr-hour,
    .timepickr-minutes {
      overflow: scroll;
    }
    .timepickr-item {
      &:hover {
        background-color: #f2f8ff;
      }
      &.selected {
        background-color: #f2f8ff;
        color: $color-primary;
      }

      width: 57px;
      line-height: 32px;
      text-align: center;
      cursor: pointer;
    }
  }
  &-view {
    width: 100%;
    border: $border-width $border-style $default-border-color;
    height: 32px;
    display: inline-flex;
    align-items: center;
    padding-left: 8px;
    background: white;
    &:hover {
      border-color: $color-primary;
    }
    &.disabled {
      border-color: $default-border-color;
      cursor: not-allowed;
      background-color: $disabled-bg-color;
      color: $color-text-disabled;
    }
  }
}
