<div
  [auiTooltip]="timepickrTmpl"
  [auiTooltipType]="TooltipType.Info"
  [auiTooltipDisabled]="disabled"
  [class.disabled]="disabled"
  class="timepickr-view"
>
  {{ timeModelData.hour | pure: timeDigitPadding }} :
  {{ timeModelData.minute | pure: timeDigitPadding }}
</div>
<ng-template #timepickrTmpl>
  <div class="timepickr-container">
    <div class="timepickr-hour">
      <div
        class="timepickr-item"
        *ngFor="let hour of HOUR_OPTIONS"
        (click)="chooseHour(hour)"
        [class.selected]="hour === timeModelData.hour"
      >
        {{ hour | pure: timeDigitPadding }}
      </div>
    </div>
    <div class="timepickr-minutes">
      <div
        class="timepickr-item"
        *ngFor="let minute of MINUTES_OPTIONS"
        (click)="chooseMinute(minute)"
        [class.selected]="minute === timeModelData.minute"
      >
        {{ minute | pure: timeDigitPadding }}
      </div>
    </div>
  </div>
</ng-template>
