@import '~@alauda/ui/theme/pattern';

:host {
  @include with-detail(detail);
  ::ng-deep .aui-table {
    &__column-action {
      flex: 0.5 0 100px;
      // stylelint-disable-next-line plugin/no-unsupported-browser-features
      min-width: fit-content;
      justify-content: flex-end;
    }

    &__column-annotation {
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 2;
    }

    &__column-detail.aui-table__cell {
      padding: 10px;
      border-top-color: #eee;
      border-top-style: solid;
      border-top-width: 1px;
      background: rgba(0, 156, 227, 0.05);
    }
  }

  aui-icon {
    cursor: pointer;
    margin-right: 10px;
  }

  .table-placeholder {
    @include table-placeholder;
  }
}
