<rc-loading-mask
  *ngIf="!(appHistory$ | async)"
  [loading]="true"
></rc-loading-mask>
<aui-card [divider]="false" *ngIf="appHistory$ | async">
  <div auiCardHeader fxLayout fxLayoutAlign="start center">
    <acl-disabled-container [isAllowed]="canUpdateApp">
      <button aui-button="primary" (click)="create()" [plain]="true">
        {{ 'create_snapshot' | translate }}
      </button>
    </acl-disabled-container>
  </div>
  <aui-table [dataSource]="appHistory$ | async">
    <ng-container auiTableColumnDef="version">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'application_version' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item; index as i">
        <aui-icon
          [icon]="this.rowExpanded[i] ? 'angle_down' : 'angle_right'"
          (click)="toggleRow(i)"
        ></aui-icon>

        <a href="javascript:" (click)="view(item)">
          <ng-container *ngIf="i !== 0; else currentVersion">
            v.{{ item.spec.revision }}
          </ng-container>
          <ng-template #currentVersion>
            {{ 'current' | translate }} (v.{{ item.spec.revision }})
          </ng-template>
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'application_modification_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.spec.creationTimestamp | rcFormatUtcStr }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="modifier">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'application_modified_by' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.spec.user | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="annotation">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'comment' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <span [title]="item.spec.changeCause">
          {{ item.spec.changeCause | aclFieldNotAvailable }}
        </span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item; index as i">
        <ng-container *ngIf="i !== 0">
          <acl-disabled-container
            [isAllowed]="canUpdateApp"
            [isDisabled]="isFederated"
          >
            <button
              aui-button="primary"
              size="small"
              [plain]="true"
              (click)="rollback(item.spec.revision)"
            >
              {{ 'application_rollback_to_version' | translate }}
            </button>
          </acl-disabled-container>
        </ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="detail">
      <aui-table-header-cell *auiTableHeaderCellDef>
        You can't see this header
      </aui-table-header-cell>
      <aui-table-cell
        *auiTableCellDef="let item; index as i"
        [@display]="rowExpanded[i] ? 'show' : 'hide'"
      >
        <ng-container [ngSwitch]="getDiffType(item)">
          <ng-container *ngSwitchCase="DiffType.ROLLBACK_FROM">
            {{
              'application_rollback_from'
                | translate: { revision: getRollbackFrom(item) }
            }}
          </ng-container>
          <ng-container *ngSwitchCase="DiffType.HAS_DIFF">
            <p *ngIf="item.spec.revision !== 1">
              {{
                'application_version_compare'
                  | translate
                    : {
                        current: item.spec.revision,
                        last: item.spec.revision - 1
                      }
              }}:
            </p>
            <p *ngFor="let item of getDiffs(item.spec.resourceDiffs || {})">
              {{ item }}
            </p>
          </ng-container>
          <ng-container *ngSwitchCase="DiffType.NO_DIFF">
            {{ 'application_no_diff' | translate }}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ 'application_no_diff' | translate }}
          </ng-container>
        </ng-container>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="[
        'version',
        'time',
        'modifier',
        'annotation',
        'action',
        'detail'
      ]"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="
        let row;
        columns: [
          'version',
          'time',
          'modifier',
          'annotation',
          'action',
          'detail'
        ]
      "
    ></aui-table-row>
  </aui-table>

  <div class="empty-placeholder" *ngIf="!(appHistory$ | async)?.length">
    {{ 'no_data' | translate }}
  </div>
</aui-card>
