<rc-loading-mask [loading]="configLoading"></rc-loading-mask>
<aui-card [hidden]="configLoading">
  <div auiCardHeader fxFlexLayout>
    {{ 'args_config' | translate }}
    <div fxFlex></div>
    <aui-radio-group
      name="mode"
      [isPlain]="false"
      (ngModelChange)="modeChange($event)"
      [(ngModel)]="mode"
    >
      <aui-radio-button value="form">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="yaml">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <form [formGroup]="form">
    <rc-helm-request-values
      *ngIf="mode === 'form'"
      [configYaml]="configYaml"
      formControlName="values"
    ></rc-helm-request-values>
    <aui-code-editor
      *ngIf="mode === 'yaml'"
      style="width: 100%;"
      formControlName="yaml"
      [options]="editorOptions"
      [actionsConfig]="editorActions"
    ></aui-code-editor>
  </form>
</aui-card>
