<rc-array-form-table
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
  [noRowSeparator]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="40%">{{ 'path' | translate }}</th>
    <th width="30%">
      <span class="required-mark">*</span>
      {{ 'k8s_service' | translate }}
    </th>
    <th width="30%">
      <span class="required-mark">*</span>
      {{ 'service_port' | translate }}
    </th>
  </ng-container>

  <ng-container *rcArrayFormTableRow="let control" [formGroup]="control">
    <td>
      <input
        formControlName="path"
        aui-input
        [placeholder]="pathReg.tip | translate"
        [pattern]="pathReg.pattern"
      />
    </td>

    <td>
      <aui-select
        clearable
        [formControl]="control.get('backend.serviceName')"
        (valueChange)="serviceChanged($event, control)"
        required
      >
        <aui-option *ngFor="let item of services" [value]="item.metadata.name">
          {{ item.metadata.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>

    <td>
      <aui-select [formControl]="control.get('backend.servicePort')" required>
        <aui-option
          *ngFor="
            let port of getPorts(control.get('backend.serviceName').value)
          "
          [value]="port.port"
        >
          {{ port.port }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td class="rc-table-form-error-hint" colspan="4">
      <rc-errors-mapper
        *ngIf="
          control.get('path').dirty ||
          $any(controlContainer?.formDirective)?.submitted
        "
        [errors]="control.get('path').errors"
        [errorsMapper]="{
          pattern: ('path' | translate) + (pathReg.tip | translate)
        }"
        [controlName]="'path' | translate"
      ></rc-errors-mapper>
      <rc-errors-mapper
        *ngIf="
          control.get('backend.serviceName').dirty ||
          $any(controlContainer?.formDirective)?.submitted
        "
        [errors]="control.get('backend.serviceName').errors"
        [controlName]="'k8s_service' | translate"
      ></rc-errors-mapper>
      <rc-errors-mapper
        *ngIf="
          control.get('backend.servicePort').dirty ||
          $any(controlContainer?.formDirective)?.submitted
        "
        [errors]="control.get('backend.servicePort').errors"
        [controlName]="'service_port' | translate"
      ></rc-errors-mapper>
    </td>
  </ng-container>
</rc-array-form-table>
