<aui-dialog-header>
  {{ 'update_' + workloadType.toLowerCase() | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #resourceForm="ngForm">
    <rc-workload-form
      name="resource"
      [project]="project"
      [namespace]="namespace"
      [cluster]="cluster"
      [workloadType]="workloadType"
      [otherWorkloads]="otherWorkloads"
      [configMapOptions]="configMapOptions"
      [secretOptions]="secretOptions"
      [isUpdate]="hasBeCreated"
      [(ngModel)]="resource"
    ></rc-workload-form>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
</aui-dialog-footer>
