<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <aui-form-item
    *ngIf="
      !form.get('type').value || form.get('type').value === 'RollingUpdate';
      else type
    "
  >
    <label auiFormItemLabel>{{ 'update_strategy' | translate }}</label>
    <div
      auiFormItemControl
      formGroupName="rollingUpdate"
      class="input-group-container"
    >
      <aui-input-group>
        <span auiInputAddonBefore>
          partition
        </span>
        <input
          aui-input
          formControlName="partition"
          [placeholder]="'natural_number_pattern' | translate"
          type="number"
          (blur)="onBlur()"
        />
      </aui-input-group>
    </div>
    <aui-icon
      auiFormItemAddon
      icon="basic:question"
      [auiTooltip]="'statefulset_update_strategy_hint' | translate"
      [auiTooltipPosition]="'start center'"
    ></aui-icon>
  </aui-form-item>

  <ng-template #type>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'update_strategy' | translate }}</label>
      <span>
        {{ form.get('type').value }}
      </span>
    </aui-form-item>
  </ng-template>
</form>
