<aui-breadcrumb *rcPageHeaderContent>
  <aui-breadcrumb-item>{{ 'network' | translate }}</aui-breadcrumb-item>
  <aui-breadcrumb-item>
    <a [routerLink]="['../../../../list']">{{ 'load_balancer' | translate }}</a>
  </aui-breadcrumb-item>
  <aui-breadcrumb-item>
    <a [routerLink]="['../..']">{{ (baseParams$ | async)?.name }}</a>
  </aui-breadcrumb-item>
  <aui-breadcrumb-item>{{ (baseParams$ | async)?.port }}</aui-breadcrumb-item>
</aui-breadcrumb>

<acl-page-state [adapter]="dataLoader">
  <ng-template let-resource>
    <aui-tab-group *ngIf="workspace; else nonWorkspace" [lazy]="true">
      <aui-tab [label]="'detail_info' | translate">
        <alk-alb-port-detail
          *auiTabContent
          [baseParams]="baseParams$ | async"
          [params]="params$ | async"
          [frontend]="resource"
          (frontendChange)="dataLoader.reload()"
        ></alk-alb-port-detail>
      </aui-tab>
      <aui-tab [label]="'monitoring' | translate">
        <alk-alb-port-monitor
          *auiTabContent
          [baseParams]="baseParams$ | async"
          [frontend]="resource"
        ></alk-alb-port-monitor>
      </aui-tab>
    </aui-tab-group>

    <ng-template #nonWorkspace>
      <alk-alb-port-detail
        [baseParams]="baseParams$ | async"
        [params]="params$ | async"
        [frontend]="resource"
        (frontendChange)="dataLoader.reload()"
      ></alk-alb-port-detail>
    </ng-template>
  </ng-template>
</acl-page-state>
