@import 'var';
:host {
  .header-icon {
    margin-right: 8px;
    font-size: 24px;
    color: $color-error;
  }
  p {
    font-size: 14px;
  }
  .delete-hint {
    margin: 16px 0;
  }
  .delete-confirm {
    margin-bottom: 4px;
  }

  aui-dialog-header {
    ::ng-deep .aui-dialog {
      &__header {
        padding-bottom: 0;
      }
    }
  }
}
