<div class="loading-placeholder text-help" *ngIf="zeroState && !fetching">
  {{
    'zero_state_hint' | translate: { resourceName: resourceName | translate }
  }}
</div>

<rc-loading-mask [loading]="fetching"></rc-loading-mask>
