<aui-dialog-header>
  {{ 'create_load_balancer' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <aui-input-group fxFlex>
        <input
          aui-input
          auiFormItemControl
          autocomplete="off"
          name="name"
          type="text"
          [(ngModel)]="alb.loadbalancerName"
          #nameControl="ngModel"
          [pattern]="K8S_RESOURCE_NAME_BASE.pattern"
          [placeholder]="K8S_RESOURCE_NAME_BASE.tip | translate"
          required
        />
      </aui-input-group>
      <rc-errors-mapper
        auiFormItemError
        [errors]="nameControl.errors"
        [errorsMapper]="{
          pattern: K8S_RESOURCE_NAME_BASE.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'type' | translate }}</label>
      <aui-radio-group
        name="type"
        (ngModelChange)="typeChange($event)"
        [(ngModel)]="type"
      >
        <aui-radio-button value="standalone">
          {{ 'standalone' | translate }}
        </aui-radio-button>
        <aui-radio-button value="high_availability">
          {{ 'high_availability' | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'address' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        autocomplete="off"
        name="address"
        [(ngModel)]="alb.address"
        [pattern]="HOST_OR_IP_PATTERN.pattern"
        type="text"
        #addressControl="ngModel"
        [placeholder]="'host_or_ip_placeholder' | translate"
        required
      />
      <rc-errors-mapper
        auiFormItemError
        [errors]="addressControl.errors"
        [errorsMapper]="{
          pattern: HOST_OR_IP_PATTERN.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'replicas' | translate }}</label>
      <aui-number-input
        auiFormItemControl
        autocomplete="off"
        name="replicas"
        [disabled]="type == 'standalone'"
        [(ngModel)]="alb.replicas"
        #replicasControl="ngModel"
        [min]="minReplicas"
        type="text"
        required
      ></aui-number-input>
      <rc-errors-mapper
        auiFormItemError
        [errors]="replicasControl.errors"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item class="alb_form__nodeSelector">
      <label auiFormItemLabel>
        {{ 'node_tags' | translate }}
      </label>
      <aui-multi-select
        auiFormItemControl
        required
        [filterable]="true"
        [loading]="loading$ | async"
        [(ngModel)]="nodeSelector"
        (ngModelChange)="nodeSelectorChange($event)"
        #nodeSelectorControl="ngModel"
        name="node_label"
      >
        <aui-option
          *ngFor="let label of labels"
          [label]="label.key + ':' + label.value"
          [disabled]="disabledNodeLabel(label)"
          [value]="label"
        >
          {{ label.key }}:{{ label.value }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-multi-select>
      <div
        *ngIf="nodeSelector && nodeSelector.length"
        class="alb_form__nodeSelector__tip"
        [ngClass]="{
          alb_form__nodeSelector__error: matchNodes.length < alb.replicas
        }"
      >
        {{
          matchNodes.length > 20
            ? ('more_than' | translate) + ' 20 '
            : matchNodes.length
        }}
        <span>{{ 'nodes_meet_filter' | translate }}</span>
      </div>
      <rc-errors-mapper
        auiFormItemError
        [errors]="nodeSelectorControl.errors"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'allocation_project' | translate }}</label>
      <aui-select
        auiFormItemControl
        required
        [(ngModel)]="project"
        name="project"
      >
        <aui-option [label]="'all_projects' | translate" [value]="ALL">
          {{ 'all_projects' | translate }}
        </aui-option>
        <aui-option
          *ngFor="let project of projects$ | async"
          [value]="project | aclName"
        >
          {{ project | aclName }}
          <span
            *ngIf="project | aclDisplayName as displayName"
            class="text-help"
          >
            ({{ displayName }})
          </span>
        </aui-option>
      </aui-select>
      <ng-container auiFormItemError>
        {{ 'allocation_project_required' | translate }}
      </ng-container>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="(loading$ | async) || (confirming$ | async)"
    [disabled]="!matchNodes.length || !form.valid"
    (click)="submitForm(form)"
  >
    {{ 'create' | translate }}
  </button>
  <button aui-button type="button" (click)="confirmed.next()">
    {{ (created ? 'close' : 'cancel') | translate }}
  </button>
</aui-dialog-footer>
