<aui-table [dataSource]="data">
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>

  <ng-container auiTableColumnDef="secretName">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'secret' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      {{ rowData.secretName }}
    </aui-table-cell>
  </ng-container>

  <ng-container auiTableColumnDef="hosts">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'rule_host' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let rowData">
      {{ rowData.hosts | pure: getHostsDisplay | aclFieldNotAvailable }}
    </aui-table-cell>
  </ng-container>
</aui-table>

<div *ngIf="!data?.length" class="empty-placeholder">
  {{
    'zero_state_hint' | translate: { resourceName: 'ingress_tls' | translate }
  }}
</div>
