<aui-dialog-header>
  {{ 'create_subnet' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #ngForm="ngForm" auiForm [formGroup]="form">
    <aui-form-item *ngIf="SubnetCreatePageField.NAME | pure: isFieldSupport">
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        autocomplete="off"
        type="text"
        formControlName="name"
        [pattern]="K8S_RESOURCE_NAME_BASE.pattern"
        placeholder="{{ 'regexp_tip_k8s_service_name' | translate }}"
        [rcErrorsMapper]="{
          pattern: K8S_RESOURCE_NAME_BASE.tip | translate
        }"
        [rcErrorsMapperOutlet]="nameErr"
        required
      />
      <div auiFormItemError #nameErr></div>
    </aui-form-item>
    <aui-form-item
      *ngIf="SubnetCreatePageField.SEGEMENT | pure: isFieldSupport"
    >
      <label auiFormItemLabel>{{ 'network_segment' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        name="segment"
        type="text"
        formControlName="segment"
        [pattern]="CIDR_FULL_PATTEN.pattern"
        [placeholder]="'segment_pattern_placeholder' | translate"
        [rcErrorsMapper]="{
          pattern: CIDR_FULL_PATTEN.tip | translate,
          segmentConflict: 'network_segment_conflict' | translate,
          blkTooLarge:
            'segment_prefix_too_large'
            | translate: { threshold: MAXIMUM_SEGMENT_DIGITS }
        }"
        [rcErrorsMapperOutlet]="segmentErr"
        required
      />
      <div auiFormItemError #segmentErr></div>
    </aui-form-item>
    <aui-form-item
      *ngIf="SubnetCreatePageField.IPIP_MODE | pure: isFieldSupport"
    >
      <label auiFormItemLabel>{{ 'ipip_mode' | translate }}</label>
      <aui-radio-group formControlName="ipipMode">
        <aui-radio-button
          *ngFor="let option of IPIP_MODE_OPTIONS"
          [value]="option.value"
        >
          {{ option.label }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item *ngIf="SubnetCreatePageField.GATEWAY | pure: isFieldSupport">
      <label auiFormItemLabel>{{ 'gateway' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        type="text"
        [pattern]="CIDR_IP_PATTERN.pattern"
        formControlName="gateway"
        [placeholder]="'input_ip' | translate"
        required
        [rcErrorsMapper]="{
          pattern: 'regexp_tip_ip_address' | translate
        }"
        [rcErrorsMapperOutlet]="gatewayErr"
      />
      <div #gatewayErr auiFormItemError></div>
    </aui-form-item>
    <aui-form-item
      *ngIf="SubnetCreatePageField.PRESERVE_IP | pure: isFieldSupport"
    >
      <label auiFormItemLabel>{{ 'reserved_ip' | translate }}</label>
      <aui-tags-input
        auiFormItemControl
        rcPreserveIPPattern
        formControlName="preserveIp"
        [clearable]="true"
        fxFlex
        [allowRepeat]="false"
        [allowEmpty]="false"
        placeholder="{{ 'reserved_ip_placeholder' | translate }}"
      ></aui-tags-input>
    </aui-form-item>
    <ng-container
      *ngIf="SubnetCreatePageField.GATEWAY_TYPE | pure: isFieldSupport"
    >
      <aui-form-item>
        <label auiFormItemLabel>{{ 'gateway_type' | translate }}</label>
        <aui-radio-group formControlName="gatewayType">
          <aui-radio-button value="distributed">
            {{ GatewayTypeEnum.DISTRIBUTED | lowercase | translate }}
          </aui-radio-button>
          <aui-radio-button value="centralized">
            {{ GatewayTypeEnum.CENTRALIZED | lowercase | translate }}
          </aui-radio-button>
        </aui-radio-group>
      </aui-form-item>
      <aui-form-item
        *ngIf="form.get('gatewayType').value === GatewayTypeEnum.CENTRALIZED"
      >
        <label auiFormItemLabel>{{ 'gateway_node' | translate }}</label>
        <aui-select
          required
          formControlName="gatewayNode"
          rcErrorsTooltip
          auiFormItemControl
          rcErrorsMapper
          [rcErrorsMapperOutlet]="gatewayNodeErr"
        >
          <aui-option
            *ngFor="let metric of nodeList$ | async"
            [value]="metric.metadata.name"
            [label]="metric.metadata.name"
          >
            {{ metric.metadata.name }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
        <div #gatewayNodeErr auiFormItemError></div>
      </aui-form-item>
    </ng-container>

    <aui-form-item
      *ngIf="SubnetCreatePageField.SUBNET_ISOLATION | pure: isFieldSupport"
    >
      <label auiFormItemLabel>{{ 'subnet_isolation' | translate }}</label>
      <aui-switch auiFormItemControl formControlName="private"></aui-switch>
    </aui-form-item>
    <aui-form-item
      *ngIf="SubnetCreatePageField.NAT_OUTGOING | pure: isFieldSupport"
    >
      <label auiFormItemLabel>{{ 'nat_outgoing' | translate }}</label>
      <aui-switch auiFormItemControl formControlName="natOutgoing"></aui-switch>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="confirming"
    [disabled]="confirming"
    (click)="submitForm()"
  >
    {{ 'confirm' | translate }}
  </button>
  <button
    aui-button
    type="button"
    [disabled]="confirming"
    (click)="confirmed.next()"
  >
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
