<aui-dialog-header>
  {{ 'labels_update' | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form #form="ngForm" auiForm>
    <rc-key-value-form-table
      auiFormItemControl
      name="label"
      [validator]="labelValidator"
      [errorMapper]="labelErrorMapper"
      [(ngModel)]="labels"
    ></rc-key-value-form-table>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()" [loading]="submitting">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
