<form auiForm [auiFormEmptyAddon]="true" #yamlForm="ngForm" [formGroup]="form">
  <ng-container *ngFor="let entry of yamlEntries; trackBy: entryTrackBy">
    <aui-form-item>
      <label auiFormItemLabel [title]="entry.path" *ngIf="!!entry.path">
        {{ entry.path }}
      </label>
      <ng-container [ngSwitch]="entry.type">
        <ng-container *ngSwitchCase="'object'">
          <rc-key-value-form-table
            [formControlName]="entry.path"
          ></rc-key-value-form-table>
        </ng-container>
        <ng-container *ngSwitchCase="'array'">
          <rc-string-array-form-table
            [formControlName]="entry.path"
          ></rc-string-array-form-table>
        </ng-container>

        <ng-container *ngSwitchCase="'object array'">
          <rc-object-json-array-form
            [formControlName]="entry.path"
          ></rc-object-json-array-form>
        </ng-container>
        <ng-container *ngSwitchCase="'boolean'">
          <aui-switch
            [formControlName]="entry.path"
            [value]="entry.value"
          ></aui-switch>
        </ng-container>
        <ng-container *ngSwitchCase="'number'">
          <input
            auiFormItemControl
            aui-input
            type="number"
            [formControlName]="entry.path"
            [value]="entry.value"
          />
        </ng-container>

        <ng-container *ngSwitchDefault>
          <input
            *ngIf="!isEntryMultiline(entry)"
            auiFormItemControl
            aui-input
            type="text"
            [formControlName]="entry.path"
            [value]="entry.value"
          />
          <textarea
            *ngIf="isEntryMultiline(entry)"
            auiFormItemControl
            aui-input
            rows="3"
            type="text"
            [formControlName]="entry.path"
            [value]="entry.value"
          ></textarea>
        </ng-container>
      </ng-container>
    </aui-form-item>
  </ng-container>
</form>
