<aui-inline-alert [content]="'k8s_service_tips' | translate"></aui-inline-alert>

<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <button aui-button="primary" (click)="createService()">
        {{ 'create_k8s_service' | translate }}
      </button>
    </acl-disabled-container>
    <div fxFlex></div>
    <aui-search
      [keyword]="searchKey$ | async"
      [searchButton]="true"
      [searching]="list.loading$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      aui-button
      [square]="true"
      [loading]="list.loading$ | async"
      [disabled]="list.loading$ | async"
      (click)="list.reload()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>
  <aui-table [dataSource]="list.items$ | async" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let service">
        <div fxLayout="start center">
          <a [routerLink]="['detail', service.metadata.name]">
            {{ service.metadata.name }}
          </a>
          <aui-icon
            *ngIf="service | rcIsFederatedResource"
            class="icon--federation"
            icon="basic:federation_cluster"
            margin="left"
            [auiTooltip]="'federated_resource' | translate"
          ></aui-icon>
          <rc-deleting-tag [resource]="service"></rc-deleting-tag>
          <rc-gray-release-tag [resource]="service"></rc-gray-release-tag>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="clusterIp">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'virtual_ip' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let service">
        {{ service.spec.clusterIP | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="port">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'port' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let service">
        <rc-service-ports
          [service]="service"
          [inTable]="true"
        ></rc-service-ports>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let service">
        <button
          aui-button="text"
          [plain]="true"
          [square]="true"
          [auiDropdown]="menu"
          [disabled]="
            (service | rcIsFederatedResource) || (service | rcIsGrayRelease)
          "
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <acl-disabled-container [isAllowed]="(permissions$ | async).update">
            <aui-menu-item [routerLink]="['update', service.metadata.name]">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
            <aui-menu-item (click)="delete(service)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
