<aui-card [divider]="false">
  <div auiCardHeader>{{ 'config' | translate }}</div>
  <aui-tab-group type="card">
    <aui-tab *ngFor="let c of containers; index as i">
      <ng-container *auiTabLabel>
        <aui-tag
          *ngIf="c.isInitContainer"
          type="info"
          size="mini"
          [round]="true"
        >
          {{ 'init_container' | translate }}
        </aui-tag>
        <span style="margin-left: 4px;" [attr.title]="c.name">
          {{ c.name }}
        </span>
      </ng-container>

      <h3>
        {{ 'env' | translate }}
        <acl-disabled-container
          [isAllowed]="canUpdate"
          *ngIf="!hideUpdate"
          [isDisabled]="isFederatedResource"
        >
          <button aui-button (click)="updateEnv(c)">
            {{ 'update' | translate }}
          </button>
        </acl-disabled-container>
      </h3>
      <ng-container
        *ngTemplateOutlet="envDataTable; context: { c: c }"
      ></ng-container>

      <h3>
        {{ 'env_from' | translate }}
        <acl-disabled-container
          [isAllowed]="canUpdate"
          *ngIf="!hideUpdate"
          [isDisabled]="isFederatedResource"
        >
          <button aui-button (click)="updateEnv(c, 'envFrom')">
            {{ 'update' | translate }}
          </button>
        </acl-disabled-container>
      </h3>
      <ng-container
        *ngTemplateOutlet="envFromDataTable; context: { c: c }"
      ></ng-container>
    </aui-tab>
  </aui-tab-group>
</aui-card>

<ng-template #envDataTable let-c="c">
  <table class="rc-array-form-table">
    <thead>
      <tr>
        <td width="30%">{{ 'key' | translate }}</td>
        <td>{{ 'value' | translate }}/{{ 'reference_value' | translate }}</td>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of c.envVars"
        class="rc-array-form-table--row-group-start"
      >
        <td>{{ item.name }}</td>
        <td>
          <ng-container *ngIf="item.valueFrom">
            <ng-container *ngIf="item.valueFrom?.configMapKeyRef">
              {{ 'configmap' | translate }}
              <a
                [routerLink]="[
                  '/workspace',
                  baseParams,
                  'configmap',
                  'detail',
                  item.valueFrom.configMapKeyRef.name
                ]"
              >
                {{ item.valueFrom.configMapKeyRef.name }}
              </a>
              :
              {{ item.valueFrom.configMapKeyRef.key }}
            </ng-container>
            <ng-container *ngIf="item.valueFrom?.secretKeyRef">
              {{ 'secret' | translate }}
              <a
                [routerLink]="[
                  '/workspace',
                  baseParams,
                  'secret',
                  'detail',
                  item.valueFrom.secretKeyRef.name
                ]"
              >
                {{ item.valueFrom.secretKeyRef.name }}
              </a>
              :
              {{ item.valueFrom.secretKeyRef.key }}
            </ng-container>
            <ng-container *ngIf="item.valueFrom?.fieldRef">
              fieldRef: {{ item.valueFrom.fieldRef.fieldPath }}
            </ng-container>
            <ng-container *ngIf="item.valueFrom?.resourceFieldRef">
              resourceFieldRef: {{ item.valueFrom.resourceFieldRef.resource }}
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!item.valueFrom">
            {{ item.value }}
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!c.envVars?.length" class="empty-placeholder">
    {{ 'no_data' | translate }}
  </div>
</ng-template>

<ng-template #envFromDataTable let-c="c">
  <table class="rc-array-form-table">
    <thead>
      <tr>
        <td width="30%">{{ 'type' | translate }}</td>
        <td>{{ 'name' | translate }}</td>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of c.envFroms"
        class="rc-array-form-table--row-group-start"
      >
        <td>{{ item.kind.toLowerCase() | translate }}</td>
        <td>
          <a
            [routerLink]="[
              '/workspace',
              baseParams,
              item.kind.toLowerCase(),
              'detail',
              item.name
            ]"
          >
            {{ item.name }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!c.envFroms?.length" class="empty-placeholder">
    {{ 'no_data' | translate }}
  </div>
</ng-template>
