.required-wrapper {
  display: flex;
  width: 100%;
  > * {
    flex: 1;
  }
  .tags-select {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    > * {
      width: 240px;
    }
    &:before {
      content: ':';
      margin: auto 8px;
      flex-shrink: 0;
    }
  }
}
.repository {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .image-name {
    line-height: 20px;
    font-size: 14px;
  }
  .repo-endpoint {
    color: #999;
    line-height: 16px;
    font-size: 12px;
  }
}
::ng-deep {
  .image-option {
    .aui-option {
      padding: 0;
      height: auto;
    }
  }
}
