<ng-container [formGroup]="form">
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'image_address' | translate }}
    </label>
    <div auiFormItemControl required class="required-wrapper">
      <aui-select
        *ngIf="imageRepositories$ | async as imageRepositories"
        [loading]="imageRepositories.loading"
        formControlName="repository"
        placeholder="{{ 'select_image_repository' | translate }}"
        filterable
        [trackFn]="repositoryTracker"
      >
        <aui-option
          class="image-option"
          *ngFor="let repository of imageRepositories.data"
          [label]="repository.repositoryPath"
          [value]="repository"
        >
          <div class="repository">
            <img [src]="repository.type | pure: getImage" />
            <div>
              <div class="image-name">{{ repository.image }}</div>
              <div class="repo-endpoint">{{ repository.endpoint }}</div>
            </div>
          </div>
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <div class="tags-select">
        <aui-select
          *ngIf="tags$ | async as tags"
          [loading]="tags.loading"
          formControlName="tag"
          [placeholder]="'choose_or_input_tag' | translate"
          filterable
        >
          <aui-option
            *ngFor="let tag of tags.data"
            [value]="tag.name"
            [label]="tag.name"
          >
            <span>{{ tag.name }}</span>
            <span *ngIf="tag.level == 5 || tag.level == 4" title="tag.message">
              <aui-icon
                icon="basic:exclamation_{{
                  tag.level === 5 ? 'triangle' : 'circle'
                }}_s"
              ></aui-icon>
            </span>
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </div>
    </div>
    <div *ngIf="!form?.valid" auiFormItemError>
      <span *ngIf="repositoryNullError$$ | async">
        {{ 'image_repo_null_hint' | translate }}
      </span>
    </div>
  </aui-form-item>
</ng-container>
