<aui-card [divider]="false">
  <div auiCardHeader>
    <div>
      <acl-disabled-container [isAllowed]="(permissions$ | async).create">
        <aui-dropdown-button
          type="primary"
          [plain]="false"
          (buttonClick)="create()"
        >
          {{ 'create_' + workloadType.toLowerCase() | translate }}
          <aui-menu>
            <acl-disabled-container [isAllowed]="(permissions$ | async).create">
              <aui-menu-item (click)="createFromYaml()">
                {{ 'create_from_yaml' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </aui-menu>
        </aui-dropdown-button>
      </acl-disabled-container>
    </div>
    <div fxFlex></div>
    <div fxLayout>
      <aui-search
        [searchButton]="true"
        [searching]="list.loading$ | async"
        placeholder="{{ 'search_by_name_placeholder' | translate }}"
        (search)="searchByName($event)"
      ></aui-search>
      <button
        aui-button
        [square]="true"
        [loading]="list.loading$ | async"
        (click)="list.reload()"
      >
        <aui-icon icon="basic:refresh"></aui-icon>
      </button>
    </div>
  </div>

  <aui-table [dataSource]="list.items$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <div fxLayout="row" fxLayoutAlign="start center">
          <a
            [routerLink]="[
              '/workspace',
              baseParams,
              workloadType.toLowerCase(),
              'detail',
              rowData.metadata.name
            ]"
          >
            {{ rowData.metadata.name }}
          </a>
          <aui-icon
            *ngIf="rowData | pure: isFederated"
            class="icon--federation"
            icon="basic:federation_cluster"
            margin="left"
            [auiTooltip]="'federated_resource' | translate"
          ></aui-icon>
          <rc-deleting-tag [resource]="rowData"></rc-deleting-tag>
          <rc-gray-release-tag [resource]="rowData"></rc-gray-release-tag>
        </div>
        <div
          *ngIf="rowData | aclDisplayName"
          class="aui-table__cell__display-name"
        >
          {{ rowData | aclDisplayName }}
        </div>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-workload-status-icon
          [workloadStatus]="parseToWorkloadStatus(rowData)"
        ></rc-workload-status-icon>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="app">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'belonging_app' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a
          *ngIf="rowData | pure: getBelongingApp as app; else noApp"
          [routerLink]="['/workspace', baseParams, 'app', 'detail', app]"
        >
          {{ app }}
        </a>
        <ng-template #noApp>
          <span>-</span>
        </ng-template>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
          [disabled]="rowData | pure: isFederated"
          [auiDropdownContext]="{ rowData: rowData }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="[
        'name',
        'status',
        'app',
        'created_time',
        'action'
      ]"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="
        let row;
        columns: ['name', 'status', 'app', 'created_time', 'action']
      "
    ></aui-table-row>
  </aui-table>

  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu>
  <ng-template auiMenuContent let-rowData="rowData">
    <acl-disabled-container
      [isAllowed]="(permissions$ | async).update"
      [isDisabled]="rowData | rcIsGrayRelease"
    >
      <aui-menu-item (click)="update(rowData)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container
      [isAllowed]="(permissions$ | async).delete"
      [isDisabled]="rowData | rcIsGrayRelease"
    >
      <aui-menu-item (click)="delete(rowData)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
