@import 'mixins';
@import 'var';

.view-switch-action {
  margin-right: 8px;
  padding: 4px 6px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-text-help;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    color: $color-white;
    background-color: rgba($color-white, 0.16);
  }
}

.view-switch {
  position: relative;
  display: flex;
  &-bg {
    background-color: rgba($color-white, 0.2);
    height: 8px;
    width: 32px;
    border-radius: 4px;
  }
  &-btn {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: currentColor;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 16px;
    top: -4px;
    aui-icon {
      color: #262626;
      display: inline-flex;
      @include iconSize(16px, 16px);
    }
    &.admin {
      left: 0;
    }
  }
}
