<div
  *ngIf="globalPermission.showSwitchView$ | async"
  class="view-switch-action"
  (click)="switchView()"
>
  <span class="view-switch" [@.disabled]="!uiState.shouldViewSwitchAnimate()">
    <span class="view-switch-bg"></span>
    <span
      class="view-switch-btn"
      [class.admin]="isAdminView"
      [@viewState]="currentView"
    >
      <aui-icon
        icon="basic:project_s"
        title="{{ 'switch_to_admin' | translate }}"
        size="14px"
        *ngIf="!isAdminView"
      ></aui-icon>
      <aui-icon
        icon="basic:setting"
        title="{{ 'switch_to_user' | translate }}"
        size="14px"
        *ngIf="isAdminView"
      ></aui-icon>
    </span>
  </span>
</div>
