<aui-card class="resource-form__card">
  <div auiCardHeader fxFlexLayout>
    {{
      isUpdate
        ? ('update_storageclass' | translate: { name: resource.metadata.name })
        : ('create_storageclass_with_type'
          | translate
            : {
                type:
                  (activatedRoute.params | async).type
                  | pure: getProvisionerTypeName
              })
    }}
    <span fxFlex></span>
    <aui-radio-group
      name="formView"
      [isPlain]="false"
      *ngIf="!isUpdate"
      (ngModelChange)="switchFormView($event)"
      [(ngModel)]="formView"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <form [hidden]="formView !== 'UI'" #resourceForm="ngForm" [formGroup]="form">
    <rc-sc-form
      formControlName="resource"
      [cluster]="(activatedRoute.params | async)?.cluster"
    ></rc-sc-form>
  </form>
  <form *ngIf="formView === 'YAML'" #resourceForm="ngForm">
    <aui-code-editor
      auiFormItemControl
      name="yaml"
      style="width: 100%;"
      required
      [(ngModel)]="yaml"
      [options]="codeEditorOptions"
    ></aui-code-editor>
  </form>
</aui-card>
<div class="resource-form__footer">
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="submit()"
  >
    {{ 'confirm' | translate }}
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
