<ng-container [formGroup]="form">
  <ng-container *ngIf="ruleType === CronHpaTriggerRuleEnum.CRON; else custom">
    <div fxLayout="row" fxLayoutGap="8px" fxFlex fxLayoutAlign="start start">
      <aui-multi-select
        style="flex: 3;"
        formControlName="daysChosen"
        [clearable]="true"
        [filterable]="true"
      >
        <aui-option-group>
          <aui-option [value]="'*'" label="{{ 'everyday' | translate }}">
            {{ 'everyday' | translate }}
          </aui-option>
        </aui-option-group>
        <aui-option-group>
          <aui-option
            *ngFor="let dayOption of WEEK_DAY_OPTIONS"
            [value]="dayOption.value"
            [label]="dayOption.label | translate"
            [disabled]="this.form.get('daysChosen').value.includes('*')"
          >
            {{ dayOption.label | translate }}
          </aui-option>
        </aui-option-group>
      </aui-multi-select>
      <rc-timepickr fxFlex formControlName="timeChosen"></rc-timepickr>
    </div>
  </ng-container>
  <ng-template #custom>
    <input aui-input formControlName="customRule" fxFlex required />
  </ng-template>
</ng-container>
