<acl-page-state [adapter]="asyncDataLoader">
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-tab-group>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <aui-card>
          <div auiCardHeader>
            {{ resource | aclName }}
            <span fxFlex></span>
            <button aui-button="default" [plain]="true" [auiDropdown]="menu">
              {{ 'action' | translate }}
              <aui-icon icon="angle_down" margin="left"></aui-icon>
            </button>
            <aui-menu #menu size="small">
              <acl-disabled-container [isAllowed]="permissions.update">
                <a [routerLink]="['../../update', resource | aclName]">
                  <aui-menu-item>
                    {{ 'update' | translate }}
                  </aui-menu-item>
                </a>
              </acl-disabled-container>
              <acl-disabled-container [isAllowed]="permissions.delete">
                <aui-menu-item (click)="deleteRoute(resource)">
                  {{ 'delete' | translate }}
                </aui-menu-item>
              </acl-disabled-container>
            </aui-menu>
          </div>
          <rc-field-set-group>
            <rc-field-set-item>
              <label>{{ 'name' | translate }}</label>
              {{ resource | aclName }}
            </rc-field-set-item>
            <rc-field-set-item>
              <label>{{ 'domain' | translate }}</label>
              {{ (resource.spec.host || '') + (resource.spec.path || '') }}
            </rc-field-set-item>
            <rc-field-set-item>
              <label>{{ 'port' | translate }}</label>
              {{ resource.spec.port?.targetPort | aclFieldNotAvailable }}
            </rc-field-set-item>
            <rc-field-set-item>
              <label>{{ 'created_time' | translate }}</label>
              {{ resource.metadata.creationTimestamp | rcFormatUtcStr }}
            </rc-field-set-item>
          </rc-field-set-group>
        </aui-card>
        <aui-card>
          <div auiCardHeader>{{ 'traffic_distribution' | translate }}</div>
          <aui-table [dataSource]="alternateBackends">
            <ng-container auiTableColumnDef="k8s_service">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'k8s_service' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item; index as index">
                {{ item.name }}
                <ng-container *ngIf="!index">
                  ({{ 'main_traffic' | translate }})
                </ng-container>
              </aui-table-cell>
            </ng-container>
            <ng-container auiTableColumnDef="weight">
              <aui-table-header-cell *auiTableHeaderCellDef>
                {{ 'weight' | translate }}
              </aui-table-header-cell>
              <aui-table-cell *auiTableCellDef="let item">
                {{ item.weight }}
                ({{ getWeightsPercent(item.weight) }})
              </aui-table-cell>
            </ng-container>
            <aui-table-header-row
              *auiTableHeaderRowDef="['k8s_service', 'weight']"
            ></aui-table-header-row>
            <aui-table-row
              *auiTableRowDef="let row; columns: ['k8s_service', 'weight']"
            ></aui-table-row>
          </aui-table>
        </aui-card>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>YAML</ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="resource"
        ></rc-resource-yaml-display>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
