<aui-dialog-header>
  {{ 'update_override' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #ngForm="ngForm" auiForm>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'resource_type' | translate }}
      </label>
      <span auiFormItemControl>
        {{
          (resource.kind === 'FederatedApplication'
            ? 'application'
            : resource.kind.toLowerCase()
          ) | translate
        }}
      </span>
    </aui-form-item>

    <aui-form-item *ngIf="resource.kind !== 'FederatedApplication'">
      <label auiFormItemLabel>{{ 'resource' | translate }}</label>
      <span auiFormItemControl>{{ resource | aclName }}</span>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'override' | translate }}</label>
      <rc-fa-overrides-form
        name="overrides"
        #overridesControl="ngModel"
        [clusters]="clusters$ | async"
        [resourceKind]="resource.kind"
        [(ngModel)]="overrides"
        duplicated
      ></rc-fa-overrides-form>
      <div auiFormItemError *ngIf="overridesControl.errors?.duplicated">
        {{ 'cluster_and_param_are_duplicated' | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
</aui-dialog-footer>
