<form auiForm [formGroup]="form" [auiFormEmptyAddon]="true">
  <aui-form-item [hidden]="isUpdate">
    <label auiFormItemLabel>{{ 'affinity_method' | translate }}</label>
    <aui-radio-group
      auiFormItemControl
      name="method"
      size="medium"
      [(ngModel)]="method"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="methodChange($event)"
    >
      <aui-radio-button [value]="'basic'">
        {{ 'basic' | translate }}
      </aui-radio-button>
      <aui-radio-button [value]="'advanced'">
        {{ 'advanced' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>

  <!-- basic -->
  <aui-form-item [hidden]="isUpdate || isAdvanced" class="affinity-component">
    <label auiFormItemLabel>{{ 'affinity_component' | translate }}</label>
    <aui-select
      auiFormItemControl
      name="workload"
      formControlName="workload"
      required
    >
      <ng-container *ngFor="let group of workloads | keyvalue">
        <aui-option-group>
          <div auiOptionGroupTitle>
            {{ group.key.toLowerCase() | translate }}
          </div>
          <aui-option
            *ngFor="let option of group.value"
            [value]="option"
            [label]="option.name"
          >
            {{ option.name }}
          </aui-option>
        </aui-option-group>
      </ng-container>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('workload').errors"
    ></rc-errors-mapper>
    <div auiFormItemHint>
      {{
        (type === 'affinity'
          ? 'affinity_component_hint'
          : 'antiAffinity_component_hint'
        ) | translate
      }}
    </div>
  </aui-form-item>

  <!-- advanced -->
  <div [hidden]="!isAdvanced">
    <div>
      <aui-form-item [hidden]="isUpdate">
        <label auiFormItemLabel>{{ 'type' | translate }}</label>
        <aui-select auiFormItemControl formControlName="type">
          <aui-option value="preferred" label="Preferred">
            Preferred
          </aui-option>
          <aui-option value="required" label="Required">
            Required
          </aui-option>
        </aui-select>
      </aui-form-item>

      <aui-form-item [hidden]="this.form.get('type').value === 'required'">
        <label auiFormItemLabel>{{ 'weight' | translate }}</label>
        <ng-container auiFormItemControl required>
          <aui-number-input
            type="number"
            controls="true"
            [min]="1"
            [precision]="1"
            [step]="1"
            formControlName="weight"
          ></aui-number-input>
        </ng-container>
        <rc-errors-mapper
          auiFormItemError
          [errors]="form.get('weight').errors"
        ></rc-errors-mapper>
      </aui-form-item>

      <aui-form-item class="topology">
        <label auiFormItemLabel>{{ 'topology_key' | translate }}</label>
        <ng-container auiFormItemControl required>
          <input
            aui-input
            auiFormItemControl
            [readonly]="isUpdate"
            formControlName="topologyKey"
          />
        </ng-container>
        <rc-errors-mapper
          auiFormItemError
          *ngIf="!isUpdate"
          [errors]="form.get('topologyKey').errors"
        ></rc-errors-mapper>
      </aui-form-item>
    </div>

    <aui-form-item formGroupName="labelSelector">
      <label auiFormItemLabel>{{ 'match_labels' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        formControlName="matchLabels"
      ></rc-key-value-form-table>
    </aui-form-item>
  </div>
</form>
