<form auiForm [formGroup]="form">
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      [rcReadonlyField]="isUpdate"
      aui-input
      auiFormItemControl
      formControlName="name"
      maxlength="63"
      [placeholder]="K8S_RESOURCE_NAME_BASE.tip | translate"
      required
    />
    <rc-errors-mapper
      auiFormItemError
      *ngIf="!isUpdate"
      [errors]="form.get(['metadata', 'name']).errors"
      [errorsMapper]="{
        pattern: K8S_RESOURCE_NAME_BASE.tip | translate
      }"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item>
    <label class="aui-form-item__label-wrapper--required" auiFormItemLabel>
      {{ 'rule' | translate }}
    </label>
    <rc-array-form-table fxFlex [rows]="getRulesFormArray().controls">
      <ng-container *rcArrayFormTableRow="let control">
        <td>
          <rc-ingress-rule-form
            style="width: 100%;"
            auiFormItemControl
            [domains]="domains$ | async"
            [services]="services$ | async"
            [secrets]="secrets$ | async"
            [formControl]="control"
          ></rc-ingress-rule-form>
        </td>
      </ng-container>
      <ng-container
        *rcArrayFormTableRowControl="let control; let index = index"
      >
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="mini"
          type="button"
          [disabled]="getRulesFormArray().controls.length === 1"
          (click)="removeRule(index)"
        >
          <aui-icon icon="basic:trash"></aui-icon>
        </button>
      </ng-container>
      <ng-container *rcArrayFormTableFooter></ng-container>
    </rc-array-form-table>
  </aui-form-item>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button
      aui-button="primary"
      type="button"
      [plain]="true"
      (click)="addRule()"
    >
      {{ 'add_rule' | translate }}
    </button>
  </div>
</form>
