<rc-inline-form-group>
  <rc-inline-form-item>
    <label>{{ 'monitor_aggregator' | translate }}</label>
    <aui-select [(ngModel)]="selectedAggregator" (ngModelChange)="onSearch()">
      <aui-option
        *ngFor="let aggregator of aggregators"
        [value]="aggregator.key"
        [label]="aggregator.name | translate"
      >
        {{ aggregator.name | translate }}
      </aui-option>
    </aui-select>
  </rc-inline-form-item>
  <rc-inline-form-item>
    <label>{{ 'monitor_period' | translate }}</label>
    <aui-select
      [(ngModel)]="selectedTimeStampOption"
      (ngModelChange)="onTimeStampOptionSelect()"
    >
      <aui-option
        *ngFor="let timeStampOption of timeStampOptions"
        [value]="timeStampOption.type"
        [label]="timeStampOption.name | translate"
      >
        {{ timeStampOption.name | translate }}
      </aui-option>
    </aui-select>
  </rc-inline-form-item>
  <ng-container *ngIf="selectedTimeStampOption === 'custom_time_range'">
    <rc-inline-form-item>
      <label>{{ 'from' | translate }}</label>
      <div
        (valueChange)="onStartTimeSelect($event)"
        [aclCalendar]="dateTimeOptions"
        [(value)]="queryDatesShown.start_time"
      >
        <input aui-input [value]="queryDatesShown.start_time" />
      </div>
    </rc-inline-form-item>
    <rc-inline-form-item>
      <label>{{ 'to' | translate }}</label>
      <div
        (valueChange)="onEndTimeSelect($event)"
        [aclCalendar]="dateTimeOptions"
        [(value)]="queryDatesShown.end_time"
      >
        <input aui-input [value]="queryDatesShown.end_time" />
      </div>
    </rc-inline-form-item>
    <rc-inline-form-item>
      <button aui-button="primary" (click)="onSearch()">
        {{ 'confirm' | translate }}
      </button>
    </rc-inline-form-item>
  </ng-container>
</rc-inline-form-group>

<rc-loading-mask [loading]="chartLoading"></rc-loading-mask>
<ng-container *ngIf="!chartLoading">
  <rc-metric-chart
    [metricOptions]="cpuChartOptions"
    [series]="cpuChartOptions.series"
    chartTitle="cpu_utilization"
  ></rc-metric-chart>
  <rc-metric-chart
    [metricOptions]="memChartOptions"
    [series]="memChartOptions.series"
    chartTitle="memory_utilization"
  ></rc-metric-chart>
  <rc-metric-chart
    [metricOptions]="sentBytesChartOptions"
    [series]="sentBytesChartOptions.series"
    chartTitle="sent_bytes"
  ></rc-metric-chart>
  <rc-metric-chart
    [metricOptions]="receivedBytesChartOptions"
    [series]="receivedBytesChartOptions.series"
    chartTitle="received_bytes"
  ></rc-metric-chart>
</ng-container>
