<aui-inline-alert>
  {{ 'tapp_introduction' | translate }}
</aui-inline-alert>

<aui-card [divider]="false">
  <div auiCardHeader>
    <div>
      <acl-disabled-container [isAllowed]="(permissions$ | async).create">
        <aui-dropdown-button
          type="primary"
          [plain]="false"
          (buttonClick)="create()"
        >
          {{ 'create_tapp' | translate }}
          <aui-menu>
            <acl-disabled-container [isAllowed]="(permissions$ | async).create">
              <aui-menu-item (click)="createFromYaml()">
                {{ 'create_from_yaml' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </aui-menu>
        </aui-dropdown-button>
      </acl-disabled-container>
    </div>
    <div fxFlex></div>
    <div fxLayout>
      <aui-search
        [searchButton]="true"
        [searching]="list.loading$ | async"
        placeholder="{{ 'search_by_name_placeholder' | translate }}"
        (search)="searchByName($event)"
      ></aui-search>
      <button
        aui-button
        [square]="true"
        [loading]="list.loading$ | async"
        (click)="list.reload()"
      >
        <aui-icon icon="basic:refresh"></aui-icon>
      </button>
    </div>
  </div>

  <aui-table [dataSource]="list.items$ | async">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a
          [routerLink]="[
            '/workspace',
            baseParams,
            'tapp',
            'detail',
            rowData.metadata.name
          ]"
        >
          {{ rowData.metadata.name }}
        </a>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-workload-status-icon
          [workloadStatus]="parseToWorkloadStatus(rowData)"
        ></rc-workload-status-icon>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="createTime">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <span>{{ rowData.metadata.creationTimestamp | aclRelativeTime }}</span>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <button
          aui-button="text"
          [square]="true"
          [plain]="true"
          size="small"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ rowData: rowData }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="['name', 'status', 'createTime', 'action']"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="
        let row;
        columns: ['name', 'status', 'createTime', 'action']
      "
    ></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu>
  <ng-template auiMenuContent let-rowData="rowData">
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <aui-menu-item (click)="update(rowData)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
      <aui-menu-item (click)="delete(rowData)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
