<rc-array-form-table
  resourceName="port"
  [noRowSeparator]="true"
  (remove)="remove($event)"
  (add)="add()"
  class="form-table__flex-layout"
  [formGroup]="form"
  [rows]="form.controls"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="33%" required>{{ 'protocol' | translate }}</th>
    <th width="33%" required>{{ 'container_port' | translate }}</th>
    <th width="34%">{{ 'node_port' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container
    *rcArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td>
      <aui-select (blur)="onBlur()" formControlName="protocol">
        <aui-option
          *ngFor="let protocol of SERVICE_PORT_BASE_PROTOCOLS"
          [label]="protocol"
          [value]="protocol"
        >
          {{ protocol }}
        </aui-option>
      </aui-select>
    </td>

    <td>
      <input
        aui-input
        (blur)="onBlur()"
        formControlName="containerPort"
        type="text"
        name="containerPort"
        min="1"
        max="65535"
        [pattern]="POSITIVE_INT_PATTERN.pattern"
      />
    </td>

    <td>
      <input
        aui-input
        formControlName="hostPort"
        (blur)="onBlur()"
        type="text"
        name="hostPort"
        min="1"
        max="65535"
        [pattern]="POSITIVE_INT_PATTERN.pattern"
      />
    </td>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td colspan="3" class="rc-table-form-error-hint">
      <rc-errors-mapper
        *ngIf="
          control.get('protocol').dirty ||
          $any(controlContainer?.formDirective)?.submitted
        "
        [errors]="control.get('protocol').errors"
        [errorsMapper]="{
          required:
            'required_item' | translate: { name: 'protocol' | translate }
        }"
      ></rc-errors-mapper>
      <rc-errors-mapper
        *ngIf="
          control.get('containerPort').dirty ||
          $any(controlContainer?.formDirective)?.submitted
        "
        [errors]="control.get('containerPort').errors"
        [errorsMapper]="{
          pattern:
            ('container_port' | translate) +
            (POSITIVE_INT_PATTERN.tip | translate),
          required:
            'required_item' | translate: { name: 'container_port' | translate }
        }"
      ></rc-errors-mapper>
      <rc-errors-mapper
        [errors]="control.get('hostPort').errors"
        [errorsMapper]="{
          pattern:
            ('host_port' | translate) + (POSITIVE_INT_PATTERN.tip | translate)
        }"
      ></rc-errors-mapper>
      <rc-errors-mapper
        [errors]="control.errors"
        [errorsMapper]="{
          duplicateError:
            'duplicate_port_message'
            | translate
              : { errors: (control.errors?.duplicateError | async) || [] }
        }"
      ></rc-errors-mapper>
    </td>
  </ng-container>

  <!-- 无数据模板 -->
  <ng-container *rcArrayFormTableZeroState>
    <rc-zero-state resourceName="port"></rc-zero-state>
  </ng-container>
</rc-array-form-table>
