/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
@import 'var';

:host {
  display: block;
  height: 100vh;
  width: 100%;
  aui-nav-item:focus {
    outline: none;
  }

  .project-icon {
    height: 28px;
    width: 28px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 16px;
  }
  a.project-icon {
    &:not(.disabled):hover {
      color: $color-white;
      background-color: rgba(255, 255, 255, 0.16);
    }
  }
}

.layout-page-header {
  display: flex;
  align-items: center;
  flex: 1;
}
