<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-data="resource">
    <aui-tab-group type="line" [lazy]="true">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <aui-card *auiTabContent>
          <div auiCardHeader>
            <h3>{{ data.metadata.name }}</h3>
            <div fxFlex></div>

            <button aui-button="default" [plain]="true" [auiDropdown]="menu">
              {{ 'action' | translate }}
              <aui-icon icon="angle_down" margin="left"></aui-icon>
            </button>
            <aui-menu #menu size="small">
              <aui-menu-item
                (click)="update(data)"
                *ngIf="!(data | pure: isBuiltIn)"
              >
                {{ 'update' | translate }}
              </aui-menu-item>
              <aui-menu-item
                (click)="executeNow(data)"
                [disabled]="!(data | pure: canExecute)"
              >
                {{ 'execute_now' | translate }}
              </aui-menu-item>
              <aui-menu-item
                (click)="delete(data)"
                *ngIf="!(data | pure: isBuiltIn)"
              >
                {{ 'delete' | translate }}
              </aui-menu-item>
            </aui-menu>
          </div>
          <aui-section>
            <div auiSectionTitle>
              {{ 'basic_info' | translate }}
            </div>
            <rc-field-set-column-group auiCardContent>
              <rc-field-set-column>
                <rc-field-set-item [allowOverflow]="true">
                  <label>{{ 'display_name' | translate }}</label>
                  {{ data | aclDisplayName | aclFieldNotAvailable }}
                </rc-field-set-item>

                <rc-field-set-item>
                  <label>{{ 'execute_type' | translate }}</label>
                  {{
                    (data.spec.schedule ? 'cron_trig' : 'manual_trig')
                      | translate
                  }}
                </rc-field-set-item>

                <rc-field-set-item>
                  <label>{{ 'trigger_rule' | translate }}</label>
                  {{ data.spec.schedule | aclFieldNotAvailable }}
                </rc-field-set-item>

                <rc-field-set-item>
                  <label>{{ 'next_trig_time' | translate }}</label>
                  {{
                    !data.spec.schedule
                      ? '-'
                      : (data.spec.schedule | rcCrontabNext)
                  }}
                </rc-field-set-item>
              </rc-field-set-column>

              <rc-field-set-column>
                <rc-field-set-item>
                  <label>
                    {{ 'number_of_history_jobs_keep_up' | translate }}
                  </label>
                  <span [style.margin-right]="'8px'">
                    {{ 'success' | translate }}
                    {{ data.spec.successfulJobsHistoryLimit }}
                  </span>
                  <span>
                    {{ 'failed' | translate }}
                    {{ data.spec.failedJobsHistoryLimit }}
                  </span>
                </rc-field-set-item>

                <rc-field-set-item>
                  <label>{{ 'last_schedule_time' | translate }}</label>
                  {{
                    data.status?.lastScheduleTime
                      | rcFormatUtcStr
                      | aclFieldNotAvailable
                  }}
                </rc-field-set-item>
                <rc-field-set-item>
                  <label>{{ 'last_schedule_status' | translate }}</label>
                  <rc-trace-job-status
                    [status]="data.status?.lastExecuteResult"
                    [reason]="data.status?.lastExecuteReason"
                  ></rc-trace-job-status>
                </rc-field-set-item>

                <rc-field-set-item>
                  <label>{{ 'created_time' | translate }}</label>
                  {{
                    data.metadata.creationTimestamp
                      | rcFormatUtcStr
                      | aclFieldNotAvailable
                  }}
                </rc-field-set-item>
              </rc-field-set-column>
            </rc-field-set-column-group>
            <rc-field-set-item fxLayoutAlign="start start">
              <label>{{ 'internal_inspect' | translate }}</label>
              <div
                *ngIf="data.spec.builtInProbes?.length; else nodata"
                fxLayout="column"
                fxLayoutGap="12px"
              >
                <span *ngFor="let probe of data.spec.builtInProbes">
                  {{ probe | translate }}
                </span>
              </div>
              <ng-template #nodata>-</ng-template>
            </rc-field-set-item>
          </aui-section>
          <aui-section>
            <div auiSectionTitle>
              {{ 'custom_probe' | translate }}
            </div>
            <rc-array-form-table
              fxFlex
              resourceName="custom_probe"
              [rows]="data.spec.probes"
            >
              <ng-container *rcArrayFormTableHeader>
                <th style="width: 45%;">{{ 'protocol' | translate }}</th>
                <th>{{ 'address' | translate }}</th>
              </ng-container>
              <ng-container *rcArrayFormTableRow="let probe; let index = index">
                <td>
                  {{ probe.protocol }}
                </td>

                <td>
                  {{ probe | pure: probeAddressFormat }}
                </td>
              </ng-container>

              <ng-container *rcArrayFormTableRowControl></ng-container>
              <ng-container *rcArrayFormTableFooter></ng-container>

              <ng-container *rcArrayFormTableZeroState>
                <rc-zero-state resourceName="custom_probe"></rc-zero-state>
              </ng-container>
            </rc-array-form-table>
          </aui-section>
        </aui-card>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'job_record' | translate }}
        </ng-container>
        <rc-trace-report-list
          [labelSelector]="getRecordSelector(data.metadata.name)"
        ></rc-trace-report-list>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
