<ng-container *ngIf="params$ | async as params">
  <acl-page-state
    [adapter]="dataManager"
    [autoRedirect]="false"
    (redirect)="back()"
  >
    <ng-template let-configMap>
      <aui-tab-group [lazy]="true">
        <!-- detail info -->
        <aui-tab>
          <ng-container *auiTabLabel>
            {{ 'detail_info' | translate }}
          </ng-container>
          <ng-container *auiTabContent>
            <aui-card>
              <div auiCardHeader>
                <div>
                  {{ configMap.metadata.name }}
                  <aui-icon
                    *ngIf="configMap | rcIsFederatedResource"
                    class="icon--federation"
                    icon="basic:federation_cluster"
                    margin="left"
                    [auiTooltip]="'federated_resource' | translate"
                  ></aui-icon>
                </div>
                <button
                  aui-button="default"
                  [plain]="true"
                  [auiDropdown]="menu"
                  [disabled]="configMap | rcIsFederatedResource"
                >
                  {{ 'action' | translate }}
                  <aui-icon icon="angle_down" margin="left"></aui-icon>
                </button>
                <aui-menu #menu size="small">
                  <acl-disabled-container
                    [isAllowed]="(permissions$ | async).update"
                  >
                    <aui-menu-item (click)="updateConfigmap()">
                      {{ 'update' | translate }}
                    </aui-menu-item>
                  </acl-disabled-container>
                  <acl-disabled-container
                    [isAllowed]="(permissions$ | async).delete"
                  >
                    <aui-menu-item (click)="deleteConfigmap()">
                      {{ 'delete' | translate }}
                    </aui-menu-item>
                  </acl-disabled-container>
                </aui-menu>
              </div>
              <rc-field-set-group auiCardContent>
                <rc-field-set-item>
                  <label>{{ 'created_time' | translate }}</label>
                  {{ configMap.metadata.creationTimestamp | rcFormatUtcStr }}
                </rc-field-set-item>

                <rc-field-set-item>
                  <label>{{ 'description' | translate }}</label>
                  <div [title]="getDescription(configMap)">
                    {{ getDescription(configMap) | aclFieldNotAvailable }}
                  </div>
                </rc-field-set-item>

                <rc-field-set-item
                  *ngIf="configMap | pure: getBelongingApp as app"
                >
                  <label>{{ 'belonging_app' | translate }}</label>
                  <div>
                    <a
                      [routerLink]="[
                        '/workspace',
                        baseParams,
                        'app',
                        'detail',
                        app
                      ]"
                    >
                      {{ app }}
                    </a>
                  </div>
                </rc-field-set-item>
              </rc-field-set-group>
            </aui-card>

            <aui-card>
              <div auiCardHeader>
                <span>
                  {{ 'config_items' | translate }}
                </span>
                <acl-disabled-container
                  [isAllowed]="(permissions$ | async).update"
                >
                  <button aui-button (click)="addConfig()">
                    {{ 'add_configuration_item' | translate }}
                  </button>
                </acl-disabled-container>
              </div>
              <rc-k8s-config-items
                [configMap]="configMap"
                [clusterName]="params.cluster"
                [canUpdate]="(permissions$ | async).update"
                (actionComplete)="dataUpdated($event)"
              ></rc-k8s-config-items>
            </aui-card>
          </ng-container>
        </aui-tab>
        <!-- yaml -->
        <aui-tab>
          <ng-container *auiTabLabel>
            YAML
          </ng-container>
          <aui-code-editor
            *auiTabContent
            name="yaml"
            [actionsConfig]="editorActions"
            [options]="editorOptions"
            [ngModel]="configMap | pure: resourceToYaml"
          ></aui-code-editor>
        </aui-tab>
        <!-- workloads -->
        <aui-tab>
          <ng-container *auiTabLabel>
            {{ 'workload' | translate }}
          </ng-container>
          <aui-card *auiTabContent>
            <rc-configmap-workloads
              [configmap]="configMap"
              [cluster]="params.cluster"
            ></rc-configmap-workloads>
          </aui-card>
        </aui-tab>
      </aui-tab-group>
    </ng-template>
  </acl-page-state>
</ng-container>
