@import 'var';

.basic-info {
  margin-bottom: 16px;

  ::ng-deep .aui-card__content {
    display: flex;
  }

  .info-item {
    display: inline-flex;
    flex: 1;
    align-items: center;
  }

  .info-icon {
    margin-right: 12px;

    aui-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      border-radius: 50%;

      @mixin icon($color) {
        background-color: rgba($color, 0.1);
        color: $color;
      }

      &[icon='basic:namespace_s'] {
        @include icon(#655ce6);
      }

      &[icon='basic:server_s'] {
        @include icon(#bf30b6);
      }

      &[icon='basic:project_s'] {
        @include icon(#1fc0cc);
      }

      &[icon='basic:account_circle_s'] {
        @include icon(#e63984);
      }

      &[icon='basic:time'] {
        @include icon(#9741d9);

        font-size: 18px; // FIXME
      }
    }
  }

  .info-detail {
    display: flex;
    flex-direction: column;

    span {
      white-space: nowrap;

      + span {
        color: $color-text-help;
        font-size: 12px;
      }
    }
  }
}

.app {
  ::ng-deep {
    .aui-card {
      display: flex;
      flex-direction: column;
    }

    .aui-card__content {
      display: flex;
      flex: 1;
      overflow: hidden;
    }
  }

  .left {
    background-color: #fafafa;
    padding: 8px 28px;

    .num {
      font-size: 26px;
    }

    .desc {
      color: $color-text-help;
    }
  }

  .right {
    flex: 1;
    overflow: hidden;
  }
}

.app-quota {
  display: flex;

  aui-card {
    flex: 1;
    width: 50%;

    ::ng-deep {
      .aui-card {
        height: 228px;
      }

      + aui-card > .aui-card {
        margin-top: 0;
        margin-left: 16px;
      }
    }
  }
}

.workload {
  margin-top: 16px;

  .workload-item {
    overflow: hidden;
  }

  .workload-type {
    color: $color-text-secondary;
  }

  ::ng-deep .aui-card__content {
    display: flex;
  }
}

.events {
  margin-bottom: 16px;

  aui-table {
    display: block;
    max-height: 285px;
    overflow-y: auto;
    position: relative;

    ::ng-deep aui-table-header-row {
      // stylelint-disable-next-line plugin/no-unsupported-browser-features
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }

  a {
    cursor: pointer;
  }
}

.pod {
  ::ng-deep .aui-card__content {
    display: flex;
  }

  .title {
    color: $color-text-secondary;
  }

  .left {
    min-width: 110px;

    .num {
      display: block;
      margin-top: 30px;
      font-size: 26px;
    }

    .desc {
      color: $color-text-help;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;

    .title {
      margin-bottom: 8px;
    }

    .table-wrapper {
      display: flex;
      flex-direction: column;
      border: solid 1px #eee;
      flex: 1;
    }

    .empty-placeholder {
      flex: 1;
      width: auto;
      border-bottom: 0;
    }

    aui-table {
      display: block;
      max-height: 228px;
      overflow-y: auto;
      position: relative;

      ::ng-deep aui-table-header-row {
        // stylelint-disable-next-line plugin/no-unsupported-browser-features
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
  }
}

.resource-alert {
  display: flex;

  .left {
    flex: 3;
  }

  .right {
    flex: 2;
    margin-left: 16px;

    ::ng-deep {
      .aui-card {
        height: 100%;
      }

      .aui-card__content {
        overflow-y: auto;
        max-height: 660px - 78px;
      }
    }
  }

  .alert-item {
    padding-left: 24px;

    + .alert-item {
      margin-top: 16px;
    }

    .title {
      margin-left: -24px;
      margin-bottom: 4px;
      display: inline-flex;
      height: 18px;
      border: 1px solid #ededed;
      border-radius: 9px;
      align-items: center;

      &:before {
        content: '';
        margin-left: 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #e54545;
      }

      span {
        font-size: 12px;
        transform: scale((10 / 12));
      }
    }

    > h4 {
      margin-bottom: 4px;
      color: $color-text-main;
    }

    .alert-value {
      margin-bottom: 8px;
      color: $color-text-help;
    }
  }
}
