<ng-container
  *ngTemplateOutlet="tpl; context: { $implicit: namespaceOverview$ | async }"
></ng-container>

<ng-template #tpl let-namespaceOverview>
  <aui-card class="basic-info" [divider]="false">
    <div auiCardHeader>{{ 'basic_info' | translate }}</div>
    <div class="info-item">
      <div class="info-icon">
        <aui-icon icon="basic:namespace_s"></aui-icon>
      </div>
      <div class="info-detail">
        <span>
          {{ (baseParams$ | async).namespace }}
        </span>
        <span>{{ 'name' | translate }}</span>
      </div>
    </div>
    <div class="info-item">
      <div class="info-icon">
        <aui-icon icon="basic:server_s"></aui-icon>
      </div>
      <div class="info-detail">
        <span>{{ (baseParams$ | async).cluster }}</span>
        <span>{{ 'cluster_belonged' | translate }}</span>
      </div>
    </div>
    <div class="info-item">
      <div class="info-icon">
        <aui-icon icon="basic:project_s"></aui-icon>
      </div>
      <div class="info-detail">
        <span>{{ (baseParams$ | async).project }}</span>
        <span>{{ 'project_belonged' | translate }}</span>
      </div>
    </div>
    <div class="info-item">
      <div class="info-icon">
        <aui-icon icon="basic:account_circle_s"></aui-icon>
      </div>
      <div class="info-detail">
        <span>
          {{ namespaceOverview | aclCreator | aclFieldNotAvailable }}
        </span>
        <span>{{ 'creator' | translate }}</span>
      </div>
    </div>
    <div class="info-item">
      <div class="info-icon">
        <aui-icon icon="basic:time"></aui-icon>
      </div>
      <div class="info-detail">
        <span>
          {{ namespaceOverview | aclCreationTimestamp | aclStandardTime }}
        </span>
        <span>{{ 'created_time' | translate }}</span>
      </div>
    </div>
  </aui-card>

  <div class="app-quota">
    <aui-card class="app" [divider]="false">
      <div auiCardHeader>
        {{ 'application' | translate }}
      </div>
      <div class="left">
        <a class="num" routerLink="../../app">
          {{ namespaceOverview?.spec.application.total | aclFieldNotAvailable }}
        </a>
        <div class="desc">{{ 'total_num' | translate }}</div>
      </div>
      <div class="right">
        <alk-donut-chart [data]="appChartData$ | async"></alk-donut-chart>
      </div>
    </aui-card>
    <aui-card class="quota" [divider]="false">
      <div auiCardHeader>
        {{ 'resource_quota' | translate }}
      </div>
      <alk-overview-resource-quota
        [resourceQuota]="namespaceOverview?.spec.resourceQuota"
      ></alk-overview-resource-quota>
    </aui-card>
  </div>

  <aui-card class="workload" [divider]="false">
    <div auiCardHeader>{{ 'workload' | translate }}</div>
    <div class="workload-item" *ngFor="let item of workloadChartsData$ | async">
      <div class="workload-type">
        {{ item.type | translate }}:
        <a [routerLink]="'../../' + item.type">{{ item.total }}</a>
      </div>
      <alk-donut-chart [data]="item.data"></alk-donut-chart>
    </div>
  </aui-card>

  <aui-card class="pod" [divider]="false">
    <div auiCardHeader>{{ 'pod' | translate }}</div>
    <div class="left">
      <div class="title">{{ 'summary_info' | translate }}</div>
      <div>
        <a class="num" routerLink="../../pod">
          {{ namespaceOverview | pure: sumPods }}
        </a>
        <div class="desc">{{ 'total_num' | translate }}</div>
      </div>
      <div>
        <div class="num">
          {{ namespaceOverview?.spec.pod.stats.error || 0 }}
        </div>
        <div class="desc">{{ 'abnormal_num' | translate }}</div>
      </div>
    </div>
    <div class="right">
      <div class="title">{{ 'abnormal_list' | translate }}</div>
      <div class="table-wrapper">
        <aui-table [dataSource]="namespaceOverview?.spec.pod.errors">
          <aui-table-header-row
            *auiTableHeaderRowDef="podErrorsColumns"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="let row; columns: podErrorsColumns"
          ></aui-table-row>

          <ng-container auiTableColumnDef="name">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'name' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <a [routerLink]="'../../pod/detail/' + item.name">
                {{ item.name }}
              </a>
            </aui-table-cell>
          </ng-container>

          <ng-container auiTableColumnDef="status">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'status' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.status }}
            </aui-table-cell>
          </ng-container>

          <ng-container auiTableColumnDef="reason">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'reason' | translate }}
            </aui-table-header-cell>
            <aui-table-cell
              *auiTableCellDef="let item"
              [auiTooltip]="item.reason"
            >
              {{ item.reason }}
            </aui-table-cell>
          </ng-container>
        </aui-table>

        <ng-container *ngIf="!namespaceOverview?.spec.pod.errors.length">
          <rc-zero-state
            class="empty-placeholder"
            resourceName="abnormal"
          ></rc-zero-state>
        </ng-container>
      </div>
    </div>
  </aui-card>

  <aui-card class="events" [divider]="false">
    <div auiCardHeader>{{ 'events' | translate }}</div>
    <aui-table #eventsTable [dataSource]="events$">
      <aui-table-header-row
        *auiTableHeaderRowDef="eventsColumns"
      ></aui-table-header-row>
      <aui-table-row
        *auiTableRowDef="let row; columns: eventsColumns"
      ></aui-table-row>

      <ng-container auiTableColumnDef="resource_name">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'resource_name' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <ng-container
            *ngIf="item.detail.event.involvedObject.name as resourceName"
          >
            <a
              *ngIf="
                EVENT_DETAIL_LINK_MAPPER[item.detail.event.involvedObject.kind];
                else eventDetail
              "
              [auiTooltip]="resourceName"
              [routerLink]="[
                '../..',
                EVENT_DETAIL_LINK_MAPPER[item.detail.event.involvedObject.kind],
                'detail',
                resourceName
              ]"
            >
              {{ resourceName }}
            </a>
            <ng-template #eventDetail>
              <a [auiTooltip]="resourceName" (click)="showEventDetail(item)">
                {{ resourceName }}
              </a>
            </ng-template>
          </ng-container>
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="resource_type">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'resource_type' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.detail.event.involvedObject.kind }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="event_time">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'k8s_event_time_range' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          {{ item.detail.event.firstTimestamp | aclStandardTime }}
          <br />
          {{ item.detail.event.lastTimestamp | aclStandardTime }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="reason">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'reason' | translate }}
        </aui-table-header-cell>
        <aui-table-cell
          *auiTableCellDef="let item"
          [auiTooltip]="item.detail.event.reason"
        >
          {{ item.detail.event.reason }}
        </aui-table-cell>
      </ng-container>

      <ng-container auiTableColumnDef="message">
        <aui-table-header-cell *auiTableHeaderCellDef>
          {{ 'message' | translate }}
        </aui-table-header-cell>
        <aui-table-cell *auiTableCellDef="let item">
          <span
            *ngIf="item.detail.event.message as message"
            [auiTooltip]="message"
          >
            {{ message }}
          </span>
        </aui-table-cell>
      </ng-container>
    </aui-table>

    <ng-container *ngIf="!(events$ | async)?.length">
      <rc-zero-state
        class="empty-placeholder"
        resourceName="event"
      ></rc-zero-state>
    </ng-container>
  </aui-card>

  <div class="resource-alert">
    <alk-overview-resource-usage
      class="left"
      [cluster]="(baseParams$ | async).cluster"
      [namespace]="(baseParams$ | async).namespace"
    ></alk-overview-resource-usage>
    <aui-card class="right" [divider]="false">
      <div auiCardHeader>{{ 'alert' | translate }}</div>
      <ul *ngIf="(alerts$ | async)?.length; else noAlert">
        <li class="alert-item" *ngFor="let item of alerts$ | async">
          <div class="title">
            <span>{{ item.startsAt | aclStandardTime }}</span>
          </div>
          <h4>{{ item.labels.alert_involved_object_name }}</h4>
          <div class="alert-value">
            {{ 'alert_value' | translate }}:
            {{ item.annotations.alert_current_value }}
          </div>
          <div *ngIf="item.labels.severity.toLowerCase() as severity">
            <aui-tag
              [type]="severity === 'critical' ? 'error' : 'warning'"
              [solid]="true"
              size="mini"
              [round]="false"
            >
              {{ 'alert_' + severity | translate }}
            </aui-tag>
            <aui-tag type="info" size="mini" [round]="false">
              {{
                (item.labels.severity === 'custom'
                  ? 'custom_alert'
                  : 'indicator_alert'
                ) | translate
              }}
            </aui-tag>
          </div>
        </li>
      </ul>

      <ng-template #noAlert>
        <rc-zero-state resourceName="alert"></rc-zero-state>
      </ng-template>
    </aui-card>
  </div>
</ng-template>
