<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="100px"
  [auiFormEmptyAddon]="true"
>
  <ng-container formGroupName="spec">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'port' | translate }}</label>
      <input
        aui-input
        auiFormItemControl
        type="number"
        [min]="1"
        [max]="65535"
        placeholder="1 ~ 65535"
        formControlName="port"
        required
      />
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get(['spec', 'port']).errors"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'protocol' | translate }}</label>
      <aui-select auiFormItemControl formControlName="protocol" required>
        <aui-option
          *ngFor="let protocol of PROTOCOLS"
          [label]="protocol"
          [value]="protocol.toLocaleLowerCase()"
        >
          {{ protocol }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get(['spec', 'protocol']).errors"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item [hidden]="form.get('spec.protocol').value !== 'https'">
      <label auiFormItemLabel>{{ 'default_certificate' | translate }}</label>
      <ng-container auiFormItemControl required>
        <rc-load-balancer-certificate-form
          formControlName="certificate_name"
          [secretList]="secretList"
          [namespace]="namespace"
        ></rc-load-balancer-certificate-form>
      </ng-container>
    </aui-form-item>
    <rc-load-balancer-service-group-with-affinity
      style="padding-right: 32px;"
      [cluster]="cluster"
      [namespace]="namespace"
      [inWorkspace]="inWorkspace"
      [namespaceList]="namespaceList"
      [serviceList]="serviceList"
      [protocol]="form.get('spec.protocol').value"
      formControlName="serviceGroup"
    ></rc-load-balancer-service-group-with-affinity>
  </ng-container>
</form>
