@import 'var';

aui-tag {
  cursor: pointer;
}

.chart {
  margin-top: 20px;
}

.chart-title {
  background-color: #fafafa;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 10px 8px;
  color: $color-text-main;
  font-weight: 500;
}

.chart-content {
  position: relative;
}

.chart-unit {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 10px;
  width: 120px;

  ::ng-deep .aui-form-item__label-wrapper {
    width: auto !important;
  }
}

highcharts-chart {
  display: block;
  width: 100%;
  height: 240px;
}
