<acl-page-guard
  [allowed]="(pageGuard$ | async)?.allowed"
  [description]="(pageGuard$ | async)?.reason"
>
  <aui-card *aclPageGuardContent [divider]="false">
    <div auiCardHeader>
      <aui-tag
        *ngFor="let timeRange of TIME_RANGES"
        [type]="(timeRange$$ | async) === timeRange.type ? 'primary' : 'info'"
        [solid]="(timeRange$$ | async) === timeRange.type"
        (click)="timeRange$$.next(timeRange.type)"
      >
        {{ timeRange.type | translate }}
      </aui-tag>
      <button style="float: right;" aui-button (click)="refresh$$.next()">
        <aui-icon icon="basic:refresh"></aui-icon>
      </button>
    </div>

    <div class="chart">
      <div class="chart-title">
        {{ 'flow' | translate }}
      </div>
      <div class="chart-content">
        <aui-form-item class="chart-unit">
          <label auiFormItemLabel>{{ 'unit' | translate }}</label>
          <aui-select
            auiFormItemControl
            size="small"
            [value]="flowUnit$$ | async"
            (valueChange)="flowUnit$$.next($event)"
          >
            <aui-option
              *ngFor="let unit of FLOW_UNITS"
              [label]="unit.type"
              [value]="unit.type"
            >
              {{ unit.type }}
            </aui-option>
          </aui-select>
        </aui-form-item>
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="
            flowData$
              | async
              | pure: getChartOptions:{ unit: flowUnit$$ | async }
          "
        ></highcharts-chart>
      </div>
    </div>

    <div class="chart">
      <div class="chart-title">
        {{ 'request_and_response' | translate }}
      </div>
      <div class="chart-content">
        <aui-form-item class="chart-unit">
          <label auiFormItemLabel>{{ 'unit' | translate }}</label>
          <span auiFormItemControl>
            {{ 'unit_ge' | translate }}/{{ 'second' | translate }}
          </span>
        </aui-form-item>
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="
            requestData$
              | async
              | pure
                : getChartOptions
                : {
                    allowDecimals: false,
                    unit: ('unit_ge' | translate) + '/' + ('second' | translate)
                  }
          "
        ></highcharts-chart>
      </div>
    </div>
  </aui-card>
</acl-page-guard>
