:host {
  display: flex;
  ::ng-deep {
    rc-field-set-column {
      overflow: hidden;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  &:last-child {
    margin-bottom: -12px;
  }
}
