<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <a href="javascript:;" [routerLink]="['/workspace', baseParams, 'app']">
        {{ 'application' | translate }}
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'create_app' | translate }}({{ 'preview' | translate }})
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>

<rc-app-create-preview-form
  [isUpdate]="false"
  [baseParams]="baseParams"
  (onAddComponent)="onAddComponent($event)"
  (onUpdateComponent)="onUpdateComponent($event)"
  (onSubmit)="onCreate()"
  (onCancel)="onCancel()"
></rc-app-create-preview-form>
