<rc-array-form-table resourceName="volumes" [rows]="volumes">
  <ng-container *rcArrayFormTableHeader>
    <th style="width: 300px;">{{ 'name' | translate }}</th>
    <th style="width: 150px;">{{ 'type' | translate }}</th>
    <th>{{ 'related_attrs' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *rcArrayFormTableRow="let volume; let index = index">
    <td>{{ volume.name }}</td>

    <td>
      <ng-container *ngIf="volume | pure: isBuiltIn">
        {{
          volume
            | pure: getVolumeType
            | pure: getVolumeTypeTranslateKey
            | translate
        }}
      </ng-container>

      <ng-container *ngIf="!(volume | pure: isBuiltIn)">
        {{ volume | pure: getVolumeType }}
      </ng-container>
    </td>

    <td>
      <rc-volume-attributes [volume]="volume"></rc-volume-attributes>
    </td>
  </ng-container>

  <ng-container
    *rcArrayFormTableRowControl="let control; let index = index"
  ></ng-container>
  <ng-container *rcArrayFormTableFooter></ng-container>
</rc-array-form-table>
