<!-- 应用根节点 -->
<svg:g
  *ngIf="nodeType === 1"
  class="node"
  [attr.transform]="'translate(' + (node.x - 60) + ',' + (node.y - 14) + ')'"
>
  <svg:rect
    class="node__root"
    x="0"
    y="0"
    width="100"
    height="28"
    rx="12"
    ry="12"
  />
  <svg:text
    x="50"
    y="14"
    fill="#fff"
    font-size="16"
    text-anchor="middle"
    alignment-baseline="central"
  >
    {{ 'application' | translate }}
  </svg:text>
</svg:g>

<!-- workload 节点 -->
<svg:g
  *ngIf="nodeType === 2"
  [attr.transform]="'translate(' + node.x + ',' + node.y + ')'"
  class="node"
>
  <svg:circle
    [attr.class]="getWorkloadClass()"
    [auiTooltip]="workloadStatus"
    auiTooltipType="plain"
    auiTooltipPosition="top end"
    auiTooltipTrigger="click"
    cx="0"
    cy="0"
    r="16"
  ></svg:circle>
  <svg:text
    class="node__status"
    [auiTooltip]="workloadStatus"
    auiTooltipType="plain"
    auiTooltipPosition="top end"
    auiTooltipTrigger="click"
    x="0"
    y="0"
    text-anchor="middle"
    alignment-baseline="central"
  >
    {{ getWorkloadStatusText(node) }}
  </svg:text>
  <svg:text class="node__name">
    {{ node.name }}
  </svg:text>
  <svg:text class="node__kind">
    {{ node.kind | titlecase }}
  </svg:text>
</svg:g>

<!-- 资源节点 -->
<svg:g
  *ngIf="nodeType === 3"
  [attr.transform]="'translate(' + node.x + ',' + node.y + ')'"
  class="node"
>
  <svg:circle
    class="node__resource"
    [ngClass]="{ node__ref: node.isRef }"
    cx="0"
    cy="0"
    r="16"
  ></svg:circle>
  <svg:text class="node__name">
    {{ node.name }}
  </svg:text>
  <svg:text class="node__kind">
    {{ node.kind | titlecase }}
  </svg:text>
</svg:g>

<ng-template #workloadStatus>
  <rc-topology-workload-status
    *ngIf="nodeType === 2"
    [node]="node"
  ></rc-topology-workload-status>
</ng-template>
