<ng-container *ngIf="resource">
  <a
    *ngIf="resource | pure: isResourceLinkSupported"
    [routerLink]="getResourceRouterLink(resource, baseParams)"
  >
    {{ resource.metadata.name }}
  </a>
  <a
    *ngIf="!(resource | pure: isResourceLinkSupported)"
    href="javascript:"
    (click)="view(resource, yamlViewDialog)"
  >
    {{ resource.metadata.name }}
  </a>
</ng-container>

<ng-template #yamlViewDialog let-data>
  <aui-dialog-header>
    {{ data?.name }}{{ 'detail' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yamlInputValue"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
