<aui-dialog-header>
  {{ 'update_domain' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form auiForm>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'domain' | translate }}</label>
      <span>{{ domain }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'allocation_cluster' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="cluster"
        [(ngModel)]="model.cluster"
        (ngModelChange)="selectedCluster$$.next($event)"
        #cluster="ngModel"
        includes
        [filterable]="true"
        [disabled]="!(clusters$ | async)"
        [loading]="!(clusters$ | async)"
      >
        <aui-option [label]="'donot_assign' | translate" [value]="''">
          {{ 'donot_assign' | translate }}
        </aui-option>
        <aui-option
          *ngFor="let cluster of clusters$ | async"
          [value]="cluster | pure: name"
          [label]="cluster | pure: label"
        >
          {{ cluster | pure: label }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_options' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <div auiFormItemError *ngIf="cluster.errors?.includes">
        {{ 'option_has_expired' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item *ngIf="model.cluster">
      <label auiFormItemLabel>{{ 'allocation_project' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="project"
        [(ngModel)]="model.project"
        #project="ngModel"
        required
        includes
        [filterable]="true"
        [disabled]="!(allProjects$ | async)"
        [loading]="!(allProjects$ | async)"
      >
        <aui-option [label]="'all_projects' | translate" [value]="assignAll">
          {{ 'all_projects' | translate }}
        </aui-option>
        <aui-option
          *ngFor="let project of projects$ | async"
          [value]="project | pure: name"
          [label]="project | pure: label"
        >
          {{ project | pure: label }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_options' | translate }}
        </aui-option-placeholder>
      </aui-select>
      <div auiFormItemError *ngIf="project.errors?.required">
        {{ 'field_required' | translate }}
      </div>
      <div auiFormItemError *ngIf="project.errors?.includes">
        {{ 'option_has_expired' | translate }}
      </div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="loading"
    [loading]="loading"
    (click)="confirm()"
  >
    {{ 'update' | translate }}
  </button>
  <button aui-button auiDialogClose [disabled]="loading" [loading]="loading">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
