<form #form="ngForm" auiForm [auiFormEmptyAddon]="true">
  <aui-card>
    <div auiCardHeader>{{ 'application' | translate }}</div>
    <rc-application-metadata-form
      name="metadata"
      [namespace]="baseParams.namespace"
      [(ngModel)]="metadata"
    ></rc-application-metadata-form>
  </aui-card>

  <aui-card class="resource-form__card">
    <aui-code-editor
      [actionsConfig]="actionsConfigCreate"
      [options]="codeEditorOptions"
      name="yaml"
      [(ngModel)]="yaml"
    ></aui-code-editor>
    <div class="rc-sample-code-editor-toolbar">
      <span class="rc-sample-code-editor-toolbar__label">
        {{ 'show_compose_demo' | translate }}:
      </span>
      <a
        class="rc-sample-code-editor-toolbar__button"
        href="javascript:;"
        (click)="useDemoTemplate()"
      >
        <aui-icon icon="basic:write_file"></aui-icon>
        {{ 'write_in' | translate }}
      </a>
      <a
        class="rc-sample-code-editor-toolbar__button"
        href="javascript:;"
        (click)="showDemoTemplate(yamlDemoTemplate)"
      >
        <aui-icon icon="basic:eye_s"></aui-icon>
        {{ 'view' | translate }}
      </a>
    </div>
  </aui-card>
</form>

<!-- <pre>{{application | json}}</pre> -->

<div class="resource-form__footer">
  <span fxFlex></span>
  <button aui-button="primary" (click)="confirm()">
    {{ 'create' | translate }}
  </button>
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
</div>

<ng-template #yamlDemoTemplate>
  <aui-dialog-header>
    {{ 'show_compose_demo' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      [options]="{ language: 'yaml', readOnly: true }"
      [actionsConfig]="actionsConfigView"
      [ngModel]="yamlDemo"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
