<aui-card>
  <div auiCardHeader>
    {{ 'basic_info' | translate }}
  </div>
  <form #alarmForm="ngForm" auiForm auiFormLabelPosition="right">
    <aui-form-item [hidden]="resource">
      <label auiFormItemLabel>
        {{ 'name' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        required
        name="name"
        maxlength="63"
        [(ngModel)]="viewModel.name"
        #nameForm="ngModel"
        [pattern]="resourceNameReg.pattern"
        [placeholder]="resourceNameReg.tip | translate"
      />
      <rc-errors-mapper
        auiFormItemError
        [errors]="nameForm.errors"
        [errorsMapper]="{ pattern: resourceNameReg.tip | translate }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item [hidden]="!resource">
      <label auiFormItemLabel>
        {{ 'name' | translate }}
      </label>
      <span>{{ resource?.metadata.name }}</span>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'description' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        name="description"
        [(ngModel)]="viewModel.description"
      />
    </aui-form-item>
    <!-- 资源类型 -->
    <aui-form-item>
      <label auiFormItemLabel>{{ 'resource_type' | translate }}</label>
      <span>{{ 'workload' | translate }}</span>
    </aui-form-item>
    <!-- 资源名称 -->
    <aui-form-item>
      <label auiFormItemLabel>{{ 'resource_name' | translate }}</label>
      <span>
        {{ this.workloadName || (resource | aclLabel: 'name':'alert') }}
      </span>
    </aui-form-item>
  </form>
</aui-card>
<aui-card>
  <div auiCardHeader>
    {{ 'alarm_rule' | translate }}
  </div>
  <rc-alarm-rule-list
    auiFormItemControl
    name="template"
    [kind]="workloadKind"
    [podName]="workloadName"
    [application]="appName"
    [cluster]="baseParams.cluster"
    [project]="baseParams.project"
    [namespace]="baseParams.namespace"
    [(ngModel)]="viewModel.rules"
  ></rc-alarm-rule-list>
</aui-card>
<aui-card class="resource-form__card">
  <div auiCardHeader>
    {{ 'alarm_action' | translate }}
  </div>
  <rc-alarm-action-form
    auiFormItemControl
    name="action"
    [(ngModel)]="viewModel.actions"
  ></rc-alarm-action-form>
</aui-card>
<div class="resource-form__footer">
  <span fxFlex></span>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    {{ formSubmitText | translate }}
  </button>
  <button aui-button (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
