<ng-container *ngIf="workloadStatus">
  <rc-status-icon
    [status]="workloadStatus | pure: getWorkloadStatus"
    [colorMapper]="WorkloadStatusColorMapper"
    [iconMapper]="WorkloadStatusIconMapper"
  ></rc-status-icon>
  <span>{{ workloadStatus | pure: getInstancesText }}</span>
</ng-container>
