<form
  [formGroup]="form"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item formGroupName="metadata">
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      aui-input
      auiFormItemControl
      formControlName="name"
      maxlength="63"
      [placeholder]="resourceNameReg.tip | translate"
      [rcReadonlyField]="isUpdate"
      [rcErrorsMapper]="{ pattern: resourceNameReg.tip | translate }"
      [rcErrorsMapperOutlet]="nameError"
      required
    />
    <div auiFormItemError #nameError></div>
  </aui-form-item>
  <ng-container formGroupName="spec">
    <aui-form-item formGroupName="capacity">
      <label auiFormItemLabel>{{ 'size' | translate }}</label>
      <aui-input-group style="flex: 1;">
        <span auiInputAddonAfter>{{ unit }}</span>
        <input
          aui-input
          type="text"
          [pattern]="POSITIVE_INT_PATTERN.pattern"
          auiFormItemControl
          formControlName="storage"
          fxLayout
          required
          [rcErrorsMapper]="{ pattern: POSITIVE_INT_PATTERN.tip | translate }"
          [rcErrorsMapperOutlet]="storageError"
        />
      </aui-input-group>
      <ng-container auiFormItemHint *ngIf="isUpdate">
        {{ 'pv_size_adjust_hint' | translate }}
      </ng-container>
      <div auiFormItemError #storageError></div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'type' | translate }}</label>
      <aui-radio-group
        auiFormItemControl
        name="pvVolumeType"
        [ngModelOptions]="{ standalone: true }"
        (ngModelChange)="pvVolumeTypeChange($event)"
        [rcReadonlyField]="isUpdate"
        [(ngModel)]="pvVolumeType"
      >
        <aui-radio-button *ngFor="let type of pvVolumeTypes" [value]="type">
          {{ type }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <rc-cephfs-param-form
      [hidden]="pvVolumeType !== 'cephfs'"
      [isUpdate]="isUpdate"
      formControlName="cephfs"
    ></rc-cephfs-param-form>

    <div [hidden]="pvVolumeType !== 'nfs'">
      <ng-container formGroupName="nfs">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'server_address' | translate }}</label>
          <input
            aui-input
            auiFormItemControl
            formControlName="server"
            required
            [rcReadonlyField]="isUpdate"
            rcErrorsMapper
            [rcErrorsMapperDisabled]="isUpdate"
            [rcErrorsMapperOutlet]="serverError"
          />
          <div auiFormItemError #serverError></div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'path' | translate }}</label>
          <input
            aui-input
            auiFormItemControl
            formControlName="path"
            required
            [rcReadonlyField]="isUpdate"
            rcErrorsMapper
            [rcErrorsMapperDisabled]="isUpdate"
            [rcErrorsMapperOutlet]="pathError"
          />
          <div auiFormItemError #pathError></div>
        </aui-form-item>
      </ng-container>
    </div>
    <div [hidden]="pvVolumeType !== 'hostPath'">
      <aui-form-item formGroupName="hostPath">
        <label auiFormItemLabel>{{ 'path' | translate }}</label>
        <input
          aui-input
          auiFormItemControl
          formControlName="path"
          required
          [rcReadonlyField]="isUpdate"
          rcErrorsMapper
          [rcErrorsMapperDisabled]="isUpdate"
          [rcErrorsMapperOutlet]="hostPathPathError"
        />
        <div auiFormItemError #hostPathPathError></div>
      </aui-form-item>
    </div>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'access_mode' | translate }}</label>
      <aui-radio-group auiFormItemControl formControlName="accessModes">
        <aui-radio-button *ngFor="let mode of accessModes" [value]="mode">
          {{ accessModesMap[mode] | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'recycle_strategy' | translate }}</label>
      <aui-radio-group
        auiFormItemControl
        formControlName="persistentVolumeReclaimPolicy"
      >
        <aui-radio-button *ngFor="let mode of recycleModes" [value]="mode">
          {{ recycleModesMap[mode] | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>
  </ng-container>

  <rc-foldable-block hint="{{ 'advanced' | translate }}">
    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>{{ 'label' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="labels"
      ></rc-key-value-form-table>
    </aui-form-item>
    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>{{ 'k8s_annotation' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="annotations"
      ></rc-key-value-form-table>
    </aui-form-item>
  </rc-foldable-block>
</form>
