@import 'var';

:host {
  .job-config-icon--question {
    padding-left: 8px;
    color: $color-text-help;

    &:hover {
      color: $color-primary;
    }
  }

  .detail-wrapper-line {
    border-top: dashed $border-width $border-color;
    margin: 15px 0 3px 0;
  }

  .detail-wrapper {
    .detail-title {
      font-weight: 500;
      margin-bottom: $detail-row-margin-space;
    }

    margin: 0;
  }
}
