<div class="detail-wrapper-line"></div>
<aui-section>
  <div auiSectionTitle>
    {{ 'job_config' | translate }}
  </div>
  <rc-field-set-group auiCardContent>
    <rc-field-set-item *ngIf="showJobType">
      <label>{{ 'job_type' | translate }}</label>
      {{ jobType | translate }}
      <aui-icon
        [auiTooltip]="job_type_tip"
        class="job-config-icon--question"
        icon="basic:question"
      ></aui-icon>
    </rc-field-set-item>
    <rc-field-set-item *ngIf="jobSpec.completions">
      <label>{{ 'planned_successful_jobs' | translate }}</label>
      {{ jobSpec.completions }}
    </rc-field-set-item>
    <rc-field-set-item *ngIf="jobSpec.parallelism">
      <label>{{ 'max_number_parallel_jobs' | translate }}</label>
      {{ jobSpec.parallelism }}
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'job_failure_retries' | translate }}</label>
      {{ jobSpec.backoffLimit | aclFieldNotAvailable }}
    </rc-field-set-item>
    <rc-field-set-item>
      <label>{{ 'job_exec_timeout' | translate }}</label>
      {{ jobSpec.activeDeadlineSeconds | aclFieldNotAvailable }}
      {{ 'second' | translate }}
    </rc-field-set-item>
  </rc-field-set-group>
</aui-section>
<ng-template #job_type_tip>
  <div>{{ 'single_job' | translate }}: {{ 'single_job_tip' | translate }}</div>
  <div>
    {{ 'parallel_job' | translate }}: {{ 'parallel_job_tip' | translate }}
  </div>
  <div>
    {{ 'fixed_number_job' | translate }}:
    {{ 'fixed_number_job_tip' | translate }}
  </div>
</ng-template>
