<form auiForm [formGroup]="form" style="padding-top: 8px;">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'ingress_host' | translate }}</label>
    <div fxLayout="row" style="width: 100%">
      <input
        fxFlex="35%"
        style="margin-right: 8px;"
        aui-input
        auiFormItemControl
        formControlName="subDomain"
        [hidden]="isSubdomainDisabled()"
      />
      <aui-select
        fxFlex="1 0 65%"
        formControlName="domain"
        [filterable]="true"
        [allowCreate]="true"
        [clearable]="true"
      >
        <aui-option
          *ngFor="let item of domains"
          [label]="item.spec.name | pure: getDomainDisplay"
          [value]="item.spec.name"
        >
          {{ item.spec.name }}
        </aui-option>
        <aui-option-placeholder>
          {{ 'no_data' | translate }}
        </aui-option-placeholder>
      </aui-select>
    </div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>HTTPS</label>
    <aui-select formControlName="secretName" filterable clearable>
      <aui-option *ngFor="let item of secrets" [value]="item.metadata.name">
        {{ item.metadata.name }}
      </aui-option>
      <aui-option-placeholder>
        {{ 'no_data' | translate }}
      </aui-option-placeholder>
    </aui-select>
  </aui-form-item>
  <aui-form-item formGroupName="http">
    <label auiFormItemLabel>{{ 'rule' | translate }}</label>
    <rc-ingress-paths-form
      fxFlex
      auiFormItemControl
      [services]="services"
      formControlName="paths"
    ></rc-ingress-paths-form>
  </aui-form-item>
</form>
