<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <div class="rc-secondary-title">
    {{ 'basic_info' | translate }}
  </div>
  <ng-container formGroupName="metadata">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <ng-container auiFormItemControl required>
        <input
          aui-input
          formControlName="name"
          (blur)="onBlur()"
          [rcReadonlyField]="isUpdate"
        />
      </ng-container>
      <rc-errors-mapper
        auiFormItemError
        *ngIf="!isUpdate"
        [errors]="form.get(['metadata', 'name']).errors"
        [errorsMapper]="{ pattern: resourceNamePattern.tip | translate }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item formGroupName="annotations">
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <ng-container auiFormItemControl>
        <input aui-input [formControlName]="displayNameKey" (blur)="onBlur()" />
      </ng-container>
    </aui-form-item>
  </ng-container>

  <aui-form-item formGroupName="spec">
    <label auiFormItemLabel>{{ 'service_replicas' | translate }}</label>
    <ng-container auiFormItemControl required>
      <aui-number-input
        formControlName="replicas"
        [min]="0"
        (blur)="onBlur()"
      ></aui-number-input>
    </ng-container>
  </aui-form-item>

  <rc-foldable-block>
    <ng-container formGroupName="spec">
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'node_anomaly_strategy' | translate }}
        </label>
        <aui-radio-group auiFormItemControl formControlName="forceDeletePod">
          <aui-radio-button [value]="true">
            {{ 'migrate' | translate }}
          </aui-radio-button>
          <aui-radio-button [value]="false">
            {{ 'donot_migrate' | translate }}
          </aui-radio-button>
        </aui-radio-group>
        <span auiFormItemAddon>
          <aui-icon
            [auiTooltip]="'force_delete_pod_tip' | translate"
            icon="basic:question"
            color="#999"
          ></aui-icon>
        </span>
      </aui-form-item>
      <aui-form-item formGroupName="updateStrategy">
        <label auiFormItemLabel>{{ 'update_strategy' | translate }}</label>
        <aui-input-group>
          <span auiInputAddonBefore>
            {{ 'service_max_unavailable' | translate }}
          </span>
          <input
            aui-input
            type="number"
            formControlName="maxUnavailable"
            (blur)="onBlur()"
          />
        </aui-input-group>
      </aui-form-item>
    </ng-container>

    <aui-form-item formGroupName="metadata">
      <label auiFormItemLabel>{{ 'labels' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="labels"
        [validator]="labelValidator"
        [errorMapper]="labelErrorMapper"
      ></rc-key-value-form-table>
    </aui-form-item>
  </rc-foldable-block>

  <ng-container formGroupName="spec">
    <rc-pod-template-form
      formControlName="template"
      [baseParams]="{
        project: project,
        cluster: cluster,
        namespace: namespace
      }"
      [matchLabels]="matchLabels || {}"
      (blur)="onBlur()"
    ></rc-pod-template-form>
  </ng-container>
</form>
