@import 'var';
:host {
  display: block;
  ::ng-deep {
    .aui-table.in-table {
      .aui-table__header-cell,
      .aui-table__cell {
        font-size: 14px;
        line-height: 24px;
        padding: 4px 8px;
      }
      .aui-table__header-cell {
        background-color: #f0f0f0;
        color: $color-text-main;
      }
      .aui-table__cell {
        background-color: #fafafa;
        border-bottom-width: 1px;
      }
    }
  }
}
