<div *ngIf="ingress" class="rc-table-vertical">
  <div *ngIf="showKind" class="rc-table-vertical__row">
    <div>{{ 'resource_type' | translate }}</div>
    <div>
      {{ ingress.kind }}
    </div>
  </div>
  <div class="rc-table-vertical__row">
    <div>{{ 'name' | translate }}</div>
    <div>{{ ingress.metadata.name }}</div>
  </div>
  <div class="rc-table-vertical__row">
    <div>{{ 'rule' | translate }}</div>
    <div>
      <rc-ingress-rules-display
        [inTable]="true"
        [inForm]="true"
        [limit]="null"
        [ingress]="ingress"
      ></rc-ingress-rules-display>
    </div>
  </div>
</div>
