<aui-card [divider]="false">
  <div auiCardHeader fxLayout fxLayoutAlign="end center">
    <aui-search
      [searchButton]="true"
      [keyword]="search$ | async"
      placeholder="{{ 'filter_by_ip_placeholder' | translate }}"
      (search)="onSearch($event)"
    ></aui-search>
  </div>
  <aui-table [dataSource]="list.items$" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="address">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'address' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.spec.ipAddress }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="node">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'node' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.spec.nodeName }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="pod">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'pod' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        {{ rowData.spec.namespace }}/{{ rowData.spec.podName }}
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
