<ng-container *rcPageHeaderContent>
  <aui-breadcrumb>
    <aui-breadcrumb-item>
      <ng-container [ngSwitch]="workloadKind">
        <a
          *ngIf="workloadKind === 'application'"
          href="javascript:;"
          [routerLink]="['/workspace', baseParams, 'app']"
        >
          {{ 'application' | translate }}
        </a>
        <a
          *ngIf="workloadKind !== 'application'"
          href="javascript:;"
          [routerLink]="['/workspace', baseParams, workloadKind]"
        >
          {{ workloadKind | translate }}
        </a>
      </ng-container>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      <a href="javascript:;" (click)="navigateToList()">
        <ng-container *ngIf="workloadKind === 'application'">
          {{ appName }}
        </ng-container>
        <ng-container *ngIf="workloadKind !== 'application'">
          {{ workloadName }}
        </ng-container>
      </a>
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ 'alert' | translate }}
    </aui-breadcrumb-item>
    <aui-breadcrumb-item>
      {{ name | translate }}
    </aui-breadcrumb-item>
  </aui-breadcrumb>
</ng-container>
<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="navigateToList()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-card>
      <div auiCardHeader>
        <span>{{ 'basic_info' | translate }}</span>
        <div fxFlex></div>
        <button aui-button="default" [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <acl-disabled-container [isAllowed]="permissions?.update">
            <aui-menu-item (click)="update(resource)">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="permissions?.delete">
            <aui-menu-item (click)="delete(resource)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </div>
      <rc-field-set-group auiCardContent>
        <rc-field-set-item>
          <label>{{ 'name' | translate }}</label>
          {{ resource.metadata.name }}
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'description' | translate }}</label>
          <span
            [auiTooltip]="resource | aclDescription | aclFieldNotAvailable"
            auiTooltipPosition="top start"
          >
            {{ resource | aclDescription | aclFieldNotAvailable }}
          </span>
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'resource_type' | translate }}</label>
          {{ resource | aclLabel: 'kind':'alert' | translate }}
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'created_time' | translate }}</label>
          {{ resource.metadata.creationTimestamp | rcFormatUtcStr }}
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'resource_name' | translate }}</label>
          {{ resource | aclLabel: 'name':'alert' }}
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'updated_at' | translate }}</label>
          {{ resource | aclUpdatedAt | rcFormatUtcStr }}
        </rc-field-set-item>
      </rc-field-set-group>
    </aui-card>
    <aui-card>
      <div auiCardHeader>
        {{ 'alarm_rule' | translate }}
      </div>
      <rc-alarm-detail-rule-list
        [rules]="resource.spec.groups[0].rules"
        [cluster]="baseParams.cluster"
      ></rc-alarm-detail-rule-list>
    </aui-card>
    <aui-card>
      <div auiCardHeader>
        {{ 'alarm_action' | translate }}
      </div>
      <rc-alarm-action-list
        [notifications]="
          resource
            | aclAnnotation: 'notifications':'alert'
            | pure: parseNotifications
        "
      ></rc-alarm-action-list>
    </aui-card>
  </ng-template>
</acl-page-state>
