@import 'var';
.charts__hint {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    max-width: 560px;
    text-align: center;
    margin: 4px;
    color: $color-text-help;
    button {
      margin-left: 4px;
    }
  }
}
