<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-card>
      <div auiCardHeader fxLayout>
        {{ 'basic_info' | translate }}
        <span fxFlex></span>
        <button aui-button="default" [plain]="true" [auiDropdown]="menu">
          {{ 'action' | translate }}
          <aui-icon icon="angle_down" margin="left"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <acl-disabled-container
            [isAllowed]="permissions.update"
            [isDisabled]="resource | pure: isChartRepoPending"
          >
            <aui-menu-item (click)="update(resource)">
              {{ 'update' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
          <acl-disabled-container [isAllowed]="permissions.delete">
            <aui-menu-item (click)="delete(resource)">
              {{ 'delete' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </div>
      <aui-section>
        <rc-field-set-group>
          <rc-field-set-item>
            <label>{{ 'name' | translate }}</label>
            {{ resource.metadata.name }}
            <rc-chartrepo-status
              *ngIf="resource | pure: shouldShowStatus"
              [status]="resource.status.phase"
            ></rc-chartrepo-status>
          </rc-field-set-item>
          <rc-field-set-item>
            <label>{{ 'description' | translate }}</label>
            {{ resource | aclDisplayName | aclFieldNotAvailable }}
          </rc-field-set-item>
          <rc-field-set-item>
            <label>{{ 'assigned_project' | translate }}</label>
            <span
              *ngIf="
                resource | aclLabel: 'project' as project;
                else notAssigned
              "
            >
              {{
                project === ASSIGN_ALL ? ('all_projects' | translate) : project
              }}
            </span>
          </rc-field-set-item>
          <rc-field-set-item>
            <label>{{ 'last_sync_time' | translate }}</label>
            <ng-container
              *ngIf="
                resource | pure: getLastSyncTime as lastSyncTime;
                else emptySyncTime
              "
            >
              {{ lastSyncTime | rcFormatUtcStr }}
            </ng-container>
            <ng-template #emptySyncTime>-</ng-template>
          </rc-field-set-item>
          <rc-field-set-item>
            <label>{{ 'type' | translate }}</label>
            {{ resource.spec.type || 'Chart' }}
          </rc-field-set-item>
          <rc-field-set-item>
            <label>{{ 'created_time' | translate }}</label>
            {{ resource.metadata.creationTimestamp | rcFormatUtcStr }}
          </rc-field-set-item>
          <rc-field-set-item
            *ngIf="!(resource | pure: isVcs)"
            [allowWrap]="true"
          >
            <label>{{ 'repo_address' | translate }}</label>
            <div>
              {{ resource.spec.url | aclFieldNotAvailable }}
              <button
                *ngIf="resource.spec.url"
                aui-button="text"
                type="button"
                size="mini"
                [auiTooltipCopy]="resource.spec.url"
              >
                <aui-icon icon="copy"></aui-icon>
              </button>
            </div>
          </rc-field-set-item>
        </rc-field-set-group>
      </aui-section>
      <aui-section *ngIf="resource | pure: isVcs">
        <div auiSectionTitle>
          {{ 'code_repository' | translate }}
        </div>
        <rc-field-set-group>
          <rc-field-set-item>
            <label>{{ 'address' | translate }}</label>
            <div>
              {{ resource.spec.source?.url | aclFieldNotAvailable }}
              <button
                *ngIf="resource.spec.source?.url"
                aui-button="text"
                type="button"
                size="mini"
                [auiTooltipCopy]="resource.spec.source?.url"
              >
                <aui-icon icon="copy"></aui-icon>
              </button>
            </div>
          </rc-field-set-item>
          <rc-field-set-item>
            <label>{{ 'directory' | translate }}</label>
            {{ resource.spec.source?.path | aclFieldNotAvailable }}
          </rc-field-set-item>
        </rc-field-set-group>
      </aui-section>
    </aui-card>

    <aui-card>
      <div auiCardHeader fxLayout>
        {{ 'app_template' | translate }}
        <span
          style="margin-left: 4px;"
          *ngIf="totalChart"
          [hidden]="resource | pure: isChartRepoPending"
        >
          ({{ totalChart }})
        </span>
        <span fxFlex></span>
        <acl-disabled-container
          [isAllowed]="permissions.update"
          [isDisabled]="
            retrySubmitting || (resource | pure: isChartRepoPending)
          "
        >
          <button aui-button="primary" [plain]="true" (click)="retry(resource)">
            {{ 'sync_template' | translate }}
          </button>
        </acl-disabled-container>
      </div>
      <div>
        <ng-container [ngSwitch]="resource | pure: getStatus">
          <ng-container *ngSwitchCase="ChartRepoPhaseEnum.Synced">
            <rc-helm-charts
              [labelSelector]="labelSelector"
              (total)="refreshTotalCharts($event)"
            ></rc-helm-charts>
          </ng-container>
          <div *ngSwitchCase="ChartRepoPhaseEnum.Pending" class="charts__hint">
            <ng-container *ngIf="dataManager.loading$ | async">
              <aui-icon icon="spinner" size="24px, 24px"></aui-icon>
            </ng-container>
            <ng-container *ngIf="!(dataManager.loading$ | async)">
              <p>{{ 'chart_sync_pending_hint' | translate }}</p>
            </ng-container>
          </div>
          <div *ngSwitchDefault class="charts__hint">
            <ng-container
              *ngIf="retrySubmitting || (dataManager.loading$ | async)"
            >
              <aui-icon icon="spinner" size="24px, 24px"></aui-icon>
            </ng-container>
            <ng-container
              *ngIf="!retrySubmitting && !(dataManager.loading$ | async)"
            >
              <p>
                {{ 'chart_sync_failed_hint' | translate }}
              </p>
              <p *ngIf="resource | pure: getFailedReason">
                {{ resource | pure: getFailedReason }}
                <button
                  aui-button="text"
                  size="small"
                  (click)="retry(resource)"
                >
                  {{ 'retry' | translate }}
                </button>
              </p>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </aui-card>
  </ng-template>
</acl-page-state>

<ng-template #notAssigned>
  <span>{{ 'not_assigned' | translate }}</span>
</ng-template>
