<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-tab-group [lazy]="true">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <rc-service-detail-info
          *auiTabContent
          [baseParams]="baseParams"
          [service]="resource"
          [permissions]="permissions"
          (update)="dataManager.reload()"
        ></rc-service-detail-info>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="resource"
        ></rc-resource-yaml-display>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'pod' | translate }}
        </ng-container>
        <rc-pod-list
          *auiTabContent
          [baseParams]="baseParams"
          [matchLabels]="resource | pure: getMatchLabels"
          [hideLog]="true"
        ></rc-pod-list>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
