<aui-multi-select
  (blur)="onBlur()"
  [filterable]="true"
  [filterFn]="filterFn"
  [trackFn]="trackFn"
  [loading]="!configMaps || !configMaps"
  [formControl]="form"
>
  <aui-option-group *ngIf="configMaps?.length > 0">
    <div auiOptionGroupTitle>{{ 'configmap' | translate }}</div>
    <aui-option
      *ngFor="let configMap of configMaps"
      [label]="getRefObjLabel(configMap)"
      [value]="getRefObj(configMap)"
    >
      {{ configMap.metadata?.name }}
    </aui-option>
  </aui-option-group>
  <aui-option-group *ngIf="(secrets | pure: getEnvSecrets).length > 0">
    <div auiOptionGroupTitle>{{ 'secret' | translate }}</div>
    <aui-option
      *ngFor="let secret of secrets | pure: getEnvSecrets"
      [label]="getRefObjLabel(secret)"
      [value]="getRefObj(secret)"
    >
      {{ secret.metadata?.name }}
    </aui-option>
  </aui-option-group>
  <aui-option-placeholder>{{ 'no_data' | translate }}</aui-option-placeholder>
</aui-multi-select>
