<acl-page-guard
  [allowed]="isMasterFedContext$ | async"
  [title]="'do_not_support_federation_title' | translate"
  [description]="'do_not_support_federation_description' | translate"
>
  <ng-template aclPageGuardContent>
    <aui-card [divider]="false">
      <div auiCardHeader>
        <acl-disabled-container [isAllowed]="(permissions$ | async).create">
          <button aui-button="primary" (click)="create()">
            {{ 'create_federated_application' | translate }}
          </button>
        </acl-disabled-container>
        <div fxFlex></div>
        <div fxLayout>
          <aui-search
            [searchButton]="true"
            [searching]="list.loading$ | async"
            placeholder="{{ 'search_by_name_placeholder' | translate }}"
            (search)="searchByName($event)"
          ></aui-search>
          <button
            aui-button
            [square]="true"
            [loading]="list.loading$ | async"
            (click)="list.reload()"
          >
            <aui-icon icon="basic:refresh"></aui-icon>
          </button>
        </div>
      </div>

      <aui-table [dataSource]="list.items$ | async" [trackBy]="trackByName">
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let data">
            <a
              [routerLink]="[
                '/workspace',
                baseParams,
                'federated_app',
                'detail',
                data.metadata.name
              ]"
            >
              {{ data.metadata.name }}
            </a>
            <rc-deleting-tag [resource]="data"></rc-deleting-tag>
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="cluster_belonged">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'cluster_belonged' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let data">
            <span>
              {{ data | pure: joinClusters | aclFieldNotAvailable }}
            </span>
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="created_time">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'created_time' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let data">
            <span>{{ data.metadata.creationTimestamp | aclRelativeTime }}</span>
          </aui-table-cell>
        </ng-container>

        <ng-container auiTableColumnDef="action">
          <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let data">
            <button
              aui-button="text"
              [square]="true"
              [plain]="true"
              size="small"
              [auiDropdown]="menu"
              [auiDropdownContext]="{ data: data }"
            >
              <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
            </button>
          </aui-table-cell>
        </ng-container>

        <aui-table-header-row
          *auiTableHeaderRowDef="[
            'name',
            'cluster_belonged',
            'created_time',
            'action'
          ]"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="
            let data;
            columns: ['name', 'cluster_belonged', 'created_time', 'action']
          "
        ></aui-table-row>
      </aui-table>
      <acl-k8s-resource-list-footer
        [list]="list"
      ></acl-k8s-resource-list-footer>
    </aui-card>
  </ng-template>
</acl-page-guard>

<aui-menu #menu>
  <ng-template auiMenuContent let-data="data">
    <acl-disabled-container [isAllowed]="(permissions$ | async).update">
      <aui-menu-item (click)="update(data)">
        {{ 'update' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
      <aui-menu-item (click)="delete(data)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
