<rc-loading-mask [loading]="!initialized"></rc-loading-mask>
<aui-card class="resource-form__card">
  <div auiCardHeader>
    <span *ngIf="!data">{{ 'create_cron_job' | translate }}</span>
    <span *ngIf="data">{{ 'update_cron_job' | translate }}</span>
    <div fxFlex></div>
    <aui-radio-group
      [isPlain]="false"
      (ngModelChange)="formModelChange($event)"
      [(ngModel)]="formModel"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>
  <ng-container *ngIf="formModel == 'UI'">
    <form auiForm [auiFormEmptyAddon]="true" #resourceForm="ngForm">
      <rc-cron-job-form
        name="form"
        [isUpdate]="!!data"
        [project]="baseParams.project"
        [cluster]="baseParams.cluster"
        [namespace]="baseParams.namespace"
        [(ngModel)]="resource"
      ></rc-cron-job-form>
    </form>
  </ng-container>
  <ng-container *ngIf="formModel == 'YAML'">
    <form auiForm #resourceForm="ngForm" class="yaml-form">
      <aui-code-editor
        name="yaml"
        style="width: 100%;"
        required
        [(ngModel)]="yaml"
        [options]="codeEditorOptions"
        [actionsConfig]="actionsConfig"
      ></aui-code-editor>
    </form>
  </ng-container>
</aui-card>
<div class="resource-form__footer" [hidden]="!initialized">
  <div style="flex: 1;"></div>
  <button
    type="button"
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="confirm()"
  >
    <span *ngIf="data">{{ 'update' | translate }}</span>
    <span *ngIf="!data">{{ 'create' | translate }}</span>
  </button>
  <button type="button" aui-button [disabled]="submitting" (click)="cancel()">
    {{ 'cancel' | translate }}
  </button>
</div>
