<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource>
    <rc-federated-app-form-container
      [initResource]="resource"
      [isUpdate]="true"
    ></rc-federated-app-form-container>
  </ng-template>
</acl-page-state>
