<rc-array-form-table resourceName="volume_mount" [rows]="volumeMounts">
  <ng-container *rcArrayFormTableHeader>
    <th>{{ 'volume_name' | translate }}</th>
    <th width="30%">{{ 'sub_path' | translate }}</th>
    <th width="30%">{{ 'mount_path' | translate }}</th>
    <th width="80px">{{ 'readonly' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *rcArrayFormTableRow="let volumeMount; let index = index">
    <td>
      {{ volumeMount.name }}
    </td>

    <td>
      {{ volumeMount.subPath | aclFieldNotAvailable }}
    </td>

    <td>
      {{ volumeMount.mountPath }}
    </td>

    <td>
      {{ (volumeMount.readOnly ? 'yes' : 'no') | translate }}
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRowControl></ng-container>
  <ng-container *rcArrayFormTableFooter></ng-container>

  <!-- 无数据模板 -->
  <ng-container *rcArrayFormTableZeroState>
    <rc-zero-state resourceName="volume_mount"></rc-zero-state>
  </ng-container>
</rc-array-form-table>
