$table-flex-common: 1 0 160px;
$table-flex-wide: 2 0 160px;

aui-paginator {
  margin-bottom: 8px;
}

:host {
  .aui-table {
    &__column-name {
      flex: $table-flex-common;
      a {
        cursor: pointer;
      }
    }
    &__column-workload {
      flex: $table-flex-common;
    }
    &__column-metric {
      flex: $table-flex-wide;
    }
    &__column-status {
      flex: 0 0 100px;
    }
    &__column-action {
      flex: 0 0 80px;
    }
  }
}
