<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <acl-disabled-container [isAllowed]="(permissions$ | async).create">
      <aui-dropdown-button
        *ngIf="listParam.workload_kind !== 'application'"
        [plain]="false"
        type="primary"
        (buttonClick)="createAlarm()"
      >
        {{ 'alarm_create' | translate }}
        <aui-menu>
          <acl-disabled-container [isAllowed]="(permissions$ | async).create">
            <aui-menu-item (click)="createAlarmTemplate()">
              {{ 'create_alarm_from_template' | translate }}
            </aui-menu-item>
          </acl-disabled-container>
        </aui-menu>
      </aui-dropdown-button>
    </acl-disabled-container>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [keyword]="searchKey$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
  </div>

  <aui-table [dataSource]="list.items$" [trackBy]="trackByFn">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <div>
          <a (click)="alarmDetail(item)">{{ item.metadata.name }}</a>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="workload">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'workload' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          href="javascript:;"
          (click)="workloadDetail(item)"
          [auiTooltip]="item | aclLabel: 'name':'alert'"
          auiTooltipPosition="top start"
        >
          {{ item | aclLabel: 'name':'alert' }}
        </a>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-alarm-status-bar
          [rules]="item.spec.groups[0].rules"
          [alarmState]="alertState"
          [metricType]="metricType"
        ></rc-alarm-status-bar>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="notification">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'alarm_rules_action' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <rc-tags-label
          [tagList]="
            item
              | aclAnnotation: 'notifications':'alert'
              | pure: parseNotifications
          "
        ></rc-tags-label>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="description">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'description' | translate }}
      </aui-table-header-cell>
      <aui-table-cell
        *auiTableCellDef="let item"
        [auiTooltip]="item | aclDescription | aclFieldNotAvailable"
        auiTooltipPosition="top start"
      >
        {{ item | aclDescription | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <button
          aui-button="text"
          size="small"
          [square]="true"
          [plain]="true"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ item: item }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
        <aui-menu #menu size="small">
          <ng-template auiMenuContent let-item="item">
            <acl-disabled-container [isAllowed]="(permissions$ | async).update">
              <aui-menu-item (click)="updateAlarm(item)">
                {{ 'update' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
              <aui-menu-item (click)="deleteAlarm(item)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </ng-template>
        </aui-menu>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>
