<aui-dialog-header>
  {{ (dialogData.volume ? 'update_volume' : 'add_volume') | translate }}
</aui-dialog-header>

<aui-dialog-content>
  <form
    [formGroup]="form"
    auiForm
    auiFormLabelWidth="150px"
    [auiFormEmptyAddon]="true"
  >
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input auiFormItemControl aui-input required formControlName="name" />
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get('name').errors"
        [errorsMapper]="{
          pattern: K8S_RESOURCE_NAME_BASE.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'type' | translate }}</label>

      <aui-radio-group formControlName="type">
        <aui-radio-button
          *ngFor="let volumeType of volumeTypes"
          [value]="volumeType"
        >
          {{ volumeType | pure: getVolumeTypeTranslateKey | translate }}
        </aui-radio-button>
      </aui-radio-group>
    </aui-form-item>

    <!-- Volume source forms -->
    <!-- persistentVolumeClaim -->
    <div
      [formGroup]="attributeForms.get('persistentVolumeClaim')"
      [hidden]="type !== 'persistentVolumeClaim'"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'persistentvolumeclaim' | translate }}
        </label>

        <aui-select
          required
          auiFormItemControl
          [loading]="!(pvcNames$ | async)"
          formControlName="claimName"
        >
          <aui-option
            *ngFor="let pvc of pvcNames$ | async"
            [value]="pvc"
            [disabled]="isPvcOptionDisabled(pvc)"
          >
            {{ pvc }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
        <rc-errors-mapper
          auiFormItemError
          [errors]="
            attributeForms.get('persistentVolumeClaim.claimName').errors
          "
        ></rc-errors-mapper>
      </aui-form-item>
    </div>

    <!-- host path -->
    <div
      [formGroup]="attributeForms.get('hostPath')"
      [hidden]="type !== 'hostPath'"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'host_path' | translate }}
        </label>

        <input auiFormItemControl aui-input formControlName="path" />
      </aui-form-item>
    </div>

    <!-- configMap -->
    <div
      [formGroup]="attributeForms.get('configMap')"
      [hidden]="type !== 'configMap'"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'configmap' | translate }}
        </label>

        <aui-select
          required
          [loading]="!(configMaps$ | async)"
          [filterable]="true"
          [allowCreate]="true"
          auiFormItemControl
          formControlName="name"
        >
          <aui-option
            *ngFor="let configMap of configMaps$ | async"
            [value]="configMap.metadata.name"
          >
            {{ configMap.metadata.name }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
        <rc-errors-mapper
          auiFormItemError
          [errors]="attributeForms.get('configMap.name').errors"
        ></rc-errors-mapper>
      </aui-form-item>
    </div>

    <!-- secret -->
    <div
      [formGroup]="attributeForms.get('secret')"
      [hidden]="type !== 'secret'"
    >
      <aui-form-item>
        <label auiFormItemLabel>
          {{ 'secret' | translate }}
        </label>

        <aui-select
          required
          [filterable]="true"
          [allowCreate]="true"
          [loading]="!(secrets$ | async)"
          auiFormItemControl
          formControlName="secretName"
        >
          <aui-option
            *ngFor="let secret of secrets$ | async"
            [value]="secret.metadata.name"
          >
            {{ secret.metadata.name }}
          </aui-option>
          <aui-option-placeholder>
            {{ 'no_data' | translate }}
          </aui-option-placeholder>
        </aui-select>
      </aui-form-item>
    </div>

    <div [hidden]="type !== 'emptyDir'">
      <!-- Nothing here -->
    </div>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <div>
    <button
      aui-button="primary"
      [disabled]="confirmDisabled"
      (click)="onConfirm()"
    >
      {{ 'confirm' | translate }}
    </button>
    <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
  </div>
</aui-dialog-footer>
