<form [formGroup]="form" auiForm [auiFormEmptyAddon]="true">
  <ng-container formGroupName="metadata">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <ng-container auiFormItemControl required>
        <input
          *ngIf="!isUpdate"
          aui-input
          name="name"
          formControlName="name"
          (blur)="onBlur()"
        />
        <span *ngIf="isUpdate">
          {{ form.get('metadata')?.get('name')?.value }}
        </span>
      </ng-container>
      <rc-errors-mapper
        auiFormItemError
        *ngIf="!isUpdate"
        [errors]="form.get(['metadata', 'name']).errors"
        [errorsMapper]="{
          pattern: resourceNamePattern.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>
    <aui-form-item formGroupName="annotations">
      <label auiFormItemLabel>{{ 'description' | translate }}</label>
      <textarea
        auiFormItemControl
        aui-input
        name="description"
        [formControlName]="descriptionKey"
        (blur)="onBlur()"
      ></textarea>
    </aui-form-item>
  </ng-container>
  <aui-form-item>
    <label auiFormItemLabel>
      {{ 'config_items' | translate }}
    </label>
    <rc-config-items-fieldset
      name="configItems"
      formControlName="data"
    ></rc-config-items-fieldset>
    <span auiFormItemAddon>
      <aui-icon
        [auiTooltip]="configItemsHint"
        icon="basic:question"
        color="#999"
      ></aui-icon>
      <ng-template #configItemsHint>
        <div>
          {{ 'config_items_hint_1' | translate }}
        </div>
        <div>
          {{ 'config_items_hint_2' | translate }}
        </div>
      </ng-template>
    </span>
  </aui-form-item>
</form>
