<div *ngIf="service" class="rc-table-vertical">
  <div *ngIf="showKind" class="rc-table-vertical__row">
    <div>{{ 'resource_type' | translate }}</div>
    <div>
      {{ service.kind }}
    </div>
  </div>
  <div class="rc-table-vertical__row">
    <div>{{ 'name' | translate }}</div>
    <div>{{ service.metadata.name }}</div>
  </div>
  <div *ngIf="podControllerName" class="rc-table-vertical__row">
    <div>{{ 'workload' | translate }}</div>
    <div>{{ podControllerName }}</div>
  </div>
  <div class="rc-table-vertical__row">
    <div>{{ 'virtual_ip' | translate }}</div>
    <div>
      {{ (service?.spec.clusterIP === 'None' ? 'no' : 'yes') | translate }}
    </div>
  </div>
  <div class="rc-table-vertical__row">
    <div>{{ 'internet_access' | translate }}</div>
    <div>
      {{ (service?.spec.type === 'NodePort' ? 'yes' : 'no') | translate }}
    </div>
  </div>
  <div class="rc-table-vertical__row">
    <div>{{ 'session_affinity' | translate }}</div>
    <div>
      {{
        (service?.spec.sessionAffinity === 'ClientIP' ? 'yes' : 'no')
          | translate
      }}
    </div>
  </div>
  <div class="rc-table-vertical__row">
    <div>{{ 'ports' | translate }}</div>
    <div>
      <div *ngIf="!service.spec.ports.length">
        {{
          'zero_state_hint' | translate: { resourceName: 'ports' | translate }
        }}
      </div>
      <table *ngIf="service.spec.ports.length" class="rc-array-form-table">
        <thead>
          <tr>
            <td [width]="width">{{ 'port_name' | translate }}</td>
            <td [width]="width">{{ 'protocol' | translate }}</td>
            <td [width]="width">{{ 'service_port' | translate }}</td>
            <td [width]="width">{{ 'container_port' | translate }}</td>
            <td *ngIf="isNodePort" [width]="width">
              {{ 'node_port' | translate }}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let port of service.spec.ports"
            class="rc-array-form-table--row-group-start"
          >
            <td>{{ port.name | aclFieldNotAvailable }}</td>
            <td>{{ getServiceProtocolDisplay(port) }}</td>
            <td>{{ port.port }}</td>
            <td>{{ port.targetPort | aclFieldNotAvailable }}</td>
            <td *ngIf="isNodePort">
              {{ port.nodePort || ('auto_assigned' | translate) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
