<rc-loading-mask [loading]="chartLoading"></rc-loading-mask>
<div class="chart" [hidden]="chartLoading">
  <highcharts-chart
    *ngIf="chartPercentOptions.series && chartPercentOptions.series.length"
    [Highcharts]="Highcharts"
    [options]="chartPercentOptions"
  ></highcharts-chart>
  <highcharts-chart
    *ngIf="chartNumericOptions.series && chartNumericOptions.series.length"
    [Highcharts]="Highcharts"
    [options]="chartNumericOptions"
  ></highcharts-chart>
  <rc-zero-state
    [zeroState]="
      !chartPercentOptions.series?.length &&
      !chartNumericOptions.series?.length &&
      !chartLoading
    "
  ></rc-zero-state>
</div>
