<aui-dialog-header>
  <aui-icon
    icon="exclamation_triangle_s"
    class="warning-icon"
    margin="right"
  ></aui-icon>
  <span>
    {{ 'delete' | translate }}
  </span>
</aui-dialog-header>
<aui-dialog-content>
  <div *ngIf="loading">
    <aui-icon icon="spinner" margin="right"></aui-icon>
    <span>{{ 'searching_references' | translate }}</span>
  </div>
  <ng-container *ngIf="!loading">
    <ng-container *ngIf="!refs || !refs.length">
      <div>
        {{
          'delete_confirm_resource'
            | translate
              : {
                  name: resource | aclName,
                  type: resource.kind.toLowerCase() | translate
                }
        }}
      </div>
    </ng-container>
    <ng-container *ngIf="refs && refs.length">
      <div style="margin-bottom: 16px;">
        {{
          'resource_has_been_referenced'
            | translate
              : {
                  name: resource | aclName,
                  kind: resource.kind.toLowerCase() | translate
                }
        }}
      </div>
      <aui-table [dataSource]="refs">
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item | aclName }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="kind">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'type' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.kind }}
          </aui-table-cell>
        </ng-container>

        <aui-table-header-row
          *auiTableHeaderRowDef="['name', 'kind']"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: ['name', 'kind']"
        ></aui-table-row>
      </aui-table>
    </ng-container>
  </ng-container>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="danger"
    [disabled]="loading"
    [loading]="loading"
    (click)="delete()"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button auiDialogClose>
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
