<div class="rc-table-vertical">
  <div class="rc-table-vertical__row">
    <div>{{ 'resource_type' | translate }}</div>
    <div>
      {{ data.kind }}
    </div>
  </div>
  <div class="rc-table-vertical__row">
    <div>{{ 'name' | translate }}</div>
    <div>{{ data.metadata.name }}</div>
  </div>
  <div *ngIf="shouldShowReplicas" class="rc-table-vertical__row">
    <div>{{ 'service_replicas' | translate }}</div>
    <div>{{ getReplicas() | aclFieldNotAvailable }}</div>
  </div>
  <div class="rc-table-vertical__row">
    <div>{{ 'container' | translate }}</div>
    <div>
      <table class="rc-array-form-table">
        <thead>
          <tr>
            <td style="width: 240px">
              {{ 'name' | translate }}
            </td>
            <td>{{ 'image' | translate }}</td>
            <td style="width: 180px;">
              {{ 'resource_size' | translate }}
            </td>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let container of data.spec.template.spec.containers;
              let i = index
            "
          >
            <td>{{ container.name }}</td>
            <td>{{ container.image }}</td>
            <td>
              <div class="container-size">
                <div>
                  <span>{{ 'cpu' | translate }}:</span>
                  <span>
                    {{ getContainerSize(container).cpu }}
                  </span>
                  <span>;</span>
                  <span>{{ 'memory' | translate }}:</span>
                  <span>
                    {{ getContainerSize(container).memory }}
                  </span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
