<aui-breadcrumb>
  <aui-breadcrumb-item
    *ngFor="let partial of partials$ | async; last as isLast"
  >
    <a
      *ngIf="partial.href && !isLast; else notHrefItem"
      [routerLink]="partial.href"
    >
      {{ partial.label }}
    </a>
    <ng-template #notHrefItem>
      <span>
        {{ partial.label }}
      </span>
    </ng-template>
  </aui-breadcrumb-item>
</aui-breadcrumb>
