@import 'var';

:host {
  display: block;
  .aui-table {
    &__column-name {
      flex: 1 1 180px;
    }
    &__column-node_name {
      flex: 0 1 120px;
    }
    &__column-status {
      flex: 1 1 240px;
    }
    &__column-restart_count {
      flex: 0 1 110px;
    }
    &__column-pod_ip {
      flex: 0 1 144px;
    }
    &__column-namespace {
      flex: 0 1 150px;
    }
    &__column-created_time {
      flex: 0 0 98px;
    }
    &__column-resource_limit {
      flex: 0 1 130px;
    }
    &__column-action {
      flex: 0 0 44px;
      justify-content: flex-end;
    }
  }
}
