<aui-card [divider]="false">
  <div auiCardHeader fxLayout="row">
    <span *ngIf="showTitle">{{ 'pod' | translate }}</span>
    <span fxFlex></span>
    <div fxLayout>
      <aui-search
        [searchButton]="true"
        [searching]="list.loading$ | async"
        placeholder="{{ 'search_by_name_placeholder' | translate }}"
        (search)="searchByName($event)"
      ></aui-search>
      <button
        aui-button
        [square]="true"
        [loading]="list.loading$ | async"
        [disabled]="list.loading$ | async"
        (click)="list.reload()"
      >
        <aui-icon icon="basic:refresh"></aui-icon>
      </button>
    </div>
  </div>
  <aui-table [dataSource]="list.items$">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let pod">
        <a
          *ngIf="!isAdmin; else viewYaml"
          [routerLink]="[
            '/workspace',
            baseParams,
            'pod',
            'detail',
            pod.metadata.name
          ]"
          [auiTooltip]="pod | aclName"
          auiTooltipType="info"
        >
          {{ pod | aclName }}
        </a>
        <ng-template #viewYaml>
          <a
            href="javascript:;"
            [auiTooltip]="pod | aclName"
            auiTooltipType="info"
            (click)="viewResource(pod, yamlViewDialog)"
          >
            {{ pod | aclName }}
          </a>
        </ng-template>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="image">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'image' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let pod">
        <rc-pod-images [pod]="pod"></rc-pod-images>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let pod">
        <rc-pod-status [pod]="pod"></rc-pod-status>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="resource_limit">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'resource_limit' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let pod">
        <ng-container
          [ngTemplateOutlet]="resourceLimit"
          [ngTemplateOutletContext]="{
            $implicit: pod | pure: getPodResourceLimit
          }"
        ></ng-container>
        <ng-template #resourceLimit let-podLimit>
          <div fxLayout="column" fxLayoutGap="8px">
            <rc-resource-label
              [rawValue]="podLimit.cpu"
              type="cpu"
            ></rc-resource-label>
            <rc-resource-label
              [rawValue]="podLimit.memory"
              type="memory"
            ></rc-resource-label>
          </div>
        </ng-template>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="restart_count">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'restart_count' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let pod">
        {{
          pod.status | pure: getContainerRestartCountAcc | aclFieldNotAvailable
        }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="namespace">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'namespace' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let pod">
        {{ pod.metadata.namespace }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="pod_ip">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'pod_ip' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let pod">
        {{ pod.status.podIP | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="node_name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'node_name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let pod">
        {{ pod.spec?.nodeName | aclFieldNotAvailable }}
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let pod">
        <rc-relative-time
          [time]="pod.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>

    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let pod">
        <button
          aui-button="text"
          [plain]="true"
          [square]="true"
          size="small"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ pod: pod }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<aui-menu #menu size="small">
  <ng-container *auiMenuContent="let pod = pod">
    <aui-submenu *ngIf="!hideLog">
      {{ 'view_logs' | translate }}
      <aui-menu-item
        *ngFor="let container of pod.spec?.containers"
        (click)="viewLog(pod, container)"
      >
        {{ container.name }}
      </aui-menu-item>
    </aui-submenu>
    <acl-disabled-container [isAllowed]="(execPermissions$ | async).create">
      <aui-submenu>
        EXEC
        <aui-menu-item
          *ngFor="let container of pod.spec?.containers"
          [disabled]="
            !(execPermissions$ | async).create ||
            !(container | pure: canExec:pod)
          "
          (click)="onExec(pod, container)"
        >
          {{ container.name }}
        </aui-menu-item>
      </aui-submenu>
    </acl-disabled-container>
    <acl-disabled-container *ngIf="tappFeatures" [isAllowed]="allowUpdateTapp">
      <aui-menu-item (click)="tappBlueGreen(pod)">
        {{ 'blue_green' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
      <aui-menu-item (click)="delete(pod)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container *ngIf="tappFeatures" [isAllowed]="allowUpdateTapp">
      <aui-menu-item (click)="killTappPod(pod)">
        {{ 'forbid' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-container>
</aui-menu>

<ng-template #yamlViewDialog let-data>
  <aui-dialog-header>
    {{ data?.name }} {{ 'detail' | translate }}
  </aui-dialog-header>

  <aui-dialog-content>
    <aui-code-editor
      [actionsConfig]="editorActions"
      [options]="editorOptions"
      [(ngModel)]="yamlInputValue"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>
