<aui-dialog-header>
  {{ 'deploy_nfs_provisioner' | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form #form="ngForm" auiForm auiFormLabelPosition="right">
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'server_address' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        required
        name="address"
        [(ngModel)]="address"
        rcErrorsMapper
        [rcErrorsMapperOutlet]="addressError"
      />
      <div auiFormItemError #addressError></div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'path' | translate }}
      </label>
      <input
        auiFormItemControl
        aui-input
        required
        name="path"
        [(ngModel)]="path"
        rcErrorsMapper
        [rcErrorsMapperOutlet]="pathError"
      />
      <div auiFormItemError #pathError></div>
    </aui-form-item>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="submit()">
    {{ 'deploy' | translate }}
  </button>
  <button aui-button (click)="close.next()">
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
