<aui-dialog-header>
  {{ (type === 'secret' ? 'add_secret' : 'add_configmap') | translate }}
</aui-dialog-header>
<aui-dialog-content>
  <form *ngIf="resource" #resourceForm="ngForm">
    <rc-configmap-form
      *ngIf="type === 'configmap'"
      name="resource"
      [(ngModel)]="resource"
    ></rc-configmap-form>
    <rc-configsecret-form
      *ngIf="type === 'secret'"
      name="resource"
      [(ngModel)]="resource"
    ></rc-configsecret-form>
  </form>
</aui-dialog-content>
<aui-dialog-footer>
  <button aui-button="primary" (click)="confirm()">
    {{ 'confirm' | translate }}
  </button>
  <button aui-button auiDialogClose>{{ 'cancel' | translate }}</button>
</aui-dialog-footer>
