@import 'var';
.protocol-label-option > span {
  &:after {
    content: ':';
  }

  color: $color-text-help;
  font-size: 12px;
  margin-right: 6px;
}

.aui-table__column {
  &-type {
    flex: 0 0 100px;
  }
  &-source_mode {
    flex: 0 0 150px;
  }
  &-destination {
    flex-grow: 2;
  }
}
