<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-data="resource">
    <aui-tab-group type="line">
      <aui-tab>
        <ng-container *auiTabLabel>
          {{ 'detail_info' | translate }}
        </ng-container>
        <ng-container *auiTabContent>
          <aui-card>
            <div auiCardHeader>
              <h3>{{ data.metadata.name }}</h3>
            </div>
            <aui-section>
              <div auiSectionTitle>
                {{ 'basic_info' | translate }}
              </div>
              <rc-field-set-column-group auiCardContent>
                <rc-field-set-column>
                  <rc-field-set-item>
                    <label>{{ 'schedule_time' | translate }}</label>
                    {{
                      data.status.startTime
                        | rcFormatUtcStr
                        | aclFieldNotAvailable
                    }}
                  </rc-field-set-item>

                  <rc-field-set-item>
                    <label>{{ 'schedule_status' | translate }}</label>
                    <rc-trace-job-status
                      [status]="data.status.phase"
                    ></rc-trace-job-status>
                  </rc-field-set-item>

                  <rc-field-set-item
                    [allowWrap]="true"
                    fxLayoutAlign="start start"
                  >
                    <label>{{ 'reason' | translate }}</label>
                    {{ data.status.reason | aclFieldNotAvailable }}
                  </rc-field-set-item>
                </rc-field-set-column>

                <rc-field-set-column>
                  <rc-field-set-item>
                    <label>{{ 'complete_time' | translate }}</label>
                    {{
                      data.status.finishTime
                        | rcFormatUtcStr
                        | aclFieldNotAvailable
                    }}
                  </rc-field-set-item>

                  <rc-field-set-item>
                    <label>{{ 'created_time' | translate }}</label>
                    <span>
                      {{ data | aclCreationTimestamp | aclStandardTime }}
                    </span>
                  </rc-field-set-item>
                </rc-field-set-column>
              </rc-field-set-column-group>
            </aui-section>
          </aui-card>
          <aui-card [divider]="false">
            <div auiCardHeader>
              <h3>{{ 'detail_result' | translate }}</h3>
              <div fxFlex></div>
              <div [style.font-size]="'14px'" fxLayout>
                <aui-select
                  [(ngModel)]="filterObj.protocol"
                  (ngModelChange)="selectType($event)"
                  [style.margin-right]="'16px'"
                >
                  <aui-option
                    [value]="null"
                    [label]="optionLabel"
                    [labelContext]="{ data: 'all' | translate }"
                  >
                    {{ 'all' | translate }}
                  </aui-option>
                  <aui-option-group>
                    <ng-container *ngFor="let item of protocols">
                      <aui-option
                        [value]="item"
                        [label]="optionLabel"
                        [labelContext]="{ data: item }"
                      >
                        {{ item }}
                      </aui-option>
                    </ng-container>
                  </aui-option-group>
                  <aui-option-placeholder>
                    {{ 'no_data' | translate }}
                  </aui-option-placeholder>

                  <ng-template #optionLabel let-data="data">
                    <div class="protocol-label-option">
                      <span>{{ 'type' | translate }}</span>
                      {{ data }}
                    </div>
                  </ng-template>
                </aui-select>

                <aui-checkbox
                  [(ngModel)]="filterObj.onlyFailed"
                  (ngModelChange)="showFail($event)"
                >
                  {{ 'only_show_fail' | translate }}
                </aui-checkbox>
              </div>
            </div>
            <div fxLayout="column" fxFlex>
              <div style="min-width: 100%;" fxLayout></div>
              <aui-table
                [dataSource]="
                  reportFilter$ | async | pure: filterFn:data.status.detail
                "
              >
                <ng-container auiTableColumnDef="source_pod_ip">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'source_pod_ip' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    {{ item.source?.ip | aclFieldNotAvailable }}
                  </aui-table-cell>
                </ng-container>

                <ng-container auiTableColumnDef="source_node">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'source_node' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    {{ item.source?.nodeName | aclFieldNotAvailable }}
                  </aui-table-cell>
                </ng-container>

                <ng-container auiTableColumnDef="source_mode">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'source_mode' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    {{ item.source?.networkMode | aclFieldNotAvailable }}
                  </aui-table-cell>
                </ng-container>

                <ng-container auiTableColumnDef="type">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'type' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    {{ item.protocol | aclFieldNotAvailable }}
                  </aui-table-cell>
                </ng-container>

                <ng-container auiTableColumnDef="destination">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'destination' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    <span
                      [auiTooltip]="item | pure: getProbeValue"
                      auiTooltipType="info"
                      [auiTooltipDisabled]="!(item | pure: getProbeValue)"
                    >
                      {{ item | pure: getProbeValue | aclFieldNotAvailable }}
                    </span>
                  </aui-table-cell>
                </ng-container>

                <ng-container auiTableColumnDef="result">
                  <aui-table-header-cell *auiTableHeaderCellDef>
                    {{ 'result' | translate }}
                  </aui-table-header-cell>
                  <aui-table-cell *auiTableCellDef="let item">
                    <rc-trace-job-status
                      [status]="item.result ? 'Success' : 'Failed'"
                      [reason]="item.reason"
                    ></rc-trace-job-status>
                  </aui-table-cell>
                </ng-container>

                <aui-table-header-row
                  *auiTableHeaderRowDef="detailColumns"
                ></aui-table-header-row>
                <aui-table-row
                  *auiTableRowDef="let row; columns: detailColumns"
                ></aui-table-row>
              </aui-table>
            </div>
          </aui-card>
        </ng-container>
      </aui-tab>
      <aui-tab>
        <ng-container *auiTabLabel>
          YAML
        </ng-container>
        <rc-resource-yaml-display
          *auiTabContent
          [resource]="data"
        ></rc-resource-yaml-display>
      </aui-tab>
    </aui-tab-group>
  </ng-template>
</acl-page-state>
