<rc-array-form-table
  resourceName="environment_variable"
  [noRowSeparator]="true"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (remove)="remove($event)"
  [rows]="form.controls"
>
  <ng-container *rcArrayFormTableHeader>
    <th width="33%">{{ 'key' | translate }}</th>
    <th width="66%" colspan="2">{{ 'value' | translate }}</th>
  </ng-container>

  <!-- Input row -->
  <ng-container *rcArrayFormTableRow="let control" [formGroup]="control">
    <td>
      <input
        (blur)="onBlur()"
        placeholder="{{ 'key' | translate }}"
        aui-input
        formControlName="name"
      />
      <!-- <aui-icon icon="basic:question_circle_s"
                [auiTooltip]="'pod_spec_form.env_name_help_info' | translate"></aui-icon> -->
    </td>

    <ng-container [ngSwitch]="envVarViewMode(control.value)">
      <!-- Value only mode -->
      <td colspan="2" *ngSwitchCase="'value'">
        <input
          (blur)="onBlur()"
          aui-input
          placeholder="{{ 'value' | translate }}"
          formControlName="value"
        />
      </td>

      <!-- valueFrom (ref key) mode -->
      <ng-container *ngSwitchCase="'valueFrom'">
        <td>
          <aui-select
            (blur)="onBlur()"
            auiFormItemControl
            [filterable]="true"
            [filterFn]="filterFn"
            [trackFn]="trackFn"
            [loading]="!configMaps || !secrets"
            [placeholder]="'ref_obj' | translate"
            (ngModelChange)="valueFromChange(control)"
            formControlName="refObj"
          >
            <aui-option [label]="'fieldRef'" [value]="{ name: 'fieldRef' }">
              fieldRef
            </aui-option>
            <aui-option
              [label]="'resourceFieldRef'"
              [value]="{ name: 'resourceFieldRef' }"
            >
              resourceFieldRef
            </aui-option>

            <aui-option-group *ngIf="configMaps?.length > 0">
              <div auiOptionGroupTitle>{{ 'configmap' | translate }}</div>
              <aui-option
                *ngFor="let configMap of configMaps"
                [label]="getRefObjLabel(configMap)"
                [value]="getRefObj(configMap)"
              >
                {{ configMap.metadata?.name }}
              </aui-option>
            </aui-option-group>
            <aui-option-group
              *ngIf="(secrets | pure: getEnvSecrets).length > 0"
            >
              <div auiOptionGroupTitle>{{ 'secret' | translate }}</div>
              <aui-option
                *ngFor="let secret of secrets | pure: getEnvSecrets"
                [label]="getRefObjLabel(secret)"
                [value]="getRefObj(secret)"
              >
                {{ secret.metadata?.name }}
              </aui-option>
            </aui-option-group>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
        </td>
        <td>
          <aui-select
            (blur)="onBlur()"
            auiFormItemControl
            [filterable]="true"
            [placeholder]="'ref_field' | translate"
            formControlName="refObjKey"
          >
            <aui-option
              *ngFor="let key of getRefObjKeys(control) | async"
              [value]="key"
            >
              {{ key }}
            </aui-option>
            <aui-option-placeholder>
              {{ 'no_data' | translate }}
            </aui-option-placeholder>
          </aui-select>
        </td>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Input error row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td *ngIf="control.errors" colspan="4" class="rc-table-form-error-hint">
      {{ control.errors | pure: getRowErrorMessage }}
    </td>
  </ng-container>

  <!-- Row controls -->
  <ng-container *rcArrayFormTableFooter>
    <button
      aui-button="primary"
      type="button"
      size="mini"
      [plain]="true"
      (click)="add(length, false)"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add' | translate }}
    </button>
    <button
      aui-button
      type="button"
      size="mini"
      [plain]="true"
      (click)="add(length, true)"
    >
      <aui-icon icon="basic:add_circle"></aui-icon>
      {{ 'add_reference' | translate }}
    </button>
  </ng-container>
</rc-array-form-table>
