<aui-card class="resource-form__card">
  <div auiCardHeader>
    {{ 'create_pod_security_policy' | translate }}
  </div>
  <form #ngForm="ngForm">
    <rc-psp-form name="policy" [(ngModel)]="model"></rc-psp-form>
  </form>
</aui-card>

<div class="resource-form__footer">
  <span fxFlex></span>
  <button
    aui-button="primary"
    (click)="submit()"
    [loading]="submitting"
    [disabled]="submitting"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
</div>
