<form auiForm [formGroup]="form" [auiFormEmptyAddon]="true">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      auiFormItemControl
      aui-input
      required
      formControlName="name"
      [placeholder]="resourceNamePattern.tip | translate"
    />
    <rc-errors-mapper
      auiFormItemError
      [errors]="form.get('name').errors"
      [errorsMapper]="{
        pattern: resourceNamePattern.tip | translate,
        name_existed: 'name_existed' | translate
      }"
    ></rc-errors-mapper>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'image_address' | translate }}</label>
    <input
      readonly
      auiFormItemControl
      aui-input
      required
      formControlName="image"
    />
    <button
      aui-button
      (click)="selectImage()"
      type="button"
      style="margin-left: 8px;"
    >
      {{ 'select_image' | translate }}
    </button>
  </aui-form-item>

  <aui-form-item [emptyAddon]="false">
    <label auiFormItemLabel>{{ 'resource_requirements' | translate }}</label>
    <rc-resources-form
      required
      auiFormItemControl
      [cluster]="baseParams.cluster"
      [namespace]="baseParams.namespace"
      formControlName="resources"
    ></rc-resources-form>
  </aui-form-item>

  <rc-foldable-block>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'cmd' | translate }}</label>
      <rc-string-array-form-table
        [validators]="getRequiredValidator()"
        resourceName="cmd"
        formControlName="command"
      ></rc-string-array-form-table>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'args' | translate }}</label>
      <rc-string-array-form-table
        [validators]="getRequiredValidator()"
        resourceName="args"
        formControlName="args"
      ></rc-string-array-form-table>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'environment_variable' | translate }}</label>
      <rc-env-form
        formControlName="env"
        [baseParams]="baseParams"
        [configMaps]="configMaps$ | async"
        [secrets]="secrets$ | async"
      ></rc-env-form>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'env_from' | translate }}</label>
      <rc-env-from-form
        formControlName="envFrom"
        [baseParams]="baseParams"
        [configMaps]="configMaps$ | async"
        [secrets]="secrets$ | async"
      ></rc-env-from-form>
    </aui-form-item>

    <aui-form-item
      rcContainerFormHiddenField="health_check"
      *ngIf="!isInitContainer"
    >
      <label auiFormItemLabel>{{ 'health_check' | translate }}</label>
      <rc-healthcheck-form formControlName="probes"></rc-healthcheck-form>
    </aui-form-item>

    <aui-form-item rcContainerFormHiddenField="volume_mount">
      <label auiFormItemLabel>{{ 'volume_mount' | translate }}</label>
      <rc-volume-mounts-form
        [cluster]="baseParams.cluster"
        [namespace]="baseParams.namespace"
        formControlName="volumeMounts"
        [volumesForm]="volumesForm"
      ></rc-volume-mounts-form>
    </aui-form-item>

    <aui-form-item class="aui-form__addon--top">
      <label auiFormItemLabel>{{ 'port' | translate }}</label>
      <rc-port-mapping-form
        auiFormItemControl
        formControlName="ports"
        [hostNetwork]="hostNetwork"
      ></rc-port-mapping-form>

      <span auiFormItemAddon>
        <aui-icon
          [auiTooltip]="'port_mapping_with_host_tip' | translate"
          icon="basic:question"
          color="#999"
        ></aui-icon>
      </span>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'log_path' | translate }}</label>
      <rc-string-array-form-table
        [validators]="getRequiredValidator()"
        resourceName="log_path"
        formControlName="logPaths"
      ></rc-string-array-form-table>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'exclude_log_path' | translate }}</label>
      <rc-string-array-form-table
        [validators]="getRequiredValidator()"
        resourceName="exclude_log_path"
        formControlName="excludeLogPaths"
      ></rc-string-array-form-table>
    </aui-form-item>
  </rc-foldable-block>
  <!-- <pre>container form: {{form.status}}</pre> -->
</form>
