<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template
    let-resource="resource"
    let-readme="readme"
    let-chart="chart"
    let-allowCreate="allowCreate"
  >
    <aui-card>
      <div auiCardHeader>
        {{ resource | pure: getChartName }}
        <span fxFlex></span>
        <acl-disabled-container
          *ngIf="!(chart | pure: getChartAppName)"
          [isAllowed]="allowCreate"
        >
          <button
            aui-button="primary"
            [plain]="true"
            (click)="createHelmRequest(resource)"
          >
            {{ 'deploy' | translate }}
          </button>
        </acl-disabled-container>
      </div>
      <aui-section>
        <rc-field-set-group auiCardContent>
          <rc-field-set-item>
            <label>{{ 'repo_name' | translate }}</label>
            {{ resource | pure: getChartRepo | aclFieldNotAvailable }}
          </rc-field-set-item>
          <rc-field-set-item>
            <label>{{ 'template_version' | translate }}</label>
            {{ resource | pure: getChartLatestVersion | aclFieldNotAvailable }}
          </rc-field-set-item>
        </rc-field-set-group>
      </aui-section>
      <aui-section>
        <rc-field-set-group auiCardContent>
          <rc-field-set-item [allowWrap]="true">
            <label>{{ 'description' | translate }}</label>
            {{ resource | pure: getDescription | aclFieldNotAvailable }}
          </rc-field-set-item>
        </rc-field-set-group>
      </aui-section>
    </aui-card>

    <aui-card *ngIf="readme">
      <div auiCardHeader>{{ 'detail_info' | translate }}</div>
      <!-- 'markdown-body' refers to https://github.com/sindresorhus/github-markdown-css#readme -->
      <div [innerHTML]="readme | rcTrustHtml" class="markdown-body"></div>
    </aui-card>
  </ng-template>
</acl-page-state>
