@import 'var';
@import 'mixins';
@import 'shared/text-list';

:host {
  ::ng-deep .aui-card {
    .aui-card__header {
      border-bottom: none;
    }
    .aui-card__content {
      padding-top: 0;
    }
  }
}

.container {
  &__meta {
    &__header {
      display: flex;
      align-items: center;
      color: $color-primary;
      height: 28px;
      &__action {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        margin-left: 12px;
        min-width: 28px;
        border-radius: 3px;
        padding: 0 2px;
        > aui-icon {
          margin-right: 4px;
        }
        &:hover {
          background: $color-primary-extra-light;
        }
      }
    }
  }
  &__resource {
    margin-top: 16px;
    &__section:not(:first-child) {
      margin-top: 12px;
    }
  }
}

.container__action {
  margin-left: 4px;
}

.log-path-item {
  line-height: 32px;
  &:not(:last-child) {
    border-bottom: 1px dashed $border-color;
  }
}

.rc-array-form-table {
  border-collapse: collapse;
  tbody {
    td {
      border-bottom: 1px solid $border-color;

      &:nth-of-type(even) {
        background-color: #fff;
      }
    }

    tr:last-child td {
      border-bottom: none;
    }
  }
}

.rc-text-item {
  @include text-overflow;
}

.init_container_tag {
  margin-right: 8px;
}
