<aui-card *ngIf="initialized">
  <div auiCardHeader>
    {{ 'container' | translate }}
  </div>

  <aui-tab-group
    type="card"
    [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="onTabIndexChange($event)"
  >
    <aui-tab *ngFor="let c of containers; trackBy: trackByFn">
      <ng-container *auiTabLabel>
        <ng-container *ngIf="c.isInit">
          <aui-tag type="info" size="mini" class="init_container_tag">
            {{ 'init_container' | translate }}
          </aui-tag>
        </ng-container>
        {{ c.name }}
      </ng-container>
    </aui-tab>
  </aui-tab-group>

  <ng-container
    *ngTemplateOutlet="containerRef; context: { container: selectedContainer }"
  ></ng-container>

  <ng-template #containerRef let-item="container">
    <div class="container">
      <div class="container__meta">
        <div
          class="container__meta__header"
          *ngIf="shouldShowAction('log') || shouldShowAction('exec')"
        >
          <div fxFlex></div>
          <ng-container
            *ngIf="
              shouldShowAction('exec') && !(podController | rcIsGrayRelease)
            "
          >
            <ng-container *ngIf="pod; else execMenu">
              <acl-disabled-container
                [isAllowed]="(execPermissions$ | async).create"
                [isDisabled]="!canEXEC(pod, item)"
              >
                <button
                  aui-button="text"
                  (click)="openTerminal([pod], item, pod)"
                >
                  <aui-icon icon="basic:window"></aui-icon>
                  EXEC
                </button>
              </acl-disabled-container>
            </ng-container>
            <ng-template #execMenu>
              <div
                class="container__meta__header__action"
                [auiDropdown]="exec"
                (auiDropdownShow)="onMenuShow()"
                (auiDropdownHide)="onMenuHide()"
              >
                <aui-icon icon="basic:window"></aui-icon>
                EXEC
              </div>
              <aui-menu #exec size="small">
                <aui-menu-group>
                  <acl-disabled-container
                    [isAllowed]="(execPermissions$ | async).create"
                    [isDisabled]="canNotEXECAll(pods, item)"
                  >
                    <aui-menu-item (click)="openTerminal(pods, item)">
                      {{ 'all_k8s_pod' | translate }}
                    </aui-menu-item>
                  </acl-disabled-container>
                </aui-menu-group>
                <aui-menu-group>
                  <span auiMenuGroupTitle>{{ 'k8s_pod' | translate }}</span>
                  <rc-loading-mask
                    [ngStyle]="{ width: '120px', height: '30px' }"
                    [iconSize]="'16px, 16px'"
                    [loading]="podsLoading"
                  ></rc-loading-mask>
                  <ng-container *ngIf="podsLoaded">
                    <acl-disabled-container
                      *ngFor="let p of pods"
                      [isAllowed]="(execPermissions$ | async).create"
                      [isDisabled]="!canEXEC(p, item)"
                    >
                      <aui-menu-item (click)="openTerminal(pods, item, p)">
                        {{ p.metadata.name | pure: getPodShortName }}
                      </aui-menu-item>
                    </acl-disabled-container>
                    <div *ngIf="!pods?.length">
                      {{ 'no_data' | translate }}
                    </div>
                  </ng-container>
                </aui-menu-group>
              </aui-menu>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="shouldShowAction('log')">
            <ng-container *ngIf="pod; else logMenu">
              <button
                class="container__meta__header__action"
                aui-button="text"
                (click)="openLog(pod, item)"
              >
                <aui-icon icon="basic:log"></aui-icon>
                {{ 'log' | translate }}
              </button>
            </ng-container>
            <ng-template #logMenu>
              <div
                class="container__meta__header__action"
                [auiDropdown]="log"
                (auiDropdownShow)="onMenuShow()"
                (auiDropdownHide)="onMenuHide()"
              >
                <aui-icon icon="basic:log"></aui-icon>
                {{ 'log' | translate }}
              </div>
              <aui-menu #log size="small">
                <aui-menu-group>
                  <span auiMenuGroupTitle>{{ 'k8s_pod' | translate }}</span>
                  <rc-loading-mask
                    [ngStyle]="{ width: '120px', height: '30px' }"
                    [iconSize]="'16px, 16px'"
                    [loading]="podsLoading"
                  ></rc-loading-mask>
                  <ng-container *ngIf="podsLoaded">
                    <aui-menu-item
                      *ngFor="let p of pods"
                      (click)="openLog(p, item)"
                    >
                      {{ p.metadata.name | pure: getPodShortName }}
                    </aui-menu-item>
                    <div *ngIf="!pods?.length">
                      {{ 'no_data' | translate }}
                    </div>
                  </ng-container>
                </aui-menu-group>
              </aui-menu>
            </ng-template>
          </ng-container>
        </div>
        <div auiCardContent>
          <rc-field-set-group>
            <rc-field-set-item>
              <label>{{ 'image' | translate }}</label>
              <div
                [auiTooltip]="item.image"
                [auiTooltipPosition]="'top start'"
                class="rc-text-item"
              >
                {{ item.image }}
              </div>
              <acl-disabled-container
                *ngIf="
                  shouldShowAction('image') &&
                  !(podController | rcIsGrayRelease) &&
                  !(podController | rcIsFederatedResource)
                "
                [isAllowed]="isUpdateAllowed"
              >
                <button
                  class="container__action"
                  aui-button="text"
                  size="small"
                  (click)="updateImageTag(item)"
                >
                  <aui-icon icon="basic:pencil_s"></aui-icon>
                </button>
              </acl-disabled-container>
            </rc-field-set-item>

            <rc-field-set-item>
              <label>{{ 'resource_requirements' | translate }}</label>
              <ng-container
                [ngTemplateOutlet]="containerResource"
                [ngTemplateOutletContext]="{
                  $implicit: item | pure: getContainerResourceLimit
                }"
              ></ng-container>
              <ng-template #containerResource let-info>
                <div fxLayout="row" fxLayoutGap="16px">
                  <rc-resource-label
                    [rawValue]="info.cpu"
                    type="cpu"
                  ></rc-resource-label>
                  <rc-resource-label
                    [rawValue]="info.memory"
                    type="memory"
                  ></rc-resource-label>
                </div>
              </ng-template>
              <acl-disabled-container
                *ngIf="
                  shouldShowAction('resource') &&
                  !(podController | rcIsGrayRelease) &&
                  !(podController | rcIsFederatedResource)
                "
                [isAllowed]="isUpdateAllowed"
              >
                <button
                  class="container__action"
                  aui-button="text"
                  size="small"
                  (click)="updateResourceSize(item)"
                >
                  <aui-icon icon="basic:pencil_s"></aui-icon>
                </button>
              </acl-disabled-container>
            </rc-field-set-item>
            <!-- 仅在 pod 详情页存在此部分字段 -->
            <ng-container
              *ngIf="pod"
              [ngTemplateOutlet]="podStatus"
              [ngTemplateOutletContext]="{
                $implicit: item | pure: getContainerStatus
              }"
            ></ng-container>

            <ng-template #podStatus let-status>
              <rc-field-set-item>
                <label>{{ 'onready' | translate }}</label>
                <span>
                  {{ status.ready ? 'True' : 'False' }}
                </span>
              </rc-field-set-item>
              <rc-field-set-item>
                <label>{{ 'restart_count' | translate }}</label>
                <span>{{ status.restartCount | aclFieldNotAvailable }}</span>
              </rc-field-set-item>
              <ng-container
                [ngTemplateOutlet]="statusState"
                [ngTemplateOutletContext]="{
                  $implicit: status | pure: getContainerStatusState
                }"
              ></ng-container>
              <ng-template #statusState let-state>
                <rc-field-set-item>
                  <label>{{ 'status' | translate }}</label>
                  <div>
                    {{ state | pure: statusStateFormat | aclFieldNotAvailable }}
                  </div>
                </rc-field-set-item>
                <rc-field-set-item [allowOverflow]="true">
                  <label>{{ 'message' | translate }}</label>
                  <span
                    [auiTooltip]="state.message"
                    [auiTooltipDisabled]="!state.message"
                    auiTooltipType="info"
                  >
                    {{ state.message | aclFieldNotAvailable }}
                  </span>
                </rc-field-set-item>
              </ng-template>
            </ng-template>

            <rc-field-set-item>
              <label>{{ 'cmd' | translate }}</label>
              <div>
                <div class="rc-text-item">
                  {{ (item.command || [])[0] | aclFieldNotAvailable }}
                </div>
                <ng-container *ngIf="item.command?.length > 1">
                  <div
                    class="rc-text-list"
                    [auiTooltip]="allCommands"
                    auiTooltipType="primary"
                    auiTooltipPosition="bottom start"
                    auiTooltipTrigger="click"
                    auiTooltipType="plain"
                  >
                    {{ 'total' | translate }}
                    <span class="rc-text-list__trigger">
                      {{ item.command.length }}
                    </span>
                    {{ 'items' | translate }}
                  </div>
                  <ng-template #allCommands>
                    <div class="rc-text-list__tooltip" style="width: 600px;">
                      <div
                        class="rc-text-list__item"
                        *ngFor="let cmd of item.command"
                      >
                        <span class="pre">{{ cmd }}</span>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </rc-field-set-item>
            <rc-field-set-item>
              <label>{{ 'args' | translate }}</label>
              <div>
                <div class="rc-text-item">
                  {{ (item.args || [])[0] | aclFieldNotAvailable }}
                </div>
                <ng-container *ngIf="item.args?.length > 1">
                  <div
                    class="rc-text-list"
                    [auiTooltip]="allArgs"
                    auiTooltipType="primary"
                    auiTooltipPosition="bottom start"
                    auiTooltipTrigger="click"
                    auiTooltipType="plain"
                  >
                    {{ 'total' | translate }}
                    <span class="rc-text-list__trigger">
                      {{ item.args.length }}
                    </span>
                    {{ 'items' | translate }}
                  </div>
                  <ng-template #allArgs>
                    <div class="rc-text-list__tooltip" style="width: 300px;">
                      <div
                        class="rc-text-list__item"
                        *ngFor="let arg of item.args"
                      >
                        <span class="pre">{{ arg }}</span>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </rc-field-set-item>
          </rc-field-set-group>
        </div>
      </div>
      <div class="container__resource" *ngIf="item.volumeMounts?.length">
        <rc-foldable-block
          context="card"
          [folded]="true"
          [hint]="'mounted_volumes' | translate"
        >
          <rc-volume-mounts-preview
            [volumeMounts]="item.volumeMounts"
          ></rc-volume-mounts-preview>
        </rc-foldable-block>
      </div>
      <div class="container__resource" *ngIf="item.ports?.length">
        <rc-foldable-block
          context="card"
          [folded]="true"
          [hint]="'port' | translate"
        >
          <rc-container-ports-preview
            [ports]="item.ports"
          ></rc-container-ports-preview>
        </rc-foldable-block>
      </div>
      <div
        class="container__resource"
        *ngIf="item.livenessProbe || item.readinessProbe"
      >
        <rc-foldable-block context="card" [hint]="'health_check' | translate">
          <rc-container-healthcheck-display
            class="container__resource__section"
            *ngIf="item.livenessProbe"
            [probe]="item.livenessProbe"
            [kind]="'livenessProbe'"
          ></rc-container-healthcheck-display>
          <rc-container-healthcheck-display
            class="container__resource__section"
            *ngIf="item.readinessProbe"
            [probe]="item.readinessProbe"
            [kind]="'readinessProbe'"
          ></rc-container-healthcheck-display>
        </rc-foldable-block>
      </div>

      <ng-container
        *ngTemplateOutlet="logPath; context: item | pure: getLogPathContext"
      ></ng-container>
    </div>
  </ng-template>
</aui-card>

<ng-template #logPath let-logPath="logPath" let-excludeLogPath="excludeLogPath">
  <div
    class="container__resource"
    *ngIf="logPath.length || excludeLogPath.length"
  >
    <rc-foldable-block context="card" [hint]="'log_path' | translate">
      <table class="rc-array-form-table">
        <thead>
          <td style="width: 120px;">
            {{ 'type' | translate }}
          </td>
          <td>
            {{ 'file_path' | translate }}
          </td>
        </thead>
        <tbody>
          <tr *ngIf="logPath.length">
            <td>{{ 'log_path' | translate }}</td>
            <td>
              <div class="log-path-item" *ngFor="let path of logPath">
                {{ path }}
              </div>
            </td>
          </tr>
          <tr *ngIf="excludeLogPath.length">
            <td>{{ 'exclude_log_path' | translate }}</td>
            <td>
              <div class="log-path-item" *ngFor="let path of excludeLogPath">
                {{ path }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </rc-foldable-block>
  </div>
</ng-template>
