:host {
  flex: 1;
  display: flex;
  flex-direction: column;

  .topology-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    rc-topology-graph {
      flex: 1;
    }
  }
  .error-placeholder {
    height: 120px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: #a1a1a1;
  }
}
