<div
  class="topology-container"
  *ngIf="initialized && nodes.length && links.length; else noDataTemplate"
>
  <rc-topology-graph #topology [nodes]="nodes" [links]="links">
    <button aui-button [loading]="loading" size="small" (click)="refresh()">
      {{ 'refresh' | translate }}
    </button>
  </rc-topology-graph>
</div>

<ng-template #noDataTemplate>
  <rc-zero-state [zeroState]="true" [fetching]="loading"></rc-zero-state>
</ng-template>
