.info-list {
  margin: 0 28px -12px 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;

  > li {
    width: 50%;
    display: flex;
    margin-bottom: 12px;

    > div {
      &:first-of-type {
        margin-right: 8px;
        flex-shrink: 0;
        &:after {
          content: ':';
        }
      }
      &:last-of-type {
        display: inline-flex;
        align-items: center;
        max-width: 400px;
      }
    }
  }
}
