<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template let-resource="resource" let-permissions="permissions">
    <aui-card style="margin-bottom: 16px;">
      <div auiCardHeader>
        <div>{{ resource.metadata.name }}</div>
        <div fxFlex></div>
        <div>
          <button aui-button [plain]="true" [auiDropdown]="menu">
            {{ 'action' | translate }}
            <aui-icon icon="angle_down" margin="left"></aui-icon>
          </button>
          <aui-menu #menu>
            <acl-disabled-container [isAllowed]="permissions.update">
              <aui-menu-item (click)="update(resource)">
                {{ 'update' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
            <acl-disabled-container [isAllowed]="permissions.delete">
              <aui-menu-item (click)="delete(resource)">
                {{ 'delete' | translate }}
              </aui-menu-item>
            </acl-disabled-container>
          </aui-menu>
        </div>
      </div>

      <aui-section>
        <ul class="info-list">
          <li>
            <div>{{ 'display_name' | translate }}</div>
            <div>{{ resource | aclDisplayName | aclFieldNotAvailable }}</div>
          </li>
          <li>
            <div>{{ 'created_time' | translate }}</div>
            <div>
              {{ resource.metadata.creationTimestamp | aclRelativeTime }}
            </div>
          </li>
        </ul>
      </aui-section>

      <aui-section *ngIf="resource?.status?.clusters?.length">
        <div auiSectionTitle>{{ 'application_status' | translate }}</div>
        <table
          *ngIf="resource | pure: getApplications | async as appMap"
          class="rc-array-form-table"
        >
          <thead>
            <tr>
              <td>{{ 'status' | translate }}</td>
              <td>{{ 'cluster_belonged' | translate }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cluster of resource.status.clusters">
              <td>
                <rc-app-status
                  *ngIf="appMap[cluster.name]; else placement"
                  [application]="appMap[cluster.name]"
                ></rc-app-status>
                <ng-template #placement>
                  <span>-</span>
                </ng-template>
              </td>
              <td>{{ cluster.name }}</td>
              <td>
                <button
                  aui-button="text"
                  size="small"
                  [routerLink]="[
                    '/workspace',
                    {
                      cluster: cluster.name,
                      namespace: baseParams.namespace,
                      project: baseParams.project
                    },
                    'app',
                    'detail',
                    resource.metadata.name
                  ]"
                >
                  {{ 'view_detail' | translate }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </aui-section>
    </aui-card>

    <rc-fa-resource-list
      [components]="resource?.spec?.template?.spec?.componentTemplates || []"
    ></rc-fa-resource-list>

    <rc-fa-override-list [resource]="resource"></rc-fa-override-list>
  </ng-template>
</acl-page-state>
