<rc-array-form-table
  class="form-table__flex-layout"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [formGroup]="form"
  [rows]="form.controls"
  [noRowSeparator]="true"
  [readonly]="disabled"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
>
  <ng-container *rcArrayFormTableHeader>
    <th style="flex: 3;">
      {{ 'type' | translate }}
    </th>
    <th style="flex: 8;">
      <span class="required-mark">*</span>
      {{ 'trigger_condition' | translate }}
    </th>
    <th style="flex: 3;">
      <span class="required-mark">*</span>
      {{ 'target_replicas' | translate }}
    </th>
  </ng-container>

  <ng-container
    *rcArrayFormTableRow="let control; let index = index"
    [formGroupName]="index"
  >
    <td style="flex: 3;">
      <aui-select formControlName="type">
        <aui-option
          [value]="CronHpaTriggerRuleEnum.CRON"
          [label]="'time' | translate"
        >
          {{ 'time' | translate }}
        </aui-option>
        <aui-option
          [value]="CronHpaTriggerRuleEnum.CUSTOM"
          [label]="'customized' | translate"
        >
          {{ 'customized' | translate }}
        </aui-option>
      </aui-select>
    </td>
    <td style="flex: 8;">
      <rc-hpa-cron-trigger-form
        (errors)="setSchecduleErrors($event, index)"
        formControlName="schedule"
        [ruleType]="control.controls['type'].value"
      ></rc-hpa-cron-trigger-form>
    </td>
    <td style="flex: 3;">
      <input
        auiFormItemControl
        formControlName="targetReplicas"
        aui-input
        type="number"
        (blur)="onBlur()"
        required
      />
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRow="let control">
    <!-- Input error row -->
    <td
      class="rc-table-form-error-hint"
      colspan="4"
      *ngIf="
        !control.pristine || $any(controlContainer?.formDirective)?.submitted
      "
    >
      <rc-errors-mapper
        [errors]="control.get('schedule').errors?.daysChosen"
        [errorsMapper]="{
          required:
            'required_item'
            | translate: { name: 'trigger_condition' | translate }
        }"
      ></rc-errors-mapper>
      <rc-errors-mapper
        [errors]="control.get('schedule').errors?.customRule"
        [errorsMapper]="{
          cronFormatError: 'cron_pattern_err' | translate,
          required:
            'required_item'
            | translate: { name: 'trigger_condition' | translate }
        }"
      ></rc-errors-mapper>
      <rc-errors-mapper
        [errors]="control.get('targetReplicas').errors"
        [errorsMapper]="{
          pattern:
            ('target_replicas' | translate) +
            (NATURAL_NUMBER_PATTERN.tip | translate),
          required:
            'required_item' | translate: { name: 'target_replicas' | translate }
        }"
      ></rc-errors-mapper>
    </td>
  </ng-container>

  <ng-container *rcArrayFormTableRowControl="let item; let index = index">
    <button
      aui-button="text"
      size="mini"
      type="button"
      [disabled]="form.length === 1"
      (click)="remove(index)"
      [square]="true"
      [plain]="true"
      class="timing-form__action-col"
    >
      <aui-icon icon="basic:minus_circle"></aui-icon>
    </button>
  </ng-container>
</rc-array-form-table>
