<acl-page-state
  [adapter]="dataManager"
  [autoRedirect]="false"
  (redirect)="jumpToListPage()"
>
  <ng-template>
    <form class="resource-form__card">
      <rc-helm-request-form
        [isUpdate]="true"
        [(ngModel)]="resource"
        name="resource"
        [chartName]="resource.spec.chart | pure: getChartName"
        [chartVersion]="resource.spec.version"
        [baseParams]="baseParams"
      ></rc-helm-request-form>

      <!-- <pre>{{ resource | json }}</pre> -->
    </form>

    <div class="resource-form__footer">
      <span fxFlex></span>
      <button
        type="button"
        aui-button="primary"
        [loading]="submitting"
        [disabled]="submitting"
        (click)="confirm()"
      >
        {{ 'save' | translate }}
      </button>
      <button
        type="button"
        aui-button
        [disabled]="submitting"
        (click)="cancel()"
      >
        {{ 'cancel' | translate }}
      </button>
    </div>
  </ng-template>
</acl-page-state>
