@import 'var';
@import 'mixins';

:host ::ng-deep {
  .aui-tab-group {
    background-color: #fff;
  }

  .aui-tab-header,
  .aui-tab-header-active-indicator {
    border-color: $border-color;
  }
  .aui-dropdown-button {
    white-space: nowrap;
  }
}

rc-foldable-block ::ng-deep.foldable-bar {
  margin-top: 16px;
}

rc-container-form {
  padding-top: 16px;
}

aui-tab-group {
  border: $default-border;
  display: block;
}

.no-name {
  font-style: italic;
}
