<div class="rc-secondary-title">{{ 'pod' | translate }}</div>
<form auiForm [auiFormEmptyAddon]="true" [formGroup]="form">
  <!-- volumes -->
  <aui-form-item formGroupName="spec" rcPodSpecFormHiddenField="volumes">
    <label auiFormItemLabel>{{ 'volumes' | translate }}</label>
    <rc-volumes-form
      #volumesForm
      formControlName="volumes"
      [cluster]="baseParams.cluster"
      [namespace]="baseParams.namespace"
      [configMapOptions]="configMapOptions"
      [secretOptions]="secretOptions"
    ></rc-volumes-form>
  </aui-form-item>

  <!-- image credential -->
  <aui-form-item formGroupName="spec" rcPodSpecFormHiddenField="credential">
    <label auiFormItemLabel>{{ 'credential' | translate }}</label>
    <rc-image-credential-form
      [secretOptions]="secretOptions"
      [baseParams]="baseParams"
      formControlName="imagePullSecrets"
    ></rc-image-credential-form>
  </aui-form-item>

  <rc-foldable-block rcPodSpecFormHiddenField="advanced">
    <!-- pod labels -->
    <aui-form-item
      formGroupName="metadata"
      rcPodSpecFormHiddenField="pod_labels"
    >
      <label auiFormItemLabel>{{ 'pod_labels' | translate }}</label>
      <rc-key-value-form-table
        auiFormItemControl
        (blur)="onBlur()"
        formControlName="labels"
        [validator]="labelValidator"
        [errorMapper]="labelErrorMapper"
        [readonlyKeys]="matchLabels | pure: getSelectorKeys"
      ></rc-key-value-form-table>
    </aui-form-item>

    <!-- node selector -->
    <aui-form-item
      formGroupName="spec"
      rcPodSpecFormHiddenField="node_selector"
    >
      <label auiFormItemLabel>{{ 'node_selector' | translate }}</label>
      <rc-node-selector-form
        formControlName="nodeSelector"
        [cluster]="baseParams.cluster"
      ></rc-node-selector-form>
    </aui-form-item>

    <!-- pod affinity -->
    <aui-form-item
      formGroupName="spec"
      rcPodSpecFormHiddenField="affinity_setting"
    >
      <label auiFormItemLabel>{{ 'affinity_setting' | translate }}</label>
      <rc-affinity-form
        name="affinity"
        auiFormItemControl
        formControlName="affinity"
        [namespace]="baseParams.namespace"
        [cluster]="baseParams.cluster"
        [workloadOptions]="workloadOptions"
      ></rc-affinity-form>
      <aui-icon
        auiFormItemAddon
        icon="basic:question"
        [auiTooltip]="'affinity_setting_hint' | translate"
        auiTooltipPosition="start center"
      ></aui-icon>
    </aui-form-item>

    <!-- network -->
    <aui-form-item formGroupName="spec" rcPodSpecFormHiddenField="host_mode">
      <label auiFormItemLabel>{{ 'host_mode' | translate }}</label>
      <aui-switch auiFormItemControl formControlName="hostNetwork"></aui-switch>
    </aui-form-item>
    <rc-pod-network-form
      formControlName="network"
      rcPodSpecFormHiddenField="network"
      [namespace]="baseParams.namespace"
      [cluster]="baseParams.cluster"
      [hostNetwork]="form.get('spec.hostNetwork')?.value"
    ></rc-pod-network-form>
  </rc-foldable-block>

  <!-- containers -->
  <div class="rc-secondary-title">
    {{ 'container' | translate }}
  </div>
  <aui-tab-group
    formGroupName="spec"
    type="card"
    [(selectedIndex)]="activeContainerIndex"
  >
    <aui-tab
      *ngFor="
        let item of allContainersControls;
        index as index;
        trackBy: trackByFn
      "
      [closeable]="item.isInitContainer || containersFormArray.length > 1"
      (close)="removeContainer(index, item.isInitContainer)"
    >
      <ng-container *ngFor="let control of item.control">
        <ng-container *auiTabLabel>
          <aui-icon
            *ngIf="control.invalid && control.dirty"
            class="icon--error"
            icon="basic:close_circle_s"
            size="16"
          ></aui-icon>
          <aui-tag
            *ngIf="item.isInitContainer"
            type="info"
            size="mini"
            [round]="true"
          >
            {{ 'init_container' | translate }}
          </aui-tag>
          <span [class.no-name]="!control.value.name">
            {{ control.value.name || ('no_container_name_hint' | translate) }}
          </span>
        </ng-container>

        <rc-container-form
          [formControl]="control"
          [baseParams]="baseParams"
          [isInitContainer]="item.isInitContainer"
          [existedContainerNames]="getExistedContainerNames(index)"
          [hostNetwork]="form.get('spec.hostNetwork')?.value"
          [volumesForm]="volumesForm"
          [configMapOptions]="configMapOptions"
          [secretOptions]="secretOptions"
        ></rc-container-form>
      </ng-container>
    </aui-tab>

    <aui-dropdown-button
      [plain]="true"
      *auiTabHeaderAddon
      size="small"
      (buttonClick)="addContainer()"
      type="default"
    >
      {{ 'add_container' | translate }}

      <aui-menu size="small">
        <aui-menu-item (click)="addContainer(true)">
          {{ 'add_init_container' | translate }}
        </aui-menu-item>
      </aui-menu>
    </aui-dropdown-button>
  </aui-tab-group>

  <!-- <pre>{{ form.value | json }}</pre> -->
  <!-- <pre>pod spec form: {{form.status}}</pre> -->
  <!-- <pre>{{containersForm.value | json}}</pre> -->
</form>
