<rc-array-form-table
  [noRowSeparator]="true"
  [resourceName]="resourceName"
  [rowBackgroundColorFn]="rowBackgroundColorFn"
  (add)="add(form.length)"
  (remove)="remove($event)"
  [rows]="form.controls"
>
  <!-- Input row -->
  <ng-container *rcArrayFormTableRow="let control">
    <td>
      <textarea
        (blur)="onBlur()"
        aui-input
        auiFormItemControl
        name="value"
        [autosize]="{ minRows: 5, maxRows: 12 }"
        [formControl]="control"
      ></textarea>
    </td>
  </ng-container>
</rc-array-form-table>
