@import 'mixins';
@import 'var';

:host ::ng-deep .aui-code-editor {
  @include create-page-fullheight__card;
}

.resource-container {
  margin-top: 16px - $snack-bar-height;
  margin-bottom: $snack-bar-height;
}
