<aui-card class="resource-form__card">
  <div auiCardHeader>
    <span>
      {{
        (isUpdate
          ? 'update_federated_application'
          : 'create_federated_application'
        ) | translate
      }}
    </span>
    <span fxFlex></span>
    <aui-radio-group
      [isPlain]="false"
      (valueChange)="switchFormView($event)"
      [value]="formView"
    >
      <aui-radio-button value="UI">{{ 'form' | translate }}</aui-radio-button>
      <aui-radio-button value="YAML">YAML</aui-radio-button>
    </aui-radio-group>
  </div>

  <form [hidden]="formView !== 'UI'" #resourceForm="ngForm" [formGroup]="form">
    <rc-federated-app-form
      formControlName="resource"
      [isUpdate]="isUpdate"
      [namespace]="baseParams.namespace"
      [cluster]="baseParams.cluster"
    ></rc-federated-app-form>
  </form>
  <form *ngIf="formView === 'YAML'" #resourceForm="ngForm">
    <aui-code-editor
      name="yaml"
      style="width: 100%;"
      required
      [(ngModel)]="yaml"
      [options]="codeEditorOptions"
      [actionsConfig]="actionsConfig"
    ></aui-code-editor>
  </form>
</aui-card>

<div class="resource-container" *ngIf="formView === 'UI'">
  <rc-fa-resource-list
    [editable]="true"
    [components]="resource?.spec?.template?.spec?.componentTemplates || []"
    (add)="addComponent($event)"
    (update)="updateComponent($event)"
    (delete)="deleteComponent($event)"
  ></rc-fa-resource-list>

  <rc-fa-override-list
    [editable]="true"
    [resource]="resource"
    (add)="addOverride()"
    (update)="updateOverride($event)"
    (delete)="deleteOverride($event)"
  ></rc-fa-override-list>
</div>

<div class="resource-form__footer">
  <span fxFlex></span>
  <button
    aui-button="primary"
    (click)="submit()"
    [loading]="submitting"
    [disabled]="submitting"
  >
    {{ 'confirm' | translate }}
  </button>
  <button aui-button (click)="cancel()">{{ 'cancel' | translate }}</button>
</div>
