<aui-card [divider]="false">
  <div fxLayout auiCardHeader>
    <div fxFlex></div>
    <aui-search
      [searchButton]="true"
      [keyword]="searchKey$ | async"
      placeholder="{{ 'search_by_name_placeholder' | translate }}"
      (search)="searchByName($event)"
    ></aui-search>
    <button
      style="margin-left: 8px;"
      aui-button
      square="true"
      (click)="onUpdate()"
    >
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>
  <aui-table [dataSource]="list.items$">
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <a
          [routerLink]="[
            '/workspace',
            baseParams,
            'job_record',
            'detail',
            rowData.metadata.name
          ]"
        >
          {{ rowData.metadata.name }}
        </a>
        <rc-deleting-tag [resource]="rowData"></rc-deleting-tag>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="status">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'status' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container
          *ngTemplateOutlet="
            job_status;
            context: {
              status: rowData | pure: getJobStatus
            }
          "
        ></ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="references_cron_job">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'references_cron_job' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <ng-container
          *ngTemplateOutlet="
            references_cron_job;
            context: {
              data: getOwnerCronJob(rowData)
            }
          "
        ></ng-container>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="created_time">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'created_time' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <rc-relative-time
          [time]="rowData.metadata.creationTimestamp"
        ></rc-relative-time>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="action">
      <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let rowData">
        <button
          aui-button="text"
          size="small"
          [square]="true"
          [plain]="true"
          [auiDropdown]="menu"
          [auiDropdownContext]="{ rowData: rowData }"
        >
          <aui-icon icon="basic:ellipsis_v_s"></aui-icon>
        </button>
      </aui-table-cell>
    </ng-container>

    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row *auiTableRowDef="let row; columns: columns"></aui-table-row>
  </aui-table>
  <acl-k8s-resource-list-footer [list]="list"></acl-k8s-resource-list-footer>
</aui-card>

<ng-template #job_status let-status="status">
  <rc-status-icon
    [status]="status"
    [colorMapper]="JobStatusColorMapper"
    [iconMapper]="JobStatusIconMapper"
  ></rc-status-icon>
</ng-template>

<ng-template #references_cron_job let-data="data">
  <span *ngIf="!data.link">{{ data.name }}</span>
  <a
    *ngIf="data.link"
    [routerLink]="['/workspace', baseParams, 'cron_job', 'detail', data.name]"
  >
    {{ data.name }}
  </a>
</ng-template>

<aui-menu #menu size="small">
  <ng-template auiMenuContent let-rowData="rowData">
    <aui-menu-item (click)="viewLogs(rowData)">
      {{ 'view_logs' | translate }}
    </aui-menu-item>
    <acl-disabled-container [isAllowed]="(permissions$ | async).delete">
      <aui-menu-item (click)="delete(rowData)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
