<ng-container *ngIf="(isDeployed$ | async) === true">
  <div class="event-wrapper">
    <rc-inline-form-group>
      <rc-inline-form-item>
        <label>{{ 'monitor_period' | translate }}</label>
        <aui-select
          [(ngModel)]="timeRangeOption"
          includes
          [loading]="loading"
          (ngModelChange)="onTimeRangeChanged($event)"
          name="timeRangeSelect"
        >
          <aui-option
            *ngFor="let option of timeRangeOptions"
            [label]="option.name"
            [value]="option.type"
          >
            {{ option.name }}
          </aui-option>
        </aui-select>
      </rc-inline-form-item>
      <ng-container *ngIf="timeRangeOption === 'custom_time_range'">
        <rc-inline-form-item>
          <label>{{ 'from' | translate }}</label>
          <div
            (valueChange)="onStartTimeSelect($event)"
            [aclCalendar]="calendarOptions"
            [(value)]="startTime"
          >
            <input aui-input [ngModel]="startTime" name="startTime" />
          </div>
        </rc-inline-form-item>
        <rc-inline-form-item>
          <label>{{ 'to' | translate }}</label>
          <div
            (valueChange)="onEndTimeSelect($event)"
            [aclCalendar]="calendarOptions"
            [(value)]="endTime"
          >
            <input aui-input [ngModel]="endTime" name="endTime" />
          </div>
        </rc-inline-form-item>
      </ng-container>
      <ng-container *ngIf="!embedded">
        <rc-inline-form-item>
          <label>{{ 'query_condition' | translate }}</label>
          <aui-multi-select
            name="queryCondition"
            [(ngModel)]="conditions"
            (ngModelChange)="setConditions($event)"
            size="medium"
            [allowCreate]="true"
            [filterable]="true"
            [loading]="loadingSuggestions"
          >
            <aui-option-placeholder>
              {{ 'search_no_result' | translate }}
            </aui-option-placeholder>
            <aui-option
              *ngFor="let option of suggestions$ | async"
              [label]="option"
              [value]="option"
            >
              {{ option }}
            </aui-option>
          </aui-multi-select>
        </rc-inline-form-item>
      </ng-container>
    </rc-inline-form-group>
    <button aui-button square="true" (click)="reloadEvent()">
      <aui-icon icon="basic:refresh"></aui-icon>
    </button>
  </div>

  <ng-container *ngIf="events$ | async; let events; else: empty">
    <div class="event-list">
      <ng-container *ngIf="events.length">
        <aui-table [dataSource]="events" [trackBy]="trackByFn">
          <ng-container auiTableColumnDef="namespace">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'namespace' | translate }}
            </aui-table-header-cell>
            <aui-table-cell
              *auiTableCellDef="let item"
              title="{{ item.detail.event.metadata.namespace }}"
              [auiTooltip]="item.detail.event.metadata.namespace"
            >
              <ng-container
                *ngIf="item.detail.event.metadata.namespace; else noNamespace"
              >
                {{ item.detail.event.metadata.namespace }}
              </ng-container>
              <ng-template #noNamespace>-</ng-template>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="type">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'type' | translate }}
            </aui-table-header-cell>
            <aui-table-cell
              *auiTableCellDef="let item"
              [auiTooltip]="item.detail.event.involvedObject.kind"
            >
              {{ item.detail.event.involvedObject.kind }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="resource_name">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'k8s_event_resource_name' | translate }}
            </aui-table-header-cell>
            <aui-table-cell
              *auiTableCellDef="let item"
              [auiTooltip]="item.detail.event.involvedObject.name"
            >
              {{ item.detail.event.involvedObject.name }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="time_range">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'k8s_event_time_range' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <div
                class="rc-text-overflow"
                title="{{ item.detail.event.firstTimestamp }}"
                [auiTooltip]="item.detail.event.firstTimestamp | rcFormatUtcStr"
              >
                {{ item.detail.event.firstTimestamp | rcFormatUtcStr }}
              </div>
              <div
                class="rc-text-overflow"
                title="{{ item.detail.event.lastTimestamp }}"
                [auiTooltip]="item.detail.event.lastTimestamp | rcFormatUtcStr"
              >
                {{ item.detail.event.lastTimestamp | rcFormatUtcStr }}
              </div>
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="count">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'k8s_event_count' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              {{ item.detail.event.count }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="reason">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'k8s_event_reason' | translate }}
            </aui-table-header-cell>
            <aui-table-cell
              *auiTableCellDef="let item"
              [auiTooltip]="item.detail.event.reason"
            >
              {{ item.detail.event.reason }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="message">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'k8s_event_message' | translate }}
            </aui-table-header-cell>
            <aui-table-cell
              *auiTableCellDef="let item"
              [auiTooltip]="item.detail.event.message"
            >
              {{ item.detail.event.message }}
            </aui-table-cell>
          </ng-container>
          <ng-container auiTableColumnDef="action">
            <aui-table-header-cell *auiTableHeaderCellDef>
              {{ 'action' | translate }}
            </aui-table-header-cell>
            <aui-table-cell *auiTableCellDef="let item">
              <a
                href="javascript:;"
                (click)="showDetailTemplate(item, eventDetailTemplate)"
              >
                {{ 'event_detail' | translate }}
              </a>
            </aui-table-cell>
          </ng-container>
          <aui-table-header-row
            *auiTableHeaderRowDef="columns"
          ></aui-table-header-row>
          <aui-table-row
            *auiTableRowDef="let row; columns: columns"
          ></aui-table-row>
        </aui-table>
      </ng-container>
      <ng-container *ngIf="loading || events.length; else empty"></ng-container>
    </div>
    <div class="event-pagination" *ngIf="pagination.count > 0">
      <aui-paginator
        *ngIf="events.length"
        layout="total,pager,sizes,jumper"
        [disabled]="loading"
        [(currentPage)]="pagination.current"
        [(pageSize)]="pagination.size"
        [total]="pagination.count"
        (currentPageChange)="currentPageChange($event)"
        (pageSizeChange)="pageSizeChange($event)"
        [pageSizeOptions]="[10, 20, 50, 100]"
      ></aui-paginator>
      <aui-icon
        icon="basic:question"
        class="event-search-hint"
        auiTooltipPosition="start center"
        auiTooltipType="info"
        [auiTooltip]="'logs_search_hint' | translate"
      ></aui-icon>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="(isDeployed$ | async) === false">
  <rc-not-deployed></rc-not-deployed>
</ng-container>

<ng-template #eventDetailTemplate>
  <aui-dialog-header>
    {{ 'event_detail' | translate }}
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-code-editor
      [options]="{ language: 'json', readOnly: true }"
      [actionsConfig]="actionsConfigView"
      [ngModel]="eventDetail | json"
    ></aui-code-editor>
  </aui-dialog-content>
</ng-template>

<ng-template #empty>
  <div class="event-empty">
    <ng-container *ngIf="namespace; else platform">
      <div>
        {{
          'zero_state_hint' | translate: { resourceName: 'event' | translate }
        }}
      </div>
    </ng-container>
    <ng-template #platform>
      {{ (conditions.length > 0 ? 'no_results' : 'no_data') | translate }}
    </ng-template>
  </div>
</ng-template>
