@import 'var';
:host ::ng-deep {
  .aui-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  rc-array-form-table .tags-container {
    white-space: normal;
  }
}

rc-pod-controller-containers {
  display: block;
  margin-top: 16px;
}

.rc-pod-node-selector {
  white-space: pre-line;
  word-break: break-all;
  line-height: 20px;
}
