<ng-container *ngIf="data">
  <aui-card>
    <div auiCardHeader>
      {{ data.metadata.name }}
      <div fxFlex></div>
      <button aui-button="default" [plain]="true" [auiDropdown]="menu">
        {{ 'action' | translate }}
        <aui-icon icon="angle_down" margin="left"></aui-icon>
      </button>
      <aui-menu #menu size="small">
        <acl-disabled-container [isAllowed]="canExec">
          <aui-submenu>
            EXEC
            <aui-menu-item
              *ngFor="let container of data.spec?.containers"
              [disabled]="
                !canExec || !(container | pure: canExecContainer:data)
              "
              (click)="onExec(data, container)"
            >
              {{ container.name }}
            </aui-menu-item>
          </aui-submenu>
        </acl-disabled-container>
        <acl-disabled-container [isAllowed]="canDelete">
          <aui-menu-item (click)="delete()">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
      </aui-menu>
    </div>
    <aui-section>
      <div auiSectionTitle>
        {{ 'basic_info' | translate }}
      </div>
      <rc-field-set-group auiCardContent>
        <rc-field-set-item>
          <label>{{ 'status' | translate }}</label>
          <rc-pod-status [pod]="data"></rc-pod-status>
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'host_mode' | translate }}</label>
          {{ (data.spec.hostNetwork ? 'on' : 'off') | translate }}
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'resource_limit' | translate }}</label>
          <ng-container
            [ngTemplateOutlet]="containerResource"
            [ngTemplateOutletContext]="{
              $implicit: data | pure: getPodResourceLimit
            }"
          ></ng-container>
          <ng-template #containerResource let-info>
            <div fxLayout="row" fxLayoutGap="16px">
              <rc-resource-label
                [rawValue]="info.cpu"
                type="cpu"
              ></rc-resource-label>
              <rc-resource-label
                [rawValue]="info.memory"
                type="memory"
              ></rc-resource-label>
            </div>
          </ng-template>
        </rc-field-set-item>

        <rc-field-set-item *ngIf="serviceAccountYaml">
          <label>{{ 'Service Account' }}</label>
          <a href="javascript:;" (click)="openServiceAccountYaml()">
            {{ data.spec.serviceAccountName }}
          </a>
          <ng-template #serviceAccountTmpl>
            <aui-dialog-header>
              {{ data.spec.serviceAccountName }}
            </aui-dialog-header>
            <aui-dialog-content>
              <aui-code-editor
                [options]="{ language: 'yaml', readOnly: true }"
                [actionsConfig]="actionsConfig"
                [ngModel]="serviceAccountYaml"
              ></aui-code-editor>
            </aui-dialog-content>
          </ng-template>
        </rc-field-set-item>

        <rc-field-set-item>
          <label>{{ 'source' | translate }}</label>
          <a
            *ngIf="sourceLink?.routerLink; else noLink"
            [routerLink]="sourceLink?.routerLink"
          >
            {{ sourceLink | pure: formatSourceLink:translate.locale }}
          </a>
          <ng-template #noLink>
            {{
              sourceLink
                | pure: formatSourceLink:translate.locale
                | aclFieldNotAvailable
            }}
          </ng-template>
        </rc-field-set-item>

        <rc-field-set-item>
          <label>{{ 'creator' | translate }}</label>
          {{ data | aclCreator | aclFieldNotAvailable }}
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'pod_ip' | translate }}</label>
          {{ data.status.podIP | aclFieldNotAvailable }}
        </rc-field-set-item>

        <rc-field-set-item>
          <label>{{ 'created_time' | translate }}</label>
          {{ data.metadata.creationTimestamp | rcFormatUtcStr }}
        </rc-field-set-item>
        <rc-field-set-item>
          <label>{{ 'node_name' | translate }}</label>
          {{ data.spec.nodeName | aclFieldNotAvailable }}
        </rc-field-set-item>

        <ng-container
          [ngTemplateOutlet]="credentialRef"
          [ngTemplateOutletContext]="{
            $implicit: data | pure: getImagePullSecrets
          }"
        ></ng-container>

        <ng-template #credentialRef let-secrets>
          <rc-field-set-item *ngIf="secrets.length">
            <label>{{ 'credential' | translate }}</label>
            <rc-tags-label [tagList]="secrets"></rc-tags-label>
          </rc-field-set-item>
        </ng-template>
      </rc-field-set-group>
    </aui-section>

    <aui-section>
      <div auiSectionTitle>
        {{ 'pod_labels' | translate }}
      </div>
      <rc-tags-label
        [tags]="data.metadata.labels"
        [isWrapped]="true"
      ></rc-tags-label>
    </aui-section>

    <aui-section>
      <div auiSectionTitle>
        {{ 'node_selector' | translate }}
      </div>
      <div class="rc-pod-node-selector">
        {{
          data
            | pure: getNodeSelector
            | pure: formatNodeSelector
            | aclFieldNotAvailable
        }}
      </div>
    </aui-section>

    <rc-foldable-block
      *ngIf="data | pure: getVolumes as volumes"
      context="card"
      [hint]="'volumes' | translate"
    >
      <rc-volumes-preview [volumes]="volumes"></rc-volumes-preview>
    </rc-foldable-block>

    <rc-foldable-block
      *ngIf="getAffinityInfo(data) as rows"
      context="card"
      [hint]="'pod_affinity' | translate"
    >
      <rc-array-form-table [rows]="rows" [readonly]="true">
        <ng-container *rcArrayFormTableHeader>
          <th>{{ 'type' | translate }}</th>
          <th>{{ 'affinity_setting_classification' | translate }}</th>
          <th>{{ 'affinity_setting_weight' | translate }}</th>
          <th>{{ 'topology_key' | translate }}</th>
          <th>{{ 'match_labels' | translate }}</th>
        </ng-container>

        <ng-container *rcArrayFormTableRow="let item">
          <td>
            {{
              (item.isAnti ? 'pod_anti_affinity' : 'pod_affinity') | translate
            }}
          </td>
          <td>{{ item.classification }}</td>
          <td>{{ item.weight | aclFieldNotAvailable }}</td>
          <td>{{ item.topologyKey | aclFieldNotAvailable }}</td>
          <td>
            <rc-tags-label
              [tags]="item.matchLabels"
              [showMore]="false"
            ></rc-tags-label>
          </td>
        </ng-container>
      </rc-array-form-table>
    </rc-foldable-block>
  </aui-card>

  <aui-card [divider]="false">
    <div auiCardHeader>
      {{ 'status_analysis' | translate }}
    </div>
    <rc-pod-status-list
      [conditions]="data.status.conditions"
    ></rc-pod-status-list>
  </aui-card>

  <rc-pod-controller-containers
    [pod]="data"
    [baseParams]="baseParams"
    [actions]="['log', 'exec']"
    (onOpenLog)="openLog($event)"
    (onOpenTerminal)="onOpenTerminal($event)"
  ></rc-pod-controller-containers>
</ng-container>
<ng-template #nodata>-</ng-template>
