<ng-container auiForm auiFormLabelWidth="100px">
  <aui-select [formControl]="form" [filterable]="true" [required]="required">
    <aui-option-group *ngFor="let item of namespaceSecretMap | keyvalue">
      <div auiOptionGroupTitle>{{ item.key }}</div>
      <aui-option
        *ngFor="let option of item.value"
        [label]="item.key + '/' + (option | aclName)"
        [value]="item.key + '_' + (option | aclName)"
        [disabled]="item.key !== namespace"
      >
        {{ option | aclName }}
        <span class="text-help" *ngIf="option | aclDisplayName as displayName">
          {{ displayName }}
        </span>
      </aui-option>
    </aui-option-group>
    <aui-option-placeholder>
      {{ 'no_data' | translate }}
    </aui-option-placeholder>
  </aui-select>
  <rc-errors-mapper [errors]="form.errors"></rc-errors-mapper>
</ng-container>
