.aui-table {
  &__column-name {
    flex: 1;
  }

  &__column-type {
    flex: 1;
  }

  &__column-action {
    flex: 0 0 100px;
    justify-content: flex-end;
  }
}

.resource-import-container {
  margin-top: 20px;

  .resource-selector__wrapper {
    display: flex;
    align-items: center;

    label {
      &:after {
        content: ' : ';
      }

      margin-right: 4px;
      // stylelint-disable-next-line plugin/no-unsupported-browser-features
      min-width: fit-content;
    }
  }
}
