<ng-container [ngSwitch]="pageType">
  <ng-template [ngSwitchCase]="ManageResourcesPageType.LIST">
    <aui-dialog-header>
      {{ 'manage_resources' | translate }}
    </aui-dialog-header>
    <aui-dialog-content>
      <aui-table
        [dataSource]="resources | pure: groupSort"
        [trackBy]="trackByFn"
      >
        <ng-container auiTableColumnDef="name">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'resource_name' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <a href="javascript:" (click)="viewYaml(item)">
              {{ item.metadata.name }}
            </a>
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="type">
          <aui-table-header-cell *auiTableHeaderCellDef>
            {{ 'resource_type' | translate }}
          </aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            {{ item.kind }}
          </aui-table-cell>
        </ng-container>
        <ng-container auiTableColumnDef="action">
          <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
          <aui-table-cell *auiTableCellDef="let item">
            <button
              aui-button="primary"
              [plain]="true"
              (click)="removeResource(item)"
              [disabled]="submitting === SubmittingType.DELETING"
              title="{{ 'export_resource_tip' | translate }}"
            >
              {{ 'remove' | translate }}
            </button>
          </aui-table-cell>
        </ng-container>
        <aui-table-header-row
          *auiTableHeaderRowDef="['name', 'type', 'action']"
        ></aui-table-header-row>
        <aui-table-row
          *auiTableRowDef="let row; columns: ['name', 'type', 'action']"
        ></aui-table-row>
      </aui-table>
      <ng-container *ngIf="!resources?.length">
        <div class="loading-placeholder text-help">
          {{ 'no_data' | translate }}
        </div>
      </ng-container>
      <div fxLayout fxLayoutGap="20px" fxFill class="resource-import-container">
        <div class="resource-selector__wrapper">
          <label auiFormItemLabel>{{ 'resource_type' | translate }}</label>
          <aui-select
            [(ngModel)]="resourceType"
            name="resource_type"
            (ngModelChange)="onTypeChange($event)"
          >
            <aui-option
              *ngFor="let resourceType of MANAGE_RESOURCE_TYPES"
              [value]="resourceType"
              [label]="resourceType.kind"
            >
              {{ resourceType.kind }}
            </aui-option>
          </aui-select>
        </div>
        <div class="resource-selector__wrapper" fxFlex>
          <label auiFormItemLabel>{{ 'resource' | translate }}</label>
          <aui-select
            name="resources"
            fxFlex
            [(ngModel)]="resourceSelect"
            placeholder="{{ 'choose_resource' | translate }}"
            [filterable]="true"
          >
            <aui-option
              *ngFor="let resource of partialResourceList"
              [value]="resource"
              [label]="resource.metadata.name"
            >
              {{ resource.metadata.name }}
            </aui-option>
          </aui-select>
        </div>
        <button
          aui-button="primary"
          [disabled]="
            !resourceSelect || submitting === SubmittingType.IMPORTING
          "
          type="submit"
          (click)="importResource()"
        >
          {{ 'import_resource' | translate }}
        </button>
      </div>
    </aui-dialog-content>
  </ng-template>

  <ng-template [ngSwitchCase]="ManageResourcesPageType.DETAIL">
    <aui-dialog-header [closeable]="false">
      {{ resourceView.metadata.name }}
    </aui-dialog-header>
    <aui-dialog-content>
      <aui-code-editor
        [actionsConfig]="actionsConfigView"
        [options]="codeEditorOptions"
        value="{{ resourceView | pure: formatResourceToYaml }}"
      ></aui-code-editor>
    </aui-dialog-content>
    <aui-dialog-footer>
      <button
        aui-button="primary"
        (click)="removeResource(resourceView, true)"
        [disabled]="submitting === SubmittingType.DELETING"
      >
        {{ 'remove' | translate }}
      </button>
      <button aui-button="primary" (click)="closeYaml()">
        {{ 'close' | translate }}
      </button>
    </aui-dialog-footer>
  </ng-template>
</ng-container>
