<form auiForm #outForm="ngForm" [formGroup]="form" auiFormEmptyAddon="true">
  <ng-container formGroupName="metadata">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'name' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        required
        formControlName="name"
        placeholder="{{ K8S_RESOURCE_NAME_BASE.tip | translate }}"
        [rcReadonlyField]="isUpdate"
      />
      <rc-errors-mapper
        *ngIf="!isUpdate"
        auiFormItemError
        [errors]="form.get('metadata.name').errors"
        [errorsMapper]="{
          pattern: K8S_RESOURCE_NAME_BASE.tip | translate
        }"
      ></rc-errors-mapper>
    </aui-form-item>

    <aui-form-item formGroupName="annotations">
      <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
      <ng-container auiFormItemControl>
        <input aui-input [formControlName]="displayNameKey" />
      </ng-container>
    </aui-form-item>
  </ng-container>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'execute_type' | translate }}</label>
    <aui-radio-group
      auiFormItemControl
      [(ngModel)]="executeType"
      name="execute_type"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="changeExecuteType($event)"
    >
      <aui-radio-button
        *ngFor="let option of EXECUTE_TYPE_OPTIONS"
        [value]="option"
      >
        {{ option | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <ng-container formGroupName="spec">
    <aui-form-item *ngIf="executeType === TraceJobExecuteType.CRON">
      <label auiFormItemLabel>{{ 'cron_period' | translate }}</label>
      <ng-container auiFormItemControl required>
        <input
          aui-input
          type="text"
          required
          placeholder="0 18 * * *"
          formControlName="schedule"
        />
      </ng-container>
      <rc-errors-mapper
        auiFormItemError
        [errors]="form.get('spec.schedule').errors"
        [errorsMapper]="{
          cronFormatError: 'cron_format_error' | translate
        }"
      ></rc-errors-mapper>
      <div auiFormItemHint>
        <span [hidden]="!form.get('spec.schedule').value" class="cron-parser">
          {{ 'next_trig_time' | translate }}
          <span>{{ form.get('spec.schedule').value | rcCrontabNext }}</span>
        </span>
        <span [hidden]="form.get('spec.schedule').value">
          {{ 'schedule_example' | translate }}
        </span>
        <span>
          {{ 'go_to_input_rule_detail' | translate }}
          <a
            target="_blank"
            rel="noreferer noopener"
            href="/acp-docs/100faq/25/"
          >
            {{ 'reference_document' | translate }}
          </a>
        </span>
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'internal_inspect' | translate }}</label>
      <aui-checkbox-group formControlName="builtInProbes" direction="column">
        <aui-checkbox
          *ngFor="let item of BUILT_IN_INSPECT_OPTIONS"
          [label]="item"
        >
          {{ item | translate }}
        </aui-checkbox>
      </aui-checkbox-group>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>
        {{ 'number_of_history_jobs_keep_up' | translate }}
      </label>
      <ng-container auiFormItemControl required>
        <aui-input-group>
          <span auiInputAddonBefore>
            {{ 'successful_history_job' | translate }}
          </span>
          <input
            aui-input
            type="number"
            formControlName="successfulJobsHistoryLimit"
            [rcErrorsMapper]="{
              required:
                'required_item'
                | translate: { name: 'successful_history_job' | translate },
              pattern:
                ('successful_history_job' | translate) +
                (NATURAL_NUMBER_PATTERN.tip | translate)
            }"
            [rcErrorsMapperOutlet]="successJobLimitError"
          />
        </aui-input-group>
        <aui-input-group style="margin-left: 8px;">
          <span auiInputAddonBefore>
            {{ 'failed_history_jobs' | translate }}
          </span>
          <input
            aui-input
            type="number"
            formControlName="failedJobsHistoryLimit"
            [rcErrorsMapper]="{
              required:
                'required_item'
                | translate: { name: 'failed_history_jobs' | translate },
              pattern:
                ('failed_history_jobs' | translate) +
                (NATURAL_NUMBER_PATTERN.tip | translate)
            }"
            [rcErrorsMapperOutlet]="failedJobLimitError"
          />
        </aui-input-group>
      </ng-container>

      <div auiFormItemError>
        <span #successJobLimitError></span>
        <span #failedJobLimitError></span>
      </div>
    </aui-form-item>

    <aui-form-item>
      <label auiFormItemLabel>{{ 'custom_probe' | translate }}</label>
      <rc-trace-item-form-array
        fxFlex
        formControlName="probes"
      ></rc-trace-item-form-array>
      <div auiFormItemAddon>
        <aui-icon
          [auiTooltip]="'custom_probe_hint' | translate"
          [auiTooltipPosition]="'top center'"
          icon="basic:question"
          color="#999"
        ></aui-icon>
      </div>
    </aui-form-item>
  </ng-container>
</form>
